In [1]:
# ===============================
# NAVER News Web Crawler _ df2(News Contents) Crawling  
# ===============================

# ---------------------
# * Process 
# ---------------------
# Step0: "Preparation" _ Import Packages 
# Step1: "Setting" 
#     1.1) Set File Directory & Parameters
#     1.2) Functions
# Step2: "Loop" - Find un-processed units & scrap the News 

# ---------------------
# * I/O 
# ---------------------
# Input : 
#     1. "naver_news_crawling_df1.csv" (df1): Contains [keywords, period, title, press, url]
# Output : 
#     1. "naver_news_crawling_df2.csv" (df2): Contains [title, date, contents]

In [2]:
# ===============================
# Step0: "Preparation" _ Import Packages 
# ===============================
import requests
import time
from itertools import count
import datetime as dt
import time
import glob

from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

import pandas as pd

In [11]:
# ================================
# Step1: "Setting" 
#     1.1) Set File Directory & Parameters
# ================================

# set file dir. 
code_dir = r'Z:/0_프로젝트/데이터바우처 2020/POC/3팀(박재인PL)/03 유로인스트루먼츠/code/김성근임시/euro_code/' 
data_dir = r'Z:/0_프로젝트/데이터바우처 2020/POC/3팀(박재인PL)/03 유로인스트루먼츠/code/김성근임시/euro_data/'
save_dir = r'Z:/0_프로젝트/데이터바우처 2020/POC/3팀(박재인PL)/03 유로인스트루먼츠/code/김성근임시/euro_data/news_data/' 
logg_dir = r'Z:/0_프로젝트/데이터바우처 2020/POC/3팀(박재인PL)/03 유로인스트루먼츠/code/김성근임시/euro_data/logger/' 

# set browser driver dir.
chrome_dir = data_dir+'chromedriver_win32/chromedriver'

# Today, now 
time_start = dt.datetime.now()

_today=time_start.date().strftime('%Y.%m.%d')
_time_start=time_start.time().strftime('%H:%M:%S')

# Set dir. for file saving
df1_name_head = "naver_news_crawling_df1"
df2_name_head = "naver_news_crawling_df2"

# Assign headless setting 
# headless_mode = True 
# if headless_mode :
#     options = webdriver.ChromeOptions()
#     options.add_argument('headless')    # add 'Headless' 
#     options.add_argument('window-size=1920x1080')    # set current display setting 
#     options.add_argument("disable-gpu") 
#     options.add_argument("lang=ko_KR") 

# Write Log 
verbose_ = False    # Print messages in console 

# Write log in logger.txt
logger_name = '1-02_logger_{0}_{1}.txt'.format(str(_today).replace('.',''), str(_time_start).replace(':',''))   
logg = open(logg_dir+logger_name,'w')

# Assign the End of Process datetime 
_EOP_time = '2020.10.12 08:30:00'
_EOP_ = dt.datetime.strptime(_EOP_time,'%Y.%m.%d %H:%M:%S')

In [12]:
# ================================
#     1.2) Functions
# ================================

# 1.2.1) 
def FindUnprocessedUnits(): 
    """
    뉴스데이터 저장 디렉토리에서 df1 목록과 df2 목록을 비교 후, 
    아직 df2 파일이 생성되지 못한 목록을 DataFrame으로 반환합니다.
    """
    # call every df1.csv file's directories & get unit names 
    df1_dirs = glob.glob(save_dir+df1_name_head+'*.csv')
    df1_ls = list(map(lambda x: x.split('\\'+df1_name_head)[1].replace('.csv',''), df1_dirs))
    
    # call every df2.csv file's directories & get unit names 
    df2_dirs = glob.glob(save_dir+df2_name_head+'*.csv')
#     df2_ls = list(map(lambda x: x.split('\\'+df2_name_head)[1].replace('.csv',''), df2_dirs))
#     df2_ls = list(map(lambda x: x.split('\\'+df2_name_head)[1].split('__')[0], df2_dirs))
    df2_ls = set(map(lambda x: x.split('\\'+df2_name_head)[1].split('__')[0], df2_dirs)) # 중복제거를 위해 set으로 
    
    # get total df1 dir.s & unit names as dataFrame 
    df1_df = pd.DataFrame(data={'df1_dirs': df1_dirs, 'files': df1_ls}) 
    
    # return un-crawled units DataFrame 
    return df1_df.loc[~df1_df['files'].isin(df2_ls), ].reset_index(drop=True)

In [13]:
# 1.2.2) 
# 함수 블록 ====================================
# parameter ------
# threshold_ = 1000

""" 함수개선사항 : 
1. 각 URL마다 들어가서 기사 수집 중, '예상치 못한 화면'(기사 호출이 안되서 크롤링에 실패하는 경우)
해당 df1_seg에 대해 '에러 띄우고', '중단'하고, 나머지 df로 계속 수집 수행하기 위한 
try except 추가 

2. 'df1'에 기사 내용이 하나도 없을때, '빈 df2'를 저장해주는 기능 추가 

3. log 기록 삽입 추가 
"""

def DF2Crawler(target_df, threshold_ = 1000):
    """ ====================function from ==========================="""
    # 0. Preparation
    # 개선사항2. 
    empty_df2 = pd.DataFrame(columns=['title','date','content','url'])
    
    for idx, val in target_df.iterrows(): # for 1: '개별df1파일 하나씩 루프 수행'
    #     keyword_ = val[1].split('_')[1]     # ex: 'BGF리테일'
    #     from_ = val[1].split('_')[2].replace('from')     # ex: '2010.01.01'
    #     to_ = val[1].split('_')[3].replace('to')     # ex: '2010.12.31'
    #     print(" * Keyword: {0}, From: {1}, To: {2}") 
    
        artcls_cnt = target_df.shape[0]
        dir_ = val[0] # 'Z:/0_프로젝트/데이터바우처 2020/POC/3팀(박재인PL)/03 유로인스트루먼...	'
        unit_ = val[1] # '_신세계인터내셔날_from2010.01.01_to2010.12.31'

        repo_ = " * Unit: '{0}' ({1}/{2}) ".format(unit_, idx+1, artcls_cnt)
        print(repo_)
        logg.write(repo_+'\n') 
        
        """ 이 안에 한 단위의 크롤러 삽입 """
        """ ====================indentx1 from ==========================="""
        # 단위(unit) 하나 전체 파일 호출 
        df1_whole = pd.read_csv(dir_) # 'Z:/0_프로젝트/데이터.._신세계인터내셔날_to2010.12.31.csv'호출

        # *** length가 0인 경우(기사가 없는 경우), 'continue': 다음 루프 수행
        # 기사가 있다면, 'pass' : 아래 코드 계속 수행 
        # if df1_whole.empty: continue
        if df1_whole.empty: 
            repo_ = '    No articles to scrap for "{0}"'.format(unit_) # '기사없음' 표시
            print(repo_) 
            logg.write(repo_+'\n') 
            save_filename = save_dir+df2_name_head+unit_+'__x.csv' 
            empty_df2.to_csv(save_filename, index=False) # 개선사항2: 빈 df2 저장 
            continue # for 1: 에 다음 루프로 

        # 전체 기사 수 선언
        tot_artc = df1_whole.shape[0]
        print('    The Number of articles:    {0} '.format(tot_artc))

        # threshold_ = 1000 # <<< parameter
        for n, i in enumerate(range(0, tot_artc, threshold_)): # for 2: '기사 1,000개단위로 루프 수행'
            start_ = i 
            end_ = i+threshold_ if i+threshold_<tot_artc else tot_artc
#             print(n, start_, end_)
            """ 1000줄이 넘는 df에 대해서, 해당 .iloc[,] 호출해서 데이터프레임 하나씩 수행 """
            """ ====================indentx2 from ==========================="""
            df1 = df1_whole.iloc[start_:end_,]

            dates=[]
            contents=[]
            df2_urls=[]

            # open blank browser
            driver2=webdriver.Chrome(chrome_dir)

            urls=df1['url'].tolist()
            titles=df1['title'].tolist()
            
            try: # : 개선사항1 try 1: 개별 URL호출 중 끊어진 경우, 다음 df1_seg 루프로 continue
                for url in urls:  # for 3: '개별 기사url 하나씩 루프 수행'
                    # 'urls' from df1: take 'each url' and do crawling
                    try:
                        driver2.get(url)
                        html=driver2.page_source
                        date=driver2.find_element_by_class_name('t11').text
                        #summary=driver.find_element_by_class_name('media_end_summary').text
                        content=driver2.find_element_by_class_name('_article_body_contents').text

                        dates.append(date)
                        contents.append(content)
                        df2_urls.append(url)
                    except: # when 'url' is None, (df1 has no 'None' values from '1-01_v.20.py' )
                        dates.append('NaN')
                        contents.append('NaN')
                        df2_urls.append('NaN')
            except: # : 개선사항1 except 1: 
                repo_ = '     >>> Failed to get News when URL: {0}'.format(url)
                print(repo_) 
                logg.write(repo_+'\n') 
                driver2.close() # 처리되지 못한 웹드라이버 close
                continue # for 2: 에 다음 루프로 

            # Export News Contenst DataFrame For the keyword (For whole period)
            # 데이터 프레임 생성 - 2. 제목, 날짜, 기사 본문
            try : # try 2: 
                mCols2=[]
                df_2=pd.DataFrame(mCols2)

                df_2['title']=titles # 'titles' from df1
                df_2['date']=dates
                df_2['content']=contents
                df_2['url']=df2_urls

                # export news list DataFrame to csv
                save_filename = save_dir+df2_name_head+unit_+'__{0}.csv'.format(n)

#             try : # try 2: <<< 위로 이동
                df_2.to_csv(save_filename, index=False)
                table_report = """    [{0}]_ from'{1}' to '{2}' (df2): successfully Saved  """.format(unit_, start_, end_-1)
                print(table_report)
                logg.write(table_report+'\n') 
            except Exception as e : # except 2: 
                table_report = """    >>> [{0}]_ from'{1}' to '{2}' (df2): failed to export .csv  """.format(unit_, start_, end_-1)
                print(table_report)
                logg.write(table_report+'\n') 

            driver2.close()

            """ ====================indentx2 to ==========================="""


        """ ====================indentx1 to ==========================="""
    """ ====================function to ==========================="""

In [ ]:
# 3rd run

# ================================
# Step2: "Loop" - Find un-processed units & scrap the News 
# ================================

i_while = 1

while True : 
    # proc1. 미완결 파일 찾기 
    target_df = FindUnprocessedUnits()
    
#         # On-site ===========================================================
#     if target_df.empty: # 모든 파일에 대응하는 df2가 있는 경우 
#         print('\n *** End of Procedures : with {0} times of iteration'.format(i_while-1)) 
#         break # break the loop         
#     elif i_while > 100 : # 루프가 100번 돈 경우
#         break # break the loop         
#     else : # 진행되지 못한 df2가 아직 있는 경우 
#         print('\n  ========= {0} times of iteration: {1} files left to go'.format(i_while, target_df.shape[0]))
        

        # off-site ==========================================================
    if dt.datetime.now() > _EOP_ : # 지정 작업 종료 일시를 지난 경우, 종료 
        print('\n *** End of Procedures : with {0} times of iteration : EoP at {1}'.format(i_while-1, str(dt.datetime.now()))) 
        break # break the loop 
    elif target_df.empty: # 모든 파일에 대응하는 df2가 있는 경우 
        print('\n *** Temporary 1hrs pause : at {0} since there has no valid df1 files'.format(str(dt.datetime.now()))) 
        time.sleep(3600) # 1시간 일시정지 (df1이 생성될 시간을 확보) 
        continue # <<< 1시간 이상 걸리는 df1수집으로 target_df가 생성되지 않았을 경우에 detour 
    else : # 진행되지 못한 df2가 아직 있는 경우 
        print('\n  ========= {0} times of iteration: {1} files left to go'.format(i_while, target_df.shape[0]))
    
    # proc2. 크롤링 수행 
    try: 
        DF2Crawler(target_df, threshold_ = 1000) 
    except: 
        print('\n *** UnexpectedException ocurred: *************************** ')
              
    i_while += 1 # Number of iteration 

# save the log.txt 
logg.close()

  ========= 1 times of iteration: 757 files left to go
 * Unit: '_AJ렌터카_from2011.01.01_to2011.12.31' (1/757)
    The Number of articles:    68
    [_AJ렌터카_from2011.01.01_to2011.12.31]_ from'0' to '67' (df2): successfully Saved
 * Unit: '_AP위성_from2010.01.01_to2010.12.31' (2/757)
    The Number of articles:    9
    [_AP위성_from2010.01.01_to2010.12.31]_ from'0' to '8' (df2): successfully Saved
 * Unit: '_BGF리테일_from2011.01.01_to2011.12.31' (3/757)
    No articles to scrap for "_BGF리테일_from2011.01.01_to2011.12.31"
 * Unit: '_BYC_from2011.01.01_to2011.12.31' (4/757)
    The Number of articles:    87
    [_BYC_from2011.01.01_to2011.12.31]_ from'0' to '86' (df2): successfully Saved
 * Unit: '_CJ E&M_from2010.01.01_to2010.12.31' (5/757)
    The Number of articles:    1601
    [_CJ E&M_from2010.01.01_to2010.12.31]_ from'0' to '999' (df2): successfully Saved
    [_CJ E&M_from2010.01.01_to2010.12.31]_ from'1000' to '1600' (df2): successfully Saved
 * Unit: '_CJ_from2011.01.01_to2011.12.31' (6/757)
    The Number of articles:    2857
    [_CJ_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_CJ_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_CJ_from2011.01.01_to2011.12.31]_ from'2000' to '2856' (df2): successfully Saved
 * Unit: '_CJ씨푸드_from2011.01.01_to2011.12.31' (7/757)
    The Number of articles:    448
    [_CJ씨푸드_from2011.01.01_to2011.12.31]_ from'0' to '447' (df2): successfully Saved
 * Unit: '_CJ헬로비전_from2011.01.01_to2011.12.31' (8/757)
    The Number of articles:    1895
    [_CJ헬로비전_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_CJ헬로비전_from2011.01.01_to2011.12.31]_ from'1000' to '1894' (df2): successfully Saved
 * Unit: '_DSR_from2011.01.01_to2011.12.31' (9/757)
    The Number of articles:    101
    [_DSR_from2011.01.01_to2011.12.31]_ from'0' to '100' (df2): successfully Saved
 * Unit: '_F&F_from2011.01.01_to2011.12.31' (10/757)
    The Number of articles:    129
    [_F&F_from2011.01.01_to2011.12.31]_ from'0' to '128' (df2): successfully Saved
 * Unit: '_IHQ_from2011.01.01_to2011.12.31' (11/757)
    The Number of articles:    1102
    [_IHQ_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_IHQ_from2011.01.01_to2011.12.31]_ from'1000' to '1101' (df2): successfully Saved
 * Unit: '_JW생명과학_from2011.01.01_to2011.12.31' (12/757)
    The Number of articles:    24
    [_JW생명과학_from2011.01.01_to2011.12.31]_ from'0' to '23' (df2): successfully Saved
 * Unit: '_JW중외제약_from2011.01.01_to2010.12.31' (13/757)
    No articles to scrap for "_JW중외제약_from2011.01.01_to2010.12.31"
 * Unit: '_KC코트렐_from2010.01.01_to2010.12.31' (14/757)
    The Number of articles:    119
    [_KC코트렐_from2010.01.01_to2010.12.31]_ from'0' to '118' (df2): successfully Saved
 * Unit: '_KGP_from2010.01.01_to2010.12.31' (15/757)
    The Number of articles:    47
    [_KGP_from2010.01.01_to2010.12.31]_ from'0' to '46' (df2): successfully Saved
 * Unit: '_KR모터스_from2011.01.01_to2011.12.31' (16/757)
    No articles to scrap for "_KR모터스_from2011.01.01_to2011.12.31"
 * Unit: '_KT&G_from2011.01.01_to2011.12.31' (17/757)
    The Number of articles:    2913
    [_KT&G_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_KT&G_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_KT&G_from2011.01.01_to2011.12.31]_ from'2000' to '2912' (df2): successfully Saved
 * Unit: '_LG_from2011.01.01_to2011.12.31' (18/757)
    The Number of articles:    2858
    [_LG_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_LG_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_LG_from2011.01.01_to2011.12.31]_ from'2000' to '2857' (df2): successfully Saved
 * Unit: '_LG하우시스_from2010.01.01_to2010.12.31' (19/757)
    The Number of articles:    1289
    [_LG하우시스_from2010.01.01_to2010.12.31]_ from'0' to '999' (df2): successfully Saved
    [_LG하우시스_from2010.01.01_to2010.12.31]_ from'1000' to '1288' (df2): successfully Saved
 * Unit: '_MH에탄올_from2011.01.01_to2011.12.31' (20/757)
    The Number of articles:    166
    [_MH에탄올_from2011.01.01_to2011.12.31]_ from'0' to '165' (df2): successfully Saved
 * Unit: '_NEW_from2010.01.01_to2010.12.31' (21/757)
    The Number of articles:    1893
    [_NEW_from2010.01.01_to2010.12.31]_ from'0' to '999' (df2): successfully Saved
    [_NEW_from2010.01.01_to2010.12.31]_ from'1000' to '1892' (df2): successfully Saved
 * Unit: '_NHN엔터테인먼트_from2010.01.01_to2010.12.31' (22/757)
    The Number of articles:    6
    [_NHN엔터테인먼트_from2010.01.01_to2010.12.31]_ from'0' to '5' (df2): successfully Saved
 * Unit: '_OCI_from2011.01.01_to2011.12.31' (23/757)
    The Number of articles:    2818
    [_OCI_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_OCI_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_OCI_from2011.01.01_to2011.12.31]_ from'2000' to '2817' (df2): successfully Saved
 * Unit: '_S&T홀딩스_from2011.01.01_to2011.12.31' (24/757)
    The Number of articles:    283
    [_S&T홀딩스_from2011.01.01_to2011.12.31]_ from'0' to '282' (df2): successfully Saved
 * Unit: '_SBI액시즈_from2010.01.01_to2010.12.31' (25/757)
    No articles to scrap for "_SBI액시즈_from2010.01.01_to2010.12.31"
 * Unit: '_SGA솔루션즈_from2010.01.01_to2010.12.31' (26/757)
    No articles to scrap for "_SGA솔루션즈_from2010.01.01_to2010.12.31"
 * Unit: '_SG세계물산_from2011.01.01_to2011.12.31' (27/757)
    The Number of articles:    160
    [_SG세계물산_from2011.01.01_to2011.12.31]_ from'0' to '159' (df2): successfully Saved
 * Unit: '_SG충방_from2011.01.01_to2011.12.31' (28/757)
    No articles to scrap for "_SG충방_from2011.01.01_to2011.12.31"
 * Unit: '_SH에너지화학_from2011.01.01_to2011.12.31' (29/757)
    The Number of articles:    78
    [_SH에너지화학_from2011.01.01_to2011.12.31]_ from'0' to '77' (df2): successfully Saved
 * Unit: '_SJM_from2010.01.01_to2010.12.31' (30/757)
    The Number of articles:    127
    [_SJM_from2010.01.01_to2010.12.31]_ from'0' to '126' (df2): successfully Saved
 * Unit: '_SJM홀딩스_from2011.01.01_to2011.12.31' (31/757)
    The Number of articles:    66
    [_SJM홀딩스_from2011.01.01_to2011.12.31]_ from'0' to '65' (df2): successfully Saved
 * Unit: '_SKC코오롱PI_from2010.01.01_to2010.12.31' (32/757)
    The Number of articles:    19
    [_SKC코오롱PI_from2010.01.01_to2010.12.31]_ from'0' to '18' (df2): successfully Saved
 * Unit: '_SK케미칼_from2011.01.01_to2011.12.31' (33/757)
    The Number of articles:    1968
    [_SK케미칼_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_SK케미칼_from2011.01.01_to2011.12.31]_ from'1000' to '1967' (df2): successfully Saved
 * Unit: '_SPC삼립_from2011.01.01_to2011.12.31' (34/757)
    The Number of articles:    2
    [_SPC삼립_from2011.01.01_to2011.12.31]_ from'0' to '1' (df2): successfully Saved
 * Unit: '_YG PLUS_from2011.01.01_to2011.12.31' (35/757)
    No articles to scrap for "_YG PLUS_from2011.01.01_to2011.12.31"
 * Unit: '_강남제비스코_from2011.01.01_to2011.12.31' (36/757)
    No articles to scrap for "_강남제비스코_from2011.01.01_to2011.12.31"
 * Unit: '_강스템바이오텍_from2010.01.01_to2010.12.31' (37/757)
    No articles to scrap for "_강스템바이오텍_from2010.01.01_to2010.12.31"
 * Unit: '_갤럭시아에스엠_from2011.01.01_to2011.12.31' (38/757)
    No articles to scrap for "_갤럭시아에스엠_from2011.01.01_to2011.12.31"
 * Unit: '_경농_from2011.01.01_to2011.12.31' (39/757)
    The Number of articles:    100
    [_경농_from2011.01.01_to2011.12.31]_ from'0' to '99' (df2): successfully Saved
 * Unit: '_경방_from2011.01.01_to2011.12.31' (40/757)
    The Number of articles:    549
    [_경방_from2011.01.01_to2011.12.31]_ from'0' to '548' (df2): successfully Saved
 * Unit: '_고려산업_from2011.01.01_to2011.12.31' (41/757)
    The Number of articles:    135
    [_고려산업_from2011.01.01_to2011.12.31]_ from'0' to '134' (df2): successfully Saved
 * Unit: '_광동제약_from2011.01.01_to2011.12.31' (42/757)
    The Number of articles:    1036
    [_광동제약_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved

    [_광동제약_from2011.01.01_to2011.12.31]_ from'1000' to '1035' (df2): successfully Saved
 * Unit: '_광주신세계_from2011.01.01_to2011.12.31' (43/757)
    The Number of articles:    463
    [_광주신세계_from2011.01.01_to2011.12.31]_ from'0' to '462' (df2): successfully Saved
 * Unit: '_국도화학_from2011.01.01_to2011.12.31' (44/757)
    The Number of articles:    229
    [_국도화학_from2011.01.01_to2011.12.31]_ from'0' to '228' (df2): successfully Saved
 * Unit: '_국동_from2011.01.01_to2011.12.31' (45/757)
    The Number of articles:    192
    [_국동_from2011.01.01_to2011.12.31]_ from'0' to '191' (df2): successfully Saved
 * Unit: '_국제약품_from2011.01.01_to2011.12.31' (46/757)
    The Number of articles:    185
    [_국제약품_from2011.01.01_to2011.12.31]_ from'0' to '184' (df2): successfully Saved
 * Unit: '_글로벌에스엠_from2010.01.01_to2010.12.31' (47/757)
    The Number of articles:    40
    [_글로벌에스엠_from2010.01.01_to2010.12.31]_ from'0' to '39' (df2): successfully Saved
 * Unit: '_금양_from2011.01.01_to2011.12.31' (48/757)
    The Number of articles:    702
    [_금양_from2011.01.01_to2011.12.31]_ from'0' to '701' (df2): successfully Saved
 * Unit: '_깨끗한나라_from2011.01.01_to2011.12.31' (49/757)
    The Number of articles:    198
    [_깨끗한나라_from2011.01.01_to2011.12.31]_ from'0' to '197' (df2): successfully Saved
 * Unit: '_나노_from2010.01.01_to2010.12.31' (50/757)
    The Number of articles:    2853
    [_나노_from2010.01.01_to2010.12.31]_ from'0' to '999' (df2): successfully Saved
    [_나노_from2010.01.01_to2010.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_나노_from2010.01.01_to2010.12.31]_ from'2000' to '2852' (df2): successfully Saved
 * Unit: '_남양유업_from2011.01.01_to2011.12.31' (51/757)
    The Number of articles:    1808
    [_남양유업_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_남양유업_from2011.01.01_to2011.12.31]_ from'1000' to '1807' (df2): successfully Saved
 * Unit: '_남영비비안_from2011.01.01_to2011.12.31' (52/757)
    The Number of articles:    121
    [_남영비비안_from2011.01.01_to2011.12.31]_ from'0' to '120' (df2): successfully Saved
 * Unit: '_남해화학_from2011.01.01_to2011.12.31' (53/757)
    The Number of articles:    370
    [_남해화학_from2011.01.01_to2011.12.31]_ from'0' to '369' (df2): successfully Saved
 * Unit: '_내츄럴엔도텍_from2010.01.01_to2010.12.31' (54/757)
    The Number of articles:    17
    [_내츄럴엔도텍_from2010.01.01_to2010.12.31]_ from'0' to '16' (df2): successfully Saved
 * Unit: '_네오오토_from2010.01.01_to2010.12.31' (55/757)
    The Number of articles:    2
    [_네오오토_from2010.01.01_to2010.12.31]_ from'0' to '1' (df2): successfully Saved
 * Unit: '_넷마블게임즈_from2010.01.01_to2010.12.31' (56/757)
    No articles to scrap for "_넷마블게임즈_from2010.01.01_to2010.12.31"
 * Unit: '_노루홀딩스_from2011.01.01_to2011.12.31' (57/757)
    The Number of articles:    106
    [_노루홀딩스_from2011.01.01_to2011.12.31]_ from'0' to '105' (df2): successfully Saved
 * Unit: '_녹십자랩셀_from2010.01.01_to2010.12.31' (58/757)
    No articles to scrap for "_녹십자랩셀_from2010.01.01_to2010.12.31"
 * Unit: '_녹십자홀딩스_from2011.01.01_to2011.12.31' (59/757)
    The Number of articles:    60
    [_녹십자홀딩스_from2011.01.01_to2011.12.31]_ from'0' to '59' (df2): successfully Saved
 * Unit: '_농심_from2011.01.01_to2011.12.31' (60/757)
    The Number of articles:    2816
    [_농심_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_농심_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_농심_from2011.01.01_to2011.12.31]_ from'2000' to '2815' (df2): successfully Saved
 * Unit: '_대교_from2011.01.01_to2011.12.31' (61/757)
    The Number of articles:    2828
    [_대교_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_대교_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_대교_from2011.01.01_to2011.12.31]_ from'2000' to '2827' (df2): successfully Saved
 * Unit: '_대상_from2011.01.01_to2011.12.31' (62/757)
    The Number of articles:    2048
    [_대상_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_대상_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_대상_from2011.01.01_to2011.12.31]_ from'2000' to '2047' (df2): successfully Saved
 * Unit: '_대성산업_from2010.01.01_to2010.12.31' (63/757)
    The Number of articles:    483
    [_대성산업_from2010.01.01_to2010.12.31]_ from'0' to '482' (df2): successfully Saved
 * Unit: '_대성에너지_from2010.01.01_to2010.12.31' (64/757)
    No articles to scrap for "_대성에너지_from2010.01.01_to2010.12.31"
 * Unit: '_대영포장_from2011.01.01_to2011.12.31' (65/757)
    The Number of articles:    70
    [_대영포장_from2011.01.01_to2011.12.31]_ from'0' to '69' (df2): successfully Saved
 * Unit: '_대웅_from2011.01.01_to2010.12.31' (66/757)
    The Number of articles:    9
    [_대웅_from2011.01.01_to2010.12.31]_ from'0' to '8' (df2): successfully Saved
 * Unit: '_대원화성_from2011.01.01_to2011.12.31' (67/757)
    The Number of articles:    162
    [_대원화성_from2011.01.01_to2011.12.31]_ from'0' to '161' (df2): successfully Saved
 * Unit: '_대유에이텍_from2011.01.01_to2011.12.31' (68/757)
    The Number of articles:    774
    [_대유에이텍_from2011.01.01_to2011.12.31]_ from'0' to '773' (df2): successfully Saved
 * Unit: '_대한방직_from2011.01.01_to2011.12.31' (69/757)
    The Number of articles:    130
    [_대한방직_from2011.01.01_to2011.12.31]_ from'0' to '129' (df2): successfully Saved
 * Unit: '_대한유화_from2011.01.01_to2011.12.31' (70/757)
    The Number of articles:    434
    [_대한유화_from2011.01.01_to2011.12.31]_ from'0' to '433' (df2): successfully Saved
 * Unit: '_대한제당_from2011.01.01_to2011.12.31' (71/757)
    The Number of articles:    437
    [_대한제당_from2011.01.01_to2011.12.31]_ from'0' to '436' (df2): successfully Saved
 * Unit: '_대한제분_from2011.01.01_to2011.12.31' (72/757)
    The Number of articles:    228
    [_대한제분_from2011.01.01_to2011.12.31]_ from'0' to '227' (df2): successfully Saved
 * Unit: '_대한화섬_from2011.01.01_to2011.12.31' (73/757)
    The Number of articles:    172
    [_대한화섬_from2011.01.01_to2011.12.31]_ from'0' to '171' (df2): successfully Saved
 * Unit: '_대현_from2011.01.01_to2011.12.31' (74/757)
    The Number of articles:    1565
    [_대현_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_대현_from2011.01.01_to2011.12.31]_ from'1000' to '1564' (df2): successfully Saved
 * Unit: '_더블유게임즈_from2010.01.01_to2010.12.31' (75/757)
    No articles to scrap for "_더블유게임즈_from2010.01.01_to2010.12.31"
 * Unit: '_덕성_from2011.01.01_to2011.12.31' (76/757)
    The Number of articles:    1668
    [_덕성_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_덕성_from2011.01.01_to2011.12.31]_ from'1000' to '1667' (df2): successfully Saved
 * Unit: '_데브시스터즈_from2010.01.01_to2010.12.31' (77/757)
    The Number of articles:    6
    [_데브시스터즈_from2010.01.01_to2010.12.31]_ from'0' to '5' (df2): successfully Saved
 * Unit: '_덱스터_from2010.01.01_to2010.12.31' (78/757)
    The Number of articles:    116
    [_덱스터_from2010.01.01_to2010.12.31]_ from'0' to '115' (df2): successfully Saved
 * Unit: '_도레이케미칼_from2011.01.01_to2011.12.31' (79/757)
    No articles to scrap for "_도레이케미칼_from2011.01.01_to2011.12.31"
 * Unit: '_도이치모터스_from2010.01.01_to2010.12.31' (80/757)
    The Number of articles:    146
    [_도이치모터스_from2010.01.01_to2010.12.31]_ from'0' to '145' (df2): successfully Saved
 * Unit: '_동국S&C_from2010.01.01_to2010.12.31' (81/757)
    The Number of articles:    689
    [_동국S&C_from2010.01.01_to2010.12.31]_ from'0' to '688' (df2): successfully Saved
 * Unit: '_동국실업_from2011.01.01_to2011.12.31' (82/757)
    The Number of articles:    126
    [_동국실업_from2011.01.01_to2011.12.31]_ from'0' to '125' (df2): successfully Saved
 * Unit: '_동국알앤에스_from2010.01.01_to2010.12.31' (83/757)
    The Number of articles:    36
    [_동국알앤에스_from2010.01.01_to2010.12.31]_ from'0' to '35' (df2): successfully Saved
 * Unit: '_동방선기_from2010.01.01_to2010.12.31' (84/757)
    The Number of articles:    49
    [_동방선기_from2010.01.01_to2010.12.31]_ from'0' to '48' (df2): successfully Saved

 * Unit: '_동부라이텍_from2010.01.01_to2010.12.31' (85/757)
    No articles to scrap for "_동부라이텍_from2010.01.01_to2010.12.31"
 * Unit: '_동부하이텍_from2011.01.01_to2011.12.31' (86/757)
    The Number of articles:    1205
    [_동부하이텍_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_동부하이텍_from2011.01.01_to2011.12.31]_ from'1000' to '1204' (df2): successfully Saved
 * Unit: '_동성코퍼레이션_from2010.01.01_to2010.12.31' (87/757)
    No articles to scrap for "_동성코퍼레이션_from2010.01.01_to2010.12.31"
 * Unit: '_동아쏘시오홀딩스_from2011.01.01_to2010.12.31' (88/757)
    No articles to scrap for "_동아쏘시오홀딩스_from2011.01.01_to2010.12.31"
 * Unit: '_동아에스티_from2010.01.01_to2010.12.31' (89/757)
    No articles to scrap for "_동아에스티_from2010.01.01_to2010.12.31"
 * Unit: '_동아엘텍_from2010.01.01_to2010.12.31' (90/757)
    The Number of articles:    96
    [_동아엘텍_from2010.01.01_to2010.12.31]_ from'0' to '95' (df2): successfully Saved
 * Unit: '_동아지질_from2011.01.01_to2011.12.31' (91/757)
    The Number of articles:    198
    [_동아지질_from2011.01.01_to2011.12.31]_ from'0' to '197' (df2): successfully Saved
 * Unit: '_동양고속_from2010.01.01_to2010.12.31' (92/757)
    The Number of articles:    80
    [_동양고속_from2010.01.01_to2010.12.31]_ from'0' to '79' (df2): successfully Saved
 * Unit: '_동양파일_from2010.01.01_to2010.12.31' (93/757)
    No articles to scrap for "_동양파일_from2010.01.01_to2010.12.31"
 * Unit: '_동양피엔에프_from2010.01.01_to2010.12.31' (94/757)
    The Number of articles:    65
    [_동양피엔에프_from2010.01.01_to2010.12.31]_ from'0' to '64' (df2): successfully Saved
 * Unit: '_동운아나텍_from2010.01.01_to2010.12.31' (95/757)
    The Number of articles:    19
    [_동운아나텍_from2010.01.01_to2010.12.31]_ from'0' to '18' (df2): successfully Saved
 * Unit: '_동원F&B_from2010.01.01_to2010.12.31' (96/757)
    The Number of articles:    992
    [_동원F&B_from2010.01.01_to2010.12.31]_ from'0' to '991' (df2): successfully Saved
 * Unit: '_동원_from2011.01.01_to2011.12.31' (97/757)
    The Number of articles:    3078
    [_동원_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_동원_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_동원_from2011.01.01_to2011.12.31]_ from'2000' to '2999' (df2): successfully Saved
    [_동원_from2011.01.01_to2011.12.31]_ from'3000' to '3077' (df2): successfully Saved
 * Unit: '_동원산업_from2011.01.01_to2011.12.31' (98/757)
    The Number of articles:    409
    [_동원산업_from2011.01.01_to2011.12.31]_ from'0' to '408' (df2): successfully Saved
 * Unit: '_동원수산_from2011.01.01_to2011.12.31' (99/757)
    The Number of articles:    771
    [_동원수산_from2011.01.01_to2011.12.31]_ from'0' to '770' (df2): successfully Saved
 * Unit: '_동일고무벨트_from2010.01.01_to2010.12.31' (100/757)
    The Number of articles:    73
    [_동일고무벨트_from2010.01.01_to2010.12.31]_ from'0' to '72' (df2): successfully Saved
 * Unit: '_동일방직_from2011.01.01_to2011.12.31' (101/757)
    The Number of articles:    282
    [_동일방직_from2011.01.01_to2011.12.31]_ from'0' to '281' (df2): successfully Saved
 * Unit: '_동화약품_from2011.01.01_to2010.12.31' (102/757)
    The Number of articles:    1
    [_동화약품_from2011.01.01_to2010.12.31]_ from'0' to '0' (df2): successfully Saved
 * Unit: '_두산_from2011.01.01_to2011.12.31' (103/757)
    The Number of articles:    2960
    [_두산_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_두산_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_두산_from2011.01.01_to2011.12.31]_ from'2000' to '2959' (df2): successfully Saved
 * Unit: '_두산인프라코어_from2010.01.01_to2010.12.31' (104/757)
    The Number of articles:    2637
    [_두산인프라코어_from2010.01.01_to2010.12.31]_ from'0' to '999' (df2): successfully Saved
    [_두산인프라코어_from2010.01.01_to2010.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_두산인프라코어_from2010.01.01_to2010.12.31]_ from'2000' to '2636' (df2): successfully Saved
 * Unit: '_디보스_from2010.01.01_to2010.12.31' (105/757)
    The Number of articles:    35
    [_디보스_from2010.01.01_to2010.12.31]_ from'0' to '34' (df2): successfully Saved
 * Unit: '_디에스케이_from2010.01.01_to2010.12.31' (106/757)
    The Number of articles:    125
    [_디에스케이_from2010.01.01_to2010.12.31]_ from'0' to '124' (df2): successfully Saved
 * Unit: '_디에스티로봇_from2010.01.01_to2010.12.31' (107/757)
    No articles to scrap for "_디에스티로봇_from2010.01.01_to2010.12.31"
 * Unit: '_디에이치피코리아_from2010.01.01_to2010.12.31' (108/757)
    The Number of articles:    2
    [_디에이치피코리아_from2010.01.01_to2010.12.31]_ from'0' to '1' (df2): successfully Saved
 * Unit: '_디에이테크놀로지_from2010.01.01_to2010.12.31' (109/757)
    The Number of articles:    1
    [_디에이테크놀로지_from2010.01.01_to2010.12.31]_ from'0' to '0' (df2): successfully Saved
 * Unit: '_디엔에이링크_from2010.01.01_to2010.12.31' (110/757)
    No articles to scrap for "_디엔에이링크_from2010.01.01_to2010.12.31"
 * Unit: '_디엔에프_from2010.01.01_to2010.12.31' (111/757)
    The Number of articles:    108
    [_디엔에프_from2010.01.01_to2010.12.31]_ from'0' to '107' (df2): successfully Saved
 * Unit: '_디엠씨_from2010.01.01_to2010.12.31' (112/757)
    The Number of articles:    242
    [_디엠씨_from2010.01.01_to2010.12.31]_ from'0' to '241' (df2): successfully Saved
 * Unit: '_디엠티_from2010.01.01_to2010.12.31' (113/757)
    The Number of articles:    9
    [_디엠티_from2010.01.01_to2010.12.31]_ from'0' to '8' (df2): successfully Saved
 * Unit: '_디이엔티_from2010.01.01_to2010.12.31' (114/757)
    The Number of articles:    93
    [_디이엔티_from2010.01.01_to2010.12.31]_ from'0' to '92' (df2): successfully Saved
 * Unit: '_디젠스_from2010.01.01_to2010.12.31' (115/757)
    No articles to scrap for "_디젠스_from2010.01.01_to2010.12.31"
 * Unit: '_디지탈옵틱_from2010.01.01_to2010.12.31' (116/757)
    The Number of articles:    2
    [_디지탈옵틱_from2010.01.01_to2010.12.31]_ from'0' to '1' (df2): successfully Saved
 * Unit: '_디지털대성_from2010.01.01_to2010.12.31' (117/757)
    The Number of articles:    117
    [_디지털대성_from2010.01.01_to2010.12.31]_ from'0' to '116' (df2): successfully Saved
 * Unit: '_디지텍시스템_from2010.01.01_to2010.12.31' (118/757)
    The Number of articles:    553
    [_디지텍시스템_from2010.01.01_to2010.12.31]_ from'0' to '552' (df2): successfully Saved
 * Unit: '_디케이락_from2010.01.01_to2010.12.31' (119/757)
    The Number of articles:    106
    [_디케이락_from2010.01.01_to2010.12.31]_ from'0' to '105' (df2): successfully Saved
 * Unit: '_디티앤씨_from2010.01.01_to2010.12.31' (120/757)
    No articles to scrap for "_디티앤씨_from2010.01.01_to2010.12.31"
 * Unit: '_딜리_from2010.01.01_to2010.12.31' (121/757)
    The Number of articles:    56
    [_딜리_from2010.01.01_to2010.12.31]_ from'0' to '55' (df2): successfully Saved
 * Unit: '_락앤락_from2010.01.01_to2010.12.31' (122/757)
    The Number of articles:    1372
    [_락앤락_from2010.01.01_to2010.12.31]_ from'0' to '999' (df2): successfully Saved
    [_락앤락_from2010.01.01_to2010.12.31]_ from'1000' to '1371' (df2): successfully Saved
 * Unit: '_램테크놀러지_from2010.01.01_to2010.12.31' (123/757)
    The Number of articles:    3
    [_램테크놀러지_from2010.01.01_to2010.12.31]_ from'0' to '2' (df2): successfully Saved
 * Unit: '_랩지노믹스_from2010.01.01_to2010.12.31' (124/757)
    The Number of articles:    38
    [_랩지노믹스_from2010.01.01_to2010.12.31]_ from'0' to '37' (df2): successfully Saved
 * Unit: '_레고켐바이오_from2010.01.01_to2010.12.31' (125/757)
    The Number of articles:    9
    [_레고켐바이오_from2010.01.01_to2010.12.31]_ from'0' to '8' (df2): successfully Saved
 * Unit: '_레이언스_from2010.01.01_to2010.12.31' (126/757)
    No articles to scrap for "_레이언스_from2010.01.01_to2010.12.31"
 * Unit: '_로고스바이오_from2010.01.01_to2010.12.31' (127/757)
    No articles to scrap for "_로고스바이오_from2010.01.01_to2010.12.31"
 * Unit: '_로보스타_from2010.01.01_to2010.12.31' (128/757)
    The Number of articles:    11
    [_로보스타_from2010.01.01_to2010.12.31]_ from'0' to '10' (df2): successfully Saved
 * Unit: '_롯데관광개발_from2011.01.01_to2011.12.31' (129/757)
    The Number of articles:    265
    [_롯데관광개발_from2011.01.01_to2011.12.31]_ from'0' to '264' (df2): successfully Saved

 * Unit: '_롯데정밀화학_from2011.01.01_to2011.12.31' (130/757)
    No articles to scrap for "_롯데정밀화학_from2011.01.01_to2011.12.31"
 * Unit: '_롯데제과_from2011.01.01_to2011.12.31' (131/757)
    The Number of articles:    1928
    [_롯데제과_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_롯데제과_from2011.01.01_to2011.12.31]_ from'1000' to '1927' (df2): successfully Saved
 * Unit: '_롯데칠성_from2011.01.01_to2011.12.31' (132/757)
    The Number of articles:    2720
    [_롯데칠성_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_롯데칠성_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_롯데칠성_from2011.01.01_to2011.12.31]_ from'2000' to '2719' (df2): successfully Saved
 * Unit: '_롯데케미칼_from2011.01.01_to2011.12.31' (133/757)
    The Number of articles:    6
    [_롯데케미칼_from2011.01.01_to2011.12.31]_ from'0' to '5' (df2): successfully Saved
 * Unit: '_롯데푸드_from2011.01.01_to2011.12.31' (134/757)
    No articles to scrap for "_롯데푸드_from2011.01.01_to2011.12.31"
 * Unit: '_루멘스_from2010.01.01_to2010.12.31' (135/757)
    The Number of articles:    1290
    [_루멘스_from2010.01.01_to2010.12.31]_ from'0' to '999' (df2): successfully Saved
    [_루멘스_from2010.01.01_to2010.12.31]_ from'1000' to '1289' (df2): successfully Saved
 * Unit: '_루미마이크로_from2010.01.01_to2010.12.31' (136/757)
    The Number of articles:    154
    [_루미마이크로_from2010.01.01_to2010.12.31]_ from'0' to '153' (df2): successfully Saved
 * Unit: '_루트로닉_from2010.01.01_to2010.12.31' (137/757)
    The Number of articles:    163
    [_루트로닉_from2010.01.01_to2010.12.31]_ from'0' to '162' (df2): successfully Saved
 * Unit: '_리드_from2010.01.01_to2010.12.31' (138/757)
    The Number of articles:    3219
    [_리드_from2010.01.01_to2010.12.31]_ from'0' to '999' (df2): successfully Saved
    [_리드_from2010.01.01_to2010.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_리드_from2010.01.01_to2010.12.31]_ from'2000' to '2999' (df2): successfully Saved
    [_리드_from2010.01.01_to2010.12.31]_ from'3000' to '3218' (df2): successfully Saved
 * Unit: '_리켐_from2010.01.01_to2010.12.31' (139/757)
    The Number of articles:    13
    [_리켐_from2010.01.01_to2010.12.31]_ from'0' to '12' (df2): successfully Saved
 * Unit: '_링네트_from2010.01.01_to2010.12.31' (140/757)
    The Number of articles:    55
    [_링네트_from2010.01.01_to2010.12.31]_ from'0' to '54' (df2): successfully Saved
 * Unit: '_마이스코_from2010.01.01_to2010.12.31' (141/757)
    The Number of articles:    125
    [_마이스코_from2010.01.01_to2010.12.31]_ from'0' to '124' (df2): successfully Saved
 * Unit: '_마이크로컨텍솔_from2010.01.01_to2010.12.31' (142/757)
    The Number of articles:    16
    [_마이크로컨텍솔_from2010.01.01_to2010.12.31]_ from'0' to '15' (df2): successfully Saved
 * Unit: '_마이크로프랜드_from2010.01.01_to2010.12.31' (143/757)
    The Number of articles:    2
    [_마이크로프랜드_from2010.01.01_to2010.12.31]_ from'0' to '1' (df2): successfully Saved
 * Unit: '_매직마이크로_from2010.01.01_to2010.12.31' (144/757)
    The Number of articles:    3
    [_매직마이크로_from2010.01.01_to2010.12.31]_ from'0' to '2' (df2): successfully Saved
 * Unit: '_매커스_from2010.01.01_to2010.12.31' (145/757)
    The Number of articles:    84
    [_매커스_from2010.01.01_to2010.12.31]_ from'0' to '83' (df2): successfully Saved
 * Unit: '_맥스로텍_from2010.01.01_to2010.12.31' (146/757)
    The Number of articles:    8
    [_맥스로텍_from2010.01.01_to2010.12.31]_ from'0' to '7' (df2): successfully Saved
 * Unit: '_맥스브로_from2010.01.01_to2010.12.31' (147/757)
    The Number of articles:    259
    [_맥스브로_from2010.01.01_to2010.12.31]_ from'0' to '258' (df2): successfully Saved
 * Unit: '_멀티캠퍼스_from2010.01.01_to2010.12.31' (148/757)
    The Number of articles:    58
    [_멀티캠퍼스_from2010.01.01_to2010.12.31]_ from'0' to '57' (df2): successfully Saved
 * Unit: '_메가스터디_from2010.01.01_to2010.12.31' (149/757)
    The Number of articles:    3343
    [_메가스터디_from2010.01.01_to2010.12.31]_ from'0' to '999' (df2): successfully Saved
    [_메가스터디_from2010.01.01_to2010.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_메가스터디_from2010.01.01_to2010.12.31]_ from'2000' to '2999' (df2): successfully Saved
    [_메가스터디_from2010.01.01_to2010.12.31]_ from'3000' to '3342' (df2): successfully Saved
 * Unit: '_메가엠디_from2010.01.01_to2010.12.31' (150/757)
    The Number of articles:    21
    [_메가엠디_from2010.01.01_to2010.12.31]_ from'0' to '20' (df2): successfully Saved
 * Unit: '_메디톡스_from2010.01.01_to2010.12.31' (151/757)
    The Number of articles:    286
    [_메디톡스_from2010.01.01_to2010.12.31]_ from'0' to '285' (df2): successfully Saved
 * Unit: '_메디포스트_from2010.01.01_to2010.12.31' (152/757)
    The Number of articles:    808
    [_메디포스트_from2010.01.01_to2010.12.31]_ from'0' to '807' (df2): successfully Saved
 * Unit: '_메지온_from2010.01.01_to2010.12.31' (153/757)
    No articles to scrap for "_메지온_from2010.01.01_to2010.12.31"
 * Unit: '_멜파스_from2010.01.01_to2010.12.31' (154/757)
    The Number of articles:    968
    [_멜파스_from2010.01.01_to2010.12.31]_ from'0' to '967' (df2): successfully Saved
 * Unit: '_모나리자_from2011.01.01_to2011.12.31' (155/757)
    The Number of articles:    1317
    [_모나리자_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_모나리자_from2011.01.01_to2011.12.31]_ from'1000' to '1316' (df2): successfully Saved
 * Unit: '_모다_from2010.01.01_to2010.12.31' (156/757)
    The Number of articles:    203
    [_모다_from2010.01.01_to2010.12.31]_ from'0' to '202' (df2): successfully Saved
 * Unit: '_모다이노칩_from2010.01.01_to2010.12.31' (157/757)
    No articles to scrap for "_모다이노칩_from2010.01.01_to2010.12.31"
 * Unit: '_모두투어_from2010.01.01_to2010.12.31' (158/757)
    The Number of articles:    1794
    [_모두투어_from2010.01.01_to2010.12.31]_ from'0' to '999' (df2): successfully Saved
    [_모두투어_from2010.01.01_to2010.12.31]_ from'1000' to '1793' (df2): successfully Saved
 * Unit: '_모린스_from2010.01.01_to2010.12.31' (159/757)
    The Number of articles:    264
    [_모린스_from2010.01.01_to2010.12.31]_ from'0' to '263' (df2): successfully Saved
 * Unit: '_모바일리더_from2010.01.01_to2010.12.31' (160/757)
    The Number of articles:    335
    [_모바일리더_from2010.01.01_to2010.12.31]_ from'0' to '334' (df2): successfully Saved
 * Unit: '_모바일어플라이언스_from2010.01.01_to2010.12.31' (161/757)
    No articles to scrap for "_모바일어플라이언스_from2010.01.01_to2010.12.31"
 * Unit: '_모베이스_from2010.01.01_to2010.12.31' (162/757)
    The Number of articles:    257
    [_모베이스_from2010.01.01_to2010.12.31]_ from'0' to '256' (df2): successfully Saved
 * Unit: '_모빌탑_from2010.01.01_to2010.12.31' (163/757)
    The Number of articles:    12
    [_모빌탑_from2010.01.01_to2010.12.31]_ from'0' to '11' (df2): successfully Saved
 * Unit: '_모젬_from2010.01.01_to2010.12.31' (164/757)
    The Number of articles:    97
    [_모젬_from2010.01.01_to2010.12.31]_ from'0' to '96' (df2): successfully Saved
 * Unit: '_무림P&P_from2011.01.01_to2011.12.31' (165/757)
    The Number of articles:    456
    [_무림P&P_from2011.01.01_to2011.12.31]_ from'0' to '455' (df2): successfully Saved
 * Unit: '_무림페이퍼_from2011.01.01_to2011.12.31' (166/757)
    The Number of articles:    361
    [_무림페이퍼_from2011.01.01_to2011.12.31]_ from'0' to '360' (df2): successfully Saved
 * Unit: '_무학_from2011.01.01_to2011.12.31' (167/757)
    The Number of articles:    1451
    [_무학_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_무학_from2011.01.01_to2011.12.31]_ from'1000' to '1450' (df2): successfully Saved
 * Unit: '_미동앤씨네마_from2010.01.01_to2010.12.31' (168/757)
    No articles to scrap for "_미동앤씨네마_from2010.01.01_to2010.12.31"
 * Unit: '_미래나노텍_from2010.01.01_to2010.12.31' (169/757)
    The Number of articles:    558
    [_미래나노텍_from2010.01.01_to2010.12.31]_ from'0' to '557' (df2): successfully Saved
 * Unit: '_미래산업_from2011.01.01_to2011.12.31' (170/757)
    The Number of articles:    2093
    [_미래산업_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_미래산업_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved

    [_미래산업_from2011.01.01_to2011.12.31]_ from'2000' to '2092' (df2): successfully Saved
 * Unit: '_미래테크놀로지_from2010.01.01_to2010.12.31' (171/757)
    The Number of articles:    6
    [_미래테크놀로지_from2010.01.01_to2010.12.31]_ from'0' to '5' (df2): successfully Saved
 * Unit: '_미성포리테크_from2010.01.01_to2010.12.31' (172/757)
    The Number of articles:    206
    [_미성포리테크_from2010.01.01_to2010.12.31]_ from'0' to '205' (df2): successfully Saved
 * Unit: '_미원상사_from2011.01.01_to2011.12.31' (173/757)
    The Number of articles:    125
    [_미원상사_from2011.01.01_to2011.12.31]_ from'0' to '124' (df2): successfully Saved
 * Unit: '_미원홀딩스_from2010.01.01_to2010.12.31' (174/757)
    No articles to scrap for "_미원홀딩스_from2010.01.01_to2010.12.31"
 * Unit: '_미원화학_from2010.01.01_to2010.12.31' (175/757)
    The Number of articles:    8
    [_미원화학_from2010.01.01_to2010.12.31]_ from'0' to '7' (df2): successfully Saved
 * Unit: '_미코_from2010.01.01_to2010.12.31' (176/757)
    The Number of articles:    658
    [_미코_from2010.01.01_to2010.12.31]_ from'0' to '657' (df2): successfully Saved
 * Unit: '_미투온_from2010.01.01_to2010.12.31' (177/757)
    No articles to scrap for "_미투온_from2010.01.01_to2010.12.31"
 * Unit: '_민앤지_from2010.01.01_to2010.12.31' (178/757)
    No articles to scrap for "_민앤지_from2010.01.01_to2010.12.31"
 * Unit: '_바이나믹_from2010.01.01_to2010.12.31' (179/757)
    The Number of articles:    24
    [_바이나믹_from2010.01.01_to2010.12.31]_ from'0' to '23' (df2): successfully Saved
 * Unit: '_바이오리더스_from2010.01.01_to2010.12.31' (180/757)
    The Number of articles:    7
    [_바이오리더스_from2010.01.01_to2010.12.31]_ from'0' to '6' (df2): successfully Saved
 * Unit: '_바이오톡스텍_from2010.01.01_to2010.12.31' (181/757)
    The Number of articles:    161
    [_바이오톡스텍_from2010.01.01_to2010.12.31]_ from'0' to '160' (df2): successfully Saved
 * Unit: '_방림_from2011.01.01_to2011.12.31' (182/757)
    The Number of articles:    297
    [_방림_from2011.01.01_to2011.12.31]_ from'0' to '296' (df2): successfully Saved
 * Unit: '_백광산업_from2011.01.01_to2011.12.31' (183/757)
    The Number of articles:    77
    [_백광산업_from2011.01.01_to2011.12.31]_ from'0' to '76' (df2): successfully Saved
 * Unit: '_백광소재_from2011.01.01_to2011.12.31' (184/757)
    The Number of articles:    51
    [_백광소재_from2011.01.01_to2011.12.31]_ from'0' to '50' (df2): successfully Saved
 * Unit: '_백산_from2011.01.01_to2011.12.31' (185/757)
    The Number of articles:    674
    [_백산_from2011.01.01_to2011.12.31]_ from'0' to '673' (df2): successfully Saved
 * Unit: '_베셀_from2010.01.01_to2010.12.31' (186/757)
    The Number of articles:    13
    [_베셀_from2010.01.01_to2010.12.31]_ from'0' to '12' (df2): successfully Saved
 * Unit: '_보광산업_from2010.01.01_to2010.12.31' (187/757)
    The Number of articles:    9
    [_보광산업_from2010.01.01_to2010.12.31]_ from'0' to '8' (df2): successfully Saved
 * Unit: '_보광티에스_from2010.01.01_to2010.12.31' (188/757)
    No articles to scrap for "_보광티에스_from2010.01.01_to2010.12.31"
 * Unit: '_보락_from2011.01.01_to2011.12.31' (189/757)
    The Number of articles:    84
    [_보락_from2011.01.01_to2011.12.31]_ from'0' to '83' (df2): successfully Saved
 * Unit: '_보령제약_from2011.01.01_to2010.12.31' (190/757)
    The Number of articles:    6
    [_보령제약_from2011.01.01_to2010.12.31]_ from'0' to '5' (df2): successfully Saved
 * Unit: '_보루네오_from2011.01.01_to2011.12.31' (191/757)
    The Number of articles:    283
    [_보루네오_from2011.01.01_to2011.12.31]_ from'0' to '282' (df2): successfully Saved
 * Unit: '_보해양조_from2011.01.01_to2011.12.31' (192/757)
    The Number of articles:    1158
    [_보해양조_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_보해양조_from2011.01.01_to2011.12.31]_ from'1000' to '1157' (df2): successfully Saved
 * Unit: '_부광약품_from2011.01.01_to2010.12.31' (193/757)
    The Number of articles:    1
    [_부광약품_from2011.01.01_to2010.12.31]_ from'0' to '0' (df2): successfully Saved
 * Unit: '_뷰웍스_from2010.01.01_to2010.12.31' (194/757)
    The Number of articles:    104
    [_뷰웍스_from2010.01.01_to2010.12.31]_ from'0' to '103' (df2): successfully Saved
 * Unit: '_비덴트_from2010.01.01_to2010.12.31' (195/757)
    No articles to scrap for "_비덴트_from2010.01.01_to2010.12.31"
 * Unit: '_비상교육_from2010.01.01_to2010.12.31' (196/757)
    The Number of articles:    694
    [_비상교육_from2010.01.01_to2010.12.31]_ from'0' to '693' (df2): successfully Saved
 * Unit: '_비아트론_from2010.01.01_to2010.12.31' (197/757)
    The Number of articles:    1
    [_비아트론_from2010.01.01_to2010.12.31]_ from'0' to '0' (df2): successfully Saved
 * Unit: '_비에이치_from2010.01.01_to2010.12.31' (198/757)
    The Number of articles:    143
    [_비에이치_from2010.01.01_to2010.12.31]_ from'0' to '142' (df2): successfully Saved
 * Unit: '_비에이치아이_from2010.01.01_to2010.12.31' (199/757)
    The Number of articles:    804
    [_비에이치아이_from2010.01.01_to2010.12.31]_ from'0' to '803' (df2): successfully Saved
 * Unit: '_비엠티_from2010.01.01_to2010.12.31' (200/757)
    The Number of articles:    244
    [_비엠티_from2010.01.01_to2010.12.31]_ from'0' to '243' (df2): successfully Saved
 * Unit: '_빅솔론_from2010.01.01_to2010.12.31' (201/757)
    The Number of articles:    57
    [_빅솔론_from2010.01.01_to2010.12.31]_ from'0' to '56' (df2): successfully Saved
 * Unit: '_빙그레_from2011.01.01_to2011.12.31' (202/757)
    The Number of articles:    2134
    [_빙그레_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_빙그레_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_빙그레_from2011.01.01_to2011.12.31]_ from'2000' to '2133' (df2): successfully Saved
 * Unit: '_사람인에이치알_from2010.01.01_to2010.12.31' (203/757)
    The Number of articles:    10
    [_사람인에이치알_from2010.01.01_to2010.12.31]_ from'0' to '9' (df2): successfully Saved
 * Unit: '_사이버패스_from2010.01.01_to2010.12.31' (204/757)
    The Number of articles:    16
    [_사이버패스_from2010.01.01_to2010.12.31]_ from'0' to '15' (df2): successfully Saved
 * Unit: '_사조대림_from2011.01.01_to2011.12.31' (205/757)
    The Number of articles:    456
    [_사조대림_from2011.01.01_to2011.12.31]_ from'0' to '455' (df2): successfully Saved
 * Unit: '_사조동아원_from2011.01.01_to2011.12.31' (206/757)
    No articles to scrap for "_사조동아원_from2011.01.01_to2011.12.31"
 * Unit: '_사조산업_from2011.01.01_to2011.12.31' (207/757)
    The Number of articles:    573
    [_사조산업_from2011.01.01_to2011.12.31]_ from'0' to '572' (df2): successfully Saved
 * Unit: '_사조오양_from2011.01.01_to2011.12.31' (208/757)
    The Number of articles:    343
    [_사조오양_from2011.01.01_to2011.12.31]_ from'0' to '342' (df2): successfully Saved
 * Unit: '_사조해표_from2010.01.01_to2010.12.31' (209/757)
    The Number of articles:    202
    [_사조해표_from2010.01.01_to2010.12.31]_ from'0' to '201' (df2): successfully Saved
 * Unit: '_사파이어테크놀로지_from2010.01.01_to2010.12.31' (210/757)
    The Number of articles:    90
    [_사파이어테크놀로지_from2010.01.01_to2010.12.31]_ from'0' to '89' (df2): successfully Saved
 * Unit: '_산양전기_from2010.01.01_to2010.12.31' (211/757)
    The Number of articles:    5
    [_산양전기_from2010.01.01_to2010.12.31]_ from'0' to '4' (df2): successfully Saved
 * Unit: '_삼강엠앤티_from2010.01.01_to2010.12.31' (212/757)
    The Number of articles:    100
    [_삼강엠앤티_from2010.01.01_to2010.12.31]_ from'0' to '99' (df2): successfully Saved
 * Unit: '_삼기오토모티브_from2010.01.01_to2010.12.31' (213/757)
    The Number of articles:    2
    [_삼기오토모티브_from2010.01.01_to2010.12.31]_ from'0' to '1' (df2): successfully Saved
 * Unit: '_삼보오토_from2010.01.01_to2010.12.31' (214/757)
    No articles to scrap for "_삼보오토_from2010.01.01_to2010.12.31"
 * Unit: '_삼성바이오로직스_from2010.01.01_to2010.12.31' (215/757)
    No articles to scrap for "_삼성바이오로직스_from2010.01.01_to2010.12.31"
 * Unit: '_삼성출판사_from2010.01.01_to2010.12.31' (216/757)
    The Number of articles:    131
    [_삼성출판사_from2010.01.01_to2010.12.31]_ from'0' to '130' (df2): successfully Saved
 * Unit: '_삼양사_from2010.01.01_to2010.12.31' (217/757)
    The Number of articles:    1120
    [_삼양사_from2010.01.01_to2010.12.31]_ from'0' to '999' (df2): successfully Saved

    [_삼양사_from2010.01.01_to2010.12.31]_ from'1000' to '1119' (df2): successfully Saved
 * Unit: '_삼양식품_from2011.01.01_to2011.12.31' (218/757)
    The Number of articles:    1328
    [_삼양식품_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_삼양식품_from2011.01.01_to2011.12.31]_ from'1000' to '1327' (df2): successfully Saved
 * Unit: '_삼양옵틱스_from2010.01.01_to2010.12.31' (219/757)
    The Number of articles:    1229
    [_삼양옵틱스_from2010.01.01_to2010.12.31]_ from'0' to '999' (df2): successfully Saved
    [_삼양옵틱스_from2010.01.01_to2010.12.31]_ from'1000' to '1228' (df2): successfully Saved
 * Unit: '_삼양통상_from2011.01.01_to2011.12.31' (220/757)
    The Number of articles:    73
    [_삼양통상_from2011.01.01_to2011.12.31]_ from'0' to '72' (df2): successfully Saved
 * Unit: '_삼양홀딩스_from2011.01.01_to2011.12.31' (221/757)
    The Number of articles:    56
    [_삼양홀딩스_from2011.01.01_to2011.12.31]_ from'0' to '55' (df2): successfully Saved
 * Unit: '_삼영화학_from2011.01.01_to2011.12.31' (222/757)
    The Number of articles:    367
    [_삼영화학_from2011.01.01_to2011.12.31]_ from'0' to '366' (df2): successfully Saved
 * Unit: '_삼우엠스_from2010.01.01_to2010.12.31' (223/757)
    No articles to scrap for "_삼우엠스_from2010.01.01_to2010.12.31"
 * Unit: '_삼정펄프_from2011.01.01_to2011.12.31' (224/757)
    The Number of articles:    70
    [_삼정펄프_from2011.01.01_to2011.12.31]_ from'0' to '69' (df2): successfully Saved
 * Unit: '_삼천리_from2011.01.01_to2011.12.31' (225/757)
    The Number of articles:    1342
    [_삼천리_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_삼천리_from2011.01.01_to2011.12.31]_ from'1000' to '1341' (df2): successfully Saved
 * Unit: '_상신이디피_from2010.01.01_to2010.12.31' (226/757)
    The Number of articles:    233
    [_상신이디피_from2010.01.01_to2010.12.31]_ from'0' to '232' (df2): successfully Saved
 * Unit: '_샘표_from2011.01.01_to2011.12.31' (227/757)
    The Number of articles:    1115
    [_샘표_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_샘표_from2011.01.01_to2011.12.31]_ from'1000' to '1114' (df2): successfully Saved
 * Unit: '_서린바이오_from2010.01.01_to2010.12.31' (228/757)
    The Number of articles:    55
    [_서린바이오_from2010.01.01_to2010.12.31]_ from'0' to '54' (df2): successfully Saved
 * Unit: '_서연_from2011.01.01_to2011.12.31' (229/757)
    The Number of articles:    1645
    [_서연_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_서연_from2011.01.01_to2011.12.31]_ from'1000' to '1644' (df2): successfully Saved
 * Unit: '_서울식품_from2011.01.01_to2011.12.31' (230/757)
    The Number of articles:    212
    [_서울식품_from2011.01.01_to2011.12.31]_ from'0' to '211' (df2): successfully Saved
 * Unit: '_서울옥션_from2010.01.01_to2010.12.31' (231/757)
    The Number of articles:    496
    [_서울옥션_from2010.01.01_to2010.12.31]_ from'0' to '495' (df2): successfully Saved
 * Unit: '_서원인텍_from2010.01.01_to2010.12.31' (232/757)
    The Number of articles:    70
    [_서원인텍_from2010.01.01_to2010.12.31]_ from'0' to '69' (df2): successfully Saved
 * Unit: '_서전기전_from2010.01.01_to2010.12.31' (233/757)
    The Number of articles:    1
    [_서전기전_from2010.01.01_to2010.12.31]_ from'0' to '0' (df2): successfully Saved
 * Unit: '_서진시스템_from2010.01.01_to2010.12.31' (234/757)
    No articles to scrap for "_서진시스템_from2010.01.01_to2010.12.31"
 * Unit: '_서진오토모티브_from2010.01.01_to2010.12.31' (235/757)
    No articles to scrap for "_서진오토모티브_from2010.01.01_to2010.12.31"
 * Unit: '_서플러스글로벌_from2010.01.01_to2010.12.31' (236/757)
    The Number of articles:    3
    [_서플러스글로벌_from2010.01.01_to2010.12.31]_ from'0' to '2' (df2): successfully Saved
 * Unit: '_선데이토즈_from2010.01.01_to2010.12.31' (237/757)
    The Number of articles:    38
    [_선데이토즈_from2010.01.01_to2010.12.31]_ from'0' to '37' (df2): successfully Saved
 * Unit: '_선진_from2010.01.01_to2010.12.31' (238/757)
    The Number of articles:    2935
    [_선진_from2010.01.01_to2010.12.31]_ from'0' to '999' (df2): successfully Saved
    [_선진_from2010.01.01_to2010.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_선진_from2010.01.01_to2010.12.31]_ from'2000' to '2934' (df2): successfully Saved
 * Unit: '_선창산업_from2011.01.01_to2011.12.31' (239/757)
    The Number of articles:    158
    [_선창산업_from2011.01.01_to2011.12.31]_ from'0' to '157' (df2): successfully Saved
 * Unit: '_성보화학_from2011.01.01_to2011.12.31' (240/757)
    The Number of articles:    51
    [_성보화학_from2011.01.01_to2011.12.31]_ from'0' to '50' (df2): successfully Saved
 * Unit: '_성안_from2011.01.01_to2011.12.31' (241/757)
    The Number of articles:    949
    [_성안_from2011.01.01_to2011.12.31]_ from'0' to '948' (df2): successfully Saved
 * Unit: '_성창기업지주_from2011.01.01_to2011.12.31' (242/757)
    The Number of articles:    78
    [_성창기업지주_from2011.01.01_to2011.12.31]_ from'0' to '77' (df2): successfully Saved
 * Unit: '_성창오토텍_from2010.01.01_to2010.12.31' (243/757)
    No articles to scrap for "_성창오토텍_from2010.01.01_to2010.12.31"
 * Unit: '_세미콘라이트_from2010.01.01_to2010.12.31' (244/757)
    The Number of articles:    3
    [_세미콘라이트_from2010.01.01_to2010.12.31]_ from'0' to '2' (df2): successfully Saved
 * Unit: '_세실_from2010.01.01_to2010.12.31' (245/757)
    The Number of articles:    500
    [_세실_from2010.01.01_to2010.12.31]_ from'0' to '499' (df2): successfully Saved
 * Unit: '_세아홀딩스_from2010.01.01_to2010.12.31' (246/757)
    The Number of articles:    124
    [_세아홀딩스_from2010.01.01_to2010.12.31]_ from'0' to '123' (df2): successfully Saved
 * Unit: '_세원셀론텍_from2010.01.01_to2010.12.31' (247/757)
    The Number of articles:    265
    [_세원셀론텍_from2010.01.01_to2010.12.31]_ from'0' to '264' (df2): successfully Saved
 * Unit: '_세이브존I&C_from2010.01.01_to2010.12.31' (248/757)
    The Number of articles:    32
    [_세이브존I&C_from2010.01.01_to2010.12.31]_ from'0' to '31' (df2): successfully Saved
 * Unit: '_세하_from2011.01.01_to2011.12.31' (249/757)
    The Number of articles:    227
    [_세하_from2011.01.01_to2011.12.31]_ from'0' to '226' (df2): successfully Saved
 * Unit: '_세한엔에스브이_from2010.01.01_to2010.12.31' (250/757)
    No articles to scrap for "_세한엔에스브이_from2010.01.01_to2010.12.31"
 * Unit: '_세화아이엠씨_from2010.01.01_to2010.12.31' (251/757)
    The Number of articles:    7
    [_세화아이엠씨_from2010.01.01_to2010.12.31]_ from'0' to '6' (df2): successfully Saved
 * Unit: '_셀바스AI_from2010.01.01_to2010.12.31' (252/757)
    No articles to scrap for "_셀바스AI_from2010.01.01_to2010.12.31"
 * Unit: '_셀트리온_from2010.01.01_to2010.12.31' (253/757)
    The Number of articles:    2977
    [_셀트리온_from2010.01.01_to2010.12.31]_ from'0' to '999' (df2): successfully Saved
    [_셀트리온_from2010.01.01_to2010.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_셀트리온_from2010.01.01_to2010.12.31]_ from'2000' to '2976' (df2): successfully Saved
 * Unit: '_셀트리온제약_from2010.01.01_to2010.12.31' (254/757)
    The Number of articles:    184
    [_셀트리온제약_from2010.01.01_to2010.12.31]_ from'0' to '183' (df2): successfully Saved
 * Unit: '_솔루에타_from2010.01.01_to2010.12.31' (255/757)
    No articles to scrap for "_솔루에타_from2010.01.01_to2010.12.31"
 * Unit: '_송원산업_from2011.01.01_to2011.12.31' (256/757)
    The Number of articles:    260
    [_송원산업_from2011.01.01_to2011.12.31]_ from'0' to '259' (df2): successfully Saved
 * Unit: '_수산아이앤티_from2010.01.01_to2010.12.31' (257/757)
    No articles to scrap for "_수산아이앤티_from2010.01.01_to2010.12.31"
 * Unit: '_수출포장_from2011.01.01_to2011.12.31' (258/757)
    The Number of articles:    103
    [_수출포장_from2011.01.01_to2011.12.31]_ from'0' to '102' (df2): successfully Saved
 * Unit: '_슈프리마에이치큐_from2010.01.01_to2010.12.31' (259/757)
    No articles to scrap for "_슈프리마에이치큐_from2010.01.01_to2010.12.31"
 * Unit: '_슈피겐코리아_from2010.01.01_to2010.12.31' (260/757)
    No articles to scrap for "_슈피겐코리아_from2010.01.01_to2010.12.31"
 * Unit: '_스맥_from2010.01.01_to2010.12.31' (261/757)
    The Number of articles:    76
    [_스맥_from2010.01.01_to2010.12.31]_ from'0' to '75' (df2): successfully Saved
 * Unit: '_스카이라이프_from2010.01.01_to2010.12.31' (262/757)
    The Number of articles:    1772

    [_스카이라이프_from2010.01.01_to2010.12.31]_ from'0' to '999' (df2): successfully Saved
    [_스카이라이프_from2010.01.01_to2010.12.31]_ from'1000' to '1771' (df2): successfully Saved
 * Unit: '_스킨앤스킨_from2010.01.01_to2010.12.31' (263/757)
    No articles to scrap for "_스킨앤스킨_from2010.01.01_to2010.12.31"
 * Unit: '_스틸플라워_from2010.01.01_to2010.12.31' (264/757)
    The Number of articles:    142
    [_스틸플라워_from2010.01.01_to2010.12.31]_ from'0' to '141' (df2): successfully Saved
 * Unit: '_스포츠서울_from2010.01.01_to2010.12.31' (265/757)
    The Number of articles:    485
    [_스포츠서울_from2010.01.01_to2010.12.31]_ from'0' to '484' (df2): successfully Saved
 * Unit: '_승화프리텍_from2010.01.01_to2010.12.31' (266/757)
    No articles to scrap for "_승화프리텍_from2010.01.01_to2010.12.31"
 * Unit: '_시큐리티KOR_from2010.01.01_to2010.12.31' (267/757)
    No articles to scrap for "_시큐리티KOR_from2010.01.01_to2010.12.31"
 * Unit: '_시큐브_from2010.01.01_to2010.12.31' (268/757)
    The Number of articles:    27
    [_시큐브_from2010.01.01_to2010.12.31]_ from'0' to '26' (df2): successfully Saved
 * Unit: '_신대양제지_from2011.01.01_to2011.12.31' (269/757)
    The Number of articles:    74
    [_신대양제지_from2011.01.01_to2011.12.31]_ from'0' to '73' (df2): successfully Saved
 * Unit: '_신라교역_from2011.01.01_to2011.12.31' (270/757)
    The Number of articles:    208
    [_신라교역_from2011.01.01_to2011.12.31]_ from'0' to '207' (df2): successfully Saved
 * Unit: '_신라젠_from2010.01.01_to2010.12.31' (271/757)
    The Number of articles:    4
    [_신라젠_from2010.01.01_to2010.12.31]_ from'0' to '3' (df2): successfully Saved
 * Unit: '_신세계건설_from2011.01.01_to2011.12.31' (272/757)
    The Number of articles:    251
    [_신세계건설_from2011.01.01_to2011.12.31]_ from'0' to '250' (df2): successfully Saved
 * Unit: '_신세계인터내셔날_from2011.01.01_to2011.12.31' (273/757)
    The Number of articles:    810
    [_신세계인터내셔날_from2011.01.01_to2011.12.31]_ from'0' to '809' (df2): successfully Saved
 * Unit: '_신송홀딩스_from2011.01.01_to2011.12.31' (274/757)
    The Number of articles:    2
    [_신송홀딩스_from2011.01.01_to2011.12.31]_ from'0' to '1' (df2): successfully Saved
 * Unit: '_신영와코루_from2011.01.01_to2011.12.31' (275/757)
    The Number of articles:    59
    [_신영와코루_from2011.01.01_to2011.12.31]_ from'0' to '58' (df2): successfully Saved
 * Unit: '_신지소프트_from2010.01.01_to2010.12.31' (276/757)
    The Number of articles:    120
    [_신지소프트_from2010.01.01_to2010.12.31]_ from'0' to '119' (df2): successfully Saved
 * Unit: '_신진에스엠_from2010.01.01_to2010.12.31' (277/757)
    No articles to scrap for "_신진에스엠_from2010.01.01_to2010.12.31"
 * Unit: '_신풍제지_from2011.01.01_to2011.12.31' (278/757)
    The Number of articles:    44
    [_신풍제지_from2011.01.01_to2011.12.31]_ from'0' to '43' (df2): successfully Saved
 * Unit: '_신화콘텍_from2010.01.01_to2010.12.31' (279/757)
    No articles to scrap for "_신화콘텍_from2010.01.01_to2010.12.31"
 * Unit: '_실리콘웍스_from2010.01.01_to2010.12.31' (280/757)
    The Number of articles:    862
    [_실리콘웍스_from2010.01.01_to2010.12.31]_ from'0' to '861' (df2): successfully Saved
 * Unit: '_싸이맥스_from2010.01.01_to2010.12.31' (281/757)
    The Number of articles:    6
    [_싸이맥스_from2010.01.01_to2010.12.31]_ from'0' to '5' (df2): successfully Saved
 * Unit: '_쌍방울_from2010.01.01_to2010.12.31' (282/757)
    The Number of articles:    645
    [_쌍방울_from2010.01.01_to2010.12.31]_ from'0' to '644' (df2): successfully Saved
 * Unit: '_쌍용머티리얼_from2010.01.01_to2010.12.31' (283/757)
    The Number of articles:    112
    [_쌍용머티리얼_from2010.01.01_to2010.12.31]_ from'0' to '111' (df2): successfully Saved
 * Unit: '_썬텍_from2010.01.01_to2010.12.31' (284/757)
    The Number of articles:    141
    [_썬텍_from2010.01.01_to2010.12.31]_ from'0' to '140' (df2): successfully Saved
 * Unit: '_쎄미시스코_from2010.01.01_to2010.12.31' (285/757)
    The Number of articles:    3
    [_쎄미시스코_from2010.01.01_to2010.12.31]_ from'0' to '2' (df2): successfully Saved
 * Unit: '_쎄트렉아이_from2010.01.01_to2010.12.31' (286/757)
    The Number of articles:    290
    [_쎄트렉아이_from2010.01.01_to2010.12.31]_ from'0' to '289' (df2): successfully Saved
 * Unit: '_쏠리드_from2010.01.01_to2010.12.31' (287/757)
    The Number of articles:    6
    [_쏠리드_from2010.01.01_to2010.12.31]_ from'0' to '5' (df2): successfully Saved
 * Unit: '_쓰리디월드_from2010.01.01_to2010.12.31' (288/757)
    The Number of articles:    70
    [_쓰리디월드_from2010.01.01_to2010.12.31]_ from'0' to '69' (df2): successfully Saved
 * Unit: '_씨모텍_from2010.01.01_to2010.12.31' (289/757)
    The Number of articles:    926
    [_씨모텍_from2010.01.01_to2010.12.31]_ from'0' to '925' (df2): successfully Saved
 * Unit: '_씨아이테크_from2011.01.01_to2011.12.31' (290/757)
    No articles to scrap for "_씨아이테크_from2011.01.01_to2011.12.31"
 * Unit: '_씨에스윈드_from2010.01.01_to2010.12.31' (291/757)
    The Number of articles:    8
    [_씨에스윈드_from2010.01.01_to2010.12.31]_ from'0' to '7' (df2): successfully Saved
 * Unit: '_씨엔플러스_from2010.01.01_to2010.12.31' (292/757)
    No articles to scrap for "_씨엔플러스_from2010.01.01_to2010.12.31"
 * Unit: '_씨엠에스에듀_from2010.01.01_to2010.12.31' (293/757)
    No articles to scrap for "_씨엠에스에듀_from2010.01.01_to2010.12.31"
 * Unit: '_씨유메디칼_from2010.01.01_to2010.12.31' (294/757)
    The Number of articles:    21
    [_씨유메디칼_from2010.01.01_to2010.12.31]_ from'0' to '20' (df2): successfully Saved
 * Unit: '_씨젠_from2010.01.01_to2010.12.31' (295/757)
    The Number of articles:    485
    [_씨젠_from2010.01.01_to2010.12.31]_ from'0' to '484' (df2): successfully Saved
 * Unit: '_씨케이에이치_from2010.01.01_to2010.12.31' (296/757)
    No articles to scrap for "_씨케이에이치_from2010.01.01_to2010.12.31"
 * Unit: '_씨큐브_from2010.01.01_to2010.12.31' (297/757)
    The Number of articles:    7
    [_씨큐브_from2010.01.01_to2010.12.31]_ from'0' to '6' (df2): successfully Saved
 * Unit: '_씨티엘테크_from2010.01.01_to2010.12.31' (298/757)
    No articles to scrap for "_씨티엘테크_from2010.01.01_to2010.12.31"
 * Unit: '_아구스_from2010.01.01_to2010.12.31' (299/757)
    The Number of articles:    292
    [_아구스_from2010.01.01_to2010.12.31]_ from'0' to '291' (df2): successfully Saved
 * Unit: '_아나패스_from2010.01.01_to2010.12.31' (300/757)
    The Number of articles:    247
    [_아나패스_from2010.01.01_to2010.12.31]_ from'0' to '246' (df2): successfully Saved
 * Unit: '_아리온_from2010.01.01_to2010.12.31' (301/757)
    The Number of articles:    59
    [_아리온_from2010.01.01_to2010.12.31]_ from'0' to '58' (df2): successfully Saved
 * Unit: '_아모레G_from2011.01.01_to2010.12.31' (302/757)
    No articles to scrap for "_아모레G_from2011.01.01_to2010.12.31"
 * Unit: '_아모레퍼시픽_from2010.01.01_to2010.12.31' (303/757)
    The Number of articles:    2901
    [_아모레퍼시픽_from2010.01.01_to2010.12.31]_ from'0' to '999' (df2): successfully Saved
    [_아모레퍼시픽_from2010.01.01_to2010.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_아모레퍼시픽_from2010.01.01_to2010.12.31]_ from'2000' to '2900' (df2): successfully Saved
 * Unit: '_아미코젠_from2010.01.01_to2010.12.31' (304/757)
    The Number of articles:    9
    [_아미코젠_from2010.01.01_to2010.12.31]_ from'0' to '8' (df2): successfully Saved
 * Unit: '_아바코_from2010.01.01_to2010.12.31' (305/757)
    The Number of articles:    688
    [_아바코_from2010.01.01_to2010.12.31]_ from'0' to '687' (df2): successfully Saved
 * Unit: '_아바텍_from2010.01.01_to2010.12.31' (306/757)
    The Number of articles:    8
    [_아바텍_from2010.01.01_to2010.12.31]_ from'0' to '7' (df2): successfully Saved
 * Unit: '_아비스타_from2010.01.01_to2010.12.31' (307/757)
    The Number of articles:    45
    [_아비스타_from2010.01.01_to2010.12.31]_ from'0' to '44' (df2): successfully Saved
 * Unit: '_아세아시멘트_from2010.01.01_to2010.12.31' (308/757)
    The Number of articles:    101
    [_아세아시멘트_from2010.01.01_to2010.12.31]_ from'0' to '100' (df2): successfully Saved
 * Unit: '_아세아제지_from2011.01.01_to2011.12.31' (309/757)
    The Number of articles:    81
    [_아세아제지_from2011.01.01_to2011.12.31]_ from'0' to '80' (df2): successfully Saved
 * Unit: '_아스타_from2010.01.01_to2010.12.31' (310/757)
    The Number of articles:    127
    [_아스타_from2010.01.01_to2010.12.31]_ from'0' to '126' (df2): successfully Saved

 * Unit: '_아스트_from2010.01.01_to2010.12.31' (311/757)
    The Number of articles:    61
    [_아스트_from2010.01.01_to2010.12.31]_ from'0' to '60' (df2): successfully Saved
 * Unit: '_아시아경제_from2010.01.01_to2010.12.31' (312/757)
    The Number of articles:    3649
    [_아시아경제_from2010.01.01_to2010.12.31]_ from'0' to '999' (df2): successfully Saved
    [_아시아경제_from2010.01.01_to2010.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_아시아경제_from2010.01.01_to2010.12.31]_ from'2000' to '2999' (df2): successfully Saved
    [_아시아경제_from2010.01.01_to2010.12.31]_ from'3000' to '3648' (df2): successfully Saved
 * Unit: '_아이드림_from2010.01.01_to2010.12.31' (313/757)
    The Number of articles:    33
    [_아이드림_from2010.01.01_to2010.12.31]_ from'0' to '32' (df2): successfully Saved
 * Unit: '_아이디스_from2010.01.01_to2010.12.31' (314/757)
    The Number of articles:    154
    [_아이디스_from2010.01.01_to2010.12.31]_ from'0' to '153' (df2): successfully Saved
 * Unit: '_아이디에스_from2010.01.01_to2010.12.31' (315/757)
    The Number of articles:    242
    [_아이디에스_from2010.01.01_to2010.12.31]_ from'0' to '241' (df2): successfully Saved
 * Unit: '_아이마켓코리아_from2010.01.01_to2010.12.31' (316/757)
    The Number of articles:    574
    [_아이마켓코리아_from2010.01.01_to2010.12.31]_ from'0' to '573' (df2): successfully Saved
 * Unit: '_아이센스_from2010.01.01_to2010.12.31' (317/757)
    The Number of articles:    24
    [_아이센스_from2010.01.01_to2010.12.31]_ from'0' to '23' (df2): successfully Saved
 * Unit: '_아이스테이션_from2010.01.01_to2010.12.31' (318/757)
    The Number of articles:    1270
    [_아이스테이션_from2010.01.01_to2010.12.31]_ from'0' to '999' (df2): successfully Saved
    [_아이스테이션_from2010.01.01_to2010.12.31]_ from'1000' to '1269' (df2): successfully Saved
 * Unit: '_아이쓰리시스템_from2010.01.01_to2010.12.31' (319/757)
    No articles to scrap for "_아이쓰리시스템_from2010.01.01_to2010.12.31"
 * Unit: '_아이씨디_from2010.01.01_to2010.12.31' (320/757)
    The Number of articles:    35
    [_아이씨디_from2010.01.01_to2010.12.31]_ from'0' to '34' (df2): successfully Saved
 * Unit: '_아이알디_from2010.01.01_to2010.12.31' (321/757)
    The Number of articles:    117
    [_아이알디_from2010.01.01_to2010.12.31]_ from'0' to '116' (df2): successfully Saved
 * Unit: '_아이에스이커머스_from2010.01.01_to2010.12.31' (322/757)
    The Number of articles:    47
    [_아이에스이커머스_from2010.01.01_to2010.12.31]_ from'0' to '46' (df2): successfully Saved
 * Unit: '_아이엠_from2010.01.01_to2010.12.31' (323/757)
    The Number of articles:    546
    [_아이엠_from2010.01.01_to2010.12.31]_ from'0' to '545' (df2): successfully Saved
 * Unit: '_아이엠텍_from2010.01.01_to2010.12.31' (324/757)
    The Number of articles:    18
    [_아이엠텍_from2010.01.01_to2010.12.31]_ from'0' to '17' (df2): successfully Saved
 * Unit: '_아이오케이_from2010.01.01_to2010.12.31' (325/757)
    The Number of articles:    9
    [_아이오케이_from2010.01.01_to2010.12.31]_ from'0' to '8' (df2): successfully Saved
 * Unit: '_아이원스_from2010.01.01_to2010.12.31' (326/757)
    The Number of articles:    2
    [_아이원스_from2010.01.01_to2010.12.31]_ from'0' to '1' (df2): successfully Saved
 * Unit: '_아이지스시스템_from2010.01.01_to2010.12.31' (327/757)
    No articles to scrap for "_아이지스시스템_from2010.01.01_to2010.12.31"
 * Unit: '_아이진_from2010.01.01_to2010.12.31' (328/757)
    The Number of articles:    10
    [_아이진_from2010.01.01_to2010.12.31]_ from'0' to '9' (df2): successfully Saved
 * Unit: '_아이컴포넌트_from2010.01.01_to2010.12.31' (329/757)
    The Number of articles:    139
    [_아이컴포넌트_from2010.01.01_to2010.12.31]_ from'0' to '138' (df2): successfully Saved
 * Unit: '_아이크래프트_from2010.01.01_to2010.12.31' (330/757)
    The Number of articles:    46
    [_아이크래프트_from2010.01.01_to2010.12.31]_ from'0' to '45' (df2): successfully Saved
 * Unit: '_아이텍반도체_from2010.01.01_to2010.12.31' (331/757)
    The Number of articles:    157
    [_아이텍반도체_from2010.01.01_to2010.12.31]_ from'0' to '156' (df2): successfully Saved
 * Unit: '_아이팩토리_from2010.01.01_to2010.12.31' (332/757)
    No articles to scrap for "_아이팩토리_from2010.01.01_to2010.12.31"
 * Unit: '_아인스M&M_from2010.01.01_to2010.12.31' (333/757)
    The Number of articles:    123
    [_아인스M&M_from2010.01.01_to2010.12.31]_ from'0' to '122' (df2): successfully Saved
 * Unit: '_아티스_from2010.01.01_to2010.12.31' (334/757)
    The Number of articles:    341
    [_아티스_from2010.01.01_to2010.12.31]_ from'0' to '340' (df2): successfully Saved
 * Unit: '_안트로젠_from2010.01.01_to2010.12.31' (335/757)
    The Number of articles:    19
    [_안트로젠_from2010.01.01_to2010.12.31]_ from'0' to '18' (df2): successfully Saved
 * Unit: '_알보젠코리아_from2011.01.01_to2011.12.31' (336/757)
    No articles to scrap for "_알보젠코리아_from2011.01.01_to2011.12.31"
 * Unit: '_알비케이이엠디_from2010.01.01_to2010.12.31' (337/757)
    No articles to scrap for "_알비케이이엠디_from2010.01.01_to2010.12.31"
 * Unit: '_알서포트_from2010.01.01_to2010.12.31' (338/757)
    The Number of articles:    51
    [_알서포트_from2010.01.01_to2010.12.31]_ from'0' to '50' (df2): successfully Saved
 * Unit: '_알에프세미_from2010.01.01_to2010.12.31' (339/757)
    The Number of articles:    117
    [_알에프세미_from2010.01.01_to2010.12.31]_ from'0' to '116' (df2): successfully Saved
 * Unit: '_알엔투테크놀로지_from2010.01.01_to2010.12.31' (340/757)
    The Number of articles:    1
    [_알엔투테크놀로지_from2010.01.01_to2010.12.31]_ from'0' to '0' (df2): successfully Saved
 * Unit: '_알테오젠_from2010.01.01_to2010.12.31' (341/757)
    The Number of articles:    5
    [_알테오젠_from2010.01.01_to2010.12.31]_ from'0' to '4' (df2): successfully Saved
 * Unit: '_알톤스포츠_from2010.01.01_to2010.12.31' (342/757)
    The Number of articles:    20
    [_알톤스포츠_from2010.01.01_to2010.12.31]_ from'0' to '19' (df2): successfully Saved
 * Unit: '_알파홀딩스_from2010.01.01_to2010.12.31' (343/757)
    No articles to scrap for "_알파홀딩스_from2010.01.01_to2010.12.31"
 * Unit: '_애경유화_from2010.01.01_to2010.12.31' (344/757)
    The Number of articles:    167
    [_애경유화_from2010.01.01_to2010.12.31]_ from'0' to '166' (df2): successfully Saved
 * Unit: '_애니젠_from2010.01.01_to2010.12.31' (345/757)
    The Number of articles:    10
    [_애니젠_from2010.01.01_to2010.12.31]_ from'0' to '9' (df2): successfully Saved
 * Unit: '_액트_from2010.01.01_to2010.12.31' (346/757)
    The Number of articles:    413
    [_액트_from2010.01.01_to2010.12.31]_ from'0' to '412' (df2): successfully Saved
 * Unit: '_앤디포스_from2010.01.01_to2010.12.31' (347/757)
    No articles to scrap for "_앤디포스_from2010.01.01_to2010.12.31"
 * Unit: '_야호_from2010.01.01_to2010.12.31' (348/757)
    The Number of articles:    319
    [_야호_from2010.01.01_to2010.12.31]_ from'0' to '318' (df2): successfully Saved
 * Unit: '_어보브반도체_from2010.01.01_to2010.12.31' (349/757)
    The Number of articles:    115
    [_어보브반도체_from2010.01.01_to2010.12.31]_ from'0' to '114' (df2): successfully Saved
 * Unit: '_에버테크노_from2010.01.01_to2010.12.31' (350/757)
    The Number of articles:    351
    [_에버테크노_from2010.01.01_to2010.12.31]_ from'0' to '350' (df2): successfully Saved
 * Unit: '_에스디생명공학_from2010.01.01_to2010.12.31' (351/757)
    No articles to scrap for "_에스디생명공학_from2010.01.01_to2010.12.31"
 * Unit: '_에스디시스템_from2010.01.01_to2010.12.31' (352/757)
    The Number of articles:    173
    [_에스디시스템_from2010.01.01_to2010.12.31]_ from'0' to '172' (df2): successfully Saved
 * Unit: '_에스맥_from2010.01.01_to2010.12.31' (353/757)
    The Number of articles:    318
    [_에스맥_from2010.01.01_to2010.12.31]_ from'0' to '317' (df2): successfully Saved
 * Unit: '_에스앤씨엔진그룹_from2010.01.01_to2010.12.31' (354/757)
    No articles to scrap for "_에스앤씨엔진그룹_from2010.01.01_to2010.12.31"
 * Unit: '_에스앤에스텍_from2010.01.01_to2010.12.31' (355/757)
    The Number of articles:    83
    [_에스앤에스텍_from2010.01.01_to2010.12.31]_ from'0' to '82' (df2): successfully Saved
 * Unit: '_에스에너지_from2010.01.01_to2010.12.31' (356/757)
    The Number of articles:    498
    [_에스에너지_from2010.01.01_to2010.12.31]_ from'0' to '497' (df2): successfully Saved
 * Unit: '_에스에프씨_from2010.01.01_to2010.12.31' (357/757)
    The Number of articles:    8
    [_에스에프씨_from2010.01.01_to2010.12.31]_ from'0' to '7' (df2): successfully Saved

 * Unit: '_에스엔유_from2010.01.01_to2010.12.31' (358/757)
    The Number of articles:    775
    [_에스엔유_from2010.01.01_to2010.12.31]_ from'0' to '774' (df2): successfully Saved
 * Unit: '_에스엔텍_from2010.01.01_to2010.12.31' (359/757)
    The Number of articles:    6
    [_에스엔텍_from2010.01.01_to2010.12.31]_ from'0' to '5' (df2): successfully Saved
 * Unit: '_에스와이패널_from2010.01.01_to2010.12.31' (360/757)
    No articles to scrap for "_에스와이패널_from2010.01.01_to2010.12.31"
 * Unit: '_에스제이케이_from2010.01.01_to2010.12.31' (361/757)
    No articles to scrap for "_에스제이케이_from2010.01.01_to2010.12.31"
 * Unit: '_에스코넥_from2010.01.01_to2010.12.31' (362/757)
    The Number of articles:    81
    [_에스코넥_from2010.01.01_to2010.12.31]_ from'0' to '80' (df2): successfully Saved
 * Unit: '_에스티오_from2010.01.01_to2010.12.31' (363/757)
    The Number of articles:    43
    [_에스티오_from2010.01.01_to2010.12.31]_ from'0' to '42' (df2): successfully Saved
 * Unit: '_에스티팜_from2010.01.01_to2010.12.31' (364/757)
    No articles to scrap for "_에스티팜_from2010.01.01_to2010.12.31"
 * Unit: '_에스피코프_from2010.01.01_to2010.12.31' (365/757)
    The Number of articles:    154
    [_에스피코프_from2010.01.01_to2010.12.31]_ from'0' to '153' (df2): successfully Saved
 * Unit: '_에이디테크놀로지_from2010.01.01_to2010.12.31' (366/757)
    The Number of articles:    1
    [_에이디테크놀로지_from2010.01.01_to2010.12.31]_ from'0' to '0' (df2): successfully Saved
 * Unit: '_에이블씨엔씨_from2010.01.01_to2010.12.31' (367/757)
    The Number of articles:    424
    [_에이블씨엔씨_from2010.01.01_to2010.12.31]_ from'0' to '423' (df2): successfully Saved
 * Unit: '_에이스일렉_from2010.01.01_to2010.12.31' (368/757)
    The Number of articles:    52
    [_에이스일렉_from2010.01.01_to2010.12.31]_ from'0' to '51' (df2): successfully Saved
 * Unit: '_에이스테크_from2010.01.01_to2010.12.31' (369/757)
    The Number of articles:    222
    [_에이스테크_from2010.01.01_to2010.12.31]_ from'0' to '221' (df2): successfully Saved
 * Unit: '_에이씨티_from2010.01.01_to2010.12.31' (370/757)
    The Number of articles:    2
    [_에이씨티_from2010.01.01_to2010.12.31]_ from'0' to '1' (df2): successfully Saved
 * Unit: '_에이치시티_from2010.01.01_to2010.12.31' (371/757)
    The Number of articles:    5
    [_에이치시티_from2010.01.01_to2010.12.31]_ from'0' to '4' (df2): successfully Saved
 * Unit: '_에이치앤아이_from2010.01.01_to2010.12.31' (372/757)
    No articles to scrap for "_에이치앤아이_from2010.01.01_to2010.12.31"
 * Unit: '_에이치엔티_from2010.01.01_to2010.12.31' (373/757)
    The Number of articles:    12
    [_에이치엔티_from2010.01.01_to2010.12.31]_ from'0' to '11' (df2): successfully Saved
 * Unit: '_에이치엘사이언스_from2010.01.01_to2010.12.31' (374/757)
    No articles to scrap for "_에이치엘사이언스_from2010.01.01_to2010.12.31"
 * Unit: '_에이테크솔루션_from2010.01.01_to2010.12.31' (375/757)
    The Number of articles:    427
    [_에이테크솔루션_from2010.01.01_to2010.12.31]_ from'0' to '426' (df2): successfully Saved
 * Unit: '_에이티세미콘_from2010.01.01_to2010.12.31' (376/757)
    No articles to scrap for "_에이티세미콘_from2010.01.01_to2010.12.31"
 * Unit: '_에이티젠_from2010.01.01_to2010.12.31' (377/757)
    The Number of articles:    7
    [_에이티젠_from2010.01.01_to2010.12.31]_ from'0' to '6' (df2): successfully Saved
 * Unit: '_에이프로젠 H&G_from2010.01.01_to2010.12.31' (378/757)
    No articles to scrap for "_에이프로젠 H&G_from2010.01.01_to2010.12.31"
 * Unit: '_에이프로젠제약_from2011.01.01_to2011.12.31' (379/757)
    No articles to scrap for "_에이프로젠제약_from2011.01.01_to2011.12.31"
 * Unit: '_에치디프로_from2010.01.01_to2010.12.31' (380/757)
    The Number of articles:    2
    [_에치디프로_from2010.01.01_to2010.12.31]_ from'0' to '1' (df2): successfully Saved
 * Unit: '_에코마케팅_from2010.01.01_to2010.12.31' (381/757)
    The Number of articles:    17
    [_에코마케팅_from2010.01.01_to2010.12.31]_ from'0' to '16' (df2): successfully Saved
 * Unit: '_에코프로_from2010.01.01_to2010.12.31' (382/757)
    The Number of articles:    299
    [_에코프로_from2010.01.01_to2010.12.31]_ from'0' to '298' (df2): successfully Saved
 * Unit: '_에프알텍_from2010.01.01_to2010.12.31' (383/757)
    The Number of articles:    86
    [_에프알텍_from2010.01.01_to2010.12.31]_ from'0' to '85' (df2): successfully Saved
 * Unit: '_에프엔씨엔터_from2010.01.01_to2010.12.31' (384/757)
    No articles to scrap for "_에프엔씨엔터_from2010.01.01_to2010.12.31"
 * Unit: '_에프엔에스테크_from2010.01.01_to2010.12.31' (385/757)
    The Number of articles:    6
    [_에프엔에스테크_from2010.01.01_to2010.12.31]_ from'0' to '5' (df2): successfully Saved
 * Unit: '_엑세스바이오_from2010.01.01_to2010.12.31' (386/757)
    The Number of articles:    4
    [_엑세스바이오_from2010.01.01_to2010.12.31]_ from'0' to '3' (df2): successfully Saved
 * Unit: '_엑스로드_from2010.01.01_to2010.12.31' (387/757)
    The Number of articles:    233
    [_엑스로드_from2010.01.01_to2010.12.31]_ from'0' to '232' (df2): successfully Saved
 * Unit: '_엑스씨이_from2010.01.01_to2010.12.31' (388/757)
    The Number of articles:    1
    [_엑스씨이_from2010.01.01_to2010.12.31]_ from'0' to '0' (df2): successfully Saved
 * Unit: '_엑시콘_from2010.01.01_to2010.12.31' (389/757)
    The Number of articles:    18
    [_엑시콘_from2010.01.01_to2010.12.31]_ from'0' to '17' (df2): successfully Saved
 * Unit: '_엔스퍼트_from2010.01.01_to2010.12.31' (390/757)
    The Number of articles:    764
    [_엔스퍼트_from2010.01.01_to2010.12.31]_ from'0' to '763' (df2): successfully Saved
 * Unit: '_엔에스_from2010.01.01_to2010.12.31' (391/757)
    The Number of articles:    133
    [_엔에스_from2010.01.01_to2010.12.31]_ from'0' to '132' (df2): successfully Saved
 * Unit: '_엔에스쇼핑_from2010.01.01_to2010.12.31' (392/757)
    No articles to scrap for "_엔에스쇼핑_from2010.01.01_to2010.12.31"
 * Unit: '_엔지스테크널러지_from2010.01.01_to2010.12.31' (393/757)
    The Number of articles:    1
    [_엔지스테크널러지_from2010.01.01_to2010.12.31]_ from'0' to '0' (df2): successfully Saved
 * Unit: '_엔텔스_from2010.01.01_to2010.12.31' (394/757)
    The Number of articles:    83
    [_엔텔스_from2010.01.01_to2010.12.31]_ from'0' to '82' (df2): successfully Saved
 * Unit: '_엘디티_from2010.01.01_to2010.12.31' (395/757)
    The Number of articles:    129
    [_엘디티_from2010.01.01_to2010.12.31]_ from'0' to '128' (df2): successfully Saved
 * Unit: '_엘비세미콘_from2010.01.01_to2010.12.31' (396/757)
    The Number of articles:    30
    [_엘비세미콘_from2010.01.01_to2010.12.31]_ from'0' to '29' (df2): successfully Saved
 * Unit: '_엘아이에스_from2010.01.01_to2010.12.31' (397/757)
    The Number of articles:    1
    [_엘아이에스_from2010.01.01_to2010.12.31]_ from'0' to '0' (df2): successfully Saved
 * Unit: '_엘앤에프_from2010.01.01_to2010.12.31' (398/757)
    The Number of articles:    288
    [_엘앤에프_from2010.01.01_to2010.12.31]_ from'0' to '287' (df2): successfully Saved
 * Unit: '_엘앤케이바이오_from2010.01.01_to2010.12.31' (399/757)
    No articles to scrap for "_엘앤케이바이오_from2010.01.01_to2010.12.31"
 * Unit: '_엘엠에스_from2010.01.01_to2010.12.31' (400/757)
    The Number of articles:    442
    [_엘엠에스_from2010.01.01_to2010.12.31]_ from'0' to '441' (df2): successfully Saved
 * Unit: '_엘오티베큠_from2010.01.01_to2010.12.31' (401/757)
    The Number of articles:    441
    [_엘오티베큠_from2010.01.01_to2010.12.31]_ from'0' to '440' (df2): successfully Saved
 * Unit: '_엘티씨_from2010.01.01_to2010.12.31' (402/757)
    The Number of articles:    1
    [_엘티씨_from2010.01.01_to2010.12.31]_ from'0' to '0' (df2): successfully Saved
 * Unit: '_엠씨넥스_from2010.01.01_to2010.12.31' (403/757)
    The Number of articles:    46
    [_엠씨넥스_from2010.01.01_to2010.12.31]_ from'0' to '45' (df2): successfully Saved
 * Unit: '_엠제이비_from2010.01.01_to2010.12.31' (404/757)
    No articles to scrap for "_엠제이비_from2010.01.01_to2010.12.31"
 * Unit: '_엠지메드_from2010.01.01_to2010.12.31' (405/757)
    No articles to scrap for "_엠지메드_from2010.01.01_to2010.12.31"
 * Unit: '_엠텍비젼에셋_from2010.01.01_to2010.12.31' (406/757)
    No articles to scrap for "_엠텍비젼에셋_from2010.01.01_to2010.12.31"
 * Unit: '_연이정보통신_from2010.01.01_to2010.12.31' (407/757)
    The Number of articles:    147
    [_연이정보통신_from2010.01.01_to2010.12.31]_ from'0' to '146' (df2): successfully Saved
 * Unit: '_영우디에스피_from2010.01.01_to2010.12.31' (408/757)

    No articles to scrap for "_영우디에스피_from2010.01.01_to2010.12.31"
 * Unit: '_영원무역_from2010.01.01_to2010.12.31' (409/757)
    The Number of articles:    540
    [_영원무역_from2010.01.01_to2010.12.31]_ from'0' to '539' (df2): successfully Saved
 * Unit: '_영원무역홀딩스_from2011.01.01_to2011.12.31' (410/757)
    The Number of articles:    168
    [_영원무역홀딩스_from2011.01.01_to2011.12.31]_ from'0' to '167' (df2): successfully Saved
 * Unit: '_영진약품_from2011.01.01_to2010.12.31' (411/757)
    No articles to scrap for "_영진약품_from2011.01.01_to2010.12.31"
 * Unit: '_영풍제지_from2011.01.01_to2011.12.31' (412/757)
    The Number of articles:    26
    [_영풍제지_from2011.01.01_to2011.12.31]_ from'0' to '25' (df2): successfully Saved
 * Unit: '_예스티_from2010.01.01_to2010.12.31' (413/757)
    No articles to scrap for "_예스티_from2010.01.01_to2010.12.31"
 * Unit: '_오가닉티코스메틱_from2010.01.01_to2010.12.31' (414/757)
    No articles to scrap for "_오가닉티코스메틱_from2010.01.01_to2010.12.31"
 * Unit: '_오디텍_from2010.01.01_to2010.12.31' (415/757)
    The Number of articles:    280
    [_오디텍_from2010.01.01_to2010.12.31]_ from'0' to '279' (df2): successfully Saved
 * Unit: '_오뚜기_from2011.01.01_to2011.12.31' (416/757)
    The Number of articles:    1738
    [_오뚜기_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_오뚜기_from2011.01.01_to2011.12.31]_ from'1000' to '1737' (df2): successfully Saved
 * Unit: '_오리온_from2011.01.01_to2011.12.31' (417/757)
    The Number of articles:    3067
    [_오리온_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_오리온_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_오리온_from2011.01.01_to2011.12.31]_ from'2000' to '2999' (df2): successfully Saved
    [_오리온_from2011.01.01_to2011.12.31]_ from'3000' to '3066' (df2): successfully Saved
 * Unit: '_오션브릿지_from2010.01.01_to2010.12.31' (418/757)
    The Number of articles:    13
    [_오션브릿지_from2010.01.01_to2010.12.31]_ from'0' to '12' (df2): successfully Saved
 * Unit: '_오스코텍_from2010.01.01_to2010.12.31' (419/757)
    The Number of articles:    132
    [_오스코텍_from2010.01.01_to2010.12.31]_ from'0' to '131' (df2): successfully Saved
 * Unit: '_오스템임플란트_from2010.01.01_to2010.12.31' (420/757)
    The Number of articles:    405
    [_오스템임플란트_from2010.01.01_to2010.12.31]_ from'0' to '404' (df2): successfully Saved
 * Unit: '_오이솔루션_from2010.01.01_to2010.12.31' (421/757)
    The Number of articles:    14
    [_오이솔루션_from2010.01.01_to2010.12.31]_ from'0' to '13' (df2): successfully Saved
 * Unit: '_오킨스전자_from2010.01.01_to2010.12.31' (422/757)
    The Number of articles:    2
    [_오킨스전자_from2010.01.01_to2010.12.31]_ from'0' to '1' (df2): successfully Saved
 * Unit: '_올리브나인_from2010.01.01_to2010.12.31' (423/757)
    The Number of articles:    553
    [_올리브나인_from2010.01.01_to2010.12.31]_ from'0' to '552' (df2): successfully Saved
 * Unit: '_옴니시스템_from2010.01.01_to2010.12.31' (424/757)
    The Number of articles:    285
    [_옴니시스템_from2010.01.01_to2010.12.31]_ from'0' to '284' (df2): successfully Saved
 * Unit: '_옵토팩_from2010.01.01_to2010.12.31' (425/757)
    The Number of articles:    45
    [_옵토팩_from2010.01.01_to2010.12.31]_ from'0' to '44' (df2): successfully Saved
 * Unit: '_옵트론텍_from2010.01.01_to2010.12.31' (426/757)
    The Number of articles:    85
    [_옵트론텍_from2010.01.01_to2010.12.31]_ from'0' to '84' (df2): successfully Saved
 * Unit: '_옵티시스_from2010.01.01_to2010.12.31' (427/757)
    The Number of articles:    2
    [_옵티시스_from2010.01.01_to2010.12.31]_ from'0' to '1' (df2): successfully Saved
 * Unit: '_와이비로드_from2011.01.01_to2011.12.31' (428/757)
    The Number of articles:    142
    [_와이비로드_from2011.01.01_to2011.12.31]_ from'0' to '141' (df2): successfully Saved
 * Unit: '_와이비엠넷_from2010.01.01_to2010.12.31' (429/757)
    No articles to scrap for "_와이비엠넷_from2010.01.01_to2010.12.31"
 * Unit: '_와이솔_from2010.01.01_to2010.12.31' (430/757)
    The Number of articles:    230
    [_와이솔_from2010.01.01_to2010.12.31]_ from'0' to '229' (df2): successfully Saved
 * Unit: '_와이엠씨_from2010.01.01_to2010.12.31' (431/757)
    No articles to scrap for "_와이엠씨_from2010.01.01_to2010.12.31"
 * Unit: '_와이엠티_from2010.01.01_to2010.12.31' (432/757)
    The Number of articles:    2
    [_와이엠티_from2010.01.01_to2010.12.31]_ from'0' to '1' (df2): successfully Saved
 * Unit: '_와이제이엠게임즈_from2010.01.01_to2010.12.31' (433/757)
    No articles to scrap for "_와이제이엠게임즈_from2010.01.01_to2010.12.31"
 * Unit: '_와이지엔터테인먼트_from2010.01.01_to2010.12.31' (434/757)
    The Number of articles:    9
    [_와이지엔터테인먼트_from2010.01.01_to2010.12.31]_ from'0' to '8' (df2): successfully Saved
 * Unit: '_와토스코리아_from2010.01.01_to2010.12.31' (435/757)
    The Number of articles:    64
    [_와토스코리아_from2010.01.01_to2010.12.31]_ from'0' to '63' (df2): successfully Saved
 * Unit: '_완리_from2010.01.01_to2010.12.31' (436/757)
    The Number of articles:    29
    [_완리_from2010.01.01_to2010.12.31]_ from'0' to '28' (df2): successfully Saved
 * Unit: '_용평리조트_from2010.01.01_to2010.12.31' (437/757)
    The Number of articles:    800
    [_용평리조트_from2010.01.01_to2010.12.31]_ from'0' to '799' (df2): successfully Saved
 * Unit: '_우노앤컴퍼니_from2010.01.01_to2010.12.31' (438/757)
    The Number of articles:    185
    [_우노앤컴퍼니_from2010.01.01_to2010.12.31]_ from'0' to '184' (df2): successfully Saved
 * Unit: '_우리넷_from2010.01.01_to2010.12.31' (439/757)
    The Number of articles:    208
    [_우리넷_from2010.01.01_to2010.12.31]_ from'0' to '207' (df2): successfully Saved
 * Unit: '_우리들휴브레인_from2010.01.01_to2010.12.31' (440/757)
    No articles to scrap for "_우리들휴브레인_from2010.01.01_to2010.12.31"
 * Unit: '_우리손에프앤지_from2010.01.01_to2010.12.31' (441/757)
    No articles to scrap for "_우리손에프앤지_from2010.01.01_to2010.12.31"
 * Unit: '_우리이앤엘_from2010.01.01_to2010.12.31' (442/757)
    No articles to scrap for "_우리이앤엘_from2010.01.01_to2010.12.31"
 * Unit: '_우리이티아이_from2010.01.01_to2010.12.31' (443/757)
    The Number of articles:    319
    [_우리이티아이_from2010.01.01_to2010.12.31]_ from'0' to '318' (df2): successfully Saved
 * Unit: '_우림기계_from2010.01.01_to2010.12.31' (444/757)
    The Number of articles:    106
    [_우림기계_from2010.01.01_to2010.12.31]_ from'0' to '105' (df2): successfully Saved
 * Unit: '_우성사료_from2011.01.01_to2011.12.31' (445/757)
    The Number of articles:    140
    [_우성사료_from2011.01.01_to2011.12.31]_ from'0' to '139' (df2): successfully Saved
 * Unit: '_우양에이치씨_from2010.01.01_to2010.12.31' (446/757)
    The Number of articles:    9
    [_우양에이치씨_from2010.01.01_to2010.12.31]_ from'0' to '8' (df2): successfully Saved
 * Unit: '_우주일렉트로_from2010.01.01_to2010.12.31' (447/757)
    The Number of articles:    252
    [_우주일렉트로_from2010.01.01_to2010.12.31]_ from'0' to '251' (df2): successfully Saved
 * Unit: '_웅진_from2011.01.01_to2011.12.31' (448/757)
    The Number of articles:    2945
    [_웅진_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_웅진_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_웅진_from2011.01.01_to2011.12.31]_ from'2000' to '2944' (df2): successfully Saved
 * Unit: '_웅진씽크빅_from2010.01.01_to2010.12.31' (449/757)
    The Number of articles:    1250
    [_웅진씽크빅_from2010.01.01_to2010.12.31]_ from'0' to '999' (df2): successfully Saved
    [_웅진씽크빅_from2010.01.01_to2010.12.31]_ from'1000' to '1249' (df2): successfully Saved
 * Unit: '_웅진에너지_from2010.01.01_to2010.12.31' (450/757)
    The Number of articles:    1427
    [_웅진에너지_from2010.01.01_to2010.12.31]_ from'0' to '999' (df2): successfully Saved
    [_웅진에너지_from2010.01.01_to2010.12.31]_ from'1000' to '1426' (df2): successfully Saved
 * Unit: '_원림_from2011.01.01_to2011.12.31' (451/757)
    The Number of articles:    128
    [_원림_from2011.01.01_to2011.12.31]_ from'0' to '127' (df2): successfully Saved
 * Unit: '_원익QnC_from2010.01.01_to2010.12.31' (452/757)
    No articles to scrap for "_원익QnC_from2010.01.01_to2010.12.31"
 * Unit: '_원익머트리얼즈_from2010.01.01_to2010.12.31' (453/757)
    The Number of articles:    26
    [_원익머트리얼즈_from2010.01.01_to2010.12.31]_ from'0' to '25' (df2): successfully Saved

 * Unit: '_월덱스_from2010.01.01_to2010.12.31' (454/757)
    The Number of articles:    117
    [_월덱스_from2010.01.01_to2010.12.31]_ from'0' to '116' (df2): successfully Saved
 * Unit: '_웨이브일렉트로_from2010.01.01_to2010.12.31' (455/757)
    The Number of articles:    86
    [_웨이브일렉트로_from2010.01.01_to2010.12.31]_ from'0' to '85' (df2): successfully Saved
 * Unit: '_웨이포트_from2010.01.01_to2010.12.31' (456/757)
    The Number of articles:    328
    [_웨이포트_from2010.01.01_to2010.12.31]_ from'0' to '327' (df2): successfully Saved
 * Unit: '_웰크론한텍_from2010.01.01_to2010.12.31' (457/757)
    No articles to scrap for "_웰크론한텍_from2010.01.01_to2010.12.31"
 * Unit: '_웹스_from2010.01.01_to2010.12.31' (458/757)
    The Number of articles:    22
    [_웹스_from2010.01.01_to2010.12.31]_ from'0' to '21' (df2): successfully Saved
 * Unit: '_웹젠_from2010.01.01_to2010.12.31' (459/757)
    The Number of articles:    789
    [_웹젠_from2010.01.01_to2010.12.31]_ from'0' to '788' (df2): successfully Saved
 * Unit: '_위메이드_from2010.01.01_to2010.12.31' (460/757)
    The Number of articles:    2418
    [_위메이드_from2010.01.01_to2010.12.31]_ from'0' to '999' (df2): successfully Saved
    [_위메이드_from2010.01.01_to2010.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_위메이드_from2010.01.01_to2010.12.31]_ from'2000' to '2417' (df2): successfully Saved
 * Unit: '_윈스_from2010.01.01_to2010.12.31' (461/757)
    The Number of articles:    51
    [_윈스_from2010.01.01_to2010.12.31]_ from'0' to '50' (df2): successfully Saved
 * Unit: '_윈팩_from2010.01.01_to2010.12.31' (462/757)
    The Number of articles:    10
    [_윈팩_from2010.01.01_to2010.12.31]_ from'0' to '9' (df2): successfully Saved
 * Unit: '_윈하이텍_from2010.01.01_to2010.12.31' (463/757)
    No articles to scrap for "_윈하이텍_from2010.01.01_to2010.12.31"
 * Unit: '_윌비스_from2011.01.01_to2011.12.31' (464/757)
    The Number of articles:    174
    [_윌비스_from2011.01.01_to2011.12.31]_ from'0' to '173' (df2): successfully Saved
 * Unit: '_유나이티드제약_from2011.01.01_to2011.12.31' (465/757)
    The Number of articles:    486
    [_유나이티드제약_from2011.01.01_to2011.12.31]_ from'0' to '485' (df2): successfully Saved
 * Unit: '_유니드_from2011.01.01_to2011.12.31' (466/757)
    The Number of articles:    235
    [_유니드_from2011.01.01_to2011.12.31]_ from'0' to '234' (df2): successfully Saved
 * Unit: '_유니드코리아_from2010.01.01_to2010.12.31' (467/757)
    No articles to scrap for "_유니드코리아_from2010.01.01_to2010.12.31"
 * Unit: '_유니온커뮤니티_from2010.01.01_to2010.12.31' (468/757)
    The Number of articles:    32
    [_유니온커뮤니티_from2010.01.01_to2010.12.31]_ from'0' to '31' (df2): successfully Saved
 * Unit: '_유니켐_from2011.01.01_to2011.12.31' (469/757)
    The Number of articles:    178
    [_유니켐_from2011.01.01_to2011.12.31]_ from'0' to '177' (df2): successfully Saved
 * Unit: '_유니테스트_from2010.01.01_to2010.12.31' (470/757)
    The Number of articles:    188
    [_유니테스트_from2010.01.01_to2010.12.31]_ from'0' to '187' (df2): successfully Saved
 * Unit: '_유니테크노_from2010.01.01_to2010.12.31' (471/757)
    The Number of articles:    2
    [_유니테크노_from2010.01.01_to2010.12.31]_ from'0' to '1' (df2): successfully Saved
 * Unit: '_유니트론텍_from2010.01.01_to2010.12.31' (472/757)
    No articles to scrap for "_유니트론텍_from2010.01.01_to2010.12.31"
 * Unit: '_유바이오로직스_from2010.01.01_to2010.12.31' (473/757)
    The Number of articles:    5
    [_유바이오로직스_from2010.01.01_to2010.12.31]_ from'0' to '4' (df2): successfully Saved
 * Unit: '_유비벨록스_from2010.01.01_to2010.12.31' (474/757)
    The Number of articles:    556
    [_유비벨록스_from2010.01.01_to2010.12.31]_ from'0' to '555' (df2): successfully Saved
 * Unit: '_유비쿼스홀딩스_from2010.01.01_to2010.12.31' (475/757)
    No articles to scrap for "_유비쿼스홀딩스_from2010.01.01_to2010.12.31"
 * Unit: '_유유제약_from2011.01.01_to2010.12.31' (476/757)
    No articles to scrap for "_유유제약_from2011.01.01_to2010.12.31"
 * Unit: '_유지인트_from2010.01.01_to2010.12.31' (477/757)
    The Number of articles:    10
    [_유지인트_from2010.01.01_to2010.12.31]_ from'0' to '9' (df2): successfully Saved
 * Unit: '_유진테크_from2010.01.01_to2010.12.31' (478/757)
    The Number of articles:    641
    [_유진테크_from2010.01.01_to2010.12.31]_ from'0' to '640' (df2): successfully Saved
 * Unit: '_유테크_from2010.01.01_to2010.12.31' (479/757)
    The Number of articles:    10
    [_유테크_from2010.01.01_to2010.12.31]_ from'0' to '9' (df2): successfully Saved
 * Unit: '_유한양행_from2011.01.01_to2010.12.31' (480/757)
    The Number of articles:    2
    [_유한양행_from2011.01.01_to2010.12.31]_ from'0' to '1' (df2): successfully Saved
 * Unit: '_육일씨엔에쓰_from2010.01.01_to2010.12.31' (481/757)
    No articles to scrap for "_육일씨엔에쓰_from2010.01.01_to2010.12.31"
 * Unit: '_율촌화학_from2011.01.01_to2011.12.31' (482/757)
    The Number of articles:    139
    [_율촌화학_from2011.01.01_to2011.12.31]_ from'0' to '138' (df2): successfully Saved
 * Unit: '_이건산업_from2011.01.01_to2011.12.31' (483/757)
    The Number of articles:    376
    [_이건산업_from2011.01.01_to2011.12.31]_ from'0' to '375' (df2): successfully Saved
 * Unit: '_이노션_from2010.01.01_to2010.12.31' (484/757)
    The Number of articles:    377
    [_이노션_from2010.01.01_to2010.12.31]_ from'0' to '376' (df2): successfully Saved
 * Unit: '_이노와이어리스_from2010.01.01_to2010.12.31' (485/757)
    The Number of articles:    69
    [_이노와이어리스_from2010.01.01_to2010.12.31]_ from'0' to '68' (df2): successfully Saved
 * Unit: '_이녹스_from2010.01.01_to2010.12.31' (486/757)
    The Number of articles:    414
    [_이녹스_from2010.01.01_to2010.12.31]_ from'0' to '413' (df2): successfully Saved
 * Unit: '_이룸지엔지_from2010.01.01_to2010.12.31' (487/757)
    The Number of articles:    216
    [_이룸지엔지_from2010.01.01_to2010.12.31]_ from'0' to '215' (df2): successfully Saved
 * Unit: '_이마트_from2010.01.01_to2010.12.31' (488/757)
    The Number of articles:    2839
    [_이마트_from2010.01.01_to2010.12.31]_ from'0' to '999' (df2): successfully Saved
    [_이마트_from2010.01.01_to2010.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_이마트_from2010.01.01_to2010.12.31]_ from'2000' to '2838' (df2): successfully Saved
 * Unit: '_이미지스_from2010.01.01_to2010.12.31' (489/757)
    The Number of articles:    636
    [_이미지스_from2010.01.01_to2010.12.31]_ from'0' to '635' (df2): successfully Saved
 * Unit: '_이상네트웍스_from2010.01.01_to2010.12.31' (490/757)
    The Number of articles:    97
    [_이상네트웍스_from2010.01.01_to2010.12.31]_ from'0' to '96' (df2): successfully Saved
 * Unit: '_이수앱지스_from2010.01.01_to2010.12.31' (491/757)
    The Number of articles:    453
    [_이수앱지스_from2010.01.01_to2010.12.31]_ from'0' to '452' (df2): successfully Saved
 * Unit: '_이스트아시아홀딩스_from2010.01.01_to2010.12.31' (492/757)
    No articles to scrap for "_이스트아시아홀딩스_from2010.01.01_to2010.12.31"
 * Unit: '_이아이디_from2010.01.01_to2010.12.31' (493/757)
    The Number of articles:    16
    [_이아이디_from2010.01.01_to2010.12.31]_ from'0' to '15' (df2): successfully Saved
 * Unit: '_이에스브이_from2010.01.01_to2010.12.31' (494/757)
    No articles to scrap for "_이에스브이_from2010.01.01_to2010.12.31"
 * Unit: '_이엔쓰리_from2010.01.01_to2010.12.31' (495/757)
    The Number of articles:    153
    [_이엔쓰리_from2010.01.01_to2010.12.31]_ from'0' to '152' (df2): successfully Saved
 * Unit: '_이엔에프테크놀로지_from2010.01.01_to2010.12.31' (496/757)
    The Number of articles:    215
    [_이엔에프테크놀로지_from2010.01.01_to2010.12.31]_ from'0' to '214' (df2): successfully Saved
 * Unit: '_이엘케이_from2010.01.01_to2010.12.31' (497/757)
    The Number of articles:    745
    [_이엘케이_from2010.01.01_to2010.12.31]_ from'0' to '744' (df2): successfully Saved
 * Unit: '_이엘피_from2010.01.01_to2010.12.31' (498/757)
    No articles to scrap for "_이엘피_from2010.01.01_to2010.12.31"
 * Unit: '_이엠넷_from2010.01.01_to2010.12.31' (499/757)
    The Number of articles:    10
    [_이엠넷_from2010.01.01_to2010.12.31]_ from'0' to '9' (df2): successfully Saved
 * Unit: '_이엠코리아_from2010.01.01_to2010.12.31' (500/757)
    The Number of articles:    242
    [_이엠코리아_from2010.01.01_to2010.12.31]_ from'0' to '241' (df2): successfully Saved
 * Unit: '_이엠텍_from2010.01.01_to2010.12.31' (501/757)
    The Number of articles:    135

    [_이엠텍_from2010.01.01_to2010.12.31]_ from'0' to '134' (df2): successfully Saved
 * Unit: '_이월드_from2010.01.01_to2010.12.31' (502/757)
    The Number of articles:    5
    [_이월드_from2010.01.01_to2010.12.31]_ from'0' to '4' (df2): successfully Saved
 * Unit: '_이지웰페어_from2010.01.01_to2010.12.31' (503/757)
    The Number of articles:    13
    [_이지웰페어_from2010.01.01_to2010.12.31]_ from'0' to '12' (df2): successfully Saved
 * Unit: '_이크레더블_from2010.01.01_to2010.12.31' (504/757)
    The Number of articles:    126
    [_이크레더블_from2010.01.01_to2010.12.31]_ from'0' to '125' (df2): successfully Saved
 * Unit: '_이트론_from2010.01.01_to2010.12.31' (505/757)
    The Number of articles:    12
    [_이트론_from2010.01.01_to2010.12.31]_ from'0' to '11' (df2): successfully Saved
 * Unit: '_이퓨쳐_from2010.01.01_to2010.12.31' (506/757)
    The Number of articles:    7
    [_이퓨쳐_from2010.01.01_to2010.12.31]_ from'0' to '6' (df2): successfully Saved
 * Unit: '_인디에프_from2011.01.01_to2011.12.31' (507/757)
    The Number of articles:    149
    [_인디에프_from2011.01.01_to2011.12.31]_ from'0' to '148' (df2): successfully Saved
 * Unit: '_인베니아_from2010.01.01_to2010.12.31' (508/757)
    No articles to scrap for "_인베니아_from2010.01.01_to2010.12.31"
 * Unit: '_인스프리트_from2010.01.01_to2010.12.31' (509/757)
    The Number of articles:    792
    [_인스프리트_from2010.01.01_to2010.12.31]_ from'0' to '791' (df2): successfully Saved
 * Unit: '_인콘_from2010.01.01_to2010.12.31' (510/757)
    The Number of articles:    3
    [_인콘_from2010.01.01_to2010.12.31]_ from'0' to '2' (df2): successfully Saved
 * Unit: '_인크로스_from2010.01.01_to2010.12.31' (511/757)
    The Number of articles:    15
    [_인크로스_from2010.01.01_to2010.12.31]_ from'0' to '14' (df2): successfully Saved
 * Unit: '_인터로조_from2010.01.01_to2010.12.31' (512/757)
    The Number of articles:    167
    [_인터로조_from2010.01.01_to2010.12.31]_ from'0' to '166' (df2): successfully Saved
 * Unit: '_인터불스_from2010.01.01_to2010.12.31' (513/757)
    No articles to scrap for "_인터불스_from2010.01.01_to2010.12.31"
 * Unit: '_인터파크_from2010.01.01_to2010.12.31' (514/757)
    The Number of articles:    2681
    [_인터파크_from2010.01.01_to2010.12.31]_ from'0' to '999' (df2): successfully Saved
    [_인터파크_from2010.01.01_to2010.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_인터파크_from2010.01.01_to2010.12.31]_ from'2000' to '2680' (df2): successfully Saved
 * Unit: '_인텍플러스_from2010.01.01_to2010.12.31' (515/757)
    The Number of articles:    175
    [_인텍플러스_from2010.01.01_to2010.12.31]_ from'0' to '174' (df2): successfully Saved
 * Unit: '_인텔리안테크_from2010.01.01_to2010.12.31' (516/757)
    No articles to scrap for "_인텔리안테크_from2010.01.01_to2010.12.31"
 * Unit: '_인트로메딕_from2010.01.01_to2010.12.31' (517/757)
    The Number of articles:    17
    [_인트로메딕_from2010.01.01_to2010.12.31]_ from'0' to '16' (df2): successfully Saved
 * Unit: '_인팩_from2011.01.01_to2011.12.31' (518/757)
    The Number of articles:    164
    [_인팩_from2011.01.01_to2011.12.31]_ from'0' to '163' (df2): successfully Saved
 * Unit: '_인포마크_from2010.01.01_to2010.12.31' (519/757)
    The Number of articles:    1
    [_인포마크_from2010.01.01_to2010.12.31]_ from'0' to '0' (df2): successfully Saved
 * Unit: '_인포바인_from2010.01.01_to2010.12.31' (520/757)
    The Number of articles:    327
    [_인포바인_from2010.01.01_to2010.12.31]_ from'0' to '326' (df2): successfully Saved
 * Unit: '_인포피아_from2010.01.01_to2010.12.31' (521/757)
    The Number of articles:    384
    [_인포피아_from2010.01.01_to2010.12.31]_ from'0' to '383' (df2): successfully Saved
 * Unit: '_인프라웨어_from2010.01.01_to2010.12.31' (522/757)
    The Number of articles:    715
    [_인프라웨어_from2010.01.01_to2010.12.31]_ from'0' to '714' (df2): successfully Saved
 * Unit: '_인피니트헬스케어_from2010.01.01_to2010.12.31' (523/757)
    The Number of articles:    870
    [_인피니트헬스케어_from2010.01.01_to2010.12.31]_ from'0' to '869' (df2): successfully Saved
 * Unit: '_인화정공_from2010.01.01_to2010.12.31' (524/757)
    The Number of articles:    177
    [_인화정공_from2010.01.01_to2010.12.31]_ from'0' to '176' (df2): successfully Saved
 * Unit: '_일경산업개발_from2010.01.01_to2010.12.31' (525/757)
    The Number of articles:    95
    [_일경산업개발_from2010.01.01_to2010.12.31]_ from'0' to '94' (df2): successfully Saved
 * Unit: '_일동홀딩스_from2011.01.01_to2010.12.31' (526/757)
    No articles to scrap for "_일동홀딩스_from2011.01.01_to2010.12.31"
 * Unit: '_일성신약_from2011.01.01_to2010.12.31' (527/757)
    The Number of articles:    1
    [_일성신약_from2011.01.01_to2010.12.31]_ from'0' to '0' (df2): successfully Saved
 * Unit: '_일신방직_from2011.01.01_to2011.12.31' (528/757)
    The Number of articles:    159
    [_일신방직_from2011.01.01_to2011.12.31]_ from'0' to '158' (df2): successfully Saved
 * Unit: '_일정실업_from2011.01.01_to2011.12.31' (529/757)
    The Number of articles:    29
    [_일정실업_from2011.01.01_to2011.12.31]_ from'0' to '28' (df2): successfully Saved
 * Unit: '_일진다이아_from2010.01.01_to2010.12.31' (530/757)
    The Number of articles:    239
    [_일진다이아_from2010.01.01_to2010.12.31]_ from'0' to '238' (df2): successfully Saved
 * Unit: '_일진전기_from2010.01.01_to2010.12.31' (531/757)
    The Number of articles:    546
    [_일진전기_from2010.01.01_to2010.12.31]_ from'0' to '545' (df2): successfully Saved
 * Unit: '_일진파워_from2010.01.01_to2010.12.31' (532/757)
    No articles to scrap for "_일진파워_from2010.01.01_to2010.12.31"
 * Unit: '_잇츠한불_from2010.01.01_to2010.12.31' (533/757)
    No articles to scrap for "_잇츠한불_from2010.01.01_to2010.12.31"
 * Unit: '_자연과환경_from2010.01.01_to2010.12.31' (534/757)
    The Number of articles:    398
    [_자연과환경_from2010.01.01_to2010.12.31]_ from'0' to '397' (df2): successfully Saved
 * Unit: '_자이글_from2010.01.01_to2010.12.31' (535/757)
    The Number of articles:    12
    [_자이글_from2010.01.01_to2010.12.31]_ from'0' to '11' (df2): successfully Saved
 * Unit: '_잘만테크_from2010.01.01_to2010.12.31' (536/757)
    The Number of articles:    768
    [_잘만테크_from2010.01.01_to2010.12.31]_ from'0' to '767' (df2): successfully Saved
 * Unit: '_장원테크_from2010.01.01_to2010.12.31' (537/757)
    The Number of articles:    2
    [_장원테크_from2010.01.01_to2010.12.31]_ from'0' to '1' (df2): successfully Saved
 * Unit: '_전방_from2011.01.01_to2011.12.31' (538/757)
    The Number of articles:    2948
    [_전방_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_전방_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_전방_from2011.01.01_to2011.12.31]_ from'2000' to '2947' (df2): successfully Saved
 * Unit: '_제너셈_from2010.01.01_to2010.12.31' (539/757)
    The Number of articles:    1
    [_제너셈_from2010.01.01_to2010.12.31]_ from'0' to '0' (df2): successfully Saved
 * Unit: '_제너시스템즈_from2010.01.01_to2010.12.31' (540/757)
    The Number of articles:    325
    [_제너시스템즈_from2010.01.01_to2010.12.31]_ from'0' to '324' (df2): successfully Saved
 * Unit: '_제넥신_from2010.01.01_to2010.12.31' (541/757)
    The Number of articles:    125
    [_제넥신_from2010.01.01_to2010.12.31]_ from'0' to '124' (df2): successfully Saved
 * Unit: '_제노포커스_from2010.01.01_to2010.12.31' (542/757)
    No articles to scrap for "_제노포커스_from2010.01.01_to2010.12.31"
 * Unit: '_제닉_from2010.01.01_to2010.12.31' (543/757)
    The Number of articles:    303
    [_제닉_from2010.01.01_to2010.12.31]_ from'0' to '302' (df2): successfully Saved
 * Unit: '_제로원인터랙티브_from2010.01.01_to2010.12.31' (544/757)
    The Number of articles:    153
    [_제로원인터랙티브_from2010.01.01_to2010.12.31]_ from'0' to '152' (df2): successfully Saved
 * Unit: '_제로투세븐_from2010.01.01_to2010.12.31' (545/757)
    The Number of articles:    71
    [_제로투세븐_from2010.01.01_to2010.12.31]_ from'0' to '70' (df2): successfully Saved
 * Unit: '_제룡산업_from2010.01.01_to2010.12.31' (546/757)
    The Number of articles:    422
    [_제룡산업_from2010.01.01_to2010.12.31]_ from'0' to '421' (df2): successfully Saved
 * Unit: '_제우스_from2010.01.01_to2010.12.31' (547/757)
    The Number of articles:    849
    [_제우스_from2010.01.01_to2010.12.31]_ from'0' to '848' (df2): successfully Saved

 * Unit: '_제이스테판_from2010.01.01_to2010.12.31' (548/757)
    No articles to scrap for "_제이스테판_from2010.01.01_to2010.12.31"
 * Unit: '_제이스텍_from2010.01.01_to2010.12.31' (549/757)
    No articles to scrap for "_제이스텍_from2010.01.01_to2010.12.31"
 * Unit: '_제이씨케미칼_from2010.01.01_to2010.12.31' (550/757)
    No articles to scrap for "_제이씨케미칼_from2010.01.01_to2010.12.31"
 * Unit: '_제이앤유글로벌_from2010.01.01_to2010.12.31' (551/757)
    No articles to scrap for "_제이앤유글로벌_from2010.01.01_to2010.12.31"
 * Unit: '_제이엔케이히터_from2010.01.01_to2010.12.31' (552/757)
    The Number of articles:    18
    [_제이엔케이히터_from2010.01.01_to2010.12.31]_ from'0' to '17' (df2): successfully Saved
 * Unit: '_제이엠티_from2010.01.01_to2010.12.31' (553/757)
    The Number of articles:    44
    [_제이엠티_from2010.01.01_to2010.12.31]_ from'0' to '43' (df2): successfully Saved
 * Unit: '_제이준코스메틱_from2011.01.01_to2011.12.31' (554/757)
    No articles to scrap for "_제이준코스메틱_from2011.01.01_to2011.12.31"
 * Unit: '_제일약품_from2011.01.01_to2010.12.31' (555/757)
    The Number of articles:    1
    [_제일약품_from2011.01.01_to2010.12.31]_ from'0' to '0' (df2): successfully Saved
 * Unit: '_제주반도체_from2010.01.01_to2010.12.31' (556/757)
    No articles to scrap for "_제주반도체_from2010.01.01_to2010.12.31"
 * Unit: '_제주항공_from2010.01.01_to2010.12.31' (557/757)
    The Number of articles:    1746
    [_제주항공_from2010.01.01_to2010.12.31]_ from'0' to '999' (df2): successfully Saved
    [_제주항공_from2010.01.01_to2010.12.31]_ from'1000' to '1745' (df2): successfully Saved
 * Unit: '_젬백스_from2010.01.01_to2010.12.31' (558/757)
    The Number of articles:    764
    [_젬백스_from2010.01.01_to2010.12.31]_ from'0' to '763' (df2): successfully Saved
 * Unit: '_조광페인트_from2011.01.01_to2011.12.31' (559/757)
    The Number of articles:    59
    [_조광페인트_from2011.01.01_to2011.12.31]_ from'0' to '58' (df2): successfully Saved
 * Unit: '_조광피혁_from2011.01.01_to2011.12.31' (560/757)
    The Number of articles:    94
    [_조광피혁_from2011.01.01_to2011.12.31]_ from'0' to '93' (df2): successfully Saved
 * Unit: '_조비_from2011.01.01_to2011.12.31' (561/757)
    The Number of articles:    490
    [_조비_from2011.01.01_to2011.12.31]_ from'0' to '489' (df2): successfully Saved
 * Unit: '_조선선재_from2010.01.01_to2010.12.31' (562/757)
    The Number of articles:    1233
    [_조선선재_from2010.01.01_to2010.12.31]_ from'0' to '999' (df2): successfully Saved
    [_조선선재_from2010.01.01_to2010.12.31]_ from'1000' to '1232' (df2): successfully Saved
 * Unit: '_조이맥스_from2010.01.01_to2010.12.31' (563/757)
    The Number of articles:    436
    [_조이맥스_from2010.01.01_to2010.12.31]_ from'0' to '435' (df2): successfully Saved
 * Unit: '_종근당_from2010.01.01_to2010.12.31' (564/757)
    The Number of articles:    1149
    [_종근당_from2010.01.01_to2010.12.31]_ from'0' to '999' (df2): successfully Saved
    [_종근당_from2010.01.01_to2010.12.31]_ from'1000' to '1148' (df2): successfully Saved
 * Unit: '_종근당바이오_from2010.01.01_to2010.12.31' (565/757)
    The Number of articles:    136
    [_종근당바이오_from2010.01.01_to2010.12.31]_ from'0' to '135' (df2): successfully Saved
 * Unit: '_종근당홀딩스_from2011.01.01_to2010.12.31' (566/757)
    No articles to scrap for "_종근당홀딩스_from2011.01.01_to2010.12.31"
 * Unit: '_지디_from2010.01.01_to2010.12.31' (567/757)
    The Number of articles:    132
    [_지디_from2010.01.01_to2010.12.31]_ from'0' to '131' (df2): successfully Saved
 * Unit: '_지스마트글로벌_from2010.01.01_to2010.12.31' (568/757)
    No articles to scrap for "_지스마트글로벌_from2010.01.01_to2010.12.31"
 * Unit: '_지엔씨에너지_from2010.01.01_to2010.12.31' (569/757)
    The Number of articles:    5
    [_지엔씨에너지_from2010.01.01_to2010.12.31]_ from'0' to '4' (df2): successfully Saved
 * Unit: '_지트리비앤티_from2010.01.01_to2010.12.31' (570/757)
    No articles to scrap for "_지트리비앤티_from2010.01.01_to2010.12.31"
 * Unit: '_진도_from2010.01.01_to2010.12.31' (571/757)
    The Number of articles:    2985
    [_진도_from2010.01.01_to2010.12.31]_ from'0' to '999' (df2): successfully Saved
    [_진도_from2010.01.01_to2010.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_진도_from2010.01.01_to2010.12.31]_ from'2000' to '2984' (df2): successfully Saved
 * Unit: '_진매트릭스_from2010.01.01_to2010.12.31' (572/757)
    The Number of articles:    59
    [_진매트릭스_from2010.01.01_to2010.12.31]_ from'0' to '58' (df2): successfully Saved
 * Unit: '_진바이오텍_from2010.01.01_to2010.12.31' (573/757)
    The Number of articles:    47
    [_진바이오텍_from2010.01.01_to2010.12.31]_ from'0' to '46' (df2): successfully Saved
 * Unit: '_진양홀딩스_from2010.01.01_to2010.12.31' (574/757)
    The Number of articles:    104
    [_진양홀딩스_from2010.01.01_to2010.12.31]_ from'0' to '103' (df2): successfully Saved
 * Unit: '_진양화학_from2010.01.01_to2010.12.31' (575/757)
    The Number of articles:    53
    [_진양화학_from2010.01.01_to2010.12.31]_ from'0' to '52' (df2): successfully Saved
 * Unit: '_차바이오텍_from2010.01.01_to2010.12.31' (576/757)
    The Number of articles:    35
    [_차바이오텍_from2010.01.01_to2010.12.31]_ from'0' to '34' (df2): successfully Saved
 * Unit: '_차이나그레이트_from2010.01.01_to2010.12.31' (577/757)
    The Number of articles:    634
    [_차이나그레이트_from2010.01.01_to2010.12.31]_ from'0' to '633' (df2): successfully Saved
 * Unit: '_차이나하오란_from2010.01.01_to2010.12.31' (578/757)
    The Number of articles:    652
    [_차이나하오란_from2010.01.01_to2010.12.31]_ from'0' to '651' (df2): successfully Saved
 * Unit: '_참좋은레져_from2010.01.01_to2010.12.31' (579/757)
    The Number of articles:    101
    [_참좋은레져_from2010.01.01_to2010.12.31]_ from'0' to '100' (df2): successfully Saved
 * Unit: '_처음앤씨_from2010.01.01_to2010.12.31' (580/757)
    The Number of articles:    309
    [_처음앤씨_from2010.01.01_to2010.12.31]_ from'0' to '308' (df2): successfully Saved
 * Unit: '_청담러닝_from2010.01.01_to2010.12.31' (581/757)
    The Number of articles:    358
    [_청담러닝_from2010.01.01_to2010.12.31]_ from'0' to '357' (df2): successfully Saved
 * Unit: '_칩스앤미디어_from2010.01.01_to2010.12.31' (582/757)
    The Number of articles:    1
    [_칩스앤미디어_from2010.01.01_to2010.12.31]_ from'0' to '0' (df2): successfully Saved
 * Unit: '_카프로_from2011.01.01_to2011.12.31' (583/757)
    The Number of articles:    468
    [_카프로_from2011.01.01_to2011.12.31]_ from'0' to '467' (df2): successfully Saved
 * Unit: '_컴투스_from2010.01.01_to2010.12.31' (584/757)
    The Number of articles:    1698
    [_컴투스_from2010.01.01_to2010.12.31]_ from'0' to '999' (df2): successfully Saved
    [_컴투스_from2010.01.01_to2010.12.31]_ from'1000' to '1697' (df2): successfully Saved
 * Unit: '_케어젠_from2010.01.01_to2010.12.31' (585/757)
    The Number of articles:    4
    [_케어젠_from2010.01.01_to2010.12.31]_ from'0' to '3' (df2): successfully Saved
 * Unit: '_케이디세코_from2010.01.01_to2010.12.31' (586/757)
    The Number of articles:    7
    [_케이디세코_from2010.01.01_to2010.12.31]_ from'0' to '6' (df2): successfully Saved
 * Unit: '_케이맥_from2010.01.01_to2010.12.31' (587/757)
    The Number of articles:    148
    [_케이맥_from2010.01.01_to2010.12.31]_ from'0' to '147' (df2): successfully Saved
 * Unit: '_케이사인_from2010.01.01_to2010.12.31' (588/757)
    The Number of articles:    6
    [_케이사인_from2010.01.01_to2010.12.31]_ from'0' to '5' (df2): successfully Saved
 * Unit: '_케이씨에스_from2010.01.01_to2010.12.31' (589/757)
    The Number of articles:    214
    [_케이씨에스_from2010.01.01_to2010.12.31]_ from'0' to '213' (df2): successfully Saved
 * Unit: '_케이씨텍_from2011.01.01_to2011.12.31' (590/757)
    The Number of articles:    409
    [_케이씨텍_from2011.01.01_to2011.12.31]_ from'0' to '408' (df2): successfully Saved
 * Unit: '_케이씨티_from2010.01.01_to2010.12.31' (591/757)
    The Number of articles:    1
    [_케이씨티_from2010.01.01_to2010.12.31]_ from'0' to '0' (df2): successfully Saved
 * Unit: '_케이아이엔엑스_from2010.01.01_to2010.12.31' (592/757)
    The Number of articles:    60
    [_케이아이엔엑스_from2010.01.01_to2010.12.31]_ from'0' to '59' (df2): successfully Saved
 * Unit: '_케이에스알_from2010.01.01_to2010.12.31' (593/757)
    The Number of articles:    139
    [_케이에스알_from2010.01.01_to2010.12.31]_ from'0' to '138' (df2): successfully Saved

 * Unit: '_케이에스피_from2010.01.01_to2010.12.31' (594/757)
    The Number of articles:    295
    [_케이에스피_from2010.01.01_to2010.12.31]_ from'0' to '294' (df2): successfully Saved
 * Unit: '_케이엔더블유_from2010.01.01_to2010.12.31' (595/757)
    The Number of articles:    74
    [_케이엔더블유_from2010.01.01_to2010.12.31]_ from'0' to '73' (df2): successfully Saved
 * Unit: '_케이이엔지_from2010.01.01_to2010.12.31' (596/757)
    The Number of articles:    4
    [_케이이엔지_from2010.01.01_to2010.12.31]_ from'0' to '3' (df2): successfully Saved
 * Unit: '_케이티스_from2010.01.01_to2010.12.31' (597/757)
    The Number of articles:    797
    [_케이티스_from2010.01.01_to2010.12.31]_ from'0' to '796' (df2): successfully Saved
 * Unit: '_켐트로닉스_from2010.01.01_to2010.12.31' (598/757)
    The Number of articles:    219
    [_켐트로닉스_from2010.01.01_to2010.12.31]_ from'0' to '218' (df2): successfully Saved
 * Unit: '_코닉글로리_from2010.01.01_to2010.12.31' (599/757)
    The Number of articles:    140
    [_코닉글로리_from2010.01.01_to2010.12.31]_ from'0' to '139' (df2): successfully Saved
 * Unit: '_코디엠_from2010.01.01_to2010.12.31' (600/757)
    No articles to scrap for "_코디엠_from2010.01.01_to2010.12.31"
 * Unit: '_코렌_from2010.01.01_to2010.12.31' (601/757)
    The Number of articles:    469
    [_코렌_from2010.01.01_to2010.12.31]_ from'0' to '468' (df2): successfully Saved
 * Unit: '_코렌텍_from2010.01.01_to2010.12.31' (602/757)
    The Number of articles:    32
    [_코렌텍_from2010.01.01_to2010.12.31]_ from'0' to '31' (df2): successfully Saved
 * Unit: '_코리아에스이_from2010.01.01_to2010.12.31' (603/757)
    The Number of articles:    46
    [_코리아에스이_from2010.01.01_to2010.12.31]_ from'0' to '45' (df2): successfully Saved
 * Unit: '_코리아에프티_from2010.01.01_to2010.12.31' (604/757)
    The Number of articles:    3
    [_코리아에프티_from2010.01.01_to2010.12.31]_ from'0' to '2' (df2): successfully Saved
 * Unit: '_코리아오토글라스_from2010.01.01_to2010.12.31' (605/757)
    The Number of articles:    14
    [_코리아오토글라스_from2010.01.01_to2010.12.31]_ from'0' to '13' (df2): successfully Saved
 * Unit: '_코미코_from2010.01.01_to2010.12.31' (606/757)
    The Number of articles:    132
    [_코미코_from2010.01.01_to2010.12.31]_ from'0' to '131' (df2): successfully Saved
 * Unit: '_코스맥스비티아이_from2011.01.01_to2011.12.31' (607/757)
    No articles to scrap for "_코스맥스비티아이_from2011.01.01_to2011.12.31"
 * Unit: '_코스메카코리아_from2010.01.01_to2010.12.31' (608/757)
    The Number of articles:    12
    [_코스메카코리아_from2010.01.01_to2010.12.31]_ from'0' to '11' (df2): successfully Saved
 * Unit: '_코스온_from2010.01.01_to2010.12.31' (609/757)
    No articles to scrap for "_코스온_from2010.01.01_to2010.12.31"
 * Unit: '_코아스_from2011.01.01_to2011.12.31' (610/757)
    The Number of articles:    148
    [_코아스_from2011.01.01_to2011.12.31]_ from'0' to '147' (df2): successfully Saved
 * Unit: '_코아스템_from2010.01.01_to2010.12.31' (611/757)
    The Number of articles:    4
    [_코아스템_from2010.01.01_to2010.12.31]_ from'0' to '3' (df2): successfully Saved
 * Unit: '_코오롱_from2011.01.01_to2011.12.31' (612/757)
    The Number of articles:    2721
    [_코오롱_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_코오롱_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_코오롱_from2011.01.01_to2011.12.31]_ from'2000' to '2720' (df2): successfully Saved
 * Unit: '_코오롱머티리얼_from2010.01.01_to2010.12.31' (613/757)
    No articles to scrap for "_코오롱머티리얼_from2010.01.01_to2010.12.31"
 * Unit: '_코오롱생명과학_from2010.01.01_to2010.12.31' (614/757)
    The Number of articles:    263
    [_코오롱생명과학_from2010.01.01_to2010.12.31]_ from'0' to '262' (df2): successfully Saved
 * Unit: '_코오롱인더_from2010.01.01_to2010.12.31' (615/757)
    The Number of articles:    481
    [_코오롱인더_from2010.01.01_to2010.12.31]_ from'0' to '480' (df2): successfully Saved
 * Unit: '_코위버_from2010.01.01_to2010.12.31' (616/757)
    The Number of articles:    84
    [_코위버_from2010.01.01_to2010.12.31]_ from'0' to '83' (df2): successfully Saved
 * Unit: '_코이즈_from2010.01.01_to2010.12.31' (617/757)
    The Number of articles:    4
    [_코이즈_from2010.01.01_to2010.12.31]_ from'0' to '3' (df2): successfully Saved
 * Unit: '_코프라_from2010.01.01_to2010.12.31' (618/757)
    The Number of articles:    115
    [_코프라_from2010.01.01_to2010.12.31]_ from'0' to '114' (df2): successfully Saved
 * Unit: '_콤텍시스템_from2011.01.01_to2011.12.31' (619/757)
    The Number of articles:    91
    [_콤텍시스템_from2011.01.01_to2011.12.31]_ from'0' to '90' (df2): successfully Saved
 * Unit: '_큐리언트_from2010.01.01_to2010.12.31' (620/757)
    No articles to scrap for "_큐리언트_from2010.01.01_to2010.12.31"
 * Unit: '_큐브엔터_from2010.01.01_to2010.12.31' (621/757)
    The Number of articles:    39
    [_큐브엔터_from2010.01.01_to2010.12.31]_ from'0' to '38' (df2): successfully Saved
 * Unit: '_큐에스아이_from2010.01.01_to2010.12.31' (622/757)
    The Number of articles:    42
    [_큐에스아이_from2010.01.01_to2010.12.31]_ from'0' to '41' (df2): successfully Saved
 * Unit: '_크라운해태홀딩스_from2011.01.01_to2011.12.31' (623/757)
    No articles to scrap for "_크라운해태홀딩스_from2011.01.01_to2011.12.31"
 * Unit: '_크루셜텍_from2010.01.01_to2010.12.31' (624/757)
    The Number of articles:    789
    [_크루셜텍_from2010.01.01_to2010.12.31]_ from'0' to '788' (df2): successfully Saved
 * Unit: '_크리스탈_from2010.01.01_to2010.12.31' (625/757)
    The Number of articles:    2014
    [_크리스탈_from2010.01.01_to2010.12.31]_ from'0' to '999' (df2): successfully Saved
    [_크리스탈_from2010.01.01_to2010.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_크리스탈_from2010.01.01_to2010.12.31]_ from'2000' to '2013' (df2): successfully Saved
 * Unit: '_크리스탈신소재_from2010.01.01_to2010.12.31' (626/757)
    No articles to scrap for "_크리스탈신소재_from2010.01.01_to2010.12.31"
 * Unit: '_클루넷_from2010.01.01_to2010.12.31' (627/757)
    The Number of articles:    593
    [_클루넷_from2010.01.01_to2010.12.31]_ from'0' to '592' (df2): successfully Saved
 * Unit: '_클리오_from2010.01.01_to2010.12.31' (628/757)
    The Number of articles:    430
    [_클리오_from2010.01.01_to2010.12.31]_ from'0' to '429' (df2): successfully Saved
 * Unit: '_타이거일렉_from2010.01.01_to2010.12.31' (629/757)
    No articles to scrap for "_타이거일렉_from2010.01.01_to2010.12.31"
 * Unit: '_태경산업_from2011.01.01_to2011.12.31' (630/757)
    The Number of articles:    90
    [_태경산업_from2011.01.01_to2011.12.31]_ from'0' to '89' (df2): successfully Saved
 * Unit: '_태광산업_from2011.01.01_to2011.12.31' (631/757)
    The Number of articles:    950
    [_태광산업_from2011.01.01_to2011.12.31]_ from'0' to '949' (df2): successfully Saved
 * Unit: '_태림포장_from2011.01.01_to2011.12.31' (632/757)
    The Number of articles:    69
    [_태림포장_from2011.01.01_to2011.12.31]_ from'0' to '68' (df2): successfully Saved
 * Unit: '_태평양물산_from2011.01.01_to2011.12.31' (633/757)
    The Number of articles:    150
    [_태평양물산_from2011.01.01_to2011.12.31]_ from'0' to '149' (df2): successfully Saved
 * Unit: '_테고사이언스_from2010.01.01_to2010.12.31' (634/757)
    The Number of articles:    9
    [_테고사이언스_from2010.01.01_to2010.12.31]_ from'0' to '8' (df2): successfully Saved
 * Unit: '_테라세미콘_from2010.01.01_to2010.12.31' (635/757)
    The Number of articles:    8
    [_테라세미콘_from2010.01.01_to2010.12.31]_ from'0' to '7' (df2): successfully Saved
 * Unit: '_테라셈_from2010.01.01_to2010.12.31' (636/757)
    The Number of articles:    1
    [_테라셈_from2010.01.01_to2010.12.31]_ from'0' to '0' (df2): successfully Saved
 * Unit: '_테스_from2010.01.01_to2010.12.31' (637/757)
    The Number of articles:    1310
    [_테스_from2010.01.01_to2010.12.31]_ from'0' to '999' (df2): successfully Saved
    [_테스_from2010.01.01_to2010.12.31]_ from'1000' to '1309' (df2): successfully Saved
 * Unit: '_테스나_from2010.01.01_to2010.12.31' (638/757)
    The Number of articles:    3
    [_테스나_from2010.01.01_to2010.12.31]_ from'0' to '2' (df2): successfully Saved
 * Unit: '_테이크시스템_from2010.01.01_to2010.12.31' (639/757)
    The Number of articles:    80
    [_테이크시스템_from2010.01.01_to2010.12.31]_ from'0' to '79' (df2): successfully Saved
 * Unit: '_테크윙_from2010.01.01_to2010.12.31' (640/757)
    The Number of articles:    40

    [_테크윙_from2010.01.01_to2010.12.31]_ from'0' to '39' (df2): successfully Saved
 * Unit: '_텔레필드_from2010.01.01_to2010.12.31' (641/757)
    The Number of articles:    46
    [_텔레필드_from2010.01.01_to2010.12.31]_ from'0' to '45' (df2): successfully Saved
 * Unit: '_텔코웨어_from2010.01.01_to2010.12.31' (642/757)
    The Number of articles:    114
    [_텔코웨어_from2010.01.01_to2010.12.31]_ from'0' to '113' (df2): successfully Saved
 * Unit: '_텔콘_from2010.01.01_to2010.12.31' (643/757)
    The Number of articles:    3
    [_텔콘_from2010.01.01_to2010.12.31]_ from'0' to '2' (df2): successfully Saved
 * Unit: '_토니모리_from2010.01.01_to2010.12.31' (644/757)
    The Number of articles:    219
    [_토니모리_from2010.01.01_to2010.12.31]_ from'0' to '218' (df2): successfully Saved
 * Unit: '_톱텍_from2010.01.01_to2010.12.31' (645/757)
    The Number of articles:    490
    [_톱텍_from2010.01.01_to2010.12.31]_ from'0' to '489' (df2): successfully Saved
 * Unit: '_투미비티_from2010.01.01_to2010.12.31' (646/757)
    The Number of articles:    169
    [_투미비티_from2010.01.01_to2010.12.31]_ from'0' to '168' (df2): successfully Saved
 * Unit: '_투비소프트_from2010.01.01_to2010.12.31' (647/757)
    The Number of articles:    450
    [_투비소프트_from2010.01.01_to2010.12.31]_ from'0' to '449' (df2): successfully Saved
 * Unit: '_트루윈_from2010.01.01_to2010.12.31' (648/757)
    The Number of articles:    8
    [_트루윈_from2010.01.01_to2010.12.31]_ from'0' to '7' (df2): successfully Saved
 * Unit: '_티엘아이_from2010.01.01_to2010.12.31' (649/757)
    The Number of articles:    752
    [_티엘아이_from2010.01.01_to2010.12.31]_ from'0' to '751' (df2): successfully Saved
 * Unit: '_티케이케미칼_from2010.01.01_to2010.12.31' (650/757)
    The Number of articles:    55
    [_티케이케미칼_from2010.01.01_to2010.12.31]_ from'0' to '54' (df2): successfully Saved
 * Unit: '_티플랙스_from2010.01.01_to2010.12.31' (651/757)
    The Number of articles:    78
    [_티플랙스_from2010.01.01_to2010.12.31]_ from'0' to '77' (df2): successfully Saved
 * Unit: '_티피씨글로벌_from2010.01.01_to2010.12.31' (652/757)
    The Number of articles:    2
    [_티피씨글로벌_from2010.01.01_to2010.12.31]_ from'0' to '1' (df2): successfully Saved
 * Unit: '_팀스_from2010.01.01_to2010.12.31' (653/757)
    The Number of articles:    81
    [_팀스_from2010.01.01_to2010.12.31]_ from'0' to '80' (df2): successfully Saved
 * Unit: '_팅크웨어_from2010.01.01_to2010.12.31' (654/757)
    The Number of articles:    1183
    [_팅크웨어_from2010.01.01_to2010.12.31]_ from'0' to '999' (df2): successfully Saved
    [_팅크웨어_from2010.01.01_to2010.12.31]_ from'1000' to '1182' (df2): successfully Saved
 * Unit: '_파마리서치프로덕트_from2010.01.01_to2010.12.31' (655/757)
    No articles to scrap for "_파마리서치프로덕트_from2010.01.01_to2010.12.31"
 * Unit: '_파미셀_from2011.01.01_to2011.12.31' (656/757)
    The Number of articles:    431
    [_파미셀_from2011.01.01_to2011.12.31]_ from'0' to '430' (df2): successfully Saved
 * Unit: '_파버나인_from2010.01.01_to2010.12.31' (657/757)
    The Number of articles:    36
    [_파버나인_from2010.01.01_to2010.12.31]_ from'0' to '35' (df2): successfully Saved
 * Unit: '_파수닷컴_from2010.01.01_to2010.12.31' (658/757)
    The Number of articles:    106
    [_파수닷컴_from2010.01.01_to2010.12.31]_ from'0' to '105' (df2): successfully Saved
 * Unit: '_파이오링크_from2010.01.01_to2010.12.31' (659/757)
    The Number of articles:    38
    [_파이오링크_from2010.01.01_to2010.12.31]_ from'0' to '37' (df2): successfully Saved
 * Unit: '_파인테크닉스_from2010.01.01_to2010.12.31' (660/757)
    The Number of articles:    73
    [_파인테크닉스_from2010.01.01_to2010.12.31]_ from'0' to '72' (df2): successfully Saved
 * Unit: '_파인텍_from2010.01.01_to2010.12.31' (661/757)
    The Number of articles:    91
    [_파인텍_from2010.01.01_to2010.12.31]_ from'0' to '90' (df2): successfully Saved
 * Unit: '_파트론_from2010.01.01_to2010.12.31' (662/757)
    The Number of articles:    847
    [_파트론_from2010.01.01_to2010.12.31]_ from'0' to '846' (df2): successfully Saved
 * Unit: '_파티게임즈_from2010.01.01_to2010.12.31' (663/757)
    No articles to scrap for "_파티게임즈_from2010.01.01_to2010.12.31"
 * Unit: '_팬엔터테인먼트_from2010.01.01_to2010.12.31' (664/757)
    The Number of articles:    160
    [_팬엔터테인먼트_from2010.01.01_to2010.12.31]_ from'0' to '159' (df2): successfully Saved
 * Unit: '_팬오션_from2010.01.01_to2010.12.31' (665/757)
    The Number of articles:    2429
    [_팬오션_from2010.01.01_to2010.12.31]_ from'0' to '999' (df2): successfully Saved
    [_팬오션_from2010.01.01_to2010.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_팬오션_from2010.01.01_to2010.12.31]_ from'2000' to '2428' (df2): successfully Saved
 * Unit: '_팬젠_from2010.01.01_to2010.12.31' (666/757)
    No articles to scrap for "_팬젠_from2010.01.01_to2010.12.31"
 * Unit: '_팬택앤큐리텔_from2010.01.01_to2010.12.31' (667/757)
    The Number of articles:    32
    [_팬택앤큐리텔_from2010.01.01_to2010.12.31]_ from'0' to '31' (df2): successfully Saved
 * Unit: '_페이퍼코리아_from2011.01.01_to2011.12.31' (668/757)
    The Number of articles:    107
    [_페이퍼코리아_from2011.01.01_to2011.12.31]_ from'0' to '106' (df2): successfully Saved
 * Unit: '_평화산업_from2010.01.01_to2010.12.31' (669/757)
    The Number of articles:    145
    [_평화산업_from2010.01.01_to2010.12.31]_ from'0' to '144' (df2): successfully Saved
 * Unit: '_포스코대우_from2010.01.01_to2010.12.31' (670/757)
    The Number of articles:    17
    [_포스코대우_from2010.01.01_to2010.12.31]_ from'0' to '16' (df2): successfully Saved
 * Unit: '_포시에스_from2010.01.01_to2010.12.31' (671/757)
    The Number of articles:    54
    [_포시에스_from2010.01.01_to2010.12.31]_ from'0' to '53' (df2): successfully Saved
 * Unit: '_포티스_from2010.01.01_to2010.12.31' (672/757)
    The Number of articles:    85
    [_포티스_from2010.01.01_to2010.12.31]_ from'0' to '84' (df2): successfully Saved
 * Unit: '_푸른기술_from2010.01.01_to2010.12.31' (673/757)
    The Number of articles:    29
    [_푸른기술_from2010.01.01_to2010.12.31]_ from'0' to '28' (df2): successfully Saved
 * Unit: '_풀무원_from2011.01.01_to2011.12.31' (674/757)
    The Number of articles:    2917
    [_풀무원_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_풀무원_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_풀무원_from2011.01.01_to2011.12.31]_ from'2000' to '2916' (df2): successfully Saved
 * Unit: '_풍산_from2010.01.01_to2010.12.31' (675/757)
    The Number of articles:    2500
    [_풍산_from2010.01.01_to2010.12.31]_ from'0' to '999' (df2): successfully Saved
    [_풍산_from2010.01.01_to2010.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_풍산_from2010.01.01_to2010.12.31]_ from'2000' to '2499' (df2): successfully Saved
 * Unit: '_퓨전데이타_from2010.01.01_to2010.12.31' (676/757)
    The Number of articles:    1
    [_퓨전데이타_from2010.01.01_to2010.12.31]_ from'0' to '0' (df2): successfully Saved
 * Unit: '_퓨쳐켐_from2010.01.01_to2010.12.31' (677/757)
    The Number of articles:    2
    [_퓨쳐켐_from2010.01.01_to2010.12.31]_ from'0' to '1' (df2): successfully Saved
 * Unit: '_플랜티넷_from2010.01.01_to2010.12.31' (678/757)
    The Number of articles:    132
    [_플랜티넷_from2010.01.01_to2010.12.31]_ from'0' to '131' (df2): successfully Saved
 * Unit: '_피씨엘_from2010.01.01_to2010.12.31' (679/757)
    No articles to scrap for "_피씨엘_from2010.01.01_to2010.12.31"
 * Unit: '_피앤씨테크_from2010.01.01_to2010.12.31' (680/757)
    The Number of articles:    1
    [_피앤씨테크_from2010.01.01_to2010.12.31]_ from'0' to '0' (df2): successfully Saved
 * Unit: '_피앤이솔루션_from2010.01.01_to2010.12.31' (681/757)
    The Number of articles:    19
    [_피앤이솔루션_from2010.01.01_to2010.12.31]_ from'0' to '18' (df2): successfully Saved
 * Unit: '_피엔티_from2010.01.01_to2010.12.31' (682/757)
    The Number of articles:    22
    [_피엔티_from2010.01.01_to2010.12.31]_ from'0' to '21' (df2): successfully Saved
 * Unit: '_피엘에이_from2010.01.01_to2010.12.31' (683/757)
    The Number of articles:    234
    [_피엘에이_from2010.01.01_to2010.12.31]_ from'0' to '233' (df2): successfully Saved
 * Unit: '_피제이메탈_from2010.01.01_to2010.12.31' (684/757)
    The Number of articles:    101
    [_피제이메탈_from2010.01.01_to2010.12.31]_ from'0' to '100' (df2): successfully Saved
 * Unit: '_픽셀플러스_from2010.01.01_to2010.12.31' (685/757)

    The Number of articles:    9
    [_픽셀플러스_from2010.01.01_to2010.12.31]_ from'0' to '8' (df2): successfully Saved
 * Unit: '_필링크_from2010.01.01_to2010.12.31' (686/757)
    The Number of articles:    248
    [_필링크_from2010.01.01_to2010.12.31]_ from'0' to '247' (df2): successfully Saved
 * Unit: '_필옵틱스_from2010.01.01_to2010.12.31' (687/757)
    No articles to scrap for "_필옵틱스_from2010.01.01_to2010.12.31"
 * Unit: '_하나마이크론_from2010.01.01_to2010.12.31' (688/757)
    The Number of articles:    439
    [_하나마이크론_from2010.01.01_to2010.12.31]_ from'0' to '438' (df2): successfully Saved
 * Unit: '_하나머티리얼즈_from2010.01.01_to2010.12.31' (689/757)
    No articles to scrap for "_하나머티리얼즈_from2010.01.01_to2010.12.31"
 * Unit: '_하림_from2010.01.01_to2010.12.31' (690/757)
    The Number of articles:    1466
    [_하림_from2010.01.01_to2010.12.31]_ from'0' to '999' (df2): successfully Saved
    [_하림_from2010.01.01_to2010.12.31]_ from'1000' to '1465' (df2): successfully Saved
 * Unit: '_하이럭스_from2010.01.01_to2010.12.31' (691/757)
    The Number of articles:    20
    [_하이럭스_from2010.01.01_to2010.12.31]_ from'0' to '19' (df2): successfully Saved
 * Unit: '_하이로닉_from2010.01.01_to2010.12.31' (692/757)
    No articles to scrap for "_하이로닉_from2010.01.01_to2010.12.31"
 * Unit: '_하이비젼시스템_from2010.01.01_to2010.12.31' (693/757)
    The Number of articles:    2
    [_하이비젼시스템_from2010.01.01_to2010.12.31]_ from'0' to '1' (df2): successfully Saved
 * Unit: '_하이셈_from2010.01.01_to2010.12.31' (694/757)
    The Number of articles:    10
    [_하이셈_from2010.01.01_to2010.12.31]_ from'0' to '9' (df2): successfully Saved
 * Unit: '_하이스틸_from2010.01.01_to2010.12.31' (695/757)
    The Number of articles:    51
    [_하이스틸_from2010.01.01_to2010.12.31]_ from'0' to '50' (df2): successfully Saved
 * Unit: '_하이즈항공_from2010.01.01_to2010.12.31' (696/757)
    The Number of articles:    7
    [_하이즈항공_from2010.01.01_to2010.12.31]_ from'0' to '6' (df2): successfully Saved
 * Unit: '_하이텍팜_from2010.01.01_to2010.12.31' (697/757)
    The Number of articles:    238
    [_하이텍팜_from2010.01.01_to2010.12.31]_ from'0' to '237' (df2): successfully Saved
 * Unit: '_하이트진로_from2011.01.01_to2011.12.31' (698/757)
    The Number of articles:    1469
    [_하이트진로_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_하이트진로_from2011.01.01_to2011.12.31]_ from'1000' to '1468' (df2): successfully Saved
 * Unit: '_하이트진로홀딩스_from2011.01.01_to2011.12.31' (699/757)
    No articles to scrap for "_하이트진로홀딩스_from2011.01.01_to2011.12.31"
 * Unit: '_한국가스공사_from2011.01.01_to2011.12.31' (700/757)
    The Number of articles:    2624
    [_한국가스공사_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_한국가스공사_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_한국가스공사_from2011.01.01_to2011.12.31]_ from'2000' to '2623' (df2): successfully Saved
 * Unit: '_한국맥널티_from2010.01.01_to2010.12.31' (701/757)
    The Number of articles:    7
    [_한국맥널티_from2010.01.01_to2010.12.31]_ from'0' to '6' (df2): successfully Saved
 * Unit: '_한국전자금융_from2010.01.01_to2010.12.31' (702/757)
    The Number of articles:    98
    [_한국전자금융_from2010.01.01_to2010.12.31]_ from'0' to '97' (df2): successfully Saved
 * Unit: '_한국제지_from2011.01.01_to2011.12.31' (703/757)
    The Number of articles:    215
    [_한국제지_from2011.01.01_to2011.12.31]_ from'0' to '214' (df2): successfully Saved
 * Unit: '_한국철강_from2010.01.01_to2010.12.31' (704/757)
    The Number of articles:    869
    [_한국철강_from2010.01.01_to2010.12.31]_ from'0' to '868' (df2): successfully Saved
    >>> [_한국철강_from2010.01.01_to2010.12.31]_ from'0' to '868' (df2): failed to export .csv
 * Unit: '_한국콜마_from2010.01.01_to2010.12.31' (705/757)
    The Number of articles:    586
    [_한국콜마_from2010.01.01_to2010.12.31]_ from'0' to '585' (df2): successfully Saved
 * Unit: '_한국타이어_from2010.01.01_to2010.12.31' (706/757)
    The Number of articles:    2682
    [_한국타이어_from2010.01.01_to2010.12.31]_ from'0' to '999' (df2): successfully Saved
    [_한국타이어_from2010.01.01_to2010.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_한국타이어_from2010.01.01_to2010.12.31]_ from'2000' to '2681' (df2): successfully Saved
 * Unit: '_한국화장품_from2010.01.01_to2010.12.31' (707/757)
    The Number of articles:    824
    [_한국화장품_from2010.01.01_to2010.12.31]_ from'0' to '823' (df2): successfully Saved
 * Unit: '_한독_from2011.01.01_to2010.12.31' (708/757)
    The Number of articles:    3
    [_한독_from2011.01.01_to2010.12.31]_ from'0' to '2' (df2): successfully Saved
 * Unit: '_한라IMS_from2010.01.01_to2010.12.31' (709/757)
    The Number of articles:    40
    [_한라IMS_from2010.01.01_to2010.12.31]_ from'0' to '39' (df2): successfully Saved
 * Unit: '_한미사이언스_from2011.01.01_to2010.12.31' (710/757)
    No articles to scrap for "_한미사이언스_from2011.01.01_to2010.12.31"
 * Unit: '_한미약품_from2010.01.01_to2010.12.31' (711/757)
    The Number of articles:    1785
    [_한미약품_from2010.01.01_to2010.12.31]_ from'0' to '999' (df2): successfully Saved
    [_한미약품_from2010.01.01_to2010.12.31]_ from'1000' to '1784' (df2): successfully Saved
 * Unit: '_한섬_from2011.01.01_to2011.12.31' (712/757)
    The Number of articles:    661
    [_한섬_from2011.01.01_to2011.12.31]_ from'0' to '660' (df2): successfully Saved
 * Unit: '_한성기업_from2011.01.01_to2011.12.31' (713/757)
    The Number of articles:    231
    [_한성기업_from2011.01.01_to2011.12.31]_ from'0' to '230' (df2): successfully Saved
 * Unit: '_한세실업_from2010.01.01_to2010.12.31' (714/757)
    The Number of articles:    137
    [_한세실업_from2010.01.01_to2010.12.31]_ from'0' to '136' (df2): successfully Saved
 * Unit: '_한세예스24홀딩스_from2011.01.01_to2011.12.31' (715/757)
    The Number of articles:    381
    [_한세예스24홀딩스_from2011.01.01_to2011.12.31]_ from'0' to '380' (df2): successfully Saved
 * Unit: '_한솔넥스지_from2010.01.01_to2010.12.31' (716/757)
    No articles to scrap for "_한솔넥스지_from2010.01.01_to2010.12.31"
 * Unit: '_한솔시큐어_from2010.01.01_to2010.12.31' (717/757)
    No articles to scrap for "_한솔시큐어_from2010.01.01_to2010.12.31"
 * Unit: '_한솔신텍_from2010.01.01_to2010.12.31' (718/757)
    No articles to scrap for "_한솔신텍_from2010.01.01_to2010.12.31"
 * Unit: '_한솔씨앤피_from2010.01.01_to2010.12.31' (719/757)
    No articles to scrap for "_한솔씨앤피_from2010.01.01_to2010.12.31"
 * Unit: '_한솔인티큐브_from2010.01.01_to2010.12.31' (720/757)
    The Number of articles:    80
    [_한솔인티큐브_from2010.01.01_to2010.12.31]_ from'0' to '79' (df2): successfully Saved
 * Unit: '_한솔홀딩스_from2011.01.01_to2011.12.31' (721/757)
    No articles to scrap for "_한솔홀딩스_from2011.01.01_to2011.12.31"
 * Unit: '_한양디지텍_from2010.01.01_to2010.12.31' (722/757)
    The Number of articles:    266
    [_한양디지텍_from2010.01.01_to2010.12.31]_ from'0' to '265' (df2): successfully Saved
 * Unit: '_한올바이오파마_from2011.01.01_to2011.12.31' (723/757)
    The Number of articles:    481
    [_한올바이오파마_from2011.01.01_to2011.12.31]_ from'0' to '480' (df2): successfully Saved
 * Unit: '_한일진공_from2010.01.01_to2010.12.31' (724/757)
    No articles to scrap for "_한일진공_from2010.01.01_to2010.12.31"
 * Unit: '_한전산업_from2011.01.01_to2011.12.31' (725/757)
    The Number of articles:    576
    [_한전산업_from2011.01.01_to2011.12.31]_ from'0' to '575' (df2): successfully Saved
 * Unit: '_한진중공업_from2010.01.01_to2010.12.31' (726/757)
    The Number of articles:    2758
    [_한진중공업_from2010.01.01_to2010.12.31]_ from'0' to '999' (df2): successfully Saved
    [_한진중공업_from2010.01.01_to2010.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_한진중공업_from2010.01.01_to2010.12.31]_ from'2000' to '2757' (df2): successfully Saved
 * Unit: '_한진칼_from2010.01.01_to2010.12.31' (727/757)
    No articles to scrap for "_한진칼_from2010.01.01_to2010.12.31"
 * Unit: '_한창_from2011.01.01_to2011.12.31' (728/757)
    The Number of articles:    2788
    [_한창_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_한창_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_한창_from2011.01.01_to2011.12.31]_ from'2000' to '2787' (df2): successfully Saved

 * Unit: '_한창제지_from2011.01.01_to2011.12.31' (729/757)
    The Number of articles:    89
    [_한창제지_from2011.01.01_to2011.12.31]_ from'0' to '88' (df2): successfully Saved
 * Unit: '_한통데이타_from2010.01.01_to2010.12.31' (730/757)
    The Number of articles:    7
    [_한통데이타_from2010.01.01_to2010.12.31]_ from'0' to '6' (df2): successfully Saved
 * Unit: '_한화케미칼_from2011.01.01_to2011.12.31' (731/757)
    The Number of articles:    2533
    [_한화케미칼_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_한화케미칼_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_한화케미칼_from2011.01.01_to2011.12.31]_ from'2000' to '2532' (df2): successfully Saved
 * Unit: '_해성옵틱스_from2010.01.01_to2010.12.31' (732/757)
    No articles to scrap for "_해성옵틱스_from2010.01.01_to2010.12.31"
 * Unit: '_해태제과식품_from2010.01.01_to2010.12.31' (733/757)
    The Number of articles:    25
    [_해태제과식품_from2010.01.01_to2010.12.31]_ from'0' to '24' (df2): successfully Saved
 * Unit: '_핸즈코퍼레이션_from2011.01.01_to2011.12.31' (734/757)
    No articles to scrap for "_핸즈코퍼레이션_from2011.01.01_to2011.12.31"
 * Unit: '_헝셩그룹_from2010.01.01_to2010.12.31' (735/757)
    No articles to scrap for "_헝셩그룹_from2010.01.01_to2010.12.31"
 * Unit: '_현대EP_from2010.01.01_to2010.12.31' (736/757)
    The Number of articles:    175
    [_현대EP_from2010.01.01_to2010.12.31]_ from'0' to '174' (df2): successfully Saved
 * Unit: '_현대글로비스_from2010.01.01_to2010.12.31' (737/757)
    The Number of articles:    14
    [_현대글로비스_from2010.01.01_to2010.12.31]_ from'0' to '13' (df2): successfully Saved
 * Unit: '_현대백화점_from2010.01.01_to2010.12.31' (738/757)
    The Number of articles:    2879
    [_현대백화점_from2010.01.01_to2010.12.31]_ from'0' to '999' (df2): successfully Saved
    [_현대백화점_from2010.01.01_to2010.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_현대백화점_from2010.01.01_to2010.12.31]_ from'2000' to '2878' (df2): successfully Saved
 * Unit: '_현대아이비티_from2010.01.01_to2010.12.31' (739/757)
    No articles to scrap for "_현대아이비티_from2010.01.01_to2010.12.31"
 * Unit: '_현대홈쇼핑_from2010.01.01_to2010.12.31' (740/757)
    The Number of articles:    2369
    [_현대홈쇼핑_from2010.01.01_to2010.12.31]_ from'0' to '999' (df2): successfully Saved
    [_현대홈쇼핑_from2010.01.01_to2010.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_현대홈쇼핑_from2010.01.01_to2010.12.31]_ from'2000' to '2368' (df2): successfully Saved
 * Unit: '_현성바이탈_from2010.01.01_to2010.12.31' (741/757)
    No articles to scrap for "_현성바이탈_from2010.01.01_to2010.12.31"
 * Unit: '_형지엘리트_from2010.01.01_to2010.12.31' (742/757)
    No articles to scrap for "_형지엘리트_from2010.01.01_to2010.12.31"
 * Unit: '_호전실업_from2011.01.01_to2011.12.31' (743/757)
    No articles to scrap for "_호전실업_from2011.01.01_to2011.12.31"
 * Unit: '_홈캐스트_from2010.01.01_to2010.12.31' (744/757)
    The Number of articles:    121
    [_홈캐스트_from2010.01.01_to2010.12.31]_ from'0' to '120' (df2): successfully Saved
 * Unit: '_화승알앤에이_from2011.01.01_to2011.12.31' (745/757)
    The Number of articles:    151
    [_화승알앤에이_from2011.01.01_to2011.12.31]_ from'0' to '150' (df2): successfully Saved
 * Unit: '_화신정공_from2010.01.01_to2010.12.31' (746/757)
    The Number of articles:    8
    [_화신정공_from2010.01.01_to2010.12.31]_ from'0' to '7' (df2): successfully Saved
 * Unit: '_화인베스틸_from2010.01.01_to2010.12.31' (747/757)
    The Number of articles:    13
    [_화인베스틸_from2010.01.01_to2010.12.31]_ from'0' to '12' (df2): successfully Saved
 * Unit: '_황금에스티_from2011.01.01_to2011.12.31' (748/757)
    The Number of articles:    107
    [_황금에스티_from2011.01.01_to2011.12.31]_ from'0' to '106' (df2): successfully Saved
 * Unit: '_효성_from2011.01.01_to2011.12.31' (749/757)
    The Number of articles:    2772
    [_효성_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_효성_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_효성_from2011.01.01_to2011.12.31]_ from'2000' to '2771' (df2): successfully Saved
 * Unit: '_후성_from2010.01.01_to2010.12.31' (750/757)

 *** UnexpectedException ocurred: ***************************

  ========= 2 times of iteration: 1012 files left to go
 * Unit: '_3R_from2011.01.01_to2011.12.31' (1/1012)
    The Number of articles:    1865
    [_3R_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_3R_from2011.01.01_to2011.12.31]_ from'1000' to '1864' (df2): successfully Saved
 * Unit: '_AD모터스_from2011.01.01_to2011.12.31' (2/1012)
    The Number of articles:    670
    [_AD모터스_from2011.01.01_to2011.12.31]_ from'0' to '669' (df2): successfully Saved
 * Unit: '_AJS_from2011.01.01_to2011.12.31' (3/1012)
    The Number of articles:    451
    [_AJS_from2011.01.01_to2011.12.31]_ from'0' to '450' (df2): successfully Saved
 * Unit: '_AK홀딩스_from2011.01.01_to2011.12.31' (4/1012)
    The Number of articles:    1
    [_AK홀딩스_from2011.01.01_to2011.12.31]_ from'0' to '0' (df2): successfully Saved
 * Unit: '_AP우주통신_from2011.01.01_to2011.12.31' (5/1012)
    No articles to scrap for "_AP우주통신_from2011.01.01_to2011.12.31"
 * Unit: '_BET_from2011.01.01_to2011.12.31' (6/1012)
    The Number of articles:    313
    [_BET_from2011.01.01_to2011.12.31]_ from'0' to '312' (df2): successfully Saved
 * Unit: '_BHK_from2011.01.01_to2011.12.31' (7/1012)
    The Number of articles:    9
    [_BHK_from2011.01.01_to2011.12.31]_ from'0' to '8' (df2): successfully Saved
 * Unit: '_C&S자산관리_from2011.01.01_to2011.12.31' (8/1012)
    The Number of articles:    114
    [_C&S자산관리_from2011.01.01_to2011.12.31]_ from'0' to '113' (df2): successfully Saved
 * Unit: '_C&우방_from2011.01.01_to2011.12.31' (9/1012)
    The Number of articles:    48
    [_C&우방_from2011.01.01_to2011.12.31]_ from'0' to '47' (df2): successfully Saved
 * Unit: '_C&중공업_from2011.01.01_to2011.12.31' (10/1012)
    The Number of articles:    25
    [_C&중공업_from2011.01.01_to2011.12.31]_ from'0' to '24' (df2): successfully Saved
 * Unit: '_CJ대한통운_from2011.01.01_to2011.12.31' (11/1012)
    The Number of articles:    18
    [_CJ대한통운_from2011.01.01_to2011.12.31]_ from'0' to '17' (df2): successfully Saved
 * Unit: '_CJ오쇼핑_from2011.01.01_to2011.12.31' (12/1012)
    The Number of articles:    2973
    [_CJ오쇼핑_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_CJ오쇼핑_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_CJ오쇼핑_from2011.01.01_to2011.12.31]_ from'2000' to '2972' (df2): successfully Saved
 * Unit: '_CJ프레시웨이_from2011.01.01_to2011.12.31' (13/1012)
    The Number of articles:    636
    [_CJ프레시웨이_from2011.01.01_to2011.12.31]_ from'0' to '635' (df2): successfully Saved
 * Unit: '_CL_from2011.01.01_to2011.12.31' (14/1012)
    The Number of articles:    845
    [_CL_from2011.01.01_to2011.12.31]_ from'0' to '844' (df2): successfully Saved
 * Unit: '_CS홀딩스_from2011.01.01_to2011.12.31' (15/1012)
    The Number of articles:    132
    [_CS홀딩스_from2011.01.01_to2011.12.31]_ from'0' to '131' (df2): successfully Saved
 * Unit: '_E1_from2011.01.01_to2011.12.31' (16/1012)
    The Number of articles:    903
    [_E1_from2011.01.01_to2011.12.31]_ from'0' to '902' (df2): successfully Saved
 * Unit: '_EG_from2011.01.01_to2011.12.31' (17/1012)
    The Number of articles:    898
    [_EG_from2011.01.01_to2011.12.31]_ from'0' to '897' (df2): successfully Saved
 * Unit: '_GMR 머티리얼즈_from2011.01.01_to2011.12.31' (18/1012)
    No articles to scrap for "_GMR 머티리얼즈_from2011.01.01_to2011.12.31"
 * Unit: '_GPS_from2011.01.01_to2011.12.31' (19/1012)
    The Number of articles:    1153
    [_GPS_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_GPS_from2011.01.01_to2011.12.31]_ from'1000' to '1152' (df2): successfully Saved
 * Unit: '_GS건설_from2011.01.01_to2011.12.31' (20/1012)
    The Number of articles:    2635
    [_GS건설_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_GS건설_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_GS건설_from2011.01.01_to2011.12.31]_ from'2000' to '2634' (df2): successfully Saved

 * Unit: '_GS글로벌_from2011.01.01_to2011.12.31' (21/1012)
    The Number of articles:    465
    [_GS글로벌_from2011.01.01_to2011.12.31]_ from'0' to '464' (df2): successfully Saved
 * Unit: '_GS리테일_from2011.01.01_to2011.12.31' (22/1012)
    The Number of articles:    1868
    [_GS리테일_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_GS리테일_from2011.01.01_to2011.12.31]_ from'1000' to '1867' (df2): successfully Saved
 * Unit: '_GS홈쇼핑_from2011.01.01_to2011.12.31' (23/1012)
    The Number of articles:    2500
    [_GS홈쇼핑_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_GS홈쇼핑_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_GS홈쇼핑_from2011.01.01_to2011.12.31]_ from'2000' to '2499' (df2): successfully Saved
 * Unit: '_HRS_from2011.01.01_to2011.12.31' (24/1012)
    The Number of articles:    177
    [_HRS_from2011.01.01_to2011.12.31]_ from'0' to '176' (df2): successfully Saved
 * Unit: '_i 인프라_from2011.01.01_to2011.12.31' (25/1012)
    No articles to scrap for "_i 인프라_from2011.01.01_to2011.12.31"
 * Unit: '_IDH_from2011.01.01_to2011.12.31' (26/1012)
    The Number of articles:    6
    [_IDH_from2011.01.01_to2011.12.31]_ from'0' to '5' (df2): successfully Saved
 * Unit: '_JS전선_from2011.01.01_to2011.12.31' (27/1012)
    The Number of articles:    73
    [_JS전선_from2011.01.01_to2011.12.31]_ from'0' to '72' (df2): successfully Saved
 * Unit: '_JW신약_from2011.01.01_to2011.12.31' (28/1012)
    The Number of articles:    8
    [_JW신약_from2011.01.01_to2011.12.31]_ from'0' to '7' (df2): successfully Saved
 * Unit: '_JW중외제약_from2011.01.01_to2011.12.31' (29/1012)
    The Number of articles:    978
    [_JW중외제약_from2011.01.01_to2011.12.31]_ from'0' to '977' (df2): successfully Saved
 * Unit: '_KB오토시스_from2011.01.01_to2011.12.31' (30/1012)
    The Number of articles:    109
    [_KB오토시스_from2011.01.01_to2011.12.31]_ from'0' to '108' (df2): successfully Saved
 * Unit: '_KCC_from2011.01.01_to2011.12.31' (31/1012)
    The Number of articles:    3118
    [_KCC_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_KCC_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_KCC_from2011.01.01_to2011.12.31]_ from'2000' to '2999' (df2): successfully Saved
    [_KCC_from2011.01.01_to2011.12.31]_ from'3000' to '3117' (df2): successfully Saved
 * Unit: '_KCTC_from2011.01.01_to2011.12.31' (32/1012)
    The Number of articles:    66
    [_KCTC_from2011.01.01_to2011.12.31]_ from'0' to '65' (df2): successfully Saved
 * Unit: '_KC그린홀딩스_from2011.01.01_to2011.12.31' (33/1012)
    The Number of articles:    87
    [_KC그린홀딩스_from2011.01.01_to2011.12.31]_ from'0' to '86' (df2): successfully Saved
 * Unit: '_KD건설_from2011.01.01_to2011.12.31' (34/1012)
    The Number of articles:    14
    [_KD건설_from2011.01.01_to2011.12.31]_ from'0' to '13' (df2): successfully Saved
 * Unit: '_KEPS_from2011.01.01_to2011.12.31' (35/1012)
    The Number of articles:    2
    [_KEPS_from2011.01.01_to2011.12.31]_ from'0' to '1' (df2): successfully Saved
 * Unit: '_KEP전자_from2011.01.01_to2011.12.31' (36/1012)
    No articles to scrap for "_KEP전자_from2011.01.01_to2011.12.31"
 * Unit: '_KG케미칼_from2011.01.01_to2011.12.31' (37/1012)
    The Number of articles:    180
    [_KG케미칼_from2011.01.01_to2011.12.31]_ from'0' to '179' (df2): successfully Saved
 * Unit: '_KISCO홀딩스_from2011.01.01_to2011.12.31' (38/1012)
    The Number of articles:    138
    [_KISCO홀딩스_from2011.01.01_to2011.12.31]_ from'0' to '137' (df2): successfully Saved
 * Unit: '_KNC_from2011.01.01_to2011.12.31' (39/1012)
    The Number of articles:    24
    [_KNC_from2011.01.01_to2011.12.31]_ from'0' to '23' (df2): successfully Saved
 * Unit: '_KNN_from2011.01.01_to2011.12.31' (40/1012)
    The Number of articles:    1178
    [_KNN_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_KNN_from2011.01.01_to2011.12.31]_ from'1000' to '1177' (df2): successfully Saved
 * Unit: '_KPX케미칼_from2011.01.01_to2011.12.31' (41/1012)
    The Number of articles:    98
    [_KPX케미칼_from2011.01.01_to2011.12.31]_ from'0' to '97' (df2): successfully Saved
 * Unit: '_KSS해운_from2011.01.01_to2011.12.31' (42/1012)
    The Number of articles:    146
    [_KSS해운_from2011.01.01_to2011.12.31]_ from'0' to '145' (df2): successfully Saved
 * Unit: '_KTH_from2011.01.01_to2011.12.31' (43/1012)
    The Number of articles:    1845
    [_KTH_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_KTH_from2011.01.01_to2011.12.31]_ from'1000' to '1844' (df2): successfully Saved
 * Unit: '_KT_from2011.01.01_to2011.12.31' (44/1012)
    The Number of articles:    2705
    [_KT_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_KT_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_KT_from2011.01.01_to2011.12.31]_ from'2000' to '2704' (df2): successfully Saved
 * Unit: '_KT서브마린_from2011.01.01_to2011.12.31' (45/1012)
    The Number of articles:    141
    [_KT서브마린_from2011.01.01_to2011.12.31]_ from'0' to '140' (df2): successfully Saved
 * Unit: '_LG디스플레이_from2011.01.01_to2011.12.31' (46/1012)
    The Number of articles:    2972
    [_LG디스플레이_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    >>> [_LG디스플레이_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): failed to export .csv
    [_LG디스플레이_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_LG디스플레이_from2011.01.01_to2011.12.31]_ from'2000' to '2971' (df2): successfully Saved
 * Unit: '_LG상사_from2011.01.01_to2011.12.31' (47/1012)
    The Number of articles:    2061
    [_LG상사_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_LG상사_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_LG상사_from2011.01.01_to2011.12.31]_ from'2000' to '2060' (df2): successfully Saved
 * Unit: '_LG유플러스_from2011.01.01_to2011.12.31' (48/1012)
    The Number of articles:    2642
    [_LG유플러스_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_LG유플러스_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_LG유플러스_from2011.01.01_to2011.12.31]_ from'2000' to '2641' (df2): successfully Saved
 * Unit: '_LG이노텍_from2011.01.01_to2011.12.31' (49/1012)
    The Number of articles:    2960
    [_LG이노텍_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_LG이노텍_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_LG이노텍_from2011.01.01_to2011.12.31]_ from'2000' to '2959' (df2): successfully Saved
 * Unit: '_LS_from2011.01.01_to2011.12.31' (50/1012)
    The Number of articles:    2715
    [_LS_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_LS_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_LS_from2011.01.01_to2011.12.31]_ from'2000' to '2714' (df2): successfully Saved
 * Unit: '_LS네트웍스_from2011.01.01_to2011.12.31' (51/1012)
    The Number of articles:    630
    [_LS네트웍스_from2011.01.01_to2011.12.31]_ from'0' to '629' (df2): successfully Saved
 * Unit: '_LS산전_from2011.01.01_to2011.12.31' (52/1012)
    The Number of articles:    1774
    [_LS산전_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_LS산전_from2011.01.01_to2011.12.31]_ from'1000' to '1773' (df2): successfully Saved
 * Unit: '_NICE_from2011.01.01_to2011.12.31' (53/1012)
    The Number of articles:    1615
    [_NICE_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_NICE_from2011.01.01_to2011.12.31]_ from'1000' to '1614' (df2): successfully Saved
 * Unit: '_NICE평가정보_from2011.01.01_to2011.12.31' (54/1012)
    The Number of articles:    54
    [_NICE평가정보_from2011.01.01_to2011.12.31]_ from'0' to '53' (df2): successfully Saved
 * Unit: '_NPC_from2011.01.01_to2011.12.31' (55/1012)
    The Number of articles:    897
    [_NPC_from2011.01.01_to2011.12.31]_ from'0' to '896' (df2): successfully Saved

 * Unit: '_PN풍년_from2011.01.01_to2011.12.31' (56/1012)
    The Number of articles:    132
    [_PN풍년_from2011.01.01_to2011.12.31]_ from'0' to '131' (df2): successfully Saved
 * Unit: '_POSCO_from2011.01.01_to2011.12.31' (57/1012)
    The Number of articles:    100
    [_POSCO_from2011.01.01_to2011.12.31]_ from'0' to '99' (df2): successfully Saved
 * Unit: '_PW제네틱스_from2011.01.01_to2011.12.31' (58/1012)
    The Number of articles:    7
    [_PW제네틱스_from2011.01.01_to2011.12.31]_ from'0' to '6' (df2): successfully Saved
 * Unit: '_S&T중공업_from2011.01.01_to2011.12.31' (59/1012)
    The Number of articles:    717
    [_S&T중공업_from2011.01.01_to2011.12.31]_ from'0' to '716' (df2): successfully Saved
 * Unit: '_S-Oil_from2011.01.01_to2011.12.31' (60/1012)
    The Number of articles:    2549
    [_S-Oil_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_S-Oil_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_S-Oil_from2011.01.01_to2011.12.31]_ from'2000' to '2548' (df2): successfully Saved
 * Unit: '_SBS_from2011.01.01_to2011.12.31' (61/1012)
    The Number of articles:    2444
    [_SBS_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_SBS_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_SBS_from2011.01.01_to2011.12.31]_ from'2000' to '2443' (df2): successfully Saved
 * Unit: '_SCI평가정보_from2011.01.01_to2011.12.31' (62/1012)
    No articles to scrap for "_SCI평가정보_from2011.01.01_to2011.12.31"
 * Unit: '_SG&G_from2011.01.01_to2011.12.31' (63/1012)
    The Number of articles:    135
    [_SG&G_from2011.01.01_to2011.12.31]_ from'0' to '134' (df2): successfully Saved
 * Unit: '_SG신성건설_from2011.01.01_to2011.12.31' (64/1012)
    No articles to scrap for "_SG신성건설_from2011.01.01_to2011.12.31"
 * Unit: '_SIMPAC_from2011.01.01_to2011.12.31' (65/1012)
    The Number of articles:    502
    [_SIMPAC_from2011.01.01_to2011.12.31]_ from'0' to '501' (df2): successfully Saved
 * Unit: '_SKC_from2011.01.01_to2011.12.31' (66/1012)
    The Number of articles:    2380
    [_SKC_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_SKC_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_SKC_from2011.01.01_to2011.12.31]_ from'2000' to '2379' (df2): successfully Saved
 * Unit: '_SK_from2011.01.01_to2011.12.31' (67/1012)
    The Number of articles:    2786
    [_SK_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_SK_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_SK_from2011.01.01_to2011.12.31]_ from'2000' to '2785' (df2): successfully Saved
 * Unit: '_SK가스_from2011.01.01_to2011.12.31' (68/1012)
    The Number of articles:    1023
    [_SK가스_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_SK가스_from2011.01.01_to2011.12.31]_ from'1000' to '1022' (df2): successfully Saved
 * Unit: '_SK네트웍스_from2011.01.01_to2011.12.31' (69/1012)
    The Number of articles:    2615
    [_SK네트웍스_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_SK네트웍스_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_SK네트웍스_from2011.01.01_to2011.12.31]_ from'2000' to '2614' (df2): successfully Saved
 * Unit: '_SK머티리얼즈_from2011.01.01_to2011.12.31' (70/1012)
    No articles to scrap for "_SK머티리얼즈_from2011.01.01_to2011.12.31"
 * Unit: '_SK텔레콤_from2011.01.01_to2011.12.31' (71/1012)
    The Number of articles:    2522
    [_SK텔레콤_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_SK텔레콤_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_SK텔레콤_from2011.01.01_to2011.12.31]_ from'2000' to '2521' (df2): successfully Saved
 * Unit: '_SK하이닉스_from2011.01.01_to2011.12.31' (72/1012)
    The Number of articles:    8
    [_SK하이닉스_from2011.01.01_to2011.12.31]_ from'0' to '7' (df2): successfully Saved
 * Unit: '_SM C&C_from2011.01.01_to2011.12.31' (73/1012)
    The Number of articles:    1
    [_SM C&C_from2011.01.01_to2011.12.31]_ from'0' to '0' (df2): successfully Saved
 * Unit: '_SSCP_from2011.01.01_to2011.12.31' (74/1012)
    The Number of articles:    261
    [_SSCP_from2011.01.01_to2011.12.31]_ from'0' to '260' (df2): successfully Saved
 * Unit: '_ST&I_from2011.01.01_to2011.12.31' (75/1012)
    No articles to scrap for "_ST&I_from2011.01.01_to2011.12.31"
 * Unit: '_STX_from2011.01.01_to2011.12.31' (76/1012)
    The Number of articles:    2753
    [_STX_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_STX_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_STX_from2011.01.01_to2011.12.31]_ from'2000' to '2752' (df2): successfully Saved
 * Unit: '_SY_from2011.01.01_to2011.12.31' (77/1012)
    The Number of articles:    81
    [_SY_from2011.01.01_to2011.12.31]_ from'0' to '80' (df2): successfully Saved
 * Unit: '_TCC동양_from2011.01.01_to2011.12.31' (78/1012)
    The Number of articles:    282
    [_TCC동양_from2011.01.01_to2011.12.31]_ from'0' to '281' (df2): successfully Saved
 * Unit: '_TJ미디어_from2011.01.01_to2011.12.31' (79/1012)
    The Number of articles:    75
    [_TJ미디어_from2011.01.01_to2011.12.31]_ from'0' to '74' (df2): successfully Saved
 * Unit: '_WISCOM_from2011.01.01_to2011.12.31' (80/1012)
    The Number of articles:    31
    [_WISCOM_from2011.01.01_to2011.12.31]_ from'0' to '30' (df2): successfully Saved
 * Unit: '_가온전선_from2011.01.01_to2011.12.31' (81/1012)
    The Number of articles:    122
    [_가온전선_from2011.01.01_to2011.12.31]_ from'0' to '121' (df2): successfully Saved
 * Unit: '_갑을_from2011.01.01_to2011.12.31' (82/1012)
    The Number of articles:    739
    [_갑을_from2011.01.01_to2011.12.31]_ from'0' to '738' (df2): successfully Saved
 * Unit: '_갑을메탈_from2011.01.01_to2011.12.31' (83/1012)
    No articles to scrap for "_갑을메탈_from2011.01.01_to2011.12.31"
 * Unit: '_경남기업_from2011.01.01_to2011.12.31' (84/1012)
    The Number of articles:    1050
    [_경남기업_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_경남기업_from2011.01.01_to2011.12.31]_ from'1000' to '1049' (df2): successfully Saved
    >>> [_경남기업_from2011.01.01_to2011.12.31]_ from'1000' to '1049' (df2): failed to export .csv
 * Unit: '_경남모직_from2011.01.01_to2011.12.31' (85/1012)
    The Number of articles:    15
    [_경남모직_from2011.01.01_to2011.12.31]_ from'0' to '14' (df2): successfully Saved
 * Unit: '_경남스틸_from2011.01.01_to2011.12.31' (86/1012)
    The Number of articles:    330
    [_경남스틸_from2011.01.01_to2011.12.31]_ from'0' to '329' (df2): successfully Saved
 * Unit: '_경동나비엔_from2011.01.01_to2011.12.31' (87/1012)
    The Number of articles:    286
    [_경동나비엔_from2011.01.01_to2011.12.31]_ from'0' to '285' (df2): successfully Saved
 * Unit: '_경동인베스트_from2011.01.01_to2011.12.31' (88/1012)
    No articles to scrap for "_경동인베스트_from2011.01.01_to2011.12.31"
 * Unit: '_경동제약_from2011.01.01_to2011.12.31' (89/1012)
    The Number of articles:    157
    [_경동제약_from2011.01.01_to2011.12.31]_ from'0' to '156' (df2): successfully Saved
 * Unit: '_경보제약_from2011.01.01_to2011.12.31' (90/1012)
    The Number of articles:    22
    [_경보제약_from2011.01.01_to2011.12.31]_ from'0' to '21' (df2): successfully Saved
 * Unit: '_경윤하이드로_from2011.01.01_to2011.12.31' (91/1012)
    The Number of articles:    156
    [_경윤하이드로_from2011.01.01_to2011.12.31]_ from'0' to '155' (df2): successfully Saved
 * Unit: '_경인전자_from2011.01.01_to2011.12.31' (92/1012)
    The Number of articles:    82
    [_경인전자_from2011.01.01_to2011.12.31]_ from'0' to '81' (df2): successfully Saved
 * Unit: '_경창산업_from2011.01.01_to2011.12.31' (93/1012)
    The Number of articles:    123
    [_경창산업_from2011.01.01_to2011.12.31]_ from'0' to '122' (df2): successfully Saved
 * Unit: '_계룡건설_from2011.01.01_to2011.12.31' (94/1012)
    The Number of articles:    1091
    [_계룡건설_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_계룡건설_from2011.01.01_to2011.12.31]_ from'1000' to '1090' (df2): successfully Saved

 * Unit: '_계양전기_from2011.01.01_to2011.12.31' (95/1012)
    The Number of articles:    137
    [_계양전기_from2011.01.01_to2011.12.31]_ from'0' to '136' (df2): successfully Saved
 * Unit: '_고려개발_from2011.01.01_to2011.12.31' (96/1012)
    The Number of articles:    803
    [_고려개발_from2011.01.01_to2011.12.31]_ from'0' to '802' (df2): successfully Saved
 * Unit: '_고려제강_from2011.01.01_to2011.12.31' (97/1012)
    The Number of articles:    177
    [_고려제강_from2011.01.01_to2011.12.31]_ from'0' to '176' (df2): successfully Saved
 * Unit: '_고려제약_from2011.01.01_to2011.12.31' (98/1012)
    The Number of articles:    105
    [_고려제약_from2011.01.01_to2011.12.31]_ from'0' to '104' (df2): successfully Saved
 * Unit: '_고제_from2011.01.01_to2011.12.31' (99/1012)
    The Number of articles:    60
    [_고제_from2011.01.01_to2011.12.31]_ from'0' to '59' (df2): successfully Saved
 * Unit: '_고합_from2011.01.01_to2011.12.31' (100/1012)
    The Number of articles:    31
    [_고합_from2011.01.01_to2011.12.31]_ from'0' to '30' (df2): successfully Saved
 * Unit: '_골드퍼시픽_from2011.01.01_to2011.12.31' (101/1012)
    No articles to scrap for "_골드퍼시픽_from2011.01.01_to2011.12.31"
 * Unit: '_광덕물산_from2011.01.01_to2011.12.31' (102/1012)
    The Number of articles:    1
    [_광덕물산_from2011.01.01_to2011.12.31]_ from'0' to '0' (df2): successfully Saved
 * Unit: '_광림_from2011.01.01_to2011.12.31' (103/1012)
    The Number of articles:    393
    [_광림_from2011.01.01_to2011.12.31]_ from'0' to '392' (df2): successfully Saved
 * Unit: '_광명전기_from2011.01.01_to2011.12.31' (104/1012)
    The Number of articles:    515
    [_광명전기_from2011.01.01_to2011.12.31]_ from'0' to '514' (df2): successfully Saved
 * Unit: '_광전자_from2011.01.01_to2011.12.31' (105/1012)
    The Number of articles:    370
    [_광전자_from2011.01.01_to2011.12.31]_ from'0' to '369' (df2): successfully Saved
 * Unit: '_광진실업_from2011.01.01_to2011.12.31' (106/1012)
    The Number of articles:    63
    [_광진실업_from2011.01.01_to2011.12.31]_ from'0' to '62' (df2): successfully Saved
 * Unit: '_구영테크_from2011.01.01_to2011.12.31' (107/1012)
    The Number of articles:    46
    [_구영테크_from2011.01.01_to2011.12.31]_ from'0' to '45' (df2): successfully Saved
 * Unit: '_국보_from2011.01.01_to2011.12.31' (108/1012)
    The Number of articles:    3011
    [_국보_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_국보_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_국보_from2011.01.01_to2011.12.31]_ from'2000' to '2999' (df2): successfully Saved
    [_국보_from2011.01.01_to2011.12.31]_ from'3000' to '3010' (df2): successfully Saved
 * Unit: '_국보디자인_from2011.01.01_to2011.12.31' (109/1012)
    The Number of articles:    269
    [_국보디자인_from2011.01.01_to2011.12.31]_ from'0' to '268' (df2): successfully Saved
 * Unit: '_국순당_from2011.01.01_to2011.12.31' (110/1012)
    The Number of articles:    1224
    [_국순당_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_국순당_from2011.01.01_to2011.12.31]_ from'1000' to '1223' (df2): successfully Saved
 * Unit: '_국영지앤엠_from2011.01.01_to2011.12.31' (111/1012)
    The Number of articles:    280
    [_국영지앤엠_from2011.01.01_to2011.12.31]_ from'0' to '279' (df2): successfully Saved
 * Unit: '_국일신동_from2011.01.01_to2011.12.31' (112/1012)
    The Number of articles:    10
    [_국일신동_from2011.01.01_to2011.12.31]_ from'0' to '9' (df2): successfully Saved
 * Unit: '_국일제지_from2011.01.01_to2011.12.31' (113/1012)
    The Number of articles:    48
    [_국일제지_from2011.01.01_to2011.12.31]_ from'0' to '47' (df2): successfully Saved
 * Unit: '_그랜드백화점_from2011.01.01_to2011.12.31' (114/1012)
    The Number of articles:    551
    [_그랜드백화점_from2011.01.01_to2011.12.31]_ from'0' to '550' (df2): successfully Saved
 * Unit: '_그로웰전자_from2011.01.01_to2011.12.31' (115/1012)
    No articles to scrap for "_그로웰전자_from2011.01.01_to2011.12.31"
 * Unit: '_그로웰텔레콤_from2011.01.01_to2011.12.31' (116/1012)
    No articles to scrap for "_그로웰텔레콤_from2011.01.01_to2011.12.31"
 * Unit: '_극동유화_from2011.01.01_to2011.12.31' (117/1012)
    The Number of articles:    215
    [_극동유화_from2011.01.01_to2011.12.31]_ from'0' to '214' (df2): successfully Saved
 * Unit: '_글로스텍_from2011.01.01_to2011.12.31' (118/1012)
    The Number of articles:    225
    [_글로스텍_from2011.01.01_to2011.12.31]_ from'0' to '224' (df2): successfully Saved
 * Unit: '_글로웍스_from2011.01.01_to2011.12.31' (119/1012)
    The Number of articles:    550
    [_글로웍스_from2011.01.01_to2011.12.31]_ from'0' to '549' (df2): successfully Saved
 * Unit: '_금강공업_from2011.01.01_to2011.12.31' (120/1012)
    The Number of articles:    240
    [_금강공업_from2011.01.01_to2011.12.31]_ from'0' to '239' (df2): successfully Saved
 * Unit: '_금강철강_from2011.01.01_to2011.12.31' (121/1012)
    The Number of articles:    72
    [_금강철강_from2011.01.01_to2011.12.31]_ from'0' to '71' (df2): successfully Saved
 * Unit: '_금강화섬_from2011.01.01_to2011.12.31' (122/1012)
    The Number of articles:    8
    [_금강화섬_from2011.01.01_to2011.12.31]_ from'0' to '7' (df2): successfully Saved
 * Unit: '_금비_from2011.01.01_to2011.12.31' (123/1012)
    The Number of articles:    245
    [_금비_from2011.01.01_to2011.12.31]_ from'0' to '244' (df2): successfully Saved
 * Unit: '_금호산업_from2011.01.01_to2011.12.31' (124/1012)
    The Number of articles:    1777
    [_금호산업_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_금호산업_from2011.01.01_to2011.12.31]_ from'1000' to '1776' (df2): successfully Saved
 * Unit: '_금호에이치티_from2011.01.01_to2011.12.31' (125/1012)
    The Number of articles:    2
    [_금호에이치티_from2011.01.01_to2011.12.31]_ from'0' to '1' (df2): successfully Saved
 * Unit: '_금호전기_from2011.01.01_to2011.12.31' (126/1012)
    The Number of articles:    357
    [_금호전기_from2011.01.01_to2011.12.31]_ from'0' to '356' (df2): successfully Saved
 * Unit: '_금화피에스시_from2011.01.01_to2011.12.31' (127/1012)
    The Number of articles:    107
    [_금화피에스시_from2011.01.01_to2011.12.31]_ from'0' to '106' (df2): successfully Saved
 * Unit: '_기라정보통신_from2011.01.01_to2011.12.31' (128/1012)
    The Number of articles:    2
    [_기라정보통신_from2011.01.01_to2011.12.31]_ from'0' to '1' (df2): successfully Saved
 * Unit: '_기린_from2011.01.01_to2011.12.31' (129/1012)
    The Number of articles:    2765
    [_기린_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_기린_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_기린_from2011.01.01_to2011.12.31]_ from'2000' to '2764' (df2): successfully Saved
 * Unit: '_기산텔레콤_from2011.01.01_to2011.12.31' (130/1012)
    The Number of articles:    239
    [_기산텔레콤_from2011.01.01_to2011.12.31]_ from'0' to '238' (df2): successfully Saved
 * Unit: '_기신정기_from2011.01.01_to2011.12.31' (131/1012)
    The Number of articles:    127
    [_기신정기_from2011.01.01_to2011.12.31]_ from'0' to '126' (df2): successfully Saved
 * Unit: '_기아차_from2011.01.01_to2011.12.31' (132/1012)
    The Number of articles:    2639
    [_기아차_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_기아차_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_기아차_from2011.01.01_to2011.12.31]_ from'2000' to '2638' (df2): successfully Saved
    >>> [_기아차_from2011.01.01_to2011.12.31]_ from'2000' to '2638' (df2): failed to export .csv
 * Unit: '_까뮤이앤씨_from2011.01.01_to2011.12.31' (133/1012)
    No articles to scrap for "_까뮤이앤씨_from2011.01.01_to2011.12.31"
 * Unit: '_나노엔텍_from2011.01.01_to2011.12.31' (134/1012)
    The Number of articles:    362
    [_나노엔텍_from2011.01.01_to2011.12.31]_ from'0' to '361' (df2): successfully Saved
 * Unit: '_나노트로닉스_from2011.01.01_to2011.12.31' (135/1012)
    The Number of articles:    78
    [_나노트로닉스_from2011.01.01_to2011.12.31]_ from'0' to '77' (df2): successfully Saved
 * Unit: '_나노하이텍_from2011.01.01_to2011.12.31' (136/1012)
    No articles to scrap for "_나노하이텍_from2011.01.01_to2011.12.31"
 * Unit: '_나라케이아이씨_from2011.01.01_to2011.12.31' (137/1012)
    No articles to scrap for "_나라케이아이씨_from2011.01.01_to2011.12.31"
 * Unit: '_남광토건_from2011.01.01_to2011.12.31' (138/1012)

    The Number of articles:    731
    [_남광토건_from2011.01.01_to2011.12.31]_ from'0' to '730' (df2): successfully Saved
 * Unit: '_남선알미늄_from2011.01.01_to2011.12.31' (139/1012)
    The Number of articles:    274
    [_남선알미늄_from2011.01.01_to2011.12.31]_ from'0' to '273' (df2): successfully Saved
 * Unit: '_남성_from2011.01.01_to2011.12.31' (140/1012)
    The Number of articles:    3116
    [_남성_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_남성_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_남성_from2011.01.01_to2011.12.31]_ from'2000' to '2999' (df2): successfully Saved
    [_남성_from2011.01.01_to2011.12.31]_ from'3000' to '3115' (df2): successfully Saved
 * Unit: '_남양_from2011.01.01_to2011.12.31' (141/1012)
    The Number of articles:    2805
    [_남양_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_남양_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_남양_from2011.01.01_to2011.12.31]_ from'2000' to '2804' (df2): successfully Saved
 * Unit: '_남한제지_from2011.01.01_to2011.12.31' (142/1012)
    The Number of articles:    5
    [_남한제지_from2011.01.01_to2011.12.31]_ from'0' to '4' (df2): successfully Saved
 * Unit: '_남화토건_from2011.01.01_to2011.12.31' (143/1012)
    The Number of articles:    36
    [_남화토건_from2011.01.01_to2011.12.31]_ from'0' to '35' (df2): successfully Saved
 * Unit: '_네스테크_from2011.01.01_to2011.12.31' (144/1012)
    The Number of articles:    276
    [_네스테크_from2011.01.01_to2011.12.31]_ from'0' to '275' (df2): successfully Saved
 * Unit: '_네오퍼플_from2011.01.01_to2011.12.31' (145/1012)
    The Number of articles:    148
    [_네오퍼플_from2011.01.01_to2011.12.31]_ from'0' to '147' (df2): successfully Saved
 * Unit: '_네이처셀_from2011.01.01_to2011.12.31' (146/1012)
    No articles to scrap for "_네이처셀_from2011.01.01_to2011.12.31"
 * Unit: '_네패스_from2011.01.01_to2011.12.31' (147/1012)
    The Number of articles:    605
    [_네패스_from2011.01.01_to2011.12.31]_ from'0' to '604' (df2): successfully Saved
 * Unit: '_넥센_from2011.01.01_to2011.12.31' (148/1012)
    The Number of articles:    3315
    [_넥센_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_넥센_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_넥센_from2011.01.01_to2011.12.31]_ from'2000' to '2999' (df2): successfully Saved
    [_넥센_from2011.01.01_to2011.12.31]_ from'3000' to '3314' (df2): successfully Saved
 * Unit: '_넥센타이어_from2011.01.01_to2011.12.31' (149/1012)
    The Number of articles:    1518
    [_넥센타이어_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_넥센타이어_from2011.01.01_to2011.12.31]_ from'1000' to '1517' (df2): successfully Saved
 * Unit: '_넥센테크_from2011.01.01_to2011.12.31' (150/1012)
    The Number of articles:    64
    [_넥센테크_from2011.01.01_to2011.12.31]_ from'0' to '63' (df2): successfully Saved
 * Unit: '_넥스텔_from2011.01.01_to2011.12.31' (151/1012)
    The Number of articles:    321
    [_넥스텔_from2011.01.01_to2011.12.31]_ from'0' to '320' (df2): successfully Saved
 * Unit: '_넥슨지티_from2011.01.01_to2011.12.31' (152/1012)
    No articles to scrap for "_넥슨지티_from2011.01.01_to2011.12.31"
 * Unit: '_넷컴스토리지_from2011.01.01_to2011.12.31' (153/1012)
    No articles to scrap for "_넷컴스토리지_from2011.01.01_to2011.12.31"
 * Unit: '_녹십자_from2011.01.01_to2011.12.31' (154/1012)
    The Number of articles:    2520
    [_녹십자_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_녹십자_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_녹십자_from2011.01.01_to2011.12.31]_ from'2000' to '2519' (df2): successfully Saved
 * Unit: '_녹십자셀_from2011.01.01_to2011.12.31' (155/1012)
    No articles to scrap for "_녹십자셀_from2011.01.01_to2011.12.31"
 * Unit: '_농우바이오_from2011.01.01_to2011.12.31' (156/1012)
    The Number of articles:    193
    [_농우바이오_from2011.01.01_to2011.12.31]_ from'0' to '192' (df2): successfully Saved
 * Unit: '_누리텔레콤_from2011.01.01_to2011.12.31' (157/1012)
    The Number of articles:    341
    [_누리텔레콤_from2011.01.01_to2011.12.31]_ from'0' to '340' (df2): successfully Saved
 * Unit: '_뉴인텍_from2011.01.01_to2011.12.31' (158/1012)
    The Number of articles:    112
    [_뉴인텍_from2011.01.01_to2011.12.31]_ from'0' to '111' (df2): successfully Saved
 * Unit: '_뉴켐진스템셀_from2011.01.01_to2011.12.31' (159/1012)
    No articles to scrap for "_뉴켐진스템셀_from2011.01.01_to2011.12.31"
 * Unit: '_능률교육_from2011.01.01_to2011.12.31' (160/1012)
    The Number of articles:    556
    [_능률교육_from2011.01.01_to2011.12.31]_ from'0' to '555' (df2): successfully Saved
 * Unit: '_다산네트웍스_from2011.01.01_to2011.12.31' (161/1012)
    The Number of articles:    602
    [_다산네트웍스_from2011.01.01_to2011.12.31]_ from'0' to '601' (df2): successfully Saved
 * Unit: '_다산씨앤아이_from2011.01.01_to2011.12.31' (162/1012)
    No articles to scrap for "_다산씨앤아이_from2011.01.01_to2011.12.31"
 * Unit: '_다우기술_from2011.01.01_to2011.12.31' (163/1012)
    The Number of articles:    400
    [_다우기술_from2011.01.01_to2011.12.31]_ from'0' to '399' (df2): successfully Saved
 * Unit: '_다우데이타_from2011.01.01_to2011.12.31' (164/1012)
    The Number of articles:    132
    [_다우데이타_from2011.01.01_to2011.12.31]_ from'0' to '131' (df2): successfully Saved
 * Unit: '_다우인큐브_from2011.01.01_to2011.12.31' (165/1012)
    No articles to scrap for "_다우인큐브_from2011.01.01_to2011.12.31"
 * Unit: '_다함이텍_from2011.01.01_to2011.12.31' (166/1012)
    The Number of articles:    103
    [_다함이텍_from2011.01.01_to2011.12.31]_ from'0' to '102' (df2): successfully Saved
 * Unit: '_대경기계_from2011.01.01_to2011.12.31' (167/1012)
    The Number of articles:    283
    [_대경기계_from2011.01.01_to2011.12.31]_ from'0' to '282' (df2): successfully Saved
 * Unit: '_대구백화점_from2011.01.01_to2011.12.31' (168/1012)
    The Number of articles:    944
    [_대구백화점_from2011.01.01_to2011.12.31]_ from'0' to '943' (df2): successfully Saved
 * Unit: '_대덕GDS_from2011.01.01_to2011.12.31' (169/1012)
    The Number of articles:    193
    [_대덕GDS_from2011.01.01_to2011.12.31]_ from'0' to '192' (df2): successfully Saved
 * Unit: '_대덕전자_from2011.01.01_to2011.12.31' (170/1012)
    The Number of articles:    525
    [_대덕전자_from2011.01.01_to2011.12.31]_ from'0' to '524' (df2): successfully Saved
 * Unit: '_대동공업_from2011.01.01_to2011.12.31' (171/1012)
    The Number of articles:    153
    [_대동공업_from2011.01.01_to2011.12.31]_ from'0' to '152' (df2): successfully Saved
 * Unit: '_대동금속_from2011.01.01_to2011.12.31' (172/1012)
    The Number of articles:    44
    [_대동금속_from2011.01.01_to2011.12.31]_ from'0' to '43' (df2): successfully Saved
 * Unit: '_대동기어_from2011.01.01_to2011.12.31' (173/1012)
    The Number of articles:    166
    [_대동기어_from2011.01.01_to2011.12.31]_ from'0' to '165' (df2): successfully Saved
 * Unit: '_대동전자_from2011.01.01_to2011.12.31' (174/1012)
    The Number of articles:    61
    [_대동전자_from2011.01.01_to2011.12.31]_ from'0' to '60' (df2): successfully Saved
 * Unit: '_대륙제관_from2011.01.01_to2011.12.31' (175/1012)
    The Number of articles:    311
    [_대륙제관_from2011.01.01_to2011.12.31]_ from'0' to '310' (df2): successfully Saved
 * Unit: '_대림B&Co_from2011.01.01_to2011.12.31' (176/1012)
    The Number of articles:    146
    [_대림B&Co_from2011.01.01_to2011.12.31]_ from'0' to '145' (df2): successfully Saved
 * Unit: '_대림산업_from2011.01.01_to2011.12.31' (177/1012)
    The Number of articles:    2645
    [_대림산업_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_대림산업_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_대림산업_from2011.01.01_to2011.12.31]_ from'2000' to '2644' (df2): successfully Saved
 * Unit: '_대림씨엔에스_from2011.01.01_to2011.12.31' (178/1012)
    The Number of articles:    10
    [_대림씨엔에스_from2011.01.01_to2011.12.31]_ from'0' to '9' (df2): successfully Saved
 * Unit: '_대림제지_from2011.01.01_to2011.12.31' (179/1012)

 *** UnexpectedException ocurred: ***************************

  ========= 3 times of iteration: 1607 files left to go
 * Unit: '_3SOFT_from2011.01.01_to2011.12.31' (1/1607)

    No articles to scrap for "_3SOFT_from2011.01.01_to2011.12.31"
 * Unit: '_3S_from2011.01.01_to2011.12.31' (2/1607)
    The Number of articles:    788
    [_3S_from2011.01.01_to2011.12.31]_ from'0' to '787' (df2): successfully Saved
 * Unit: '_AJ네트웍스_from2011.01.01_to2011.12.31' (3/1607)
    No articles to scrap for "_AJ네트웍스_from2011.01.01_to2011.12.31"
 * Unit: '_APS홀딩스_from2011.01.01_to2011.12.31' (4/1607)
    No articles to scrap for "_APS홀딩스_from2011.01.01_to2011.12.31"
 * Unit: '_CJ CGV_from2011.01.01_to2011.12.31' (5/1607)
    The Number of articles:    1117
    [_CJ CGV_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_CJ CGV_from2011.01.01_to2011.12.31]_ from'1000' to '1116' (df2): successfully Saved
 * Unit: '_CMG제약_from2011.01.01_to2011.12.31' (6/1607)
    No articles to scrap for "_CMG제약_from2011.01.01_to2011.12.31"
 * Unit: '_CSA 코스믹_from2011.01.01_to2011.12.31' (7/1607)
    No articles to scrap for "_CSA 코스믹_from2011.01.01_to2011.12.31"
 * Unit: '_CS_from2011.01.01_to2011.12.31' (8/1607)
    The Number of articles:    2816
    [_CS_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_CS_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_CS_from2011.01.01_to2011.12.31]_ from'2000' to '2815' (df2): successfully Saved
 * Unit: '_CT&T_from2011.01.01_to2011.12.31' (9/1607)
    The Number of articles:    713
    [_CT&T_from2011.01.01_to2011.12.31]_ from'0' to '712' (df2): successfully Saved
 * Unit: '_CU전자_from2011.01.01_to2011.12.31' (10/1607)
    The Number of articles:    124
    [_CU전자_from2011.01.01_to2011.12.31]_ from'0' to '123' (df2): successfully Saved
 * Unit: '_DMS_from2011.01.01_to2011.12.31' (11/1607)
    The Number of articles:    952
    [_DMS_from2011.01.01_to2011.12.31]_ from'0' to '951' (df2): successfully Saved
 * Unit: '_EMW_from2011.01.01_to2011.12.31' (12/1607)
    The Number of articles:    137
    [_EMW_from2011.01.01_to2011.12.31]_ from'0' to '136' (df2): successfully Saved
 * Unit: '_GH신소재_from2011.01.01_to2011.12.31' (13/1607)
    No articles to scrap for "_GH신소재_from2011.01.01_to2011.12.31"
 * Unit: '_GK파워_from2011.01.01_to2011.12.31' (14/1607)
    The Number of articles:    7
    [_GK파워_from2011.01.01_to2011.12.31]_ from'0' to '6' (df2): successfully Saved
 * Unit: '_GST_from2011.01.01_to2011.12.31' (15/1607)
    The Number of articles:    266
    [_GST_from2011.01.01_to2011.12.31]_ from'0' to '265' (df2): successfully Saved
 * Unit: '_GS_from2011.01.01_to2011.12.31' (16/1607)
    The Number of articles:    2813
    [_GS_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_GS_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_GS_from2011.01.01_to2011.12.31]_ from'2000' to '2812' (df2): successfully Saved
 * Unit: '_H1바이오_from2011.01.01_to2011.12.31' (17/1607)
    No articles to scrap for "_H1바이오_from2011.01.01_to2011.12.31"
 * Unit: '_HB테크놀러지_from2011.01.01_to2011.12.31' (18/1607)
    No articles to scrap for "_HB테크놀러지_from2011.01.01_to2011.12.31"
 * Unit: '_iMBC_from2011.01.01_to2011.12.31' (19/1607)
    The Number of articles:    748
    [_iMBC_from2011.01.01_to2011.12.31]_ from'0' to '747' (df2): successfully Saved
 * Unit: '_ISC_from2011.01.01_to2011.12.31' (20/1607)
    The Number of articles:    265
    [_ISC_from2011.01.01_to2011.12.31]_ from'0' to '264' (df2): successfully Saved
 * Unit: '_ITX엠투엠_from2011.01.01_to2011.12.31' (21/1607)
    No articles to scrap for "_ITX엠투엠_from2011.01.01_to2011.12.31"
 * Unit: '_JS_from2011.01.01_to2011.12.31' (22/1607)
    The Number of articles:    1318
    [_JS_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_JS_from2011.01.01_to2011.12.31]_ from'1000' to '1317' (df2): successfully Saved
 * Unit: '_JYP Ent._from2011.01.01_to2011.12.31' (23/1607)
    The Number of articles:    421
    [_JYP Ent._from2011.01.01_to2011.12.31]_ from'0' to '420' (df2): successfully Saved
 * Unit: '_KCC건설_from2011.01.01_to2011.12.31' (24/1607)
    The Number of articles:    805
    [_KCC건설_from2011.01.01_to2011.12.31]_ from'0' to '804' (df2): successfully Saved
 * Unit: '_KCI_from2011.01.01_to2011.12.31' (25/1607)
    The Number of articles:    69
    [_KCI_from2011.01.01_to2011.12.31]_ from'0' to '68' (df2): successfully Saved
 * Unit: '_KG ETS_from2011.01.01_to2011.12.31' (26/1607)
    The Number of articles:    9
    [_KG ETS_from2011.01.01_to2011.12.31]_ from'0' to '8' (df2): successfully Saved
 * Unit: '_KG모빌리언스_from2011.01.01_to2011.12.31' (27/1607)
    The Number of articles:    5
    [_KG모빌리언스_from2011.01.01_to2011.12.31]_ from'0' to '4' (df2): successfully Saved
 * Unit: '_KG이니시스_from2011.01.01_to2011.12.31' (28/1607)
    The Number of articles:    5
    [_KG이니시스_from2011.01.01_to2011.12.31]_ from'0' to '4' (df2): successfully Saved
 * Unit: '_KH바텍_from2011.01.01_to2011.12.31' (29/1607)
    The Number of articles:    428
    [_KH바텍_from2011.01.01_to2011.12.31]_ from'0' to '427' (df2): successfully Saved
 * Unit: '_KMH하이텍_from2011.01.01_to2011.12.31' (30/1607)
    No articles to scrap for "_KMH하이텍_from2011.01.01_to2011.12.31"
 * Unit: '_KPX그린케미칼_from2011.01.01_to2011.12.31' (31/1607)
    The Number of articles:    69
    [_KPX그린케미칼_from2011.01.01_to2011.12.31]_ from'0' to '68' (df2): successfully Saved
 * Unit: '_KTcs_from2011.01.01_to2011.12.31' (32/1607)
    The Number of articles:    700
    [_KTcs_from2011.01.01_to2011.12.31]_ from'0' to '699' (df2): successfully Saved
 * Unit: '_KTC텔레콤_from2011.01.01_to2011.12.31' (33/1607)
    No articles to scrap for "_KTC텔레콤_from2011.01.01_to2011.12.31"
 * Unit: '_LG생활건강_from2011.01.01_to2011.12.31' (34/1607)
    The Number of articles:    2825
    [_LG생활건강_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_LG생활건강_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_LG생활건강_from2011.01.01_to2011.12.31]_ from'2000' to '2824' (df2): successfully Saved
 * Unit: '_LG전자_from2011.01.01_to2011.12.31' (35/1607)
    The Number of articles:    2708
    [_LG전자_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_LG전자_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_LG전자_from2011.01.01_to2011.12.31]_ from'2000' to '2707' (df2): successfully Saved
 * Unit: '_LG화학_from2011.01.01_to2011.12.31' (36/1607)
    The Number of articles:    2734
    [_LG화학_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_LG화학_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_LG화학_from2011.01.01_to2011.12.31]_ from'2000' to '2733' (df2): successfully Saved
 * Unit: '_LIG넥스원_from2011.01.01_to2011.12.31' (37/1607)
    The Number of articles:    728
    [_LIG넥스원_from2011.01.01_to2011.12.31]_ from'0' to '727' (df2): successfully Saved
 * Unit: '_MDS테크_from2011.01.01_to2011.12.31' (38/1607)
    The Number of articles:    129
    [_MDS테크_from2011.01.01_to2011.12.31]_ from'0' to '128' (df2): successfully Saved
 * Unit: '_MP그룹_from2011.01.01_to2011.12.31' (39/1607)
    No articles to scrap for "_MP그룹_from2011.01.01_to2011.12.31"
 * Unit: '_MTRON_from2011.01.01_to2011.12.31' (40/1607)
    The Number of articles:    6
    [_MTRON_from2011.01.01_to2011.12.31]_ from'0' to '5' (df2): successfully Saved
 * Unit: '_NAVER_from2011.01.01_to2011.12.31' (41/1607)
    The Number of articles:    2647
    [_NAVER_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_NAVER_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_NAVER_from2011.01.01_to2011.12.31]_ from'2000' to '2646' (df2): successfully Saved
 * Unit: '_NHN한국사이버결제_from2011.01.01_to2011.12.31' (42/1607)
    No articles to scrap for "_NHN한국사이버결제_from2011.01.01_to2011.12.31"
 * Unit: '_S&K폴리텍_from2011.01.01_to2011.12.31' (43/1607)
    The Number of articles:    18
    [_S&K폴리텍_from2011.01.01_to2011.12.31]_ from'0' to '17' (df2): successfully Saved
 * Unit: '_S&T모티브_from2011.01.01_to2011.12.31' (44/1607)
    No articles to scrap for "_S&T모티브_from2011.01.01_to2011.12.31"
 * Unit: '_SBS콘텐츠허브_from2011.01.01_to2011.12.31' (45/1607)

    The Number of articles:    3620
    [_SBS콘텐츠허브_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_SBS콘텐츠허브_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_SBS콘텐츠허브_from2011.01.01_to2011.12.31]_ from'2000' to '2999' (df2): successfully Saved
    [_SBS콘텐츠허브_from2011.01.01_to2011.12.31]_ from'3000' to '3619' (df2): successfully Saved
 * Unit: '_SDN_from2011.01.01_to2011.12.31' (46/1607)
    The Number of articles:    450
    [_SDN_from2011.01.01_to2011.12.31]_ from'0' to '449' (df2): successfully Saved
 * Unit: '_SFA반도체_from2011.01.01_to2011.12.31' (47/1607)

 *** UnexpectedException ocurred: ***************************

  ========= 4 times of iteration: 1753 files left to go
 * Unit: '_CJ제일제당_from2011.01.01_to2011.12.31' (1/1753)
    The Number of articles:    2866
    [_CJ제일제당_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_CJ제일제당_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_CJ제일제당_from2011.01.01_to2011.12.31]_ from'2000' to '2865' (df2): successfully Saved
 * Unit: '_GBS_from2011.01.01_to2011.12.31' (2/1753)
    The Number of articles:    80
    [_GBS_from2011.01.01_to2011.12.31]_ from'0' to '79' (df2): successfully Saved
 * Unit: '_GKL_from2011.01.01_to2011.12.31' (3/1753)
    The Number of articles:    1262
    [_GKL_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_GKL_from2011.01.01_to2011.12.31]_ from'1000' to '1261' (df2): successfully Saved
 * Unit: '_IC코퍼레이션_from2011.01.01_to2011.12.31' (4/1753)
    The Number of articles:    3
    [_IC코퍼레이션_from2011.01.01_to2011.12.31]_ from'0' to '2' (df2): successfully Saved
 * Unit: '_JW홀딩스_from2011.01.01_to2011.12.31' (5/1753)
    The Number of articles:    388
    [_JW홀딩스_from2011.01.01_to2011.12.31]_ from'0' to '387' (df2): successfully Saved
 * Unit: '_KC코트렐_from2011.01.01_to2011.12.31' (6/1753)
    The Number of articles:    192
    [_KC코트렐_from2011.01.01_to2011.12.31]_ from'0' to '191' (df2): successfully Saved
 * Unit: '_KEC_from2011.01.01_to2011.12.31' (7/1753)
    The Number of articles:    465
    [_KEC_from2011.01.01_to2011.12.31]_ from'0' to '464' (df2): successfully Saved
 * Unit: '_KGP_from2011.01.01_to2011.12.31' (8/1753)
    The Number of articles:    49
    [_KGP_from2011.01.01_to2011.12.31]_ from'0' to '48' (df2): successfully Saved
 * Unit: '_KMH_from2011.01.01_to2011.12.31' (9/1753)
    The Number of articles:    315
    [_KMH_from2011.01.01_to2011.12.31]_ from'0' to '314' (df2): successfully Saved
 * Unit: '_KPX생명과학_from2011.01.01_to2011.12.31' (10/1753)
    The Number of articles:    36
    [_KPX생명과학_from2011.01.01_to2011.12.31]_ from'0' to '35' (df2): successfully Saved
 * Unit: '_KPX홀딩스_from2011.01.01_to2011.12.31' (11/1753)
    The Number of articles:    68
    [_KPX홀딩스_from2011.01.01_to2011.12.31]_ from'0' to '67' (df2): successfully Saved
 * Unit: '_LF_from2011.01.01_to2011.12.31' (12/1753)
    The Number of articles:    466
    [_LF_from2011.01.01_to2011.12.31]_ from'0' to '465' (df2): successfully Saved
 * Unit: '_LG하우시스_from2011.01.01_to2011.12.31' (13/1753)
    The Number of articles:    1236
    [_LG하우시스_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_LG하우시스_from2011.01.01_to2011.12.31]_ from'1000' to '1235' (df2): successfully Saved
 * Unit: '_NHN벅스_from2011.01.01_to2011.12.31' (14/1753)
    No articles to scrap for "_NHN벅스_from2011.01.01_to2011.12.31"
 * Unit: '_S&TC_from2011.01.01_to2011.12.31' (15/1753)
    The Number of articles:    492
    [_S&TC_from2011.01.01_to2011.12.31]_ from'0' to '491' (df2): successfully Saved
 * Unit: '_SFA반도체_from2011.01.01_to2011.12.31' (16/1753)
    No articles to scrap for "_SFA반도체_from2011.01.01_to2011.12.31"
 * Unit: '_SGA_from2011.01.01_to2011.12.31' (17/1753)
    The Number of articles:    282
    [_SGA_from2011.01.01_to2011.12.31]_ from'0' to '281' (df2): successfully Saved
 * Unit: '_SIMPAC Metal_from2011.01.01_to2011.12.31' (18/1753)
    The Number of articles:    5
    [_SIMPAC Metal_from2011.01.01_to2011.12.31]_ from'0' to '4' (df2): successfully Saved
 * Unit: '_SJM_from2011.01.01_to2011.12.31' (19/1753)
    The Number of articles:    184
    [_SJM_from2011.01.01_to2011.12.31]_ from'0' to '183' (df2): successfully Saved
 * Unit: '_SKC코오롱PI_from2011.01.01_to2011.12.31' (20/1753)
    The Number of articles:    13
    [_SKC코오롱PI_from2011.01.01_to2011.12.31]_ from'0' to '12' (df2): successfully Saved
 * Unit: '_SK디앤디_from2011.01.01_to2011.12.31' (21/1753)
    The Number of articles:    29
    [_SK디앤디_from2011.01.01_to2011.12.31]_ from'0' to '28' (df2): successfully Saved
 * Unit: '_SK바이오랜드_from2011.01.01_to2011.12.31' (22/1753)
    No articles to scrap for "_SK바이오랜드_from2011.01.01_to2011.12.31"
 * Unit: '_SK이노베이션_from2011.01.01_to2011.12.31' (23/1753)
    The Number of articles:    2755
    [_SK이노베이션_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_SK이노베이션_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_SK이노베이션_from2011.01.01_to2011.12.31]_ from'2000' to '2754' (df2): successfully Saved
 * Unit: '_STX엔진_from2011.01.01_to2011.12.31' (24/1753)
    The Number of articles:    1334
    [_STX엔진_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_STX엔진_from2011.01.01_to2011.12.31]_ from'1000' to '1333' (df2): successfully Saved
 * Unit: '_STX조선해양_from2011.01.01_to2011.12.31' (25/1753)
    The Number of articles:    2866
    [_STX조선해양_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_STX조선해양_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_STX조선해양_from2011.01.01_to2011.12.31]_ from'2000' to '2865' (df2): successfully Saved
 * Unit: '_STX중공업_from2011.01.01_to2011.12.31' (26/1753)
    The Number of articles:    775
    [_STX중공업_from2011.01.01_to2011.12.31]_ from'0' to '774' (df2): successfully Saved
 * Unit: '_TBH글로벌_from2011.01.01_to2011.12.31' (27/1753)
    The Number of articles:    1
    [_TBH글로벌_from2011.01.01_to2011.12.31]_ from'0' to '0' (df2): successfully Saved
 * Unit: '_THE E&M_from2011.01.01_to2011.12.31' (28/1753)
    No articles to scrap for "_THE E&M_from2011.01.01_to2011.12.31"
 * Unit: '_TPC_from2011.01.01_to2011.12.31' (29/1753)
    The Number of articles:    1283
    [_TPC_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_TPC_from2011.01.01_to2011.12.31]_ from'1000' to '1282' (df2): successfully Saved
 * Unit: '_UC아이콜스_from2011.01.01_to2011.12.31' (30/1753)
    The Number of articles:    1
    [_UC아이콜스_from2011.01.01_to2011.12.31]_ from'0' to '0' (df2): successfully Saved
 * Unit: '_VK_from2011.01.01_to2011.12.31' (31/1753)
    The Number of articles:    32
    [_VK_from2011.01.01_to2011.12.31]_ from'0' to '31' (df2): successfully Saved
 * Unit: '_W홀딩컴퍼니_from2011.01.01_to2011.12.31' (32/1753)
    No articles to scrap for "_W홀딩컴퍼니_from2011.01.01_to2011.12.31"
 * Unit: '_YTN_from2011.01.01_to2011.12.31' (33/1753)
    The Number of articles:    1631
    [_YTN_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_YTN_from2011.01.01_to2011.12.31]_ from'1000' to '1630' (df2): successfully Saved
 * Unit: '_YW_from2011.01.01_to2011.12.31' (34/1753)
    The Number of articles:    28
    [_YW_from2011.01.01_to2011.12.31]_ from'0' to '27' (df2): successfully Saved
 * Unit: '_가비아_from2011.01.01_to2011.12.31' (35/1753)
    The Number of articles:    306
    [_가비아_from2011.01.01_to2011.12.31]_ from'0' to '305' (df2): successfully Saved
 * Unit: '_가온미디어_from2011.01.01_to2011.12.31' (36/1753)
    The Number of articles:    157
    [_가온미디어_from2011.01.01_to2011.12.31]_ from'0' to '156' (df2): successfully Saved
 * Unit: '_감마누_from2011.01.01_to2011.12.31' (37/1753)
    The Number of articles:    7
    [_감마누_from2011.01.01_to2011.12.31]_ from'0' to '6' (df2): successfully Saved
 * Unit: '_강원랜드_from2011.01.01_to2011.12.31' (38/1753)
    The Number of articles:    1101

    [_강원랜드_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_강원랜드_from2011.01.01_to2011.12.31]_ from'1000' to '1100' (df2): successfully Saved
 * Unit: '_갤럭시아컴즈_from2011.01.01_to2011.12.31' (39/1753)
    The Number of articles:    238
    [_갤럭시아컴즈_from2011.01.01_to2011.12.31]_ from'0' to '237' (df2): successfully Saved
 * Unit: '_건영_from2011.01.01_to2011.12.31' (40/1753)
    The Number of articles:    1624
    [_건영_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_건영_from2011.01.01_to2011.12.31]_ from'1000' to '1623' (df2): successfully Saved
 * Unit: '_게임빌_from2011.01.01_to2011.12.31' (41/1753)
    The Number of articles:    2386
    [_게임빌_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_게임빌_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_게임빌_from2011.01.01_to2011.12.31]_ from'2000' to '2385' (df2): successfully Saved
 * Unit: '_경남제약_from2011.01.01_to2011.12.31' (42/1753)
    The Number of articles:    265
    [_경남제약_from2011.01.01_to2011.12.31]_ from'0' to '264' (df2): successfully Saved
 * Unit: '_경향건설_from2011.01.01_to2011.12.31' (43/1753)
    No articles to scrap for "_경향건설_from2011.01.01_to2011.12.31"
 * Unit: '_계몽사_from2011.01.01_to2011.12.31' (44/1753)
    The Number of articles:    10
    [_계몽사_from2011.01.01_to2011.12.31]_ from'0' to '9' (df2): successfully Saved
 * Unit: '_고려반도체_from2011.01.01_to2011.12.31' (45/1753)
    The Number of articles:    316
    [_고려반도체_from2011.01.01_to2011.12.31]_ from'0' to '315' (df2): successfully Saved
 * Unit: '_고려신용정보_from2011.01.01_to2011.12.31' (46/1753)
    The Number of articles:    40
    [_고려신용정보_from2011.01.01_to2011.12.31]_ from'0' to '39' (df2): successfully Saved
    >>> [_고려신용정보_from2011.01.01_to2011.12.31]_ from'0' to '39' (df2): failed to export .csv
 * Unit: '_고영_from2011.01.01_to2011.12.31' (47/1753)
    The Number of articles:    520
    [_고영_from2011.01.01_to2011.12.31]_ from'0' to '519' (df2): successfully Saved
 * Unit: '_골프존뉴딘_from2011.01.01_to2011.12.31' (48/1753)
    No articles to scrap for "_골프존뉴딘_from2011.01.01_to2011.12.31"
 * Unit: '_광진윈텍_from2011.01.01_to2011.12.31' (49/1753)
    The Number of articles:    123
    [_광진윈텍_from2011.01.01_to2011.12.31]_ from'0' to '122' (df2): successfully Saved
 * Unit: '_굿이엠지_from2011.01.01_to2011.12.31' (50/1753)
    The Number of articles:    1
    [_굿이엠지_from2011.01.01_to2011.12.31]_ from'0' to '0' (df2): successfully Saved
 * Unit: '_글로벌에스엠_from2011.01.01_to2011.12.31' (51/1753)
    The Number of articles:    80
    [_글로벌에스엠_from2011.01.01_to2011.12.31]_ from'0' to '79' (df2): successfully Saved
 * Unit: '_글로본_from2011.01.01_to2011.12.31' (52/1753)
    No articles to scrap for "_글로본_from2011.01.01_to2011.12.31"
 * Unit: '_글로포스트_from2011.01.01_to2011.12.31' (53/1753)
    The Number of articles:    2
    [_글로포스트_from2011.01.01_to2011.12.31]_ from'0' to '1' (df2): successfully Saved
 * Unit: '_금강제강_from2011.01.01_to2011.12.31' (54/1753)
    No articles to scrap for "_금강제강_from2011.01.01_to2011.12.31"
 * Unit: '_금호타이어_from2011.01.01_to2011.12.31' (55/1753)
    The Number of articles:    2951
    [_금호타이어_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_금호타이어_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_금호타이어_from2011.01.01_to2011.12.31]_ from'2000' to '2950' (df2): successfully Saved
 * Unit: '_기가레인_from2011.01.01_to2011.12.31' (56/1753)
    The Number of articles:    7
    [_기가레인_from2011.01.01_to2011.12.31]_ from'0' to '6' (df2): successfully Saved
 * Unit: '_나노스_from2011.01.01_to2011.12.31' (57/1753)
    The Number of articles:    11
    [_나노스_from2011.01.01_to2011.12.31]_ from'0' to '10' (df2): successfully Saved
 * Unit: '_나노신소재_from2011.01.01_to2011.12.31' (58/1753)
    The Number of articles:    623
    [_나노신소재_from2011.01.01_to2011.12.31]_ from'0' to '622' (df2): successfully Saved
 * Unit: '_나노캠텍_from2011.01.01_to2011.12.31' (59/1753)
    The Number of articles:    127
    [_나노캠텍_from2011.01.01_to2011.12.31]_ from'0' to '126' (df2): successfully Saved
 * Unit: '_나라엠앤디_from2011.01.01_to2011.12.31' (60/1753)
    The Number of articles:    288
    [_나라엠앤디_from2011.01.01_to2011.12.31]_ from'0' to '287' (df2): successfully Saved
 * Unit: '_나무가_from2011.01.01_to2011.12.31' (61/1753)
    The Number of articles:    2981
    [_나무가_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_나무가_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_나무가_from2011.01.01_to2011.12.31]_ from'2000' to '2980' (df2): successfully Saved
 * Unit: '_나스미디어_from2011.01.01_to2011.12.31' (62/1753)
    The Number of articles:    38
    [_나스미디어_from2011.01.01_to2011.12.31]_ from'0' to '37' (df2): successfully Saved
 * Unit: '_나이벡_from2011.01.01_to2011.12.31' (63/1753)
    The Number of articles:    233
    [_나이벡_from2011.01.01_to2011.12.31]_ from'0' to '232' (df2): successfully Saved
 * Unit: '_나이스디앤비_from2011.01.01_to2011.12.31' (64/1753)
    The Number of articles:    182
    [_나이스디앤비_from2011.01.01_to2011.12.31]_ from'0' to '181' (df2): successfully Saved
 * Unit: '_나이스메탈_from2011.01.01_to2011.12.31' (65/1753)
    The Number of articles:    117
    [_나이스메탈_from2011.01.01_to2011.12.31]_ from'0' to '116' (df2): successfully Saved
 * Unit: '_나이스정보통신_from2011.01.01_to2011.12.31' (66/1753)
    The Number of articles:    84
    [_나이스정보통신_from2011.01.01_to2011.12.31]_ from'0' to '83' (df2): successfully Saved
 * Unit: '_네오디안테크놀로지_from2011.01.01_to2011.12.31' (67/1753)
    No articles to scrap for "_네오디안테크놀로지_from2011.01.01_to2011.12.31"
 * Unit: '_네오리소스_from2011.01.01_to2011.12.31' (68/1753)
    The Number of articles:    8
    [_네오리소스_from2011.01.01_to2011.12.31]_ from'0' to '7' (df2): successfully Saved
 * Unit: '_네오세미테크_from2011.01.01_to2011.12.31' (69/1753)
    The Number of articles:    134
    [_네오세미테크_from2011.01.01_to2011.12.31]_ from'0' to '133' (df2): successfully Saved
 * Unit: '_네오위즈_from2011.01.01_to2011.12.31' (70/1753)
    The Number of articles:    2471
    [_네오위즈_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_네오위즈_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_네오위즈_from2011.01.01_to2011.12.31]_ from'2000' to '2470' (df2): successfully Saved
 * Unit: '_네오위즈홀딩스_from2011.01.01_to2011.12.31' (71/1753)
    No articles to scrap for "_네오위즈홀딩스_from2011.01.01_to2011.12.31"
 * Unit: '_네오티스_from2011.01.01_to2011.12.31' (72/1753)
    The Number of articles:    59
    [_네오티스_from2011.01.01_to2011.12.31]_ from'0' to '58' (df2): successfully Saved
 * Unit: '_네오팜_from2011.01.01_to2011.12.31' (73/1753)
    The Number of articles:    210
    [_네오팜_from2011.01.01_to2011.12.31]_ from'0' to '209' (df2): successfully Saved
 * Unit: '_네오피델리티_from2011.01.01_to2011.12.31' (74/1753)
    The Number of articles:    177
    [_네오피델리티_from2011.01.01_to2011.12.31]_ from'0' to '176' (df2): successfully Saved
 * Unit: '_네이블_from2011.01.01_to2011.12.31' (75/1753)
    The Number of articles:    22
    [_네이블_from2011.01.01_to2011.12.31]_ from'0' to '21' (df2): successfully Saved
 * Unit: '_네이쳐글로벌_from2011.01.01_to2011.12.31' (76/1753)
    The Number of articles:    25
    [_네이쳐글로벌_from2011.01.01_to2011.12.31]_ from'0' to '24' (df2): successfully Saved
 * Unit: '_네패스신소재_from2011.01.01_to2011.12.31' (77/1753)
    The Number of articles:    22
    [_네패스신소재_from2011.01.01_to2011.12.31]_ from'0' to '21' (df2): successfully Saved
 * Unit: '_네프로아이티_from2011.01.01_to2011.12.31' (78/1753)
    The Number of articles:    499
    [_네프로아이티_from2011.01.01_to2011.12.31]_ from'0' to '498' (df2): successfully Saved
 * Unit: '_넥스턴_from2011.01.01_to2011.12.31' (79/1753)
    The Number of articles:    53
    [_넥스턴_from2011.01.01_to2011.12.31]_ from'0' to '52' (df2): successfully Saved
 * Unit: '_넥스트BT_from2011.01.01_to2011.12.31' (80/1753)
    No articles to scrap for "_넥스트BT_from2011.01.01_to2011.12.31"
 * Unit: '_넥스트리밍_from2011.01.01_to2011.12.31' (81/1753)

    The Number of articles:    192
    [_넥스트리밍_from2011.01.01_to2011.12.31]_ from'0' to '191' (df2): successfully Saved
 * Unit: '_넥스트바이오홀딩스_from2011.01.01_to2011.12.31' (82/1753)
    No articles to scrap for "_넥스트바이오홀딩스_from2011.01.01_to2011.12.31"
 * Unit: '_넥스트아이_from2011.01.01_to2011.12.31' (83/1753)
    The Number of articles:    308
    [_넥스트아이_from2011.01.01_to2011.12.31]_ from'0' to '307' (df2): successfully Saved
 * Unit: '_넥스트칩_from2011.01.01_to2011.12.31' (84/1753)
    The Number of articles:    395
    [_넥스트칩_from2011.01.01_to2011.12.31]_ from'0' to '394' (df2): successfully Saved
 * Unit: '_노루페인트_from2011.01.01_to2011.12.31' (85/1753)
    The Number of articles:    127
    [_노루페인트_from2011.01.01_to2011.12.31]_ from'0' to '126' (df2): successfully Saved
 * Unit: '_녹십자엠에스_from2011.01.01_to2011.12.31' (86/1753)
    The Number of articles:    7
    [_녹십자엠에스_from2011.01.01_to2011.12.31]_ from'0' to '6' (df2): successfully Saved
 * Unit: '_농심홀딩스_from2011.01.01_to2011.12.31' (87/1753)
    The Number of articles:    67
    [_농심홀딩스_from2011.01.01_to2011.12.31]_ from'0' to '66' (df2): successfully Saved
 * Unit: '_누리플랜_from2011.01.01_to2011.12.31' (88/1753)
    The Number of articles:    436
    [_누리플랜_from2011.01.01_to2011.12.31]_ from'0' to '435' (df2): successfully Saved
 * Unit: '_뉴로스_from2011.01.01_to2011.12.31' (89/1753)
    The Number of articles:    503
    [_뉴로스_from2011.01.01_to2011.12.31]_ from'0' to '502' (df2): successfully Saved
 * Unit: '_뉴보텍_from2011.01.01_to2011.12.31' (90/1753)
    The Number of articles:    273
    [_뉴보텍_from2011.01.01_to2011.12.31]_ from'0' to '272' (df2): successfully Saved
 * Unit: '_뉴씨앤씨_from2011.01.01_to2011.12.31' (91/1753)
    No articles to scrap for "_뉴씨앤씨_from2011.01.01_to2011.12.31"
 * Unit: '_뉴젠아이씨티_from2011.01.01_to2011.12.31' (92/1753)
    The Number of articles:    84
    [_뉴젠아이씨티_from2011.01.01_to2011.12.31]_ from'0' to '83' (df2): successfully Saved
 * Unit: '_뉴트리바이오텍_from2011.01.01_to2011.12.31' (93/1753)
    The Number of articles:    8
    [_뉴트리바이오텍_from2011.01.01_to2011.12.31]_ from'0' to '7' (df2): successfully Saved
 * Unit: '_뉴파워프라즈마_from2011.01.01_to2011.12.31' (94/1753)
    The Number of articles:    8
    [_뉴파워프라즈마_from2011.01.01_to2011.12.31]_ from'0' to '7' (df2): successfully Saved
 * Unit: '_뉴프라이드_from2011.01.01_to2011.12.31' (95/1753)
    The Number of articles:    136
    [_뉴프라이드_from2011.01.01_to2011.12.31]_ from'0' to '135' (df2): successfully Saved
 * Unit: '_뉴프렉스_from2011.01.01_to2011.12.31' (96/1753)
    The Number of articles:    49
    [_뉴프렉스_from2011.01.01_to2011.12.31]_ from'0' to '48' (df2): successfully Saved
    >>> [_뉴프렉스_from2011.01.01_to2011.12.31]_ from'0' to '48' (df2): failed to export .csv
 * Unit: '_다나와_from2011.01.01_to2011.12.31' (97/1753)
    The Number of articles:    906
    [_다나와_from2011.01.01_to2011.12.31]_ from'0' to '905' (df2): successfully Saved
 * Unit: '_다날_from2011.01.01_to2011.12.31' (98/1753)
    The Number of articles:    772
    [_다날_from2011.01.01_to2011.12.31]_ from'0' to '771' (df2): successfully Saved
 * Unit: '_다믈멀티미디어_from2011.01.01_to2011.12.31' (99/1753)
    The Number of articles:    68
    [_다믈멀티미디어_from2011.01.01_to2011.12.31]_ from'0' to '67' (df2): successfully Saved
 * Unit: '_다원시스_from2011.01.01_to2011.12.31' (100/1753)
    The Number of articles:    276
    [_다원시스_from2011.01.01_to2011.12.31]_ from'0' to '275' (df2): successfully Saved
 * Unit: '_다휘_from2011.01.01_to2011.12.31' (101/1753)
    The Number of articles:    15
    [_다휘_from2011.01.01_to2011.12.31]_ from'0' to '14' (df2): successfully Saved
 * Unit: '_단성일렉트론_from2011.01.01_to2011.12.31' (102/1753)
    The Number of articles:    2
    [_단성일렉트론_from2011.01.01_to2011.12.31]_ from'0' to '1' (df2): successfully Saved
 * Unit: '_대국_from2011.01.01_to2011.12.31' (103/1753)
    The Number of articles:    3028
    [_대국_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_대국_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_대국_from2011.01.01_to2011.12.31]_ from'2000' to '2999' (df2): successfully Saved
    [_대국_from2011.01.01_to2011.12.31]_ from'3000' to '3027' (df2): successfully Saved
 * Unit: '_대농_from2011.01.01_to2011.12.31' (104/1753)
    The Number of articles:    169
    [_대농_from2011.01.01_to2011.12.31]_ from'0' to '168' (df2): successfully Saved
 * Unit: '_대동스틸_from2011.01.01_to2011.12.31' (105/1753)
    The Number of articles:    102
    [_대동스틸_from2011.01.01_to2011.12.31]_ from'0' to '101' (df2): successfully Saved
 * Unit: '_대림제지_from2011.01.01_to2011.12.31' (106/1753)
    The Number of articles:    21
    [_대림제지_from2011.01.01_to2011.12.31]_ from'0' to '20' (df2): successfully Saved
 * Unit: '_대림통상_from2011.01.01_to2011.12.31' (107/1753)
    The Number of articles:    44
    [_대림통상_from2011.01.01_to2011.12.31]_ from'0' to '43' (df2): successfully Saved
 * Unit: '_대명코퍼레이션_from2011.01.01_to2011.12.31' (108/1753)
    The Number of articles:    28
    [_대명코퍼레이션_from2011.01.01_to2011.12.31]_ from'0' to '27' (df2): successfully Saved
 * Unit: '_대백쇼핑_from2011.01.01_to2011.12.31' (109/1753)
    The Number of articles:    1
    [_대백쇼핑_from2011.01.01_to2011.12.31]_ from'0' to '0' (df2): successfully Saved
 * Unit: '_대봉엘에스_from2011.01.01_to2011.12.31' (110/1753)
    The Number of articles:    409
    [_대봉엘에스_from2011.01.01_to2011.12.31]_ from'0' to '408' (df2): successfully Saved
 * Unit: '_대상홀딩스_from2011.01.01_to2011.12.31' (111/1753)
    The Number of articles:    80
    [_대상홀딩스_from2011.01.01_to2011.12.31]_ from'0' to '79' (df2): successfully Saved
 * Unit: '_대선조선_from2011.01.01_to2011.12.31' (112/1753)
    The Number of articles:    202
    [_대선조선_from2011.01.01_to2011.12.31]_ from'0' to '201' (df2): successfully Saved
 * Unit: '_대선주조_from2011.01.01_to2011.12.31' (113/1753)
    The Number of articles:    668
    [_대선주조_from2011.01.01_to2011.12.31]_ from'0' to '667' (df2): successfully Saved
 * Unit: '_대성미생물_from2011.01.01_to2011.12.31' (114/1753)
    The Number of articles:    49
    [_대성미생물_from2011.01.01_to2011.12.31]_ from'0' to '48' (df2): successfully Saved
 * Unit: '_대성산업_from2011.01.01_to2011.12.31' (115/1753)
    The Number of articles:    596
    [_대성산업_from2011.01.01_to2011.12.31]_ from'0' to '595' (df2): successfully Saved
 * Unit: '_대성에너지_from2011.01.01_to2011.12.31' (116/1753)
    The Number of articles:    240
    [_대성에너지_from2011.01.01_to2011.12.31]_ from'0' to '239' (df2): successfully Saved
 * Unit: '_대성엘텍_from2011.01.01_to2011.12.31' (117/1753)
    The Number of articles:    100
    [_대성엘텍_from2011.01.01_to2011.12.31]_ from'0' to '99' (df2): successfully Saved
 * Unit: '_대성파인텍_from2011.01.01_to2011.12.31' (118/1753)
    The Number of articles:    141
    [_대성파인텍_from2011.01.01_to2011.12.31]_ from'0' to '140' (df2): successfully Saved
 * Unit: '_대성합동지주_from2011.01.01_to2011.12.31' (119/1753)
    The Number of articles:    91
    [_대성합동지주_from2011.01.01_to2011.12.31]_ from'0' to '90' (df2): successfully Saved
 * Unit: '_대성홀딩스_from2011.01.01_to2011.12.31' (120/1753)
    The Number of articles:    205
    [_대성홀딩스_from2011.01.01_to2011.12.31]_ from'0' to '204' (df2): successfully Saved
 * Unit: '_대신정보통신_from2011.01.01_to2011.12.31' (121/1753)
    The Number of articles:    70
    [_대신정보통신_from2011.01.01_to2011.12.31]_ from'0' to '69' (df2): successfully Saved
 * Unit: '_대아리드선_from2011.01.01_to2011.12.31' (122/1753)
    The Number of articles:    1
    [_대아리드선_from2011.01.01_to2011.12.31]_ from'0' to '0' (df2): successfully Saved
 * Unit: '_대아티아이_from2011.01.01_to2011.12.31' (123/1753)
    The Number of articles:    378
    [_대아티아이_from2011.01.01_to2011.12.31]_ from'0' to '377' (df2): successfully Saved
 * Unit: '_대양글로벌_from2011.01.01_to2011.12.31' (124/1753)
    The Number of articles:    82
    [_대양글로벌_from2011.01.01_to2011.12.31]_ from'0' to '81' (df2): successfully Saved
 * Unit: '_대양금속_from2011.01.01_to2011.12.31' (125/1753)
    The Number of articles:    172
    [_대양금속_from2011.01.01_to2011.12.31]_ from'0' to '171' (df2): successfully Saved

 * Unit: '_대양전기공업_from2011.01.01_to2011.12.31' (126/1753)
    The Number of articles:    171
    [_대양전기공업_from2011.01.01_to2011.12.31]_ from'0' to '170' (df2): successfully Saved
 * Unit: '_대양제지_from2011.01.01_to2011.12.31' (127/1753)
    The Number of articles:    44
    [_대양제지_from2011.01.01_to2011.12.31]_ from'0' to '43' (df2): successfully Saved
 * Unit: '_대우_from2011.01.01_to2011.12.31' (128/1753)
    The Number of articles:    2813
    [_대우_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_대우_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_대우_from2011.01.01_to2011.12.31]_ from'2000' to '2812' (df2): successfully Saved
 * Unit: '_대우건설_from2011.01.01_to2011.12.31' (129/1753)
    The Number of articles:    2588
    [_대우건설_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_대우건설_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_대우건설_from2011.01.01_to2011.12.31]_ from'2000' to '2587' (df2): successfully Saved
 * Unit: '_대우부품_from2011.01.01_to2011.12.31' (130/1753)
    The Number of articles:    138
    [_대우부품_from2011.01.01_to2011.12.31]_ from'0' to '137' (df2): successfully Saved
 * Unit: '_대우송도개발_from2011.01.01_to2011.12.31' (131/1753)
    The Number of articles:    23
    [_대우송도개발_from2011.01.01_to2011.12.31]_ from'0' to '22' (df2): successfully Saved
 * Unit: '_대우전자_from2011.01.01_to2011.12.31' (132/1753)
    The Number of articles:    273
    [_대우전자_from2011.01.01_to2011.12.31]_ from'0' to '272' (df2): successfully Saved
 * Unit: '_대우조선해양_from2011.01.01_to2011.12.31' (133/1753)
    The Number of articles:    2717
    [_대우조선해양_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_대우조선해양_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_대우조선해양_from2011.01.01_to2011.12.31]_ from'2000' to '2716' (df2): successfully Saved
 * Unit: '_대우중공업_from2011.01.01_to2011.12.31' (134/1753)
    The Number of articles:    169
    [_대우중공업_from2011.01.01_to2011.12.31]_ from'0' to '168' (df2): successfully Saved
 * Unit: '_대우통신_from2011.01.01_to2011.12.31' (135/1753)
    The Number of articles:    18
    [_대우통신_from2011.01.01_to2011.12.31]_ from'0' to '17' (df2): successfully Saved
 * Unit: '_대웅_from2011.01.01_to2011.12.31' (136/1753)
    The Number of articles:    1643
    [_대웅_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_대웅_from2011.01.01_to2011.12.31]_ from'1000' to '1642' (df2): successfully Saved
 * Unit: '_대웅제약_from2011.01.01_to2011.12.31' (137/1753)
    The Number of articles:    1398
    [_대웅제약_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_대웅제약_from2011.01.01_to2011.12.31]_ from'1000' to '1397' (df2): successfully Saved
 * Unit: '_대원강업_from2011.01.01_to2011.12.31' (138/1753)
    The Number of articles:    357
    [_대원강업_from2011.01.01_to2011.12.31]_ from'0' to '356' (df2): successfully Saved
 * Unit: '_대원미디어_from2011.01.01_to2011.12.31' (139/1753)
    The Number of articles:    206
    [_대원미디어_from2011.01.01_to2011.12.31]_ from'0' to '205' (df2): successfully Saved
 * Unit: '_대원산업_from2011.01.01_to2011.12.31' (140/1753)
    The Number of articles:    79
    [_대원산업_from2011.01.01_to2011.12.31]_ from'0' to '78' (df2): successfully Saved
 * Unit: '_대원전선_from2011.01.01_to2011.12.31' (141/1753)
    The Number of articles:    122
    [_대원전선_from2011.01.01_to2011.12.31]_ from'0' to '121' (df2): successfully Saved
 * Unit: '_대원제약_from2011.01.01_to2011.12.31' (142/1753)
    The Number of articles:    200
    [_대원제약_from2011.01.01_to2011.12.31]_ from'0' to '199' (df2): successfully Saved
    >>> [_대원제약_from2011.01.01_to2011.12.31]_ from'0' to '199' (df2): failed to export .csv
 * Unit: '_대유위니아_from2011.01.01_to2011.12.31' (143/1753)
    No articles to scrap for "_대유위니아_from2011.01.01_to2011.12.31"
 * Unit: '_대유플러스_from2011.01.01_to2011.12.31' (144/1753)
    No articles to scrap for "_대유플러스_from2011.01.01_to2011.12.31"
 * Unit: '_대일화학_from2011.01.01_to2011.12.31' (145/1753)
    The Number of articles:    19
    [_대일화학_from2011.01.01_to2011.12.31]_ from'0' to '18' (df2): successfully Saved
 * Unit: '_대정화금_from2011.01.01_to2011.12.31' (146/1753)
    The Number of articles:    358
    [_대정화금_from2011.01.01_to2011.12.31]_ from'0' to '357' (df2): successfully Saved
 * Unit: '_대주산업_from2011.01.01_to2011.12.31' (147/1753)
    The Number of articles:    152
    [_대주산업_from2011.01.01_to2011.12.31]_ from'0' to '151' (df2): successfully Saved
 * Unit: '_대주전자재료_from2011.01.01_to2011.12.31' (148/1753)
    The Number of articles:    327
    [_대주전자재료_from2011.01.01_to2011.12.31]_ from'0' to '326' (df2): successfully Saved
 * Unit: '_대주코레스_from2011.01.01_to2011.12.31' (149/1753)
    No articles to scrap for "_대주코레스_from2011.01.01_to2011.12.31"
 * Unit: '_대진디엠피_from2011.01.01_to2011.12.31' (150/1753)
    The Number of articles:    156
    [_대진디엠피_from2011.01.01_to2011.12.31]_ from'0' to '155' (df2): successfully Saved
 * Unit: '_대창_from2011.01.01_to2011.12.31' (151/1753)
    The Number of articles:    972
    [_대창_from2011.01.01_to2011.12.31]_ from'0' to '971' (df2): successfully Saved
 * Unit: '_대창단조_from2011.01.01_to2011.12.31' (152/1753)
    The Number of articles:    205
    [_대창단조_from2011.01.01_to2011.12.31]_ from'0' to '204' (df2): successfully Saved
 * Unit: '_대창솔루션_from2011.01.01_to2011.12.31' (153/1753)
    No articles to scrap for "_대창솔루션_from2011.01.01_to2011.12.31"
 * Unit: '_대창스틸_from2011.01.01_to2011.12.31' (154/1753)
    The Number of articles:    15
    [_대창스틸_from2011.01.01_to2011.12.31]_ from'0' to '14' (df2): successfully Saved
 * Unit: '_대한과학_from2011.01.01_to2011.12.31' (155/1753)
    The Number of articles:    863
    [_대한과학_from2011.01.01_to2011.12.31]_ from'0' to '862' (df2): successfully Saved
 * Unit: '_대한광통신_from2011.01.01_to2011.12.31' (156/1753)
    No articles to scrap for "_대한광통신_from2011.01.01_to2011.12.31"
 * Unit: '_대한뉴팜_from2011.01.01_to2011.12.31' (157/1753)
    The Number of articles:    217
    [_대한뉴팜_from2011.01.01_to2011.12.31]_ from'0' to '216' (df2): successfully Saved
 * Unit: '_대한바이오_from2011.01.01_to2011.12.31' (158/1753)
    The Number of articles:    46
    [_대한바이오_from2011.01.01_to2011.12.31]_ from'0' to '45' (df2): successfully Saved
 * Unit: '_대한약품_from2011.01.01_to2011.12.31' (159/1753)
    The Number of articles:    99
    [_대한약품_from2011.01.01_to2011.12.31]_ from'0' to '98' (df2): successfully Saved
 * Unit: '_대한전선_from2011.01.01_to2011.12.31' (160/1753)
    The Number of articles:    2355
    [_대한전선_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_대한전선_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_대한전선_from2011.01.01_to2011.12.31]_ from'2000' to '2354' (df2): successfully Saved
 * Unit: '_대한항공_from2011.01.01_to2011.12.31' (161/1753)
    The Number of articles:    2777
    [_대한항공_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_대한항공_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_대한항공_from2011.01.01_to2011.12.31]_ from'2000' to '2776' (df2): successfully Saved
 * Unit: '_대한해운_from2011.01.01_to2011.12.31' (162/1753)
    The Number of articles:    1306
    [_대한해운_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_대한해운_from2011.01.01_to2011.12.31]_ from'1000' to '1305' (df2): successfully Saved
 * Unit: '_대호_from2011.01.01_to2011.12.31' (163/1753)
    The Number of articles:    1499
    [_대호_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_대호_from2011.01.01_to2011.12.31]_ from'1000' to '1498' (df2): successfully Saved
 * Unit: '_대호에이엘_from2011.01.01_to2011.12.31' (164/1753)
    The Number of articles:    319
    [_대호에이엘_from2011.01.01_to2011.12.31]_ from'0' to '318' (df2): successfully Saved
 * Unit: '_대호피앤씨_from2011.01.01_to2011.12.31' (165/1753)
    The Number of articles:    209
    [_대호피앤씨_from2011.01.01_to2011.12.31]_ from'0' to '208' (df2): successfully Saved

 * Unit: '_대화제약_from2011.01.01_to2011.12.31' (166/1753)
    The Number of articles:    258
    [_대화제약_from2011.01.01_to2011.12.31]_ from'0' to '257' (df2): successfully Saved
 * Unit: '_대흥멀티통신_from2011.01.01_to2011.12.31' (167/1753)
    No articles to scrap for "_대흥멀티통신_from2011.01.01_to2011.12.31"
 * Unit: '_더존비즈온_from2011.01.01_to2011.12.31' (168/1753)
    The Number of articles:    664
    [_더존비즈온_from2011.01.01_to2011.12.31]_ from'0' to '663' (df2): successfully Saved
 * Unit: '_덕산하이메탈_from2011.01.01_to2011.12.31' (169/1753)
    The Number of articles:    1030
    [_덕산하이메탈_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_덕산하이메탈_from2011.01.01_to2011.12.31]_ from'1000' to '1029' (df2): successfully Saved
 * Unit: '_덕신하우징_from2011.01.01_to2011.12.31' (170/1753)
    The Number of articles:    50
    [_덕신하우징_from2011.01.01_to2011.12.31]_ from'0' to '49' (df2): successfully Saved
 * Unit: '_덕양산업_from2011.01.01_to2011.12.31' (171/1753)
    The Number of articles:    79
    [_덕양산업_from2011.01.01_to2011.12.31]_ from'0' to '78' (df2): successfully Saved
 * Unit: '_데코앤이_from2011.01.01_to2011.12.31' (172/1753)
    No articles to scrap for "_데코앤이_from2011.01.01_to2011.12.31"
 * Unit: '_덴티움_from2011.01.01_to2011.12.31' (173/1753)
    The Number of articles:    142
    [_덴티움_from2011.01.01_to2011.12.31]_ from'0' to '141' (df2): successfully Saved
 * Unit: '_도움_from2011.01.01_to2011.12.31' (174/1753)
    The Number of articles:    2901
    [_도움_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_도움_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_도움_from2011.01.01_to2011.12.31]_ from'2000' to '2900' (df2): successfully Saved
 * Unit: '_도이치모터스_from2011.01.01_to2011.12.31' (175/1753)
    The Number of articles:    319
    [_도이치모터스_from2011.01.01_to2011.12.31]_ from'0' to '318' (df2): successfully Saved
 * Unit: '_도화엔지니어링_from2011.01.01_to2011.12.31' (176/1753)
    The Number of articles:    176
    [_도화엔지니어링_from2011.01.01_to2011.12.31]_ from'0' to '175' (df2): successfully Saved
 * Unit: '_동국S&C_from2011.01.01_to2011.12.31' (177/1753)
    The Number of articles:    292
    [_동국S&C_from2011.01.01_to2011.12.31]_ from'0' to '291' (df2): successfully Saved
 * Unit: '_동국무역_from2011.01.01_to2011.12.31' (178/1753)
    The Number of articles:    55
    [_동국무역_from2011.01.01_to2011.12.31]_ from'0' to '54' (df2): successfully Saved
 * Unit: '_동국산업_from2011.01.01_to2011.12.31' (179/1753)
    The Number of articles:    129
    [_동국산업_from2011.01.01_to2011.12.31]_ from'0' to '128' (df2): successfully Saved
 * Unit: '_동국알앤에스_from2011.01.01_to2011.12.31' (180/1753)
    The Number of articles:    156
    [_동국알앤에스_from2011.01.01_to2011.12.31]_ from'0' to '155' (df2): successfully Saved
 * Unit: '_동국제강_from2011.01.01_to2011.12.31' (181/1753)
    The Number of articles:    2735
    [_동국제강_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_동국제강_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_동국제강_from2011.01.01_to2011.12.31]_ from'2000' to '2734' (df2): successfully Saved
 * Unit: '_동국제약_from2011.01.01_to2011.12.31' (182/1753)
    The Number of articles:    446
    [_동국제약_from2011.01.01_to2011.12.31]_ from'0' to '445' (df2): successfully Saved
 * Unit: '_동남합성_from2011.01.01_to2011.12.31' (183/1753)
    The Number of articles:    72
    [_동남합성_from2011.01.01_to2011.12.31]_ from'0' to '71' (df2): successfully Saved
 * Unit: '_동방_from2011.01.01_to2011.12.31' (184/1753)
    The Number of articles:    2939
    [_동방_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_동방_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_동방_from2011.01.01_to2011.12.31]_ from'2000' to '2938' (df2): successfully Saved
 * Unit: '_동방라이텍_from2011.01.01_to2011.12.31' (185/1753)
    No articles to scrap for "_동방라이텍_from2011.01.01_to2011.12.31"
 * Unit: '_동방선기_from2011.01.01_to2011.12.31' (186/1753)
    The Number of articles:    132
    [_동방선기_from2011.01.01_to2011.12.31]_ from'0' to '131' (df2): successfully Saved
 * Unit: '_동방아그로_from2011.01.01_to2011.12.31' (187/1753)
    The Number of articles:    67
    [_동방아그로_from2011.01.01_to2011.12.31]_ from'0' to '66' (df2): successfully Saved
 * Unit: '_동부_from2011.01.01_to2011.12.31' (188/1753)
    The Number of articles:    2961
    [_동부_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    >>> [_동부_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): failed to export .csv
    [_동부_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_동부_from2011.01.01_to2011.12.31]_ from'2000' to '2960' (df2): successfully Saved
 * Unit: '_동부건설_from2011.01.01_to2011.12.31' (189/1753)
    The Number of articles:    1959
    [_동부건설_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_동부건설_from2011.01.01_to2011.12.31]_ from'1000' to '1958' (df2): successfully Saved
 * Unit: '_동부라이텍_from2011.01.01_to2011.12.31' (190/1753)
    The Number of articles:    177
    [_동부라이텍_from2011.01.01_to2011.12.31]_ from'0' to '176' (df2): successfully Saved
 * Unit: '_동부제철_from2011.01.01_to2011.12.31' (191/1753)
    The Number of articles:    634
    [_동부제철_from2011.01.01_to2011.12.31]_ from'0' to '633' (df2): successfully Saved
 * Unit: '_동산씨앤지_from2011.01.01_to2011.12.31' (192/1753)
    No articles to scrap for "_동산씨앤지_from2011.01.01_to2011.12.31"
 * Unit: '_동산진흥_from2011.01.01_to2011.12.31' (193/1753)
    The Number of articles:    9
    [_동산진흥_from2011.01.01_to2011.12.31]_ from'0' to '8' (df2): successfully Saved
 * Unit: '_동서_from2011.01.01_to2011.12.31' (194/1753)
    The Number of articles:    2735
    [_동서_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_동서_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_동서_from2011.01.01_to2011.12.31]_ from'2000' to '2734' (df2): successfully Saved
 * Unit: '_동서정보기술_from2011.01.01_to2011.12.31' (195/1753)
    No articles to scrap for "_동서정보기술_from2011.01.01_to2011.12.31"
 * Unit: '_동성제약_from2011.01.01_to2011.12.31' (196/1753)
    The Number of articles:    286
    [_동성제약_from2011.01.01_to2011.12.31]_ from'0' to '285' (df2): successfully Saved
 * Unit: '_동성코퍼레이션_from2011.01.01_to2011.12.31' (197/1753)
    No articles to scrap for "_동성코퍼레이션_from2011.01.01_to2011.12.31"
 * Unit: '_동성화인텍_from2011.01.01_to2011.12.31' (198/1753)
    No articles to scrap for "_동성화인텍_from2011.01.01_to2011.12.31"
 * Unit: '_동성화학_from2011.01.01_to2011.12.31' (199/1753)
    The Number of articles:    237
    [_동성화학_from2011.01.01_to2011.12.31]_ from'0' to '236' (df2): successfully Saved
 * Unit: '_동신_from2011.01.01_to2011.12.31' (200/1753)
    The Number of articles:    809
    [_동신_from2011.01.01_to2011.12.31]_ from'0' to '808' (df2): successfully Saved
 * Unit: '_동신건설_from2011.01.01_to2011.12.31' (201/1753)
    The Number of articles:    156
    [_동신건설_from2011.01.01_to2011.12.31]_ from'0' to '155' (df2): successfully Saved
 * Unit: '_동아_from2011.01.01_to2011.12.31' (202/1753)
    The Number of articles:    3303
    [_동아_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_동아_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_동아_from2011.01.01_to2011.12.31]_ from'2000' to '2999' (df2): successfully Saved
    [_동아_from2011.01.01_to2011.12.31]_ from'3000' to '3302' (df2): successfully Saved
 * Unit: '_동아건설_from2011.01.01_to2011.12.31' (203/1753)
    The Number of articles:    776
    [_동아건설_from2011.01.01_to2011.12.31]_ from'0' to '775' (df2): successfully Saved
 * Unit: '_동아쏘시오홀딩스_from2011.01.01_to2011.12.31' (204/1753)
    The Number of articles:    1
    [_동아쏘시오홀딩스_from2011.01.01_to2011.12.31]_ from'0' to '0' (df2): successfully Saved
 * Unit: '_동아에스텍_from2011.01.01_to2011.12.31' (205/1753)
    The Number of articles:    99
    [_동아에스텍_from2011.01.01_to2011.12.31]_ from'0' to '98' (df2): successfully Saved

 * Unit: '_동아엘텍_from2011.01.01_to2011.12.31' (206/1753)
    The Number of articles:    174
    [_동아엘텍_from2011.01.01_to2011.12.31]_ from'0' to '173' (df2): successfully Saved
 * Unit: '_동아타이어_from2011.01.01_to2011.12.31' (207/1753)
    The Number of articles:    186
    [_동아타이어_from2011.01.01_to2011.12.31]_ from'0' to '185' (df2): successfully Saved
 * Unit: '_동아화성_from2011.01.01_to2011.12.31' (208/1753)
    The Number of articles:    371
    [_동아화성_from2011.01.01_to2011.12.31]_ from'0' to '370' (df2): successfully Saved
 * Unit: '_동양_from2011.01.01_to2011.12.31' (209/1753)
    The Number of articles:    2746
    [_동양_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_동양_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_동양_from2011.01.01_to2011.12.31]_ from'2000' to '2745' (df2): successfully Saved
 * Unit: '_동양건설산업_from2011.01.01_to2011.12.31' (210/1753)
    The Number of articles:    920
    [_동양건설산업_from2011.01.01_to2011.12.31]_ from'0' to '919' (df2): successfully Saved
 * Unit: '_동양고속_from2011.01.01_to2011.12.31' (211/1753)
    The Number of articles:    175
    [_동양고속_from2011.01.01_to2011.12.31]_ from'0' to '174' (df2): successfully Saved
 * Unit: '_동양네트웍스_from2011.01.01_to2011.12.31' (212/1753)
    No articles to scrap for "_동양네트웍스_from2011.01.01_to2011.12.31"
 * Unit: '_동양물산_from2011.01.01_to2011.12.31' (213/1753)
    The Number of articles:    486
    [_동양물산_from2011.01.01_to2011.12.31]_ from'0' to '485' (df2): successfully Saved
 * Unit: '_동양에스텍_from2011.01.01_to2011.12.31' (214/1753)
    The Number of articles:    45
    [_동양에스텍_from2011.01.01_to2011.12.31]_ from'0' to '44' (df2): successfully Saved
 * Unit: '_동양이엔피_from2011.01.01_to2011.12.31' (215/1753)
    The Number of articles:    106
    [_동양이엔피_from2011.01.01_to2011.12.31]_ from'0' to '105' (df2): successfully Saved
 * Unit: '_동양철관_from2011.01.01_to2011.12.31' (216/1753)
    The Number of articles:    669
    [_동양철관_from2011.01.01_to2011.12.31]_ from'0' to '668' (df2): successfully Saved
 * Unit: '_동양텔레콤_from2011.01.01_to2011.12.31' (217/1753)
    The Number of articles:    474
    [_동양텔레콤_from2011.01.01_to2011.12.31]_ from'0' to '473' (df2): successfully Saved
 * Unit: '_동양피엔에프_from2011.01.01_to2011.12.31' (218/1753)
    The Number of articles:    187
    [_동양피엔에프_from2011.01.01_to2011.12.31]_ from'0' to '186' (df2): successfully Saved
 * Unit: '_동우팜투테이블_from2011.01.01_to2011.12.31' (219/1753)
    No articles to scrap for "_동우팜투테이블_from2011.01.01_to2011.12.31"
 * Unit: '_동운아나텍_from2011.01.01_to2011.12.31' (220/1753)
    The Number of articles:    16
    [_동운아나텍_from2011.01.01_to2011.12.31]_ from'0' to '15' (df2): successfully Saved
 * Unit: '_동원F&B_from2011.01.01_to2011.12.31' (221/1753)
    The Number of articles:    1174
    [_동원F&B_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_동원F&B_from2011.01.01_to2011.12.31]_ from'1000' to '1173' (df2): successfully Saved
 * Unit: '_동원개발_from2011.01.01_to2011.12.31' (222/1753)
    The Number of articles:    489
    [_동원개발_from2011.01.01_to2011.12.31]_ from'0' to '488' (df2): successfully Saved
 * Unit: '_동원금속_from2011.01.01_to2011.12.31' (223/1753)
    The Number of articles:    161
    [_동원금속_from2011.01.01_to2011.12.31]_ from'0' to '160' (df2): successfully Saved
 * Unit: '_동원시스템즈_from2011.01.01_to2011.12.31' (224/1753)
    The Number of articles:    255
    [_동원시스템즈_from2011.01.01_to2011.12.31]_ from'0' to '254' (df2): successfully Saved
 * Unit: '_동일금속_from2011.01.01_to2011.12.31' (225/1753)
    The Number of articles:    286
    [_동일금속_from2011.01.01_to2011.12.31]_ from'0' to '285' (df2): successfully Saved
 * Unit: '_동일기연_from2011.01.01_to2011.12.31' (226/1753)
    The Number of articles:    143
    [_동일기연_from2011.01.01_to2011.12.31]_ from'0' to '142' (df2): successfully Saved
 * Unit: '_동일산업_from2011.01.01_to2011.12.31' (227/1753)
    The Number of articles:    127
    [_동일산업_from2011.01.01_to2011.12.31]_ from'0' to '126' (df2): successfully Saved
 * Unit: '_동일제강_from2011.01.01_to2011.12.31' (228/1753)
    The Number of articles:    4
    [_동일제강_from2011.01.01_to2011.12.31]_ from'0' to '3' (df2): successfully Saved
 * Unit: '_동일철강_from2011.01.01_to2011.12.31' (229/1753)
    The Number of articles:    44
    [_동일철강_from2011.01.01_to2011.12.31]_ from'0' to '43' (df2): successfully Saved
 * Unit: '_동진쎄미켐_from2011.01.01_to2011.12.31' (230/1753)
    The Number of articles:    134
    [_동진쎄미켐_from2011.01.01_to2011.12.31]_ from'0' to '133' (df2): successfully Saved
 * Unit: '_동화기업_from2011.01.01_to2011.12.31' (231/1753)
    The Number of articles:    86
    [_동화기업_from2011.01.01_to2011.12.31]_ from'0' to '85' (df2): successfully Saved
 * Unit: '_동화약품_from2011.01.01_to2011.12.31' (232/1753)
    The Number of articles:    478
    [_동화약품_from2011.01.01_to2011.12.31]_ from'0' to '477' (df2): successfully Saved
 * Unit: '_두림티앤씨_from2011.01.01_to2011.12.31' (233/1753)
    The Number of articles:    2
    [_두림티앤씨_from2011.01.01_to2011.12.31]_ from'0' to '1' (df2): successfully Saved
 * Unit: '_두산건설_from2011.01.01_to2011.12.31' (234/1753)
    The Number of articles:    2829
    [_두산건설_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_두산건설_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_두산건설_from2011.01.01_to2011.12.31]_ from'2000' to '2828' (df2): successfully Saved
    >>> [_두산건설_from2011.01.01_to2011.12.31]_ from'2000' to '2828' (df2): failed to export .csv
 * Unit: '_두산엔진_from2011.01.01_to2011.12.31' (235/1753)
    The Number of articles:    1380
    [_두산엔진_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_두산엔진_from2011.01.01_to2011.12.31]_ from'1000' to '1379' (df2): successfully Saved
 * Unit: '_두산인프라코어_from2011.01.01_to2011.12.31' (236/1753)
    The Number of articles:    2659
    [_두산인프라코어_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_두산인프라코어_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_두산인프라코어_from2011.01.01_to2011.12.31]_ from'2000' to '2658' (df2): successfully Saved
 * Unit: '_두산중공업_from2011.01.01_to2011.12.31' (237/1753)
    The Number of articles:    2712
    [_두산중공업_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_두산중공업_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_두산중공업_from2011.01.01_to2011.12.31]_ from'2000' to '2711' (df2): successfully Saved
 * Unit: '_두올_from2011.01.01_to2011.12.31' (238/1753)
    The Number of articles:    116
    [_두올_from2011.01.01_to2011.12.31]_ from'0' to '115' (df2): successfully Saved
 * Unit: '_두올산업_from2011.01.01_to2011.12.31' (239/1753)
    The Number of articles:    112
    [_두올산업_from2011.01.01_to2011.12.31]_ from'0' to '111' (df2): successfully Saved
 * Unit: '_드래곤플라이_from2011.01.01_to2011.12.31' (240/1753)
    The Number of articles:    1372
    [_드래곤플라이_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_드래곤플라이_from2011.01.01_to2011.12.31]_ from'1000' to '1371' (df2): successfully Saved
 * Unit: '_디보스_from2011.01.01_to2011.12.31' (241/1753)
    The Number of articles:    45
    [_디보스_from2011.01.01_to2011.12.31]_ from'0' to '44' (df2): successfully Saved
 * Unit: '_디브이에스코리아_from2011.01.01_to2011.12.31' (242/1753)
    The Number of articles:    124
    [_디브이에스코리아_from2011.01.01_to2011.12.31]_ from'0' to '123' (df2): successfully Saved
 * Unit: '_디비케이_from2011.01.01_to2011.12.31' (243/1753)
    No articles to scrap for "_디비케이_from2011.01.01_to2011.12.31"
 * Unit: '_디스플레이텍_from2011.01.01_to2011.12.31' (244/1753)
    The Number of articles:    54
    [_디스플레이텍_from2011.01.01_to2011.12.31]_ from'0' to '53' (df2): successfully Saved
 * Unit: '_디씨엠_from2011.01.01_to2011.12.31' (245/1753)
    The Number of articles:    205
    [_디씨엠_from2011.01.01_to2011.12.31]_ from'0' to '204' (df2): successfully Saved
 * Unit: '_디아이_from2011.01.01_to2011.12.31' (246/1753)
    The Number of articles:    146

    [_디아이_from2011.01.01_to2011.12.31]_ from'0' to '145' (df2): successfully Saved
 * Unit: '_디아이디_from2011.01.01_to2011.12.31' (247/1753)
    The Number of articles:    119
    [_디아이디_from2011.01.01_to2011.12.31]_ from'0' to '118' (df2): successfully Saved
 * Unit: '_디아이씨_from2011.01.01_to2011.12.31' (248/1753)
    The Number of articles:    173
    [_디아이씨_from2011.01.01_to2011.12.31]_ from'0' to '172' (df2): successfully Saved
 * Unit: '_디에스_from2011.01.01_to2011.12.31' (249/1753)
    The Number of articles:    366
    [_디에스_from2011.01.01_to2011.12.31]_ from'0' to '365' (df2): successfully Saved
 * Unit: '_디에스케이_from2011.01.01_to2011.12.31' (250/1753)
    The Number of articles:    101
    [_디에스케이_from2011.01.01_to2011.12.31]_ from'0' to '100' (df2): successfully Saved
 * Unit: '_디에스티로봇_from2011.01.01_to2011.12.31' (251/1753)
    No articles to scrap for "_디에스티로봇_from2011.01.01_to2011.12.31"
 * Unit: '_디에스피_from2011.01.01_to2011.12.31' (252/1753)
    The Number of articles:    29
    [_디에스피_from2011.01.01_to2011.12.31]_ from'0' to '28' (df2): successfully Saved
 * Unit: '_디에이테크놀로지_from2011.01.01_to2011.12.31' (253/1753)
    The Number of articles:    9
    [_디에이테크놀로지_from2011.01.01_to2011.12.31]_ from'0' to '8' (df2): successfully Saved
 * Unit: '_디에이피_from2011.01.01_to2011.12.31' (254/1753)
    The Number of articles:    84
    [_디에이피_from2011.01.01_to2011.12.31]_ from'0' to '83' (df2): successfully Saved
 * Unit: '_디엔에이링크_from2011.01.01_to2011.12.31' (255/1753)
    The Number of articles:    241
    [_디엔에이링크_from2011.01.01_to2011.12.31]_ from'0' to '240' (df2): successfully Saved
 * Unit: '_디엔에프_from2011.01.01_to2011.12.31' (256/1753)
    The Number of articles:    82
    [_디엔에프_from2011.01.01_to2011.12.31]_ from'0' to '81' (df2): successfully Saved
 * Unit: '_디엠씨_from2011.01.01_to2011.12.31' (257/1753)
    The Number of articles:    126
    [_디엠씨_from2011.01.01_to2011.12.31]_ from'0' to '125' (df2): successfully Saved
 * Unit: '_디엠티_from2011.01.01_to2011.12.31' (258/1753)
    The Number of articles:    48
    [_디엠티_from2011.01.01_to2011.12.31]_ from'0' to '47' (df2): successfully Saved
 * Unit: '_디오_from2011.01.01_to2011.12.31' (259/1753)
    The Number of articles:    856
    [_디오_from2011.01.01_to2011.12.31]_ from'0' to '855' (df2): successfully Saved
 * Unit: '_디와이_from2011.01.01_to2011.12.31' (260/1753)
    The Number of articles:    161
    [_디와이_from2011.01.01_to2011.12.31]_ from'0' to '160' (df2): successfully Saved
 * Unit: '_디와이홀딩스_from2011.01.01_to2011.12.31' (261/1753)
    The Number of articles:    6
    [_디와이홀딩스_from2011.01.01_to2011.12.31]_ from'0' to '5' (df2): successfully Saved
 * Unit: '_디이시스_from2011.01.01_to2011.12.31' (262/1753)
    The Number of articles:    1
    [_디이시스_from2011.01.01_to2011.12.31]_ from'0' to '0' (df2): successfully Saved
 * Unit: '_디이엔티_from2011.01.01_to2011.12.31' (263/1753)
    The Number of articles:    68
    [_디이엔티_from2011.01.01_to2011.12.31]_ from'0' to '67' (df2): successfully Saved
 * Unit: '_디젠스_from2011.01.01_to2011.12.31' (264/1753)
    No articles to scrap for "_디젠스_from2011.01.01_to2011.12.31"
 * Unit: '_디지아이_from2011.01.01_to2011.12.31' (265/1753)
    The Number of articles:    80
    [_디지아이_from2011.01.01_to2011.12.31]_ from'0' to '79' (df2): successfully Saved
 * Unit: '_디지탈옵틱_from2011.01.01_to2011.12.31' (266/1753)
    The Number of articles:    9
    [_디지탈옵틱_from2011.01.01_to2011.12.31]_ from'0' to '8' (df2): successfully Saved
 * Unit: '_디지털대성_from2011.01.01_to2011.12.31' (267/1753)
    The Number of articles:    261
    [_디지털대성_from2011.01.01_to2011.12.31]_ from'0' to '260' (df2): successfully Saved
 * Unit: '_디지텍시스템_from2011.01.01_to2011.12.31' (268/1753)
    The Number of articles:    303
    [_디지텍시스템_from2011.01.01_to2011.12.31]_ from'0' to '302' (df2): successfully Saved
 * Unit: '_디지텔_from2011.01.01_to2011.12.31' (269/1753)
    The Number of articles:    6
    [_디지텔_from2011.01.01_to2011.12.31]_ from'0' to '5' (df2): successfully Saved
 * Unit: '_디지틀조선_from2011.01.01_to2011.12.31' (270/1753)
    The Number of articles:    126
    [_디지틀조선_from2011.01.01_to2011.12.31]_ from'0' to '125' (df2): successfully Saved
 * Unit: '_디케이디앤아이_from2011.01.01_to2011.12.31' (271/1753)
    The Number of articles:    35
    [_디케이디앤아이_from2011.01.01_to2011.12.31]_ from'0' to '34' (df2): successfully Saved
 * Unit: '_디케이락_from2011.01.01_to2011.12.31' (272/1753)
    The Number of articles:    83
    [_디케이락_from2011.01.01_to2011.12.31]_ from'0' to '82' (df2): successfully Saved
 * Unit: '_디티앤씨_from2011.01.01_to2011.12.31' (273/1753)
    No articles to scrap for "_디티앤씨_from2011.01.01_to2011.12.31"
 * Unit: '_디패션_from2011.01.01_to2011.12.31' (274/1753)
    The Number of articles:    112
    [_디패션_from2011.01.01_to2011.12.31]_ from'0' to '111' (df2): successfully Saved
 * Unit: '_디피씨_from2011.01.01_to2011.12.31' (275/1753)
    The Number of articles:    114
    [_디피씨_from2011.01.01_to2011.12.31]_ from'0' to '113' (df2): successfully Saved
 * Unit: '_딜리_from2011.01.01_to2011.12.31' (276/1753)
    The Number of articles:    417
    [_딜리_from2011.01.01_to2011.12.31]_ from'0' to '416' (df2): successfully Saved
 * Unit: '_라미화장품_from2011.01.01_to2011.12.31' (277/1753)
    The Number of articles:    1
    [_라미화장품_from2011.01.01_to2011.12.31]_ from'0' to '0' (df2): successfully Saved
 * Unit: '_라온시큐어_from2011.01.01_to2011.12.31' (278/1753)
    No articles to scrap for "_라온시큐어_from2011.01.01_to2011.12.31"
 * Unit: '_라이브플렉스_from2011.01.01_to2011.12.31' (279/1753)
    The Number of articles:    746
    [_라이브플렉스_from2011.01.01_to2011.12.31]_ from'0' to '745' (df2): successfully Saved
 * Unit: '_라이온켐텍_from2011.01.01_to2011.12.31' (280/1753)
    The Number of articles:    13
    [_라이온켐텍_from2011.01.01_to2011.12.31]_ from'0' to '12' (df2): successfully Saved
 * Unit: '_라이트론_from2011.01.01_to2011.12.31' (281/1753)
    No articles to scrap for "_라이트론_from2011.01.01_to2011.12.31"
 * Unit: '_락앤락_from2011.01.01_to2011.12.31' (282/1753)
    The Number of articles:    2211
    [_락앤락_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_락앤락_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_락앤락_from2011.01.01_to2011.12.31]_ from'2000' to '2210' (df2): successfully Saved
 * Unit: '_램테크놀러지_from2011.01.01_to2011.12.31' (283/1753)

 *** UnexpectedException ocurred: ***************************

  ========= 5 times of iteration: 1997 files left to go
 * Unit: '_AJ렌터카_from2012.01.01_to2012.12.31' (1/1997)
    The Number of articles:    614
    [_AJ렌터카_from2012.01.01_to2012.12.31]_ from'0' to '613' (df2): successfully Saved
 * Unit: '_AK홀딩스_from2012.01.01_to2012.12.31' (2/1997)
    The Number of articles:    171
    [_AK홀딩스_from2012.01.01_to2012.12.31]_ from'0' to '170' (df2): successfully Saved
 * Unit: '_AP위성_from2011.01.01_to2011.12.31' (3/1997)
    The Number of articles:    3
    [_AP위성_from2011.01.01_to2011.12.31]_ from'0' to '2' (df2): successfully Saved
 * Unit: '_BGF리테일_from2012.01.01_to2012.12.31' (4/1997)
    The Number of articles:    440
    [_BGF리테일_from2012.01.01_to2012.12.31]_ from'0' to '439' (df2): successfully Saved
 * Unit: '_BYC_from2012.01.01_to2012.12.31' (5/1997)
    The Number of articles:    90
    [_BYC_from2012.01.01_to2012.12.31]_ from'0' to '89' (df2): successfully Saved
 * Unit: '_CJ E&M_from2011.01.01_to2011.12.31' (6/1997)
    The Number of articles:    2726
    [_CJ E&M_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_CJ E&M_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_CJ E&M_from2011.01.01_to2011.12.31]_ from'2000' to '2725' (df2): successfully Saved
 * Unit: '_CJ_from2012.01.01_to2012.12.31' (7/1997)
    The Number of articles:    2644
    [_CJ_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_CJ_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_CJ_from2012.01.01_to2012.12.31]_ from'2000' to '2643' (df2): successfully Saved
 * Unit: '_CJ씨푸드_from2012.01.01_to2012.12.31' (8/1997)
    The Number of articles:    136
    [_CJ씨푸드_from2012.01.01_to2012.12.31]_ from'0' to '135' (df2): successfully Saved
 * Unit: '_CJ헬로비전_from2012.01.01_to2012.12.31' (9/1997)
    The Number of articles:    2811
    [_CJ헬로비전_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_CJ헬로비전_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_CJ헬로비전_from2012.01.01_to2012.12.31]_ from'2000' to '2810' (df2): successfully Saved
 * Unit: '_CS홀딩스_from2012.01.01_to2012.12.31' (10/1997)
    The Number of articles:    47
    [_CS홀딩스_from2012.01.01_to2012.12.31]_ from'0' to '46' (df2): successfully Saved
 * Unit: '_DRB동일_from2012.01.01_to2012.12.31' (11/1997)
    The Number of articles:    43
    [_DRB동일_from2012.01.01_to2012.12.31]_ from'0' to '42' (df2): successfully Saved
 * Unit: '_DSR_from2012.01.01_to2012.12.31' (12/1997)
    The Number of articles:    243
    [_DSR_from2012.01.01_to2012.12.31]_ from'0' to '242' (df2): successfully Saved
 * Unit: '_DSR제강_from2012.01.01_to2012.12.31' (13/1997)
    The Number of articles:    33
    [_DSR제강_from2012.01.01_to2012.12.31]_ from'0' to '32' (df2): successfully Saved
 * Unit: '_F&F_from2012.01.01_to2012.12.31' (14/1997)
    The Number of articles:    123
    [_F&F_from2012.01.01_to2012.12.31]_ from'0' to '122' (df2): successfully Saved
 * Unit: '_GS건설_from2012.01.01_to2012.12.31' (15/1997)
    The Number of articles:    2458
    [_GS건설_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_GS건설_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_GS건설_from2012.01.01_to2012.12.31]_ from'2000' to '2457' (df2): successfully Saved
 * Unit: '_IHQ_from2012.01.01_to2012.12.31' (16/1997)
    The Number of articles:    439
    [_IHQ_from2012.01.01_to2012.12.31]_ from'0' to '438' (df2): successfully Saved
 * Unit: '_JW생명과학_from2012.01.01_to2012.12.31' (17/1997)
    The Number of articles:    38
    [_JW생명과학_from2012.01.01_to2012.12.31]_ from'0' to '37' (df2): successfully Saved
 * Unit: '_JW중외제약_from2012.01.01_to2012.12.31' (18/1997)
    The Number of articles:    1027
    [_JW중외제약_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_JW중외제약_from2012.01.01_to2012.12.31]_ from'1000' to '1026' (df2): successfully Saved
 * Unit: '_KCC_from2012.01.01_to2012.12.31' (19/1997)
    The Number of articles:    2916
    [_KCC_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_KCC_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_KCC_from2012.01.01_to2012.12.31]_ from'2000' to '2915' (df2): successfully Saved
 * Unit: '_KC그린홀딩스_from2012.01.01_to2012.12.31' (20/1997)
    The Number of articles:    15
    [_KC그린홀딩스_from2012.01.01_to2012.12.31]_ from'0' to '14' (df2): successfully Saved
 * Unit: '_KG케미칼_from2012.01.01_to2012.12.31' (21/1997)
    The Number of articles:    310
    [_KG케미칼_from2012.01.01_to2012.12.31]_ from'0' to '309' (df2): successfully Saved
 * Unit: '_KISCO홀딩스_from2012.01.01_to2012.12.31' (22/1997)
    The Number of articles:    32
    [_KISCO홀딩스_from2012.01.01_to2012.12.31]_ from'0' to '31' (df2): successfully Saved
 * Unit: '_KPX케미칼_from2012.01.01_to2012.12.31' (23/1997)
    The Number of articles:    46
    [_KPX케미칼_from2012.01.01_to2012.12.31]_ from'0' to '45' (df2): successfully Saved
 * Unit: '_KR모터스_from2012.01.01_to2012.12.31' (24/1997)
    No articles to scrap for "_KR모터스_from2012.01.01_to2012.12.31"
 * Unit: '_KT&G_from2012.01.01_to2012.12.31' (25/1997)
    The Number of articles:    2539
    [_KT&G_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_KT&G_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_KT&G_from2012.01.01_to2012.12.31]_ from'2000' to '2538' (df2): successfully Saved
 * Unit: '_LG_from2012.01.01_to2012.12.31' (26/1997)
    The Number of articles:    2865
    [_LG_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_LG_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_LG_from2012.01.01_to2012.12.31]_ from'2000' to '2864' (df2): successfully Saved
 * Unit: '_LG디스플레이_from2012.01.01_to2012.12.31' (27/1997)
    The Number of articles:    2667
    [_LG디스플레이_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_LG디스플레이_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_LG디스플레이_from2012.01.01_to2012.12.31]_ from'2000' to '2666' (df2): successfully Saved
 * Unit: '_LG이노텍_from2012.01.01_to2012.12.31' (28/1997)
    The Number of articles:    2545
    [_LG이노텍_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_LG이노텍_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_LG이노텍_from2012.01.01_to2012.12.31]_ from'2000' to '2544' (df2): successfully Saved
 * Unit: '_LS_from2012.01.01_to2012.12.31' (29/1997)
    The Number of articles:    2386
    [_LS_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_LS_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_LS_from2012.01.01_to2012.12.31]_ from'2000' to '2385' (df2): successfully Saved
 * Unit: '_LS산전_from2012.01.01_to2012.12.31' (30/1997)
    The Number of articles:    1799
    [_LS산전_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_LS산전_from2012.01.01_to2012.12.31]_ from'1000' to '1798' (df2): successfully Saved
 * Unit: '_MH에탄올_from2012.01.01_to2012.12.31' (31/1997)
    The Number of articles:    30
    [_MH에탄올_from2012.01.01_to2012.12.31]_ from'0' to '29' (df2): successfully Saved
 * Unit: '_NEW_from2011.01.01_to2011.12.31' (32/1997)
    The Number of articles:    1590
    [_NEW_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_NEW_from2011.01.01_to2011.12.31]_ from'1000' to '1589' (df2): successfully Saved
 * Unit: '_NHN엔터테인먼트_from2011.01.01_to2011.12.31' (33/1997)
    The Number of articles:    1
    [_NHN엔터테인먼트_from2011.01.01_to2011.12.31]_ from'0' to '0' (df2): successfully Saved
 * Unit: '_NI스틸_from2012.01.01_to2012.12.31' (34/1997)
    The Number of articles:    33
    [_NI스틸_from2012.01.01_to2012.12.31]_ from'0' to '32' (df2): successfully Saved
 * Unit: '_NPC_from2012.01.01_to2012.12.31' (35/1997)
    The Number of articles:    1412
    [_NPC_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_NPC_from2012.01.01_to2012.12.31]_ from'1000' to '1411' (df2): successfully Saved
 * Unit: '_OCI_from2012.01.01_to2012.12.31' (36/1997)
    The Number of articles:    2503
    [_OCI_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_OCI_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_OCI_from2012.01.01_to2012.12.31]_ from'2000' to '2502' (df2): successfully Saved
 * Unit: '_POSCO_from2012.01.01_to2012.12.31' (37/1997)
    The Number of articles:    1976
    [_POSCO_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_POSCO_from2012.01.01_to2012.12.31]_ from'1000' to '1975' (df2): successfully Saved
 * Unit: '_S&T중공업_from2012.01.01_to2012.12.31' (38/1997)
    The Number of articles:    572
    [_S&T중공업_from2012.01.01_to2012.12.31]_ from'0' to '571' (df2): successfully Saved
 * Unit: '_S&T홀딩스_from2012.01.01_to2012.12.31' (39/1997)
    The Number of articles:    73
    [_S&T홀딩스_from2012.01.01_to2012.12.31]_ from'0' to '72' (df2): successfully Saved
    >>> [_S&T홀딩스_from2012.01.01_to2012.12.31]_ from'0' to '72' (df2): failed to export .csv
 * Unit: '_S-Oil_from2012.01.01_to2012.12.31' (40/1997)
    The Number of articles:    2239
    [_S-Oil_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_S-Oil_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_S-Oil_from2012.01.01_to2012.12.31]_ from'2000' to '2238' (df2): successfully Saved

 * Unit: '_SBI액시즈_from2011.01.01_to2011.12.31' (41/1997)
    No articles to scrap for "_SBI액시즈_from2011.01.01_to2011.12.31"
 * Unit: '_SGA솔루션즈_from2011.01.01_to2011.12.31' (42/1997)
    No articles to scrap for "_SGA솔루션즈_from2011.01.01_to2011.12.31"
 * Unit: '_SG세계물산_from2012.01.01_to2012.12.31' (43/1997)
    The Number of articles:    98
    [_SG세계물산_from2012.01.01_to2012.12.31]_ from'0' to '97' (df2): successfully Saved
 * Unit: '_SG충방_from2012.01.01_to2012.12.31' (44/1997)
    No articles to scrap for "_SG충방_from2012.01.01_to2012.12.31"
 * Unit: '_SH에너지화학_from2012.01.01_to2012.12.31' (45/1997)
    The Number of articles:    155
    [_SH에너지화학_from2012.01.01_to2012.12.31]_ from'0' to '154' (df2): successfully Saved
 * Unit: '_SIMPAC_from2012.01.01_to2012.12.31' (46/1997)
    The Number of articles:    86
    [_SIMPAC_from2012.01.01_to2012.12.31]_ from'0' to '85' (df2): successfully Saved
 * Unit: '_SJM홀딩스_from2012.01.01_to2012.12.31' (47/1997)
    The Number of articles:    36
    [_SJM홀딩스_from2012.01.01_to2012.12.31]_ from'0' to '35' (df2): successfully Saved
 * Unit: '_SKC_from2012.01.01_to2012.12.31' (48/1997)
    The Number of articles:    1427
    [_SKC_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_SKC_from2012.01.01_to2012.12.31]_ from'1000' to '1426' (df2): successfully Saved
 * Unit: '_SK가스_from2012.01.01_to2012.12.31' (49/1997)
    The Number of articles:    687
    [_SK가스_from2012.01.01_to2012.12.31]_ from'0' to '686' (df2): successfully Saved
 * Unit: '_SK케미칼_from2012.01.01_to2012.12.31' (50/1997)
    The Number of articles:    2015
    [_SK케미칼_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_SK케미칼_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_SK케미칼_from2012.01.01_to2012.12.31]_ from'2000' to '2014' (df2): successfully Saved
 * Unit: '_SK하이닉스_from2012.01.01_to2012.12.31' (51/1997)
    The Number of articles:    2598
    [_SK하이닉스_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_SK하이닉스_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_SK하이닉스_from2012.01.01_to2012.12.31]_ from'2000' to '2597' (df2): successfully Saved
 * Unit: '_SPC삼립_from2012.01.01_to2012.12.31' (52/1997)
    No articles to scrap for "_SPC삼립_from2012.01.01_to2012.12.31"
 * Unit: '_STX_from2012.01.01_to2012.12.31' (53/1997)
    The Number of articles:    2401
    [_STX_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_STX_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_STX_from2012.01.01_to2012.12.31]_ from'2000' to '2400' (df2): successfully Saved
 * Unit: '_TCC동양_from2012.01.01_to2012.12.31' (54/1997)
    The Number of articles:    175
    [_TCC동양_from2012.01.01_to2012.12.31]_ from'0' to '174' (df2): successfully Saved
 * Unit: '_YG PLUS_from2012.01.01_to2012.12.31' (55/1997)
    No articles to scrap for "_YG PLUS_from2012.01.01_to2012.12.31"
 * Unit: '_가온전선_from2012.01.01_to2012.12.31' (56/1997)
    The Number of articles:    51
    [_가온전선_from2012.01.01_to2012.12.31]_ from'0' to '50' (df2): successfully Saved
 * Unit: '_강남제비스코_from2012.01.01_to2012.12.31' (57/1997)
    No articles to scrap for "_강남제비스코_from2012.01.01_to2012.12.31"
 * Unit: '_강스템바이오텍_from2011.01.01_to2011.12.31' (58/1997)
    No articles to scrap for "_강스템바이오텍_from2011.01.01_to2011.12.31"
 * Unit: '_갤럭시아에스엠_from2012.01.01_to2012.12.31' (59/1997)
    No articles to scrap for "_갤럭시아에스엠_from2012.01.01_to2012.12.31"
 * Unit: '_경농_from2012.01.01_to2012.12.31' (60/1997)
    The Number of articles:    157
    [_경농_from2012.01.01_to2012.12.31]_ from'0' to '156' (df2): successfully Saved
 * Unit: '_경동나비엔_from2012.01.01_to2012.12.31' (61/1997)
    The Number of articles:    386
    [_경동나비엔_from2012.01.01_to2012.12.31]_ from'0' to '385' (df2): successfully Saved
 * Unit: '_경동인베스트_from2012.01.01_to2012.12.31' (62/1997)
    No articles to scrap for "_경동인베스트_from2012.01.01_to2012.12.31"
 * Unit: '_경방_from2012.01.01_to2012.12.31' (63/1997)
    The Number of articles:    625
    [_경방_from2012.01.01_to2012.12.31]_ from'0' to '624' (df2): successfully Saved
 * Unit: '_경보제약_from2012.01.01_to2012.12.31' (64/1997)
    The Number of articles:    20
    [_경보제약_from2012.01.01_to2012.12.31]_ from'0' to '19' (df2): successfully Saved
 * Unit: '_경인양행_from2012.01.01_to2012.12.31' (65/1997)
    The Number of articles:    37
    [_경인양행_from2012.01.01_to2012.12.31]_ from'0' to '36' (df2): successfully Saved
 * Unit: '_경인전자_from2012.01.01_to2012.12.31' (66/1997)
    The Number of articles:    52
    [_경인전자_from2012.01.01_to2012.12.31]_ from'0' to '51' (df2): successfully Saved
 * Unit: '_계룡건설_from2012.01.01_to2012.12.31' (67/1997)
    The Number of articles:    945
    [_계룡건설_from2012.01.01_to2012.12.31]_ from'0' to '944' (df2): successfully Saved
 * Unit: '_계양전기_from2012.01.01_to2012.12.31' (68/1997)
    The Number of articles:    69
    [_계양전기_from2012.01.01_to2012.12.31]_ from'0' to '68' (df2): successfully Saved
 * Unit: '_고려개발_from2012.01.01_to2012.12.31' (69/1997)
    The Number of articles:    412
    [_고려개발_from2012.01.01_to2012.12.31]_ from'0' to '411' (df2): successfully Saved
 * Unit: '_고려산업_from2012.01.01_to2012.12.31' (70/1997)
    The Number of articles:    52
    [_고려산업_from2012.01.01_to2012.12.31]_ from'0' to '51' (df2): successfully Saved
 * Unit: '_고려아연_from2012.01.01_to2012.12.31' (71/1997)
    The Number of articles:    2092
    [_고려아연_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_고려아연_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_고려아연_from2012.01.01_to2012.12.31]_ from'2000' to '2091' (df2): successfully Saved
 * Unit: '_고려제강_from2012.01.01_to2012.12.31' (72/1997)
    The Number of articles:    129
    [_고려제강_from2012.01.01_to2012.12.31]_ from'0' to '128' (df2): successfully Saved
 * Unit: '_광동제약_from2012.01.01_to2012.12.31' (73/1997)
    The Number of articles:    1266
    [_광동제약_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_광동제약_from2012.01.01_to2012.12.31]_ from'1000' to '1265' (df2): successfully Saved
 * Unit: '_광명전기_from2012.01.01_to2012.12.31' (74/1997)
    The Number of articles:    418
    [_광명전기_from2012.01.01_to2012.12.31]_ from'0' to '417' (df2): successfully Saved
 * Unit: '_광전자_from2012.01.01_to2012.12.31' (75/1997)
    The Number of articles:    253
    [_광전자_from2012.01.01_to2012.12.31]_ from'0' to '252' (df2): successfully Saved
 * Unit: '_광주신세계_from2012.01.01_to2012.12.31' (76/1997)
    The Number of articles:    352
    [_광주신세계_from2012.01.01_to2012.12.31]_ from'0' to '351' (df2): successfully Saved
 * Unit: '_국도화학_from2012.01.01_to2012.12.31' (77/1997)
    The Number of articles:    121
    [_국도화학_from2012.01.01_to2012.12.31]_ from'0' to '120' (df2): successfully Saved
 * Unit: '_국동_from2012.01.01_to2012.12.31' (78/1997)
    The Number of articles:    285
    [_국동_from2012.01.01_to2012.12.31]_ from'0' to '284' (df2): successfully Saved
 * Unit: '_국제약품_from2012.01.01_to2012.12.31' (79/1997)
    The Number of articles:    245
    [_국제약품_from2012.01.01_to2012.12.31]_ from'0' to '244' (df2): successfully Saved
 * Unit: '_극동유화_from2012.01.01_to2012.12.31' (80/1997)
    The Number of articles:    26
    [_극동유화_from2012.01.01_to2012.12.31]_ from'0' to '25' (df2): successfully Saved
 * Unit: '_금강공업_from2012.01.01_to2012.12.31' (81/1997)
    The Number of articles:    75
    [_금강공업_from2012.01.01_to2012.12.31]_ from'0' to '74' (df2): successfully Saved
 * Unit: '_금비_from2012.01.01_to2012.12.31' (82/1997)
    The Number of articles:    82
    [_금비_from2012.01.01_to2012.12.31]_ from'0' to '81' (df2): successfully Saved
 * Unit: '_금양_from2012.01.01_to2012.12.31' (83/1997)
    The Number of articles:    492
    [_금양_from2012.01.01_to2012.12.31]_ from'0' to '491' (df2): successfully Saved
 * Unit: '_금호석유_from2012.01.01_to2012.12.31' (84/1997)
    The Number of articles:    2296
    [_금호석유_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved

    [_금호석유_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_금호석유_from2012.01.01_to2012.12.31]_ from'2000' to '2295' (df2): successfully Saved
 * Unit: '_금호에이치티_from2012.01.01_to2012.12.31' (85/1997)
    The Number of articles:    10
    [_금호에이치티_from2012.01.01_to2012.12.31]_ from'0' to '9' (df2): successfully Saved
    >>> [_금호에이치티_from2012.01.01_to2012.12.31]_ from'0' to '9' (df2): failed to export .csv
 * Unit: '_금호전기_from2012.01.01_to2012.12.31' (86/1997)
    The Number of articles:    210
    [_금호전기_from2012.01.01_to2012.12.31]_ from'0' to '209' (df2): successfully Saved
 * Unit: '_기신정기_from2012.01.01_to2012.12.31' (87/1997)
    The Number of articles:    63
    [_기신정기_from2012.01.01_to2012.12.31]_ from'0' to '62' (df2): successfully Saved
 * Unit: '_기아차_from2012.01.01_to2012.12.31' (88/1997)
    The Number of articles:    2566
    [_기아차_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_기아차_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_기아차_from2012.01.01_to2012.12.31]_ from'2000' to '2565' (df2): successfully Saved
 * Unit: '_깨끗한나라_from2012.01.01_to2012.12.31' (89/1997)
    The Number of articles:    203
    [_깨끗한나라_from2012.01.01_to2012.12.31]_ from'0' to '202' (df2): successfully Saved
 * Unit: '_나노_from2011.01.01_to2011.12.31' (90/1997)
    The Number of articles:    2872
    [_나노_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_나노_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_나노_from2011.01.01_to2011.12.31]_ from'2000' to '2871' (df2): successfully Saved
 * Unit: '_남선알미늄_from2012.01.01_to2012.12.31' (91/1997)
    The Number of articles:    110
    [_남선알미늄_from2012.01.01_to2012.12.31]_ from'0' to '109' (df2): successfully Saved
 * Unit: '_남양유업_from2012.01.01_to2012.12.31' (92/1997)
    The Number of articles:    1379
    [_남양유업_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_남양유업_from2012.01.01_to2012.12.31]_ from'1000' to '1378' (df2): successfully Saved
 * Unit: '_남영비비안_from2012.01.01_to2012.12.31' (93/1997)
    The Number of articles:    123
    [_남영비비안_from2012.01.01_to2012.12.31]_ from'0' to '122' (df2): successfully Saved
 * Unit: '_남해화학_from2012.01.01_to2012.12.31' (94/1997)
    The Number of articles:    486
    [_남해화학_from2012.01.01_to2012.12.31]_ from'0' to '485' (df2): successfully Saved
 * Unit: '_네오오토_from2011.01.01_to2011.12.31' (95/1997)
    No articles to scrap for "_네오오토_from2011.01.01_to2011.12.31"
 * Unit: '_넥센_from2012.01.01_to2012.12.31' (96/1997)
    The Number of articles:    3106
    [_넥센_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_넥센_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_넥센_from2012.01.01_to2012.12.31]_ from'2000' to '2999' (df2): successfully Saved
    [_넥센_from2012.01.01_to2012.12.31]_ from'3000' to '3105' (df2): successfully Saved
 * Unit: '_넥센타이어_from2012.01.01_to2012.12.31' (97/1997)
    The Number of articles:    2122
    [_넥센타이어_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_넥센타이어_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_넥센타이어_from2012.01.01_to2012.12.31]_ from'2000' to '2121' (df2): successfully Saved
 * Unit: '_넷마블게임즈_from2011.01.01_to2011.12.31' (98/1997)
    No articles to scrap for "_넷마블게임즈_from2011.01.01_to2011.12.31"
 * Unit: '_노루홀딩스_from2012.01.01_to2012.12.31' (99/1997)
    The Number of articles:    68
    [_노루홀딩스_from2012.01.01_to2012.12.31]_ from'0' to '67' (df2): successfully Saved
 * Unit: '_녹십자_from2012.01.01_to2012.12.31' (100/1997)
    The Number of articles:    2318
    [_녹십자_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_녹십자_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_녹십자_from2012.01.01_to2012.12.31]_ from'2000' to '2317' (df2): successfully Saved
 * Unit: '_녹십자랩셀_from2011.01.01_to2011.12.31' (101/1997)
    No articles to scrap for "_녹십자랩셀_from2011.01.01_to2011.12.31"
 * Unit: '_녹십자홀딩스_from2012.01.01_to2012.12.31' (102/1997)
    The Number of articles:    95
    [_녹십자홀딩스_from2012.01.01_to2012.12.31]_ from'0' to '94' (df2): successfully Saved
 * Unit: '_농심_from2012.01.01_to2012.12.31' (103/1997)
    The Number of articles:    2531
    [_농심_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_농심_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_농심_from2012.01.01_to2012.12.31]_ from'2000' to '2530' (df2): successfully Saved
 * Unit: '_대경기계_from2012.01.01_to2012.12.31' (104/1997)
    The Number of articles:    123
    [_대경기계_from2012.01.01_to2012.12.31]_ from'0' to '122' (df2): successfully Saved
 * Unit: '_대교_from2012.01.01_to2012.12.31' (105/1997)
    The Number of articles:    2462
    [_대교_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_대교_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_대교_from2012.01.01_to2012.12.31]_ from'2000' to '2461' (df2): successfully Saved
 * Unit: '_대덕GDS_from2012.01.01_to2012.12.31' (106/1997)
    The Number of articles:    392
    [_대덕GDS_from2012.01.01_to2012.12.31]_ from'0' to '391' (df2): successfully Saved
 * Unit: '_대덕전자_from2012.01.01_to2012.12.31' (107/1997)
    The Number of articles:    658
    [_대덕전자_from2012.01.01_to2012.12.31]_ from'0' to '657' (df2): successfully Saved
 * Unit: '_대동공업_from2012.01.01_to2012.12.31' (108/1997)
    The Number of articles:    106
    [_대동공업_from2012.01.01_to2012.12.31]_ from'0' to '105' (df2): successfully Saved
 * Unit: '_대동전자_from2012.01.01_to2012.12.31' (109/1997)
    The Number of articles:    44
    [_대동전자_from2012.01.01_to2012.12.31]_ from'0' to '43' (df2): successfully Saved
 * Unit: '_대림B&Co_from2012.01.01_to2012.12.31' (110/1997)
    The Number of articles:    34
    [_대림B&Co_from2012.01.01_to2012.12.31]_ from'0' to '33' (df2): successfully Saved
 * Unit: '_대림산업_from2012.01.01_to2012.12.31' (111/1997)
    The Number of articles:    2349
    [_대림산업_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_대림산업_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_대림산업_from2012.01.01_to2012.12.31]_ from'2000' to '2348' (df2): successfully Saved
 * Unit: '_대림통상_from2012.01.01_to2012.12.31' (112/1997)
    The Number of articles:    22
    [_대림통상_from2012.01.01_to2012.12.31]_ from'0' to '21' (df2): successfully Saved
 * Unit: '_대상_from2012.01.01_to2012.12.31' (113/1997)
    The Number of articles:    2404
    [_대상_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_대상_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_대상_from2012.01.01_to2012.12.31]_ from'2000' to '2403' (df2): successfully Saved
 * Unit: '_대성합동지주_from2012.01.01_to2012.12.31' (114/1997)
    The Number of articles:    123
    [_대성합동지주_from2012.01.01_to2012.12.31]_ from'0' to '122' (df2): successfully Saved
 * Unit: '_대양금속_from2012.01.01_to2012.12.31' (115/1997)
    The Number of articles:    383
    [_대양금속_from2012.01.01_to2012.12.31]_ from'0' to '382' (df2): successfully Saved
 * Unit: '_대영포장_from2012.01.01_to2012.12.31' (116/1997)
    The Number of articles:    198
    [_대영포장_from2012.01.01_to2012.12.31]_ from'0' to '197' (df2): successfully Saved
 * Unit: '_대우부품_from2012.01.01_to2012.12.31' (117/1997)
    The Number of articles:    16
    [_대우부품_from2012.01.01_to2012.12.31]_ from'0' to '15' (df2): successfully Saved
 * Unit: '_대웅_from2012.01.01_to2012.12.31' (118/1997)
    The Number of articles:    1711
    [_대웅_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_대웅_from2012.01.01_to2012.12.31]_ from'1000' to '1710' (df2): successfully Saved
 * Unit: '_대원강업_from2012.01.01_to2012.12.31' (119/1997)
    The Number of articles:    179
    [_대원강업_from2012.01.01_to2012.12.31]_ from'0' to '178' (df2): successfully Saved
 * Unit: '_대원전선_from2012.01.01_to2012.12.31' (120/1997)

    The Number of articles:    71
    [_대원전선_from2012.01.01_to2012.12.31]_ from'0' to '70' (df2): successfully Saved
 * Unit: '_대원제약_from2012.01.01_to2012.12.31' (121/1997)
    The Number of articles:    200
    [_대원제약_from2012.01.01_to2012.12.31]_ from'0' to '199' (df2): successfully Saved
 * Unit: '_대원화성_from2012.01.01_to2012.12.31' (122/1997)
    The Number of articles:    43
    [_대원화성_from2012.01.01_to2012.12.31]_ from'0' to '42' (df2): successfully Saved
 * Unit: '_대유에이텍_from2012.01.01_to2012.12.31' (123/1997)
    The Number of articles:    462
    [_대유에이텍_from2012.01.01_to2012.12.31]_ from'0' to '461' (df2): successfully Saved
 * Unit: '_대유플러스_from2012.01.01_to2012.12.31' (124/1997)
    No articles to scrap for "_대유플러스_from2012.01.01_to2012.12.31"
 * Unit: '_대창_from2012.01.01_to2012.12.31' (125/1997)
    The Number of articles:    735
    [_대창_from2012.01.01_to2012.12.31]_ from'0' to '734' (df2): successfully Saved
 * Unit: '_대창단조_from2012.01.01_to2012.12.31' (126/1997)
    The Number of articles:    40
    [_대창단조_from2012.01.01_to2012.12.31]_ from'0' to '39' (df2): successfully Saved
    >>> [_대창단조_from2012.01.01_to2012.12.31]_ from'0' to '39' (df2): failed to export .csv
 * Unit: '_대한방직_from2012.01.01_to2012.12.31' (127/1997)
    The Number of articles:    116
    [_대한방직_from2012.01.01_to2012.12.31]_ from'0' to '115' (df2): successfully Saved
 * Unit: '_대한유화_from2012.01.01_to2012.12.31' (128/1997)
    The Number of articles:    233
    [_대한유화_from2012.01.01_to2012.12.31]_ from'0' to '232' (df2): successfully Saved
 * Unit: '_대한전선_from2012.01.01_to2012.12.31' (129/1997)
    The Number of articles:    2562
    [_대한전선_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_대한전선_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_대한전선_from2012.01.01_to2012.12.31]_ from'2000' to '2561' (df2): successfully Saved
 * Unit: '_대한제강_from2012.01.01_to2012.12.31' (130/1997)
    The Number of articles:    297
    [_대한제강_from2012.01.01_to2012.12.31]_ from'0' to '296' (df2): successfully Saved
 * Unit: '_대한제당_from2012.01.01_to2012.12.31' (131/1997)
    The Number of articles:    256
    [_대한제당_from2012.01.01_to2012.12.31]_ from'0' to '255' (df2): successfully Saved
 * Unit: '_대한제분_from2012.01.01_to2012.12.31' (132/1997)
    The Number of articles:    251
    [_대한제분_from2012.01.01_to2012.12.31]_ from'0' to '250' (df2): successfully Saved
 * Unit: '_대한화섬_from2012.01.01_to2012.12.31' (133/1997)
    The Number of articles:    129
    [_대한화섬_from2012.01.01_to2012.12.31]_ from'0' to '128' (df2): successfully Saved
 * Unit: '_대현_from2012.01.01_to2012.12.31' (134/1997)
    The Number of articles:    1547
    [_대현_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_대현_from2012.01.01_to2012.12.31]_ from'1000' to '1546' (df2): successfully Saved
 * Unit: '_더블유게임즈_from2011.01.01_to2011.12.31' (135/1997)
    No articles to scrap for "_더블유게임즈_from2011.01.01_to2011.12.31"
 * Unit: '_더존비즈온_from2012.01.01_to2012.12.31' (136/1997)
    The Number of articles:    473
    [_더존비즈온_from2012.01.01_to2012.12.31]_ from'0' to '472' (df2): successfully Saved
 * Unit: '_덕성_from2012.01.01_to2012.12.31' (137/1997)
    The Number of articles:    1565
    [_덕성_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_덕성_from2012.01.01_to2012.12.31]_ from'1000' to '1564' (df2): successfully Saved
 * Unit: '_덕양산업_from2012.01.01_to2012.12.31' (138/1997)
    The Number of articles:    93
    [_덕양산업_from2012.01.01_to2012.12.31]_ from'0' to '92' (df2): successfully Saved
 * Unit: '_데브시스터즈_from2011.01.01_to2011.12.31' (139/1997)
    The Number of articles:    9
    [_데브시스터즈_from2011.01.01_to2011.12.31]_ from'0' to '8' (df2): successfully Saved
 * Unit: '_덱스터_from2011.01.01_to2011.12.31' (140/1997)
    The Number of articles:    94
    [_덱스터_from2011.01.01_to2011.12.31]_ from'0' to '93' (df2): successfully Saved
 * Unit: '_도레이케미칼_from2012.01.01_to2012.12.31' (141/1997)
    No articles to scrap for "_도레이케미칼_from2012.01.01_to2012.12.31"
 * Unit: '_동국실업_from2012.01.01_to2012.12.31' (142/1997)
    The Number of articles:    102
    [_동국실업_from2012.01.01_to2012.12.31]_ from'0' to '101' (df2): successfully Saved
 * Unit: '_동국제강_from2012.01.01_to2012.12.31' (143/1997)
    The Number of articles:    2108
    [_동국제강_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_동국제강_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_동국제강_from2012.01.01_to2012.12.31]_ from'2000' to '2107' (df2): successfully Saved
 * Unit: '_동남합성_from2012.01.01_to2012.12.31' (144/1997)
    The Number of articles:    220
    [_동남합성_from2012.01.01_to2012.12.31]_ from'0' to '219' (df2): successfully Saved
 * Unit: '_동방아그로_from2012.01.01_to2012.12.31' (145/1997)
    The Number of articles:    57
    [_동방아그로_from2012.01.01_to2012.12.31]_ from'0' to '56' (df2): successfully Saved
 * Unit: '_동부_from2012.01.01_to2012.12.31' (146/1997)
    The Number of articles:    2939
    [_동부_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_동부_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_동부_from2012.01.01_to2012.12.31]_ from'2000' to '2938' (df2): successfully Saved
 * Unit: '_동부건설_from2012.01.01_to2012.12.31' (147/1997)
    The Number of articles:    2162
    [_동부건설_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_동부건설_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_동부건설_from2012.01.01_to2012.12.31]_ from'2000' to '2161' (df2): successfully Saved
 * Unit: '_동부제철_from2012.01.01_to2012.12.31' (148/1997)
    The Number of articles:    954
    [_동부제철_from2012.01.01_to2012.12.31]_ from'0' to '953' (df2): successfully Saved
 * Unit: '_동부하이텍_from2012.01.01_to2012.12.31' (149/1997)
    The Number of articles:    748
    [_동부하이텍_from2012.01.01_to2012.12.31]_ from'0' to '747' (df2): successfully Saved
 * Unit: '_동서_from2012.01.01_to2012.12.31' (150/1997)
    The Number of articles:    2510
    [_동서_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_동서_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_동서_from2012.01.01_to2012.12.31]_ from'2000' to '2509' (df2): successfully Saved
 * Unit: '_동성제약_from2012.01.01_to2012.12.31' (151/1997)
    The Number of articles:    256
    [_동성제약_from2012.01.01_to2012.12.31]_ from'0' to '255' (df2): successfully Saved
 * Unit: '_동성화학_from2012.01.01_to2012.12.31' (152/1997)
    The Number of articles:    201
    [_동성화학_from2012.01.01_to2012.12.31]_ from'0' to '200' (df2): successfully Saved
 * Unit: '_동아쏘시오홀딩스_from2012.01.01_to2012.12.31' (153/1997)
    The Number of articles:    32
    [_동아쏘시오홀딩스_from2012.01.01_to2012.12.31]_ from'0' to '31' (df2): successfully Saved
 * Unit: '_동아에스티_from2011.01.01_to2011.12.31' (154/1997)
    No articles to scrap for "_동아에스티_from2011.01.01_to2011.12.31"
 * Unit: '_동아지질_from2012.01.01_to2012.12.31' (155/1997)
    The Number of articles:    195
    [_동아지질_from2012.01.01_to2012.12.31]_ from'0' to '194' (df2): successfully Saved
 * Unit: '_동아타이어_from2012.01.01_to2012.12.31' (156/1997)
    The Number of articles:    49
    [_동아타이어_from2012.01.01_to2012.12.31]_ from'0' to '48' (df2): successfully Saved
 * Unit: '_동양_from2012.01.01_to2012.12.31' (157/1997)
    The Number of articles:    2706
    [_동양_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_동양_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_동양_from2012.01.01_to2012.12.31]_ from'2000' to '2705' (df2): successfully Saved
 * Unit: '_동양물산_from2012.01.01_to2012.12.31' (158/1997)
    The Number of articles:    282
    [_동양물산_from2012.01.01_to2012.12.31]_ from'0' to '281' (df2): successfully Saved
 * Unit: '_동양철관_from2012.01.01_to2012.12.31' (159/1997)
    The Number of articles:    309
    [_동양철관_from2012.01.01_to2012.12.31]_ from'0' to '308' (df2): successfully Saved

 * Unit: '_동양파일_from2011.01.01_to2011.12.31' (160/1997)
    No articles to scrap for "_동양파일_from2011.01.01_to2011.12.31"
 * Unit: '_동원_from2012.01.01_to2012.12.31' (161/1997)
    The Number of articles:    2718
    [_동원_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_동원_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_동원_from2012.01.01_to2012.12.31]_ from'2000' to '2717' (df2): successfully Saved
 * Unit: '_동원금속_from2012.01.01_to2012.12.31' (162/1997)
    The Number of articles:    23
    [_동원금속_from2012.01.01_to2012.12.31]_ from'0' to '22' (df2): successfully Saved
 * Unit: '_동원산업_from2012.01.01_to2012.12.31' (163/1997)
    The Number of articles:    486
    [_동원산업_from2012.01.01_to2012.12.31]_ from'0' to '485' (df2): successfully Saved
 * Unit: '_동원수산_from2012.01.01_to2012.12.31' (164/1997)
    The Number of articles:    144
    [_동원수산_from2012.01.01_to2012.12.31]_ from'0' to '143' (df2): successfully Saved
 * Unit: '_동원시스템즈_from2012.01.01_to2012.12.31' (165/1997)
    The Number of articles:    136
    [_동원시스템즈_from2012.01.01_to2012.12.31]_ from'0' to '135' (df2): successfully Saved
 * Unit: '_동일고무벨트_from2011.01.01_to2011.12.31' (166/1997)
    The Number of articles:    58
    [_동일고무벨트_from2011.01.01_to2011.12.31]_ from'0' to '57' (df2): successfully Saved
 * Unit: '_동일방직_from2012.01.01_to2012.12.31' (167/1997)
    The Number of articles:    163
    [_동일방직_from2012.01.01_to2012.12.31]_ from'0' to '162' (df2): successfully Saved
 * Unit: '_동일산업_from2012.01.01_to2012.12.31' (168/1997)
    The Number of articles:    97
    [_동일산업_from2012.01.01_to2012.12.31]_ from'0' to '96' (df2): successfully Saved
 * Unit: '_동화약품_from2012.01.01_to2012.12.31' (169/1997)
    The Number of articles:    511
    [_동화약품_from2012.01.01_to2012.12.31]_ from'0' to '510' (df2): successfully Saved
 * Unit: '_두산_from2012.01.01_to2012.12.31' (170/1997)
    The Number of articles:    2988
    [_두산_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    >>> [_두산_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): failed to export .csv
    [_두산_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_두산_from2012.01.01_to2012.12.31]_ from'2000' to '2987' (df2): successfully Saved
 * Unit: '_두산건설_from2012.01.01_to2012.12.31' (171/1997)
    The Number of articles:    1844
    [_두산건설_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_두산건설_from2012.01.01_to2012.12.31]_ from'1000' to '1843' (df2): successfully Saved
 * Unit: '_두산중공업_from2012.01.01_to2012.12.31' (172/1997)
    The Number of articles:    2290
    [_두산중공업_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_두산중공업_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_두산중공업_from2012.01.01_to2012.12.31]_ from'2000' to '2289' (df2): successfully Saved
 * Unit: '_디아이_from2012.01.01_to2012.12.31' (173/1997)
    The Number of articles:    861
    [_디아이_from2012.01.01_to2012.12.31]_ from'0' to '860' (df2): successfully Saved
 * Unit: '_디에이치피코리아_from2011.01.01_to2011.12.31' (174/1997)
    The Number of articles:    3
    [_디에이치피코리아_from2011.01.01_to2011.12.31]_ from'0' to '2' (df2): successfully Saved
 * Unit: '_디와이_from2012.01.01_to2012.12.31' (175/1997)
    The Number of articles:    408
    [_디와이_from2012.01.01_to2012.12.31]_ from'0' to '407' (df2): successfully Saved
 * Unit: '_디피씨_from2012.01.01_to2012.12.31' (176/1997)
    The Number of articles:    33
    [_디피씨_from2012.01.01_to2012.12.31]_ from'0' to '32' (df2): successfully Saved
 * Unit: '_램테크놀러지_from2011.01.01_to2011.12.31' (177/1997)
    The Number of articles:    6
    [_램테크놀러지_from2011.01.01_to2011.12.31]_ from'0' to '5' (df2): successfully Saved
 * Unit: '_랩지노믹스_from2011.01.01_to2011.12.31' (178/1997)
    The Number of articles:    6
    [_랩지노믹스_from2011.01.01_to2011.12.31]_ from'0' to '5' (df2): successfully Saved
 * Unit: '_레고켐바이오_from2011.01.01_to2011.12.31' (179/1997)
    The Number of articles:    15
    [_레고켐바이오_from2011.01.01_to2011.12.31]_ from'0' to '14' (df2): successfully Saved
 * Unit: '_레드로버_from2011.01.01_to2011.12.31' (180/1997)
    The Number of articles:    444
    [_레드로버_from2011.01.01_to2011.12.31]_ from'0' to '443' (df2): successfully Saved
 * Unit: '_레드캡투어_from2011.01.01_to2011.12.31' (181/1997)
    The Number of articles:    353
    [_레드캡투어_from2011.01.01_to2011.12.31]_ from'0' to '352' (df2): successfully Saved
 * Unit: '_레이더스_from2011.01.01_to2011.12.31' (182/1997)
    The Number of articles:    258
    [_레이더스_from2011.01.01_to2011.12.31]_ from'0' to '257' (df2): successfully Saved
 * Unit: '_레이디_from2011.01.01_to2011.12.31' (183/1997)
    The Number of articles:    1572
    [_레이디_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_레이디_from2011.01.01_to2011.12.31]_ from'1000' to '1571' (df2): successfully Saved
 * Unit: '_레이언스_from2011.01.01_to2011.12.31' (184/1997)
    The Number of articles:    17
    [_레이언스_from2011.01.01_to2011.12.31]_ from'0' to '16' (df2): successfully Saved
 * Unit: '_레이젠_from2011.01.01_to2011.12.31' (185/1997)
    The Number of articles:    91
    [_레이젠_from2011.01.01_to2011.12.31]_ from'0' to '90' (df2): successfully Saved
 * Unit: '_렉스엘이앤지_from2011.01.01_to2011.12.31' (186/1997)
    No articles to scrap for "_렉스엘이앤지_from2011.01.01_to2011.12.31"
 * Unit: '_로고스바이오_from2011.01.01_to2011.12.31' (187/1997)
    The Number of articles:    1
    [_로고스바이오_from2011.01.01_to2011.12.31]_ from'0' to '0' (df2): successfully Saved
 * Unit: '_로보스타_from2011.01.01_to2011.12.31' (188/1997)
    The Number of articles:    396
    [_로보스타_from2011.01.01_to2011.12.31]_ from'0' to '395' (df2): successfully Saved
 * Unit: '_로엔_from2011.01.01_to2011.12.31' (189/1997)
    The Number of articles:    2103
    [_로엔_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_로엔_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_로엔_from2011.01.01_to2011.12.31]_ from'2000' to '2102' (df2): successfully Saved
 * Unit: '_로지시스_from2011.01.01_to2011.12.31' (190/1997)
    The Number of articles:    1
    [_로지시스_from2011.01.01_to2011.12.31]_ from'0' to '0' (df2): successfully Saved
 * Unit: '_로체시스템즈_from2011.01.01_to2011.12.31' (191/1997)
    The Number of articles:    135
    [_로체시스템즈_from2011.01.01_to2011.12.31]_ from'0' to '134' (df2): successfully Saved
 * Unit: '_로케트전기_from2011.01.01_to2011.12.31' (192/1997)
    The Number of articles:    160
    [_로케트전기_from2011.01.01_to2011.12.31]_ from'0' to '159' (df2): successfully Saved
 * Unit: '_롯데관광개발_from2012.01.01_to2012.12.31' (193/1997)
    The Number of articles:    620
    [_롯데관광개발_from2012.01.01_to2012.12.31]_ from'0' to '619' (df2): successfully Saved
 * Unit: '_롯데쇼핑_from2011.01.01_to2011.12.31' (194/1997)
    The Number of articles:    987
    [_롯데쇼핑_from2011.01.01_to2011.12.31]_ from'0' to '986' (df2): successfully Saved
 * Unit: '_롯데정밀화학_from2012.01.01_to2012.12.31' (195/1997)
    No articles to scrap for "_롯데정밀화학_from2012.01.01_to2012.12.31"
 * Unit: '_롯데제과_from2012.01.01_to2012.12.31' (196/1997)
    The Number of articles:    1549
    [_롯데제과_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_롯데제과_from2012.01.01_to2012.12.31]_ from'1000' to '1548' (df2): successfully Saved
 * Unit: '_롯데칠성_from2012.01.01_to2012.12.31' (197/1997)
    The Number of articles:    2770
    [_롯데칠성_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_롯데칠성_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_롯데칠성_from2012.01.01_to2012.12.31]_ from'2000' to '2769' (df2): successfully Saved
 * Unit: '_롯데케미칼_from2012.01.01_to2012.12.31' (198/1997)
    The Number of articles:    33
    [_롯데케미칼_from2012.01.01_to2012.12.31]_ from'0' to '32' (df2): successfully Saved
 * Unit: '_롯데푸드_from2012.01.01_to2012.12.31' (199/1997)
    The Number of articles:    1
    [_롯데푸드_from2012.01.01_to2012.12.31]_ from'0' to '0' (df2): successfully Saved

 * Unit: '_롯데하이마트_from2011.01.01_to2011.12.31' (200/1997)
    No articles to scrap for "_롯데하이마트_from2011.01.01_to2011.12.31"
 * Unit: '_루멘스_from2011.01.01_to2011.12.31' (201/1997)
    The Number of articles:    736
    [_루멘스_from2011.01.01_to2011.12.31]_ from'0' to '735' (df2): successfully Saved
 * Unit: '_루미마이크로_from2011.01.01_to2011.12.31' (202/1997)
    The Number of articles:    166
    [_루미마이크로_from2011.01.01_to2011.12.31]_ from'0' to '165' (df2): successfully Saved
 * Unit: '_루트로닉_from2011.01.01_to2011.12.31' (203/1997)
    The Number of articles:    316
    [_루트로닉_from2011.01.01_to2011.12.31]_ from'0' to '315' (df2): successfully Saved
 * Unit: '_르네코_from2011.01.01_to2011.12.31' (204/1997)
    The Number of articles:    265
    [_르네코_from2011.01.01_to2011.12.31]_ from'0' to '264' (df2): successfully Saved
 * Unit: '_리노공업_from2011.01.01_to2011.12.31' (205/1997)
    The Number of articles:    366
    [_리노공업_from2011.01.01_to2011.12.31]_ from'0' to '365' (df2): successfully Saved
 * Unit: '_리더스코스메틱_from2011.01.01_to2011.12.31' (206/1997)
    The Number of articles:    36
    [_리더스코스메틱_from2011.01.01_to2011.12.31]_ from'0' to '35' (df2): successfully Saved
 * Unit: '_리더컴_from2011.01.01_to2011.12.31' (207/1997)
    No articles to scrap for "_리더컴_from2011.01.01_to2011.12.31"
 * Unit: '_리드_from2011.01.01_to2011.12.31' (208/1997)
    The Number of articles:    3302
    [_리드_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_리드_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_리드_from2011.01.01_to2011.12.31]_ from'2000' to '2999' (df2): successfully Saved
    [_리드_from2011.01.01_to2011.12.31]_ from'3000' to '3301' (df2): successfully Saved
 * Unit: '_리드코프_from2011.01.01_to2011.12.31' (209/1997)
    The Number of articles:    309
    [_리드코프_from2011.01.01_to2011.12.31]_ from'0' to '308' (df2): successfully Saved
 * Unit: '_리젠_from2011.01.01_to2011.12.31' (210/1997)
    The Number of articles:    422
    [_리젠_from2011.01.01_to2011.12.31]_ from'0' to '421' (df2): successfully Saved
 * Unit: '_리켐_from2011.01.01_to2011.12.31' (211/1997)
    The Number of articles:    399
    [_리켐_from2011.01.01_to2011.12.31]_ from'0' to '398' (df2): successfully Saved
 * Unit: '_링네트_from2011.01.01_to2011.12.31' (212/1997)
    The Number of articles:    51
    [_링네트_from2011.01.01_to2011.12.31]_ from'0' to '50' (df2): successfully Saved
 * Unit: '_마니커_from2011.01.01_to2011.12.31' (213/1997)
    The Number of articles:    625
    [_마니커_from2011.01.01_to2011.12.31]_ from'0' to '624' (df2): successfully Saved
 * Unit: '_마이스코_from2011.01.01_to2011.12.31' (214/1997)
    The Number of articles:    156
    [_마이스코_from2011.01.01_to2011.12.31]_ from'0' to '155' (df2): successfully Saved
 * Unit: '_마이크로컨텍솔_from2011.01.01_to2011.12.31' (215/1997)
    The Number of articles:    72
    [_마이크로컨텍솔_from2011.01.01_to2011.12.31]_ from'0' to '71' (df2): successfully Saved
    >>> [_마이크로컨텍솔_from2011.01.01_to2011.12.31]_ from'0' to '71' (df2): failed to export .csv
 * Unit: '_마이크로프랜드_from2011.01.01_to2011.12.31' (216/1997)
    The Number of articles:    24
    [_마이크로프랜드_from2011.01.01_to2011.12.31]_ from'0' to '23' (df2): successfully Saved
 * Unit: '_만호제강_from2011.01.01_to2011.12.31' (217/1997)
    The Number of articles:    140
    [_만호제강_from2011.01.01_to2011.12.31]_ from'0' to '139' (df2): successfully Saved
 * Unit: '_만호제강_from2012.01.01_to2012.12.31' (218/1997)
    The Number of articles:    31
    [_만호제강_from2012.01.01_to2012.12.31]_ from'0' to '30' (df2): successfully Saved
 * Unit: '_매일홀딩스_from2011.01.01_to2011.12.31' (219/1997)
    No articles to scrap for "_매일홀딩스_from2011.01.01_to2011.12.31"
 * Unit: '_매직마이크로_from2011.01.01_to2011.12.31' (220/1997)
    The Number of articles:    1
    [_매직마이크로_from2011.01.01_to2011.12.31]_ from'0' to '0' (df2): successfully Saved
 * Unit: '_매커스_from2011.01.01_to2011.12.31' (221/1997)
    The Number of articles:    88
    [_매커스_from2011.01.01_to2011.12.31]_ from'0' to '87' (df2): successfully Saved
 * Unit: '_맥스로텍_from2011.01.01_to2011.12.31' (222/1997)
    The Number of articles:    15
    [_맥스로텍_from2011.01.01_to2011.12.31]_ from'0' to '14' (df2): successfully Saved
 * Unit: '_맥스브로_from2011.01.01_to2011.12.31' (223/1997)
    The Number of articles:    197
    [_맥스브로_from2011.01.01_to2011.12.31]_ from'0' to '196' (df2): successfully Saved
 * Unit: '_맥슨텔레콤_from2011.01.01_to2011.12.31' (224/1997)
    The Number of articles:    1
    [_맥슨텔레콤_from2011.01.01_to2011.12.31]_ from'0' to '0' (df2): successfully Saved
 * Unit: '_맥시스템_from2011.01.01_to2011.12.31' (225/1997)
    The Number of articles:    6
    [_맥시스템_from2011.01.01_to2011.12.31]_ from'0' to '5' (df2): successfully Saved
 * Unit: '_멀티캠퍼스_from2011.01.01_to2011.12.31' (226/1997)
    The Number of articles:    63
    [_멀티캠퍼스_from2011.01.01_to2011.12.31]_ from'0' to '62' (df2): successfully Saved
 * Unit: '_메가스터디_from2011.01.01_to2011.12.31' (227/1997)
    The Number of articles:    2484
    [_메가스터디_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_메가스터디_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_메가스터디_from2011.01.01_to2011.12.31]_ from'2000' to '2483' (df2): successfully Saved
 * Unit: '_메가엠디_from2011.01.01_to2011.12.31' (228/1997)
    The Number of articles:    32
    [_메가엠디_from2011.01.01_to2011.12.31]_ from'0' to '31' (df2): successfully Saved
 * Unit: '_메디아나_from2011.01.01_to2011.12.31' (229/1997)
    The Number of articles:    36
    [_메디아나_from2011.01.01_to2011.12.31]_ from'0' to '35' (df2): successfully Saved
 * Unit: '_메디톡스_from2011.01.01_to2011.12.31' (230/1997)
    The Number of articles:    207
    [_메디톡스_from2011.01.01_to2011.12.31]_ from'0' to '206' (df2): successfully Saved
 * Unit: '_메디포스트_from2011.01.01_to2011.12.31' (231/1997)
    The Number of articles:    2744
    [_메디포스트_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_메디포스트_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_메디포스트_from2011.01.01_to2011.12.31]_ from'2000' to '2743' (df2): successfully Saved
 * Unit: '_메디프론_from2011.01.01_to2011.12.31' (232/1997)
    The Number of articles:    220
    [_메디프론_from2011.01.01_to2011.12.31]_ from'0' to '219' (df2): successfully Saved
 * Unit: '_메디플란트_from2011.01.01_to2011.12.31' (233/1997)
    No articles to scrap for "_메디플란트_from2011.01.01_to2011.12.31"
 * Unit: '_메디플란트_from2012.01.01_to2012.12.31' (234/1997)
    No articles to scrap for "_메디플란트_from2012.01.01_to2012.12.31"
 * Unit: '_메지온_from2011.01.01_to2011.12.31' (235/1997)
    No articles to scrap for "_메지온_from2011.01.01_to2011.12.31"
 * Unit: '_메카포럼_from2011.01.01_to2011.12.31' (236/1997)
    The Number of articles:    7
    [_메카포럼_from2011.01.01_to2011.12.31]_ from'0' to '6' (df2): successfully Saved
 * Unit: '_메타바이오메드_from2011.01.01_to2011.12.31' (237/1997)
    The Number of articles:    398
    [_메타바이오메드_from2011.01.01_to2011.12.31]_ from'0' to '397' (df2): successfully Saved
 * Unit: '_멕아이씨에스_from2011.01.01_to2011.12.31' (238/1997)
    The Number of articles:    8
    [_멕아이씨에스_from2011.01.01_to2011.12.31]_ from'0' to '7' (df2): successfully Saved
 * Unit: '_멜파스_from2011.01.01_to2011.12.31' (239/1997)
    The Number of articles:    1345
    [_멜파스_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_멜파스_from2011.01.01_to2011.12.31]_ from'1000' to '1344' (df2): successfully Saved
 * Unit: '_명문제약_from2011.01.01_to2011.12.31' (240/1997)
    The Number of articles:    474
    [_명문제약_from2011.01.01_to2011.12.31]_ from'0' to '473' (df2): successfully Saved
 * Unit: '_명문제약_from2012.01.01_to2012.12.31' (241/1997)
    The Number of articles:    291
    [_명문제약_from2012.01.01_to2012.12.31]_ from'0' to '290' (df2): successfully Saved
 * Unit: '_모나리자_from2012.01.01_to2012.12.31' (242/1997)
    The Number of articles:    735
    [_모나리자_from2012.01.01_to2012.12.31]_ from'0' to '734' (df2): successfully Saved
 * Unit: '_모나미_from2011.01.01_to2011.12.31' (243/1997)

    The Number of articles:    365
    [_모나미_from2011.01.01_to2011.12.31]_ from'0' to '364' (df2): successfully Saved
 * Unit: '_모나미_from2012.01.01_to2012.12.31' (244/1997)
    The Number of articles:    506
    [_모나미_from2012.01.01_to2012.12.31]_ from'0' to '505' (df2): successfully Saved
 * Unit: '_모다_from2011.01.01_to2011.12.31' (245/1997)
    The Number of articles:    152
    [_모다_from2011.01.01_to2011.12.31]_ from'0' to '151' (df2): successfully Saved
 * Unit: '_모다이노칩_from2011.01.01_to2011.12.31' (246/1997)
    No articles to scrap for "_모다이노칩_from2011.01.01_to2011.12.31"
 * Unit: '_모닷텔_from2011.01.01_to2011.12.31' (247/1997)
    No articles to scrap for "_모닷텔_from2011.01.01_to2011.12.31"
 * Unit: '_모델라인_from2011.01.01_to2011.12.31' (248/1997)
    The Number of articles:    335
    [_모델라인_from2011.01.01_to2011.12.31]_ from'0' to '334' (df2): successfully Saved
 * Unit: '_모디아_from2011.01.01_to2011.12.31' (249/1997)
    The Number of articles:    2
    [_모디아_from2011.01.01_to2011.12.31]_ from'0' to '1' (df2): successfully Saved
 * Unit: '_모라리소스_from2011.01.01_to2011.12.31' (250/1997)
    The Number of articles:    49
    [_모라리소스_from2011.01.01_to2011.12.31]_ from'0' to '48' (df2): successfully Saved
 * Unit: '_모린스_from2011.01.01_to2011.12.31' (251/1997)
    The Number of articles:    148
    [_모린스_from2011.01.01_to2011.12.31]_ from'0' to '147' (df2): successfully Saved
 * Unit: '_모바일리더_from2011.01.01_to2011.12.31' (252/1997)
    The Number of articles:    98
    [_모바일리더_from2011.01.01_to2011.12.31]_ from'0' to '97' (df2): successfully Saved
 * Unit: '_모바일어플라이언스_from2011.01.01_to2011.12.31' (253/1997)
    The Number of articles:    1
    [_모바일어플라이언스_from2011.01.01_to2011.12.31]_ from'0' to '0' (df2): successfully Saved
 * Unit: '_모베이스_from2011.01.01_to2011.12.31' (254/1997)
    The Number of articles:    102
    [_모베이스_from2011.01.01_to2011.12.31]_ from'0' to '101' (df2): successfully Saved
 * Unit: '_모보_from2011.01.01_to2011.12.31' (255/1997)
    The Number of articles:    26
    [_모보_from2011.01.01_to2011.12.31]_ from'0' to '25' (df2): successfully Saved
 * Unit: '_모빌링크_from2011.01.01_to2011.12.31' (256/1997)
    The Number of articles:    4
    [_모빌링크_from2011.01.01_to2011.12.31]_ from'0' to '3' (df2): successfully Saved
 * Unit: '_모빌탑_from2011.01.01_to2011.12.31' (257/1997)
    The Number of articles:    1
    [_모빌탑_from2011.01.01_to2011.12.31]_ from'0' to '0' (df2): successfully Saved
 * Unit: '_모아텍_from2011.01.01_to2011.12.31' (258/1997)
    The Number of articles:    90
    [_모아텍_from2011.01.01_to2011.12.31]_ from'0' to '89' (df2): successfully Saved
 * Unit: '_모젬_from2011.01.01_to2011.12.31' (259/1997)
    The Number of articles:    14
    [_모젬_from2011.01.01_to2011.12.31]_ from'0' to '13' (df2): successfully Saved
 * Unit: '_모토닉_from2011.01.01_to2011.12.31' (260/1997)
    The Number of articles:    196
    [_모토닉_from2011.01.01_to2011.12.31]_ from'0' to '195' (df2): successfully Saved
 * Unit: '_모토닉_from2012.01.01_to2012.12.31' (261/1997)
    The Number of articles:    74
    [_모토닉_from2012.01.01_to2012.12.31]_ from'0' to '73' (df2): successfully Saved
 * Unit: '_모헨즈_from2011.01.01_to2011.12.31' (262/1997)
    The Number of articles:    290
    [_모헨즈_from2011.01.01_to2011.12.31]_ from'0' to '289' (df2): successfully Saved
 * Unit: '_무림P&P_from2012.01.01_to2012.12.31' (263/1997)
    The Number of articles:    156
    [_무림P&P_from2012.01.01_to2012.12.31]_ from'0' to '155' (df2): successfully Saved
 * Unit: '_무림SP_from2011.01.01_to2011.12.31' (264/1997)
    The Number of articles:    115
    [_무림SP_from2011.01.01_to2011.12.31]_ from'0' to '114' (df2): successfully Saved
 * Unit: '_무림페이퍼_from2012.01.01_to2012.12.31' (265/1997)
    The Number of articles:    187
    [_무림페이퍼_from2012.01.01_to2012.12.31]_ from'0' to '186' (df2): successfully Saved
 * Unit: '_무학_from2012.01.01_to2012.12.31' (266/1997)
    The Number of articles:    1802
    [_무학_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    >>> [_무학_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): failed to export .csv
    [_무학_from2012.01.01_to2012.12.31]_ from'1000' to '1801' (df2): successfully Saved
 * Unit: '_문배철강_from2011.01.01_to2011.12.31' (267/1997)
    The Number of articles:    58
    [_문배철강_from2011.01.01_to2011.12.31]_ from'0' to '57' (df2): successfully Saved
 * Unit: '_미니멈컬렉션_from2011.01.01_to2011.12.31' (268/1997)
    No articles to scrap for "_미니멈컬렉션_from2011.01.01_to2011.12.31"
 * Unit: '_미동앤씨네마_from2011.01.01_to2011.12.31' (269/1997)
    No articles to scrap for "_미동앤씨네마_from2011.01.01_to2011.12.31"
 * Unit: '_미디어코프_from2011.01.01_to2011.12.31' (270/1997)
    The Number of articles:    15
    [_미디어코프_from2011.01.01_to2011.12.31]_ from'0' to '14' (df2): successfully Saved
 * Unit: '_미래나노텍_from2011.01.01_to2011.12.31' (271/1997)
    The Number of articles:    272
    [_미래나노텍_from2011.01.01_to2011.12.31]_ from'0' to '271' (df2): successfully Saved
 * Unit: '_미래산업_from2012.01.01_to2012.12.31' (272/1997)
    The Number of articles:    2524
    [_미래산업_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_미래산업_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_미래산업_from2012.01.01_to2012.12.31]_ from'2000' to '2523' (df2): successfully Saved
 * Unit: '_미래아이앤지_from2011.01.01_to2011.12.31' (273/1997)
    No articles to scrap for "_미래아이앤지_from2011.01.01_to2011.12.31"
 * Unit: '_미래아이앤지_from2012.01.01_to2012.12.31' (274/1997)
    No articles to scrap for "_미래아이앤지_from2012.01.01_to2012.12.31"
 * Unit: '_미래컴퍼니_from2011.01.01_to2011.12.31' (275/1997)
    The Number of articles:    144
    [_미래컴퍼니_from2011.01.01_to2011.12.31]_ from'0' to '143' (df2): successfully Saved
 * Unit: '_미래테크놀로지_from2011.01.01_to2011.12.31' (276/1997)
    The Number of articles:    13
    [_미래테크놀로지_from2011.01.01_to2011.12.31]_ from'0' to '12' (df2): successfully Saved
 * Unit: '_미리넷_from2011.01.01_to2011.12.31' (277/1997)
    The Number of articles:    920
    [_미리넷_from2011.01.01_to2011.12.31]_ from'0' to '919' (df2): successfully Saved
 * Unit: '_미성포리테크_from2011.01.01_to2011.12.31' (278/1997)
    The Number of articles:    266
    [_미성포리테크_from2011.01.01_to2011.12.31]_ from'0' to '265' (df2): successfully Saved
 * Unit: '_미원상사_from2012.01.01_to2012.12.31' (279/1997)
    The Number of articles:    214
    [_미원상사_from2012.01.01_to2012.12.31]_ from'0' to '213' (df2): successfully Saved
 * Unit: '_미원홀딩스_from2011.01.01_to2011.12.31' (280/1997)
    No articles to scrap for "_미원홀딩스_from2011.01.01_to2011.12.31"
 * Unit: '_미원화학_from2011.01.01_to2011.12.31' (281/1997)
    The Number of articles:    102
    [_미원화학_from2011.01.01_to2011.12.31]_ from'0' to '101' (df2): successfully Saved
 * Unit: '_미주제강_from2011.01.01_to2011.12.31' (282/1997)
    The Number of articles:    905
    [_미주제강_from2011.01.01_to2011.12.31]_ from'0' to '904' (df2): successfully Saved
 * Unit: '_미창석유_from2011.01.01_to2011.12.31' (283/1997)
    The Number of articles:    31
    [_미창석유_from2011.01.01_to2011.12.31]_ from'0' to '30' (df2): successfully Saved
 * Unit: '_미창석유_from2012.01.01_to2012.12.31' (284/1997)
    The Number of articles:    11
    [_미창석유_from2012.01.01_to2012.12.31]_ from'0' to '10' (df2): successfully Saved
 * Unit: '_미코_from2011.01.01_to2011.12.31' (285/1997)
    The Number of articles:    747
    [_미코_from2011.01.01_to2011.12.31]_ from'0' to '746' (df2): successfully Saved
 * Unit: '_미투온_from2011.01.01_to2011.12.31' (286/1997)
    The Number of articles:    4
    [_미투온_from2011.01.01_to2011.12.31]_ from'0' to '3' (df2): successfully Saved
 * Unit: '_민앤지_from2011.01.01_to2011.12.31' (287/1997)
    No articles to scrap for "_민앤지_from2011.01.01_to2011.12.31"
 * Unit: '_바른손_from2011.01.01_to2011.12.31' (288/1997)
    The Number of articles:    718
    [_바른손_from2011.01.01_to2011.12.31]_ from'0' to '717' (df2): successfully Saved
 * Unit: '_바른손이앤에이_from2011.01.01_to2011.12.31' (289/1997)
    No articles to scrap for "_바른손이앤에이_from2011.01.01_to2011.12.31"
 * Unit: '_바른전자_from2011.01.01_to2011.12.31' (290/1997)
    The Number of articles:    425

    [_바른전자_from2011.01.01_to2011.12.31]_ from'0' to '424' (df2): successfully Saved
 * Unit: '_바른테크놀로지_from2011.01.01_to2011.12.31' (291/1997)
    No articles to scrap for "_바른테크놀로지_from2011.01.01_to2011.12.31"
 * Unit: '_바이나믹_from2011.01.01_to2011.12.31' (292/1997)
    The Number of articles:    9
    [_바이나믹_from2011.01.01_to2011.12.31]_ from'0' to '8' (df2): successfully Saved
 * Unit: '_바이넥스_from2011.01.01_to2011.12.31' (293/1997)
    The Number of articles:    515
    [_바이넥스_from2011.01.01_to2011.12.31]_ from'0' to '514' (df2): successfully Saved
 * Unit: '_바이로메드_from2011.01.01_to2011.12.31' (294/1997)
    The Number of articles:    183
    [_바이로메드_from2011.01.01_to2011.12.31]_ from'0' to '182' (df2): successfully Saved
 * Unit: '_바이오니아_from2011.01.01_to2011.12.31' (295/1997)
    The Number of articles:    185
    [_바이오니아_from2011.01.01_to2011.12.31]_ from'0' to '184' (df2): successfully Saved
 * Unit: '_바이오리더스_from2011.01.01_to2011.12.31' (296/1997)
    The Number of articles:    40
    [_바이오리더스_from2011.01.01_to2011.12.31]_ from'0' to '39' (df2): successfully Saved
 * Unit: '_바이오빌_from2011.01.01_to2011.12.31' (297/1997)
    No articles to scrap for "_바이오빌_from2011.01.01_to2011.12.31"
 * Unit: '_바이오스마트_from2011.01.01_to2011.12.31' (298/1997)
    The Number of articles:    166
    [_바이오스마트_from2011.01.01_to2011.12.31]_ from'0' to '165' (df2): successfully Saved
 * Unit: '_바이오시스_from2011.01.01_to2011.12.31' (299/1997)
    The Number of articles:    31
    [_바이오시스_from2011.01.01_to2011.12.31]_ from'0' to '30' (df2): successfully Saved
 * Unit: '_바이오톡스텍_from2011.01.01_to2011.12.31' (300/1997)
    The Number of articles:    178
    [_바이오톡스텍_from2011.01.01_to2011.12.31]_ from'0' to '177' (df2): successfully Saved
 * Unit: '_바이온_from2011.01.01_to2011.12.31' (301/1997)
    The Number of articles:    43
    [_바이온_from2011.01.01_to2011.12.31]_ from'0' to '42' (df2): successfully Saved
 * Unit: '_바텍_from2011.01.01_to2011.12.31' (302/1997)
    The Number of articles:    851
    [_바텍_from2011.01.01_to2011.12.31]_ from'0' to '850' (df2): successfully Saved
 * Unit: '_방림_from2012.01.01_to2012.12.31' (303/1997)
    The Number of articles:    307
    [_방림_from2012.01.01_to2012.12.31]_ from'0' to '306' (df2): successfully Saved
 * Unit: '_배명금속_from2011.01.01_to2011.12.31' (304/1997)
    The Number of articles:    145
    [_배명금속_from2011.01.01_to2011.12.31]_ from'0' to '144' (df2): successfully Saved
 * Unit: '_백광산업_from2012.01.01_to2012.12.31' (305/1997)
    The Number of articles:    45
    [_백광산업_from2012.01.01_to2012.12.31]_ from'0' to '44' (df2): successfully Saved
 * Unit: '_백광소재_from2012.01.01_to2012.12.31' (306/1997)
    The Number of articles:    21
    [_백광소재_from2012.01.01_to2012.12.31]_ from'0' to '20' (df2): successfully Saved
 * Unit: '_백금T&A_from2011.01.01_to2011.12.31' (307/1997)
    The Number of articles:    36
    [_백금T&A_from2011.01.01_to2011.12.31]_ from'0' to '35' (df2): successfully Saved
 * Unit: '_백산_from2012.01.01_to2012.12.31' (308/1997)
    The Number of articles:    861
    [_백산_from2012.01.01_to2012.12.31]_ from'0' to '860' (df2): successfully Saved
 * Unit: '_버추얼텍_from2011.01.01_to2011.12.31' (309/1997)
    The Number of articles:    63
    [_버추얼텍_from2011.01.01_to2011.12.31]_ from'0' to '62' (df2): successfully Saved
 * Unit: '_범양건영_from2011.01.01_to2011.12.31' (310/1997)
    The Number of articles:    524
    [_범양건영_from2011.01.01_to2011.12.31]_ from'0' to '523' (df2): successfully Saved
 * Unit: '_범양건영_from2012.01.01_to2012.12.31' (311/1997)
    The Number of articles:    431
    [_범양건영_from2012.01.01_to2012.12.31]_ from'0' to '430' (df2): successfully Saved
 * Unit: '_범양식품_from2011.01.01_to2011.12.31' (312/1997)
    The Number of articles:    3
    [_범양식품_from2011.01.01_to2011.12.31]_ from'0' to '2' (df2): successfully Saved
 * Unit: '_베네데스하이텍_from2011.01.01_to2011.12.31' (313/1997)
    No articles to scrap for "_베네데스하이텍_from2011.01.01_to2011.12.31"
 * Unit: '_베셀_from2011.01.01_to2011.12.31' (314/1997)
    The Number of articles:    11
    [_베셀_from2011.01.01_to2011.12.31]_ from'0' to '10' (df2): successfully Saved
 * Unit: '_베스트플로우_from2011.01.01_to2011.12.31' (315/1997)
    The Number of articles:    4
    [_베스트플로우_from2011.01.01_to2011.12.31]_ from'0' to '3' (df2): successfully Saved
 * Unit: '_벨로체피아노_from2011.01.01_to2011.12.31' (316/1997)
    The Number of articles:    1
    [_벨로체피아노_from2011.01.01_to2011.12.31]_ from'0' to '0' (df2): successfully Saved
 * Unit: '_벽산_from2011.01.01_to2011.12.31' (317/1997)
    The Number of articles:    1539
    [_벽산_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_벽산_from2011.01.01_to2011.12.31]_ from'1000' to '1538' (df2): successfully Saved
 * Unit: '_벽산_from2012.01.01_to2012.12.31' (318/1997)
    The Number of articles:    1693
    [_벽산_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    >>> [_벽산_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): failed to export .csv
    [_벽산_from2012.01.01_to2012.12.31]_ from'1000' to '1692' (df2): successfully Saved
 * Unit: '_보광산업_from2011.01.01_to2011.12.31' (319/1997)
    The Number of articles:    1
    [_보광산업_from2011.01.01_to2011.12.31]_ from'0' to '0' (df2): successfully Saved
 * Unit: '_보광티에스_from2011.01.01_to2011.12.31' (320/1997)
    The Number of articles:    361
    [_보광티에스_from2011.01.01_to2011.12.31]_ from'0' to '360' (df2): successfully Saved
 * Unit: '_보락_from2012.01.01_to2012.12.31' (321/1997)
    The Number of articles:    48
    [_보락_from2012.01.01_to2012.12.31]_ from'0' to '47' (df2): successfully Saved
 * Unit: '_보령메디앙스_from2011.01.01_to2011.12.31' (322/1997)
    The Number of articles:    1746
    [_보령메디앙스_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_보령메디앙스_from2011.01.01_to2011.12.31]_ from'1000' to '1745' (df2): successfully Saved
 * Unit: '_보령제약_from2011.01.01_to2011.12.31' (323/1997)
    The Number of articles:    824
    [_보령제약_from2011.01.01_to2011.12.31]_ from'0' to '823' (df2): successfully Saved
 * Unit: '_보령제약_from2012.01.01_to2012.12.31' (324/1997)
    The Number of articles:    738
    [_보령제약_from2012.01.01_to2012.12.31]_ from'0' to '737' (df2): successfully Saved
 * Unit: '_보루네오_from2012.01.01_to2012.12.31' (325/1997)
    The Number of articles:    310
    [_보루네오_from2012.01.01_to2012.12.31]_ from'0' to '309' (df2): successfully Saved
 * Unit: '_보성인터_from2011.01.01_to2011.12.31' (326/1997)
    No articles to scrap for "_보성인터_from2011.01.01_to2011.12.31"
 * Unit: '_보성파워텍_from2011.01.01_to2011.12.31' (327/1997)
    The Number of articles:    325
    [_보성파워텍_from2011.01.01_to2011.12.31]_ from'0' to '324' (df2): successfully Saved
 * Unit: '_보진재_from2011.01.01_to2011.12.31' (328/1997)
    The Number of articles:    2
    [_보진재_from2011.01.01_to2011.12.31]_ from'0' to '1' (df2): successfully Saved
 * Unit: '_보타바이오_from2011.01.01_to2011.12.31' (329/1997)
    No articles to scrap for "_보타바이오_from2011.01.01_to2011.12.31"
 * Unit: '_보해양조_from2012.01.01_to2012.12.31' (330/1997)
    The Number of articles:    592
    [_보해양조_from2012.01.01_to2012.12.31]_ from'0' to '591' (df2): successfully Saved
 * Unit: '_보홍_from2011.01.01_to2011.12.31' (331/1997)
    The Number of articles:    24
    [_보홍_from2011.01.01_to2011.12.31]_ from'0' to '23' (df2): successfully Saved
 * Unit: '_봉신_from2011.01.01_to2011.12.31' (332/1997)
    The Number of articles:    182
    [_봉신_from2011.01.01_to2011.12.31]_ from'0' to '181' (df2): successfully Saved
 * Unit: '_부광약품_from2011.01.01_to2011.12.31' (333/1997)
    The Number of articles:    522
    [_부광약품_from2011.01.01_to2011.12.31]_ from'0' to '521' (df2): successfully Saved
 * Unit: '_부광약품_from2012.01.01_to2012.12.31' (334/1997)
    The Number of articles:    332
    [_부광약품_from2012.01.01_to2012.12.31]_ from'0' to '331' (df2): successfully Saved
 * Unit: '_부국철강_from2011.01.01_to2011.12.31' (335/1997)
    The Number of articles:    83
    [_부국철강_from2011.01.01_to2011.12.31]_ from'0' to '82' (df2): successfully Saved
 * Unit: '_부국철강_from2012.01.01_to2012.12.31' (336/1997)
    The Number of articles:    21

    [_부국철강_from2012.01.01_to2012.12.31]_ from'0' to '20' (df2): successfully Saved
 * Unit: '_부방_from2011.01.01_to2011.12.31' (337/1997)
    The Number of articles:    16
    [_부방_from2011.01.01_to2011.12.31]_ from'0' to '15' (df2): successfully Saved
 * Unit: '_부산가스_from2011.01.01_to2011.12.31' (338/1997)
    The Number of articles:    55
    [_부산가스_from2011.01.01_to2011.12.31]_ from'0' to '54' (df2): successfully Saved
 * Unit: '_부산가스_from2012.01.01_to2012.12.31' (339/1997)
    The Number of articles:    37
    [_부산가스_from2012.01.01_to2012.12.31]_ from'0' to '36' (df2): successfully Saved
 * Unit: '_부산산업_from2011.01.01_to2011.12.31' (340/1997)
    The Number of articles:    159
    [_부산산업_from2011.01.01_to2011.12.31]_ from'0' to '158' (df2): successfully Saved
 * Unit: '_부산산업_from2012.01.01_to2012.12.31' (341/1997)
    The Number of articles:    161
    [_부산산업_from2012.01.01_to2012.12.31]_ from'0' to '160' (df2): successfully Saved
 * Unit: '_부산주공_from2011.01.01_to2011.12.31' (342/1997)
    The Number of articles:    108
    [_부산주공_from2011.01.01_to2011.12.31]_ from'0' to '107' (df2): successfully Saved
 * Unit: '_부산주공_from2012.01.01_to2012.12.31' (343/1997)
    The Number of articles:    38
    [_부산주공_from2012.01.01_to2012.12.31]_ from'0' to '37' (df2): successfully Saved
 * Unit: '_부스타_from2011.01.01_to2011.12.31' (344/1997)
    The Number of articles:    447
    [_부스타_from2011.01.01_to2011.12.31]_ from'0' to '446' (df2): successfully Saved
 * Unit: '_부흥_from2011.01.01_to2011.12.31' (345/1997)
    The Number of articles:    2793
    [_부흥_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_부흥_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_부흥_from2011.01.01_to2011.12.31]_ from'2000' to '2792' (df2): successfully Saved
 * Unit: '_뷰웍스_from2011.01.01_to2011.12.31' (346/1997)
    The Number of articles:    308
    [_뷰웍스_from2011.01.01_to2011.12.31]_ from'0' to '307' (df2): successfully Saved
 * Unit: '_브레인콘텐츠_from2011.01.01_to2011.12.31' (347/1997)
    The Number of articles:    1
    [_브레인콘텐츠_from2011.01.01_to2011.12.31]_ from'0' to '0' (df2): successfully Saved
 * Unit: '_브리지텍_from2011.01.01_to2011.12.31' (348/1997)
    The Number of articles:    67
    [_브리지텍_from2011.01.01_to2011.12.31]_ from'0' to '66' (df2): successfully Saved
 * Unit: '_브이에스에스티_from2011.01.01_to2011.12.31' (349/1997)
    The Number of articles:    9
    [_브이에스에스티_from2011.01.01_to2011.12.31]_ from'0' to '8' (df2): successfully Saved
 * Unit: '_블루멈_from2011.01.01_to2011.12.31' (350/1997)
    No articles to scrap for "_블루멈_from2011.01.01_to2011.12.31"
 * Unit: '_블루스톤_from2011.01.01_to2011.12.31' (351/1997)
    The Number of articles:    19
    [_블루스톤_from2011.01.01_to2011.12.31]_ from'0' to '18' (df2): successfully Saved
 * Unit: '_블루젬디앤씨_from2011.01.01_to2011.12.31' (352/1997)
    The Number of articles:    396
    [_블루젬디앤씨_from2011.01.01_to2011.12.31]_ from'0' to '395' (df2): successfully Saved
 * Unit: '_블루콤_from2011.01.01_to2011.12.31' (353/1997)
    The Number of articles:    400
    [_블루콤_from2011.01.01_to2011.12.31]_ from'0' to '399' (df2): successfully Saved
 * Unit: '_비덴트_from2011.01.01_to2011.12.31' (354/1997)
    No articles to scrap for "_비덴트_from2011.01.01_to2011.12.31"
 * Unit: '_비상교육_from2011.01.01_to2011.12.31' (355/1997)
    The Number of articles:    667
    [_비상교육_from2011.01.01_to2011.12.31]_ from'0' to '666' (df2): successfully Saved
 * Unit: '_비씨월드제약_from2011.01.01_to2011.12.31' (356/1997)
    The Number of articles:    8
    [_비씨월드제약_from2011.01.01_to2011.12.31]_ from'0' to '7' (df2): successfully Saved
 * Unit: '_비아트론_from2011.01.01_to2011.12.31' (357/1997)
    The Number of articles:    100
    [_비아트론_from2011.01.01_to2011.12.31]_ from'0' to '99' (df2): successfully Saved
 * Unit: '_비에이치_from2011.01.01_to2011.12.31' (358/1997)
    The Number of articles:    304
    [_비에이치_from2011.01.01_to2011.12.31]_ from'0' to '303' (df2): successfully Saved
 * Unit: '_비에이치아이_from2011.01.01_to2011.12.31' (359/1997)
    The Number of articles:    491
    [_비에이치아이_from2011.01.01_to2011.12.31]_ from'0' to '490' (df2): successfully Saved
 * Unit: '_비엔디_from2011.01.01_to2011.12.31' (360/1997)
    The Number of articles:    6
    [_비엔디_from2011.01.01_to2011.12.31]_ from'0' to '5' (df2): successfully Saved
 * Unit: '_비엠티_from2011.01.01_to2011.12.31' (361/1997)
    The Number of articles:    237
    [_비엠티_from2011.01.01_to2011.12.31]_ from'0' to '236' (df2): successfully Saved
 * Unit: '_비전하이테크_from2011.01.01_to2011.12.31' (362/1997)
    The Number of articles:    8
    [_비전하이테크_from2011.01.01_to2011.12.31]_ from'0' to '7' (df2): successfully Saved
 * Unit: '_비츠로셀_from2011.01.01_to2011.12.31' (363/1997)
    The Number of articles:    149
    [_비츠로셀_from2011.01.01_to2011.12.31]_ from'0' to '148' (df2): successfully Saved
 * Unit: '_비츠로시스_from2011.01.01_to2011.12.31' (364/1997)
    The Number of articles:    164
    [_비츠로시스_from2011.01.01_to2011.12.31]_ from'0' to '163' (df2): successfully Saved
 * Unit: '_비츠로테크_from2011.01.01_to2011.12.31' (365/1997)
    The Number of articles:    195
    [_비츠로테크_from2011.01.01_to2011.12.31]_ from'0' to '194' (df2): successfully Saved
 * Unit: '_비트컴퓨터_from2011.01.01_to2011.12.31' (366/1997)
    The Number of articles:    631
    [_비트컴퓨터_from2011.01.01_to2011.12.31]_ from'0' to '630' (df2): successfully Saved
 * Unit: '_빅솔론_from2011.01.01_to2011.12.31' (367/1997)
    The Number of articles:    149
    [_빅솔론_from2011.01.01_to2011.12.31]_ from'0' to '148' (df2): successfully Saved
 * Unit: '_빅텍_from2011.01.01_to2011.12.31' (368/1997)
    The Number of articles:    396
    [_빅텍_from2011.01.01_to2011.12.31]_ from'0' to '395' (df2): successfully Saved
 * Unit: '_빙그레_from2012.01.01_to2012.12.31' (369/1997)
    The Number of articles:    2473
    [_빙그레_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_빙그레_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    >>> [_빙그레_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): failed to export .csv
    [_빙그레_from2012.01.01_to2012.12.31]_ from'2000' to '2472' (df2): successfully Saved
 * Unit: '_빛샘전자_from2011.01.01_to2011.12.31' (370/1997)
    The Number of articles:    338
    [_빛샘전자_from2011.01.01_to2011.12.31]_ from'0' to '337' (df2): successfully Saved
 * Unit: '_사라콤_from2011.01.01_to2011.12.31' (371/1997)
    The Number of articles:    3
    [_사라콤_from2011.01.01_to2011.12.31]_ from'0' to '2' (df2): successfully Saved
 * Unit: '_사람인에이치알_from2011.01.01_to2011.12.31' (372/1997)
    The Number of articles:    21
    [_사람인에이치알_from2011.01.01_to2011.12.31]_ from'0' to '20' (df2): successfully Saved
 * Unit: '_사이노젠_from2011.01.01_to2011.12.31' (373/1997)
    The Number of articles:    7
    [_사이노젠_from2011.01.01_to2011.12.31]_ from'0' to '6' (df2): successfully Saved
 * Unit: '_사이버패스_from2011.01.01_to2011.12.31' (374/1997)
    The Number of articles:    3
    [_사이버패스_from2011.01.01_to2011.12.31]_ from'0' to '2' (df2): successfully Saved
 * Unit: '_사조대림_from2012.01.01_to2012.12.31' (375/1997)
    The Number of articles:    240
    [_사조대림_from2012.01.01_to2012.12.31]_ from'0' to '239' (df2): successfully Saved
 * Unit: '_사조동아원_from2012.01.01_to2012.12.31' (376/1997)
    No articles to scrap for "_사조동아원_from2012.01.01_to2012.12.31"
 * Unit: '_사조산업_from2012.01.01_to2012.12.31' (377/1997)
    The Number of articles:    360
    [_사조산업_from2012.01.01_to2012.12.31]_ from'0' to '359' (df2): successfully Saved
 * Unit: '_사조씨푸드_from2011.01.01_to2011.12.31' (378/1997)
    The Number of articles:    43
    [_사조씨푸드_from2011.01.01_to2011.12.31]_ from'0' to '42' (df2): successfully Saved
 * Unit: '_사조오양_from2012.01.01_to2012.12.31' (379/1997)
    The Number of articles:    183
    [_사조오양_from2012.01.01_to2012.12.31]_ from'0' to '182' (df2): successfully Saved
 * Unit: '_사조해표_from2011.01.01_to2011.12.31' (380/1997)
    The Number of articles:    326
    [_사조해표_from2011.01.01_to2011.12.31]_ from'0' to '325' (df2): successfully Saved

 * Unit: '_사파이어테크놀로지_from2011.01.01_to2011.12.31' (381/1997)
    The Number of articles:    923
    [_사파이어테크놀로지_from2011.01.01_to2011.12.31]_ from'0' to '922' (df2): successfully Saved
 * Unit: '_산양전기_from2011.01.01_to2011.12.31' (382/1997)
    The Number of articles:    1
    [_산양전기_from2011.01.01_to2011.12.31]_ from'0' to '0' (df2): successfully Saved
 * Unit: '_삼강엠앤티_from2011.01.01_to2011.12.31' (383/1997)
    The Number of articles:    176
    [_삼강엠앤티_from2011.01.01_to2011.12.31]_ from'0' to '175' (df2): successfully Saved
 * Unit: '_삼광글라스_from2011.01.01_to2011.12.31' (384/1997)
    No articles to scrap for "_삼광글라스_from2011.01.01_to2011.12.31"
 * Unit: '_삼광글라스_from2012.01.01_to2012.12.31' (385/1997)
    No articles to scrap for "_삼광글라스_from2012.01.01_to2012.12.31"
 * Unit: '_삼기오토모티브_from2011.01.01_to2011.12.31' (386/1997)
    The Number of articles:    27
    [_삼기오토모티브_from2011.01.01_to2011.12.31]_ from'0' to '26' (df2): successfully Saved
 * Unit: '_삼도물산_from2011.01.01_to2011.12.31' (387/1997)
    No articles to scrap for "_삼도물산_from2011.01.01_to2011.12.31"
 * Unit: '_삼륭물산_from2011.01.01_to2011.12.31' (388/1997)
    The Number of articles:    77
    [_삼륭물산_from2011.01.01_to2011.12.31]_ from'0' to '76' (df2): successfully Saved
 * Unit: '_삼미_from2011.01.01_to2011.12.31' (389/1997)
    The Number of articles:    673
    [_삼미_from2011.01.01_to2011.12.31]_ from'0' to '672' (df2): successfully Saved
 * Unit: '_삼보모터스_from2011.01.01_to2011.12.31' (390/1997)
    The Number of articles:    23
    [_삼보모터스_from2011.01.01_to2011.12.31]_ from'0' to '22' (df2): successfully Saved
 * Unit: '_삼보산업_from2011.01.01_to2011.12.31' (391/1997)
    The Number of articles:    286
    [_삼보산업_from2011.01.01_to2011.12.31]_ from'0' to '285' (df2): successfully Saved
 * Unit: '_삼보오토_from2011.01.01_to2011.12.31' (392/1997)
    No articles to scrap for "_삼보오토_from2011.01.01_to2011.12.31"
 * Unit: '_삼보컴퓨터_from2011.01.01_to2011.12.31' (393/1997)
    The Number of articles:    483
    [_삼보컴퓨터_from2011.01.01_to2011.12.31]_ from'0' to '482' (df2): successfully Saved
 * Unit: '_삼보판지_from2011.01.01_to2011.12.31' (394/1997)
    The Number of articles:    40
    [_삼보판지_from2011.01.01_to2011.12.31]_ from'0' to '39' (df2): successfully Saved
 * Unit: '_삼본정밀전자_from2011.01.01_to2011.12.31' (395/1997)
    The Number of articles:    88
    [_삼본정밀전자_from2011.01.01_to2011.12.31]_ from'0' to '87' (df2): successfully Saved
 * Unit: '_삼부토건_from2011.01.01_to2011.12.31' (396/1997)
    The Number of articles:    1813
    [_삼부토건_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_삼부토건_from2011.01.01_to2011.12.31]_ from'1000' to '1812' (df2): successfully Saved
 * Unit: '_삼부토건_from2012.01.01_to2012.12.31' (397/1997)
    The Number of articles:    275
    [_삼부토건_from2012.01.01_to2012.12.31]_ from'0' to '274' (df2): successfully Saved
 * Unit: '_삼성SDI_from2011.01.01_to2011.12.31' (398/1997)
    The Number of articles:    2984
    [_삼성SDI_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_삼성SDI_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_삼성SDI_from2011.01.01_to2011.12.31]_ from'2000' to '2983' (df2): successfully Saved
 * Unit: '_삼성SDI_from2012.01.01_to2012.12.31' (399/1997)
    The Number of articles:    2486
    [_삼성SDI_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_삼성SDI_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_삼성SDI_from2012.01.01_to2012.12.31]_ from'2000' to '2485' (df2): successfully Saved
 * Unit: '_삼성공조_from2011.01.01_to2011.12.31' (400/1997)
    The Number of articles:    309
    [_삼성공조_from2011.01.01_to2011.12.31]_ from'0' to '308' (df2): successfully Saved
 * Unit: '_삼성공조_from2012.01.01_to2012.12.31' (401/1997)
    The Number of articles:    58
    [_삼성공조_from2012.01.01_to2012.12.31]_ from'0' to '57' (df2): successfully Saved
 * Unit: '_삼성메디슨_from2011.01.01_to2011.12.31' (402/1997)
    The Number of articles:    789
    [_삼성메디슨_from2011.01.01_to2011.12.31]_ from'0' to '788' (df2): successfully Saved
 * Unit: '_삼성물산_from2011.01.01_to2011.12.31' (403/1997)
    The Number of articles:    2746
    [_삼성물산_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_삼성물산_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_삼성물산_from2011.01.01_to2011.12.31]_ from'2000' to '2745' (df2): successfully Saved
 * Unit: '_삼성바이오로직스_from2011.01.01_to2011.12.31' (404/1997)
    The Number of articles:    380
    [_삼성바이오로직스_from2011.01.01_to2011.12.31]_ from'0' to '379' (df2): successfully Saved
 * Unit: '_삼성수산_from2011.01.01_to2011.12.31' (405/1997)
    The Number of articles:    3
    [_삼성수산_from2011.01.01_to2011.12.31]_ from'0' to '2' (df2): successfully Saved
 * Unit: '_삼성에스디에스_from2011.01.01_to2011.12.31' (406/1997)
    The Number of articles:    43
    [_삼성에스디에스_from2011.01.01_to2011.12.31]_ from'0' to '42' (df2): successfully Saved
 * Unit: '_삼성엔지니어링_from2011.01.01_to2011.12.31' (407/1997)
    The Number of articles:    2553
    [_삼성엔지니어링_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_삼성엔지니어링_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_삼성엔지니어링_from2011.01.01_to2011.12.31]_ from'2000' to '2552' (df2): successfully Saved
 * Unit: '_삼성전기_from2011.01.01_to2011.12.31' (408/1997)
    The Number of articles:    2882
    [_삼성전기_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_삼성전기_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_삼성전기_from2011.01.01_to2011.12.31]_ from'2000' to '2881' (df2): successfully Saved
 * Unit: '_삼성전기_from2012.01.01_to2012.12.31' (409/1997)
    The Number of articles:    2441
    [_삼성전기_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_삼성전기_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_삼성전기_from2012.01.01_to2012.12.31]_ from'2000' to '2440' (df2): successfully Saved
 * Unit: '_삼성전자_from2011.01.01_to2011.12.31' (410/1997)
    The Number of articles:    2667
    [_삼성전자_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_삼성전자_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_삼성전자_from2011.01.01_to2011.12.31]_ from'2000' to '2666' (df2): successfully Saved
 * Unit: '_삼성전자_from2012.01.01_to2012.12.31' (411/1997)
    The Number of articles:    2634
    [_삼성전자_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_삼성전자_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_삼성전자_from2012.01.01_to2012.12.31]_ from'2000' to '2633' (df2): successfully Saved
    >>> [_삼성전자_from2012.01.01_to2012.12.31]_ from'2000' to '2633' (df2): failed to export .csv
 * Unit: '_삼성제약_from2011.01.01_to2011.12.31' (412/1997)
    The Number of articles:    310
    [_삼성제약_from2011.01.01_to2011.12.31]_ from'0' to '309' (df2): successfully Saved
 * Unit: '_삼성제약_from2012.01.01_to2012.12.31' (413/1997)
    The Number of articles:    189
    [_삼성제약_from2012.01.01_to2012.12.31]_ from'0' to '188' (df2): successfully Saved
 * Unit: '_삼성중공업_from2011.01.01_to2011.12.31' (414/1997)
    The Number of articles:    2794
    [_삼성중공업_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_삼성중공업_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_삼성중공업_from2011.01.01_to2011.12.31]_ from'2000' to '2793' (df2): successfully Saved
 * Unit: '_삼성중공업_from2012.01.01_to2012.12.31' (415/1997)
    The Number of articles:    2413
    [_삼성중공업_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_삼성중공업_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_삼성중공업_from2012.01.01_to2012.12.31]_ from'2000' to '2412' (df2): successfully Saved
 * Unit: '_삼성출판사_from2011.01.01_to2011.12.31' (416/1997)
    The Number of articles:    311
    [_삼성출판사_from2011.01.01_to2011.12.31]_ from'0' to '310' (df2): successfully Saved

 * Unit: '_삼아알미늄_from2011.01.01_to2011.12.31' (417/1997)
    The Number of articles:    71
    [_삼아알미늄_from2011.01.01_to2011.12.31]_ from'0' to '70' (df2): successfully Saved
 * Unit: '_삼아알미늄_from2012.01.01_to2012.12.31' (418/1997)
    The Number of articles:    24
    [_삼아알미늄_from2012.01.01_to2012.12.31]_ from'0' to '23' (df2): successfully Saved
 * Unit: '_삼아제약_from2011.01.01_to2011.12.31' (419/1997)
    The Number of articles:    81
    [_삼아제약_from2011.01.01_to2011.12.31]_ from'0' to '80' (df2): successfully Saved
 * Unit: '_삼애인더스_from2011.01.01_to2011.12.31' (420/1997)
    The Number of articles:    2
    [_삼애인더스_from2011.01.01_to2011.12.31]_ from'0' to '1' (df2): successfully Saved
 * Unit: '_삼양사_from2011.01.01_to2011.12.31' (421/1997)
    The Number of articles:    1457
    [_삼양사_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_삼양사_from2011.01.01_to2011.12.31]_ from'1000' to '1456' (df2): successfully Saved
 * Unit: '_삼양식품_from2012.01.01_to2012.12.31' (422/1997)
    The Number of articles:    1354
    [_삼양식품_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_삼양식품_from2012.01.01_to2012.12.31]_ from'1000' to '1353' (df2): successfully Saved
 * Unit: '_삼양통상_from2012.01.01_to2012.12.31' (423/1997)
    The Number of articles:    56
    [_삼양통상_from2012.01.01_to2012.12.31]_ from'0' to '55' (df2): successfully Saved
 * Unit: '_삼양홀딩스_from2012.01.01_to2012.12.31' (424/1997)
    The Number of articles:    343
    [_삼양홀딩스_from2012.01.01_to2012.12.31]_ from'0' to '342' (df2): successfully Saved
 * Unit: '_삼영무역_from2011.01.01_to2011.12.31' (425/1997)
    The Number of articles:    64
    [_삼영무역_from2011.01.01_to2011.12.31]_ from'0' to '63' (df2): successfully Saved
 * Unit: '_삼영엠텍_from2011.01.01_to2011.12.31' (426/1997)
    The Number of articles:    303
    [_삼영엠텍_from2011.01.01_to2011.12.31]_ from'0' to '302' (df2): successfully Saved
 * Unit: '_삼영이엔씨_from2011.01.01_to2011.12.31' (427/1997)
    The Number of articles:    133
    [_삼영이엔씨_from2011.01.01_to2011.12.31]_ from'0' to '132' (df2): successfully Saved
 * Unit: '_삼영전자_from2011.01.01_to2011.12.31' (428/1997)
    The Number of articles:    105
    [_삼영전자_from2011.01.01_to2011.12.31]_ from'0' to '104' (df2): successfully Saved
 * Unit: '_삼영전자_from2012.01.01_to2012.12.31' (429/1997)
    The Number of articles:    48
    [_삼영전자_from2012.01.01_to2012.12.31]_ from'0' to '47' (df2): successfully Saved
 * Unit: '_삼영화학_from2012.01.01_to2012.12.31' (430/1997)
    The Number of articles:    130
    [_삼영화학_from2012.01.01_to2012.12.31]_ from'0' to '129' (df2): successfully Saved
 * Unit: '_삼우엠스_from2011.01.01_to2011.12.31' (431/1997)
    No articles to scrap for "_삼우엠스_from2011.01.01_to2011.12.31"
 * Unit: '_삼우이엠씨_from2011.01.01_to2011.12.31' (432/1997)
    The Number of articles:    297
    [_삼우이엠씨_from2011.01.01_to2011.12.31]_ from'0' to '296' (df2): successfully Saved
 * Unit: '_삼원강재_from2011.01.01_to2011.12.31' (433/1997)
    The Number of articles:    189
    [_삼원강재_from2011.01.01_to2011.12.31]_ from'0' to '188' (df2): successfully Saved
 * Unit: '_삼원테크_from2011.01.01_to2011.12.31' (434/1997)
    The Number of articles:    221
    [_삼원테크_from2011.01.01_to2011.12.31]_ from'0' to '220' (df2): successfully Saved
 * Unit: '_삼익THK_from2011.01.01_to2011.12.31' (435/1997)
    The Number of articles:    279
    [_삼익THK_from2011.01.01_to2011.12.31]_ from'0' to '278' (df2): successfully Saved
 * Unit: '_삼익THK_from2012.01.01_to2012.12.31' (436/1997)
    The Number of articles:    121
    [_삼익THK_from2012.01.01_to2012.12.31]_ from'0' to '120' (df2): successfully Saved
 * Unit: '_삼익건설_from2011.01.01_to2011.12.31' (437/1997)
    The Number of articles:    7
    [_삼익건설_from2011.01.01_to2011.12.31]_ from'0' to '6' (df2): successfully Saved
 * Unit: '_삼익악기_from2011.01.01_to2011.12.31' (438/1997)
    The Number of articles:    480
    [_삼익악기_from2011.01.01_to2011.12.31]_ from'0' to '479' (df2): successfully Saved
 * Unit: '_삼익악기_from2012.01.01_to2012.12.31' (439/1997)
    The Number of articles:    226
    [_삼익악기_from2012.01.01_to2012.12.31]_ from'0' to '225' (df2): successfully Saved
 * Unit: '_삼일_from2011.01.01_to2011.12.31' (440/1997)
    The Number of articles:    2851
    [_삼일_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_삼일_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_삼일_from2011.01.01_to2011.12.31]_ from'2000' to '2850' (df2): successfully Saved
 * Unit: '_삼일기업공사_from2011.01.01_to2011.12.31' (441/1997)
    The Number of articles:    51
    [_삼일기업공사_from2011.01.01_to2011.12.31]_ from'0' to '50' (df2): successfully Saved
 * Unit: '_삼일제약_from2011.01.01_to2011.12.31' (442/1997)
    The Number of articles:    112
    [_삼일제약_from2011.01.01_to2011.12.31]_ from'0' to '111' (df2): successfully Saved
 * Unit: '_삼일제약_from2012.01.01_to2012.12.31' (443/1997)
    The Number of articles:    153
    [_삼일제약_from2012.01.01_to2012.12.31]_ from'0' to '152' (df2): successfully Saved
 * Unit: '_삼정펄프_from2012.01.01_to2012.12.31' (444/1997)
    The Number of articles:    39
    [_삼정펄프_from2012.01.01_to2012.12.31]_ from'0' to '38' (df2): successfully Saved
 * Unit: '_삼지전자_from2011.01.01_to2011.12.31' (445/1997)
    The Number of articles:    115
    [_삼지전자_from2011.01.01_to2011.12.31]_ from'0' to '114' (df2): successfully Saved
 * Unit: '_삼진_from2011.01.01_to2011.12.31' (446/1997)
    The Number of articles:    1267
    [_삼진_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_삼진_from2011.01.01_to2011.12.31]_ from'1000' to '1266' (df2): successfully Saved
 * Unit: '_삼진엘앤디_from2011.01.01_to2011.12.31' (447/1997)
    The Number of articles:    179
    [_삼진엘앤디_from2011.01.01_to2011.12.31]_ from'0' to '178' (df2): successfully Saved
 * Unit: '_삼진제약_from2012.01.01_to2012.12.31' (448/1997)
    The Number of articles:    311
    [_삼진제약_from2012.01.01_to2012.12.31]_ from'0' to '310' (df2): successfully Saved
 * Unit: '_삼천당제약_from2011.01.01_to2011.12.31' (449/1997)
    The Number of articles:    128
    [_삼천당제약_from2011.01.01_to2011.12.31]_ from'0' to '127' (df2): successfully Saved
 * Unit: '_삼천리_from2012.01.01_to2012.12.31' (450/1997)
    The Number of articles:    1768
    [_삼천리_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_삼천리_from2012.01.01_to2012.12.31]_ from'1000' to '1767' (df2): successfully Saved
 * Unit: '_삼천리자전거_from2011.01.01_to2011.12.31' (451/1997)
    The Number of articles:    373
    [_삼천리자전거_from2011.01.01_to2011.12.31]_ from'0' to '372' (df2): successfully Saved
 * Unit: '_삼표시멘트_from2011.01.01_to2011.12.31' (452/1997)
    No articles to scrap for "_삼표시멘트_from2011.01.01_to2011.12.31"
 * Unit: '_삼한콘트롤스_from2011.01.01_to2011.12.31' (453/1997)
    No articles to scrap for "_삼한콘트롤스_from2011.01.01_to2011.12.31"
 * Unit: '_삼현철강_from2011.01.01_to2011.12.31' (454/1997)
    The Number of articles:    327
    [_삼현철강_from2011.01.01_to2011.12.31]_ from'0' to '326' (df2): successfully Saved
 * Unit: '_삼호_from2011.01.01_to2011.12.31' (455/1997)
    The Number of articles:    2980
    [_삼호_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_삼호_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_삼호_from2011.01.01_to2011.12.31]_ from'2000' to '2979' (df2): successfully Saved
 * Unit: '_삼호개발_from2011.01.01_to2011.12.31' (456/1997)
    The Number of articles:    190
    [_삼호개발_from2011.01.01_to2011.12.31]_ from'0' to '189' (df2): successfully Saved
 * Unit: '_삼화기연_from2011.01.01_to2011.12.31' (457/1997)
    The Number of articles:    9
    [_삼화기연_from2011.01.01_to2011.12.31]_ from'0' to '8' (df2): successfully Saved
    >>> [_삼화기연_from2011.01.01_to2011.12.31]_ from'0' to '8' (df2): failed to export .csv
 * Unit: '_삼화네트웍스_from2011.01.01_to2011.12.31' (458/1997)
    The Number of articles:    368
    [_삼화네트웍스_from2011.01.01_to2011.12.31]_ from'0' to '367' (df2): successfully Saved
 * Unit: '_삼화왕관_from2011.01.01_to2011.12.31' (459/1997)
    The Number of articles:    144

    [_삼화왕관_from2011.01.01_to2011.12.31]_ from'0' to '143' (df2): successfully Saved
 * Unit: '_삼화왕관_from2012.01.01_to2012.12.31' (460/1997)
    The Number of articles:    70
    [_삼화왕관_from2012.01.01_to2012.12.31]_ from'0' to '69' (df2): successfully Saved
 * Unit: '_삼화전기_from2011.01.01_to2011.12.31' (461/1997)
    The Number of articles:    161
    [_삼화전기_from2011.01.01_to2011.12.31]_ from'0' to '160' (df2): successfully Saved
 * Unit: '_삼화전기_from2012.01.01_to2012.12.31' (462/1997)
    The Number of articles:    33
    [_삼화전기_from2012.01.01_to2012.12.31]_ from'0' to '32' (df2): successfully Saved
 * Unit: '_삼화전자_from2011.01.01_to2011.12.31' (463/1997)
    The Number of articles:    102
    [_삼화전자_from2011.01.01_to2011.12.31]_ from'0' to '101' (df2): successfully Saved
 * Unit: '_삼화전자_from2012.01.01_to2012.12.31' (464/1997)
    The Number of articles:    27
    [_삼화전자_from2012.01.01_to2012.12.31]_ from'0' to '26' (df2): successfully Saved
 * Unit: '_삼화콘덴서_from2011.01.01_to2011.12.31' (465/1997)
    The Number of articles:    214
    [_삼화콘덴서_from2011.01.01_to2011.12.31]_ from'0' to '213' (df2): successfully Saved
 * Unit: '_삼화콘덴서_from2012.01.01_to2012.12.31' (466/1997)
    The Number of articles:    43
    [_삼화콘덴서_from2012.01.01_to2012.12.31]_ from'0' to '42' (df2): successfully Saved
 * Unit: '_삼화페인트_from2012.01.01_to2012.12.31' (467/1997)
    The Number of articles:    203
    [_삼화페인트_from2012.01.01_to2012.12.31]_ from'0' to '202' (df2): successfully Saved
 * Unit: '_삼환기업_from2011.01.01_to2011.12.31' (468/1997)
    The Number of articles:    655
    [_삼환기업_from2011.01.01_to2011.12.31]_ from'0' to '654' (df2): successfully Saved
 * Unit: '_상보_from2011.01.01_to2011.12.31' (469/1997)
    The Number of articles:    3065
    [_상보_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_상보_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_상보_from2011.01.01_to2011.12.31]_ from'2000' to '2999' (df2): successfully Saved
    [_상보_from2011.01.01_to2011.12.31]_ from'3000' to '3064' (df2): successfully Saved
 * Unit: '_상신브레이크_from2011.01.01_to2011.12.31' (470/1997)
    The Number of articles:    313
    [_상신브레이크_from2011.01.01_to2011.12.31]_ from'0' to '312' (df2): successfully Saved
 * Unit: '_상신이디피_from2011.01.01_to2011.12.31' (471/1997)
    The Number of articles:    137
    [_상신이디피_from2011.01.01_to2011.12.31]_ from'0' to '136' (df2): successfully Saved
 * Unit: '_상아프론테크_from2011.01.01_to2011.12.31' (472/1997)
    The Number of articles:    192
    [_상아프론테크_from2011.01.01_to2011.12.31]_ from'0' to '191' (df2): successfully Saved
 * Unit: '_새로닉스_from2011.01.01_to2011.12.31' (473/1997)
    The Number of articles:    68
    [_새로닉스_from2011.01.01_to2011.12.31]_ from'0' to '67' (df2): successfully Saved
 * Unit: '_새론오토모티브_from2011.01.01_to2011.12.31' (474/1997)
    The Number of articles:    128
    [_새론오토모티브_from2011.01.01_to2011.12.31]_ from'0' to '127' (df2): successfully Saved
 * Unit: '_샘표_from2012.01.01_to2012.12.31' (475/1997)
    The Number of articles:    1074
    [_샘표_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_샘표_from2012.01.01_to2012.12.31]_ from'1000' to '1073' (df2): successfully Saved
 * Unit: '_샤인시스템_from2011.01.01_to2011.12.31' (476/1997)
    The Number of articles:    7
    [_샤인시스템_from2011.01.01_to2011.12.31]_ from'0' to '6' (df2): successfully Saved
 * Unit: '_서광_from2011.01.01_to2011.12.31' (477/1997)
    The Number of articles:    468
    [_서광_from2011.01.01_to2011.12.31]_ from'0' to '467' (df2): successfully Saved
 * Unit: '_서광건설_from2011.01.01_to2011.12.31' (478/1997)
    The Number of articles:    5
    [_서광건설_from2011.01.01_to2011.12.31]_ from'0' to '4' (df2): successfully Saved
 * Unit: '_서린바이오_from2011.01.01_to2011.12.31' (479/1997)
    The Number of articles:    111
    [_서린바이오_from2011.01.01_to2011.12.31]_ from'0' to '110' (df2): successfully Saved
 * Unit: '_서부T&D_from2011.01.01_to2011.12.31' (480/1997)
    The Number of articles:    135
    [_서부T&D_from2011.01.01_to2011.12.31]_ from'0' to '134' (df2): successfully Saved
 * Unit: '_서산_from2011.01.01_to2011.12.31' (481/1997)
    The Number of articles:    2905
    [_서산_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_서산_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_서산_from2011.01.01_to2011.12.31]_ from'2000' to '2904' (df2): successfully Saved
 * Unit: '_서암기계공업_from2011.01.01_to2011.12.31' (482/1997)
    The Number of articles:    81
    [_서암기계공업_from2011.01.01_to2011.12.31]_ from'0' to '80' (df2): successfully Saved
 * Unit: '_서연_from2012.01.01_to2012.12.31' (483/1997)
    The Number of articles:    1717
    [_서연_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_서연_from2012.01.01_to2012.12.31]_ from'1000' to '1716' (df2): successfully Saved
 * Unit: '_서연전자_from2011.01.01_to2011.12.31' (484/1997)
    The Number of articles:    1
    [_서연전자_from2011.01.01_to2011.12.31]_ from'0' to '0' (df2): successfully Saved
 * Unit: '_서연탑메탈_from2011.01.01_to2011.12.31' (485/1997)
    No articles to scrap for "_서연탑메탈_from2011.01.01_to2011.12.31"
 * Unit: '_서울가스_from2011.01.01_to2011.12.31' (486/1997)
    The Number of articles:    32
    [_서울가스_from2011.01.01_to2011.12.31]_ from'0' to '31' (df2): successfully Saved
 * Unit: '_서울반도체_from2011.01.01_to2011.12.31' (487/1997)
    The Number of articles:    2763
    [_서울반도체_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_서울반도체_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_서울반도체_from2011.01.01_to2011.12.31]_ from'2000' to '2762' (df2): successfully Saved
 * Unit: '_서울식품_from2012.01.01_to2012.12.31' (488/1997)
    The Number of articles:    213
    [_서울식품_from2012.01.01_to2012.12.31]_ from'0' to '212' (df2): successfully Saved
 * Unit: '_서울옥션_from2011.01.01_to2011.12.31' (489/1997)
    The Number of articles:    367
    [_서울옥션_from2011.01.01_to2011.12.31]_ from'0' to '366' (df2): successfully Saved
 * Unit: '_서울전자통신_from2011.01.01_to2011.12.31' (490/1997)
    The Number of articles:    78
    [_서울전자통신_from2011.01.01_to2011.12.31]_ from'0' to '77' (df2): successfully Saved
 * Unit: '_서울제약_from2011.01.01_to2011.12.31' (491/1997)
    The Number of articles:    118
    [_서울제약_from2011.01.01_to2011.12.31]_ from'0' to '117' (df2): successfully Saved
 * Unit: '_서원_from2011.01.01_to2011.12.31' (492/1997)
    The Number of articles:    2784
    [_서원_from2011.01.01_to2011.12.31]_ from'0' to '999' (df2): successfully Saved
    [_서원_from2011.01.01_to2011.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_서원_from2011.01.01_to2011.12.31]_ from'2000' to '2783' (df2): successfully Saved
 * Unit: '_서원_from2012.01.01_to2012.12.31' (493/1997)
    The Number of articles:    2024
    [_서원_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_서원_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_서원_from2012.01.01_to2012.12.31]_ from'2000' to '2023' (df2): successfully Saved
 * Unit: '_서원인텍_from2011.01.01_to2011.12.31' (494/1997)
    The Number of articles:    109
    [_서원인텍_from2011.01.01_to2011.12.31]_ from'0' to '108' (df2): successfully Saved
 * Unit: '_서전기전_from2011.01.01_to2011.12.31' (495/1997)
    The Number of articles:    5
    [_서전기전_from2011.01.01_to2011.12.31]_ from'0' to '4' (df2): successfully Saved
 * Unit: '_서진시스템_from2011.01.01_to2011.12.31' (496/1997)
    The Number of articles:    2
    [_서진시스템_from2011.01.01_to2011.12.31]_ from'0' to '1' (df2): successfully Saved
 * Unit: '_서진오토모티브_from2011.01.01_to2011.12.31' (497/1997)
    The Number of articles:    36
    [_서진오토모티브_from2011.01.01_to2011.12.31]_ from'0' to '35' (df2): successfully Saved
 * Unit: '_서통_from2011.01.01_to2011.12.31' (498/1997)
    The Number of articles:    7
    [_서통_from2011.01.01_to2011.12.31]_ from'0' to '6' (df2): successfully Saved
 * Unit: '_서플러스글로벌_from2011.01.01_to2011.12.31' (499/1997)
    The Number of articles:    3

    [_서플러스글로벌_from2011.01.01_to2011.12.31]_ from'0' to '2' (df2): successfully Saved
 * Unit: '_서한_from2011.01.01_to2011.12.31' (500/1997)
    The Number of articles:    747
    [_서한_from2011.01.01_to2011.12.31]_ from'0' to '746' (df2): successfully Saved
 * Unit: '_서호전기_from2011.01.01_to2011.12.31' (501/1997)
    The Number of articles:    152
    [_서호전기_from2011.01.01_to2011.12.31]_ from'0' to '151' (df2): successfully Saved
 * Unit: '_서화정보통신_from2011.01.01_to2011.12.31' (502/1997)
    The Number of articles:    272
    [_서화정보통신_from2011.01.01_to2011.12.31]_ from'0' to '271' (df2): successfully Saved
 * Unit: '_서흥_from2011.01.01_to2011.12.31' (503/1997)

 *** UnexpectedException ocurred: ***************************

  ========= 6 times of iteration: 3535 files left to go
 * Unit: '_3R_from2012.01.01_to2012.12.31' (1/3535)
    The Number of articles:    2082
    [_3R_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_3R_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_3R_from2012.01.01_to2012.12.31]_ from'2000' to '2081' (df2): successfully Saved
 * Unit: '_3SOFT_from2012.01.01_to2012.12.31' (2/3535)
    No articles to scrap for "_3SOFT_from2012.01.01_to2012.12.31"
 * Unit: '_3S_from2012.01.01_to2012.12.31' (3/3535)
    The Number of articles:    867
    [_3S_from2012.01.01_to2012.12.31]_ from'0' to '866' (df2): successfully Saved
 * Unit: '_AD모터스_from2012.01.01_to2012.12.31' (4/3535)
    The Number of articles:    200
    [_AD모터스_from2012.01.01_to2012.12.31]_ from'0' to '199' (df2): successfully Saved
 * Unit: '_AJS_from2012.01.01_to2012.12.31' (5/3535)
    The Number of articles:    58
    [_AJS_from2012.01.01_to2012.12.31]_ from'0' to '57' (df2): successfully Saved
 * Unit: '_AJ네트웍스_from2012.01.01_to2012.12.31' (6/3535)
    No articles to scrap for "_AJ네트웍스_from2012.01.01_to2012.12.31"
 * Unit: '_AJ렌터카_from2013.01.01_to2013.12.31' (7/3535)
    The Number of articles:    644
    [_AJ렌터카_from2013.01.01_to2013.12.31]_ from'0' to '643' (df2): successfully Saved
 * Unit: '_APS홀딩스_from2012.01.01_to2012.12.31' (8/3535)
    No articles to scrap for "_APS홀딩스_from2012.01.01_to2012.12.31"
 * Unit: '_AP우주통신_from2012.01.01_to2012.12.31' (9/3535)
    No articles to scrap for "_AP우주통신_from2012.01.01_to2012.12.31"
 * Unit: '_AP위성_from2012.01.01_to2012.12.31' (10/3535)
    The Number of articles:    1
    [_AP위성_from2012.01.01_to2012.12.31]_ from'0' to '0' (df2): successfully Saved
 * Unit: '_BET_from2012.01.01_to2012.12.31' (11/3535)
    The Number of articles:    209
    [_BET_from2012.01.01_to2012.12.31]_ from'0' to '208' (df2): successfully Saved
 * Unit: '_BGF리테일_from2013.01.01_to2013.12.31' (12/3535)
    The Number of articles:    982
    [_BGF리테일_from2013.01.01_to2013.12.31]_ from'0' to '981' (df2): successfully Saved
 * Unit: '_BHK_from2012.01.01_to2012.12.31' (13/3535)
    The Number of articles:    37
    [_BHK_from2012.01.01_to2012.12.31]_ from'0' to '36' (df2): successfully Saved
 * Unit: '_BYC_from2013.01.01_to2013.12.31' (14/3535)
    The Number of articles:    130
    [_BYC_from2013.01.01_to2013.12.31]_ from'0' to '129' (df2): successfully Saved
 * Unit: '_C&S자산관리_from2012.01.01_to2012.12.31' (15/3535)
    The Number of articles:    109
    [_C&S자산관리_from2012.01.01_to2012.12.31]_ from'0' to '108' (df2): successfully Saved
 * Unit: '_C&우방_from2012.01.01_to2012.12.31' (16/3535)
    The Number of articles:    33
    [_C&우방_from2012.01.01_to2012.12.31]_ from'0' to '32' (df2): successfully Saved
 * Unit: '_C&중공업_from2012.01.01_to2012.12.31' (17/3535)
    The Number of articles:    13
    [_C&중공업_from2012.01.01_to2012.12.31]_ from'0' to '12' (df2): successfully Saved
 * Unit: '_CJ CGV_from2012.01.01_to2012.12.31' (18/3535)
    The Number of articles:    1416
    [_CJ CGV_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_CJ CGV_from2012.01.01_to2012.12.31]_ from'1000' to '1415' (df2): successfully Saved
 * Unit: '_CJ E&M_from2012.01.01_to2012.12.31' (19/3535)
    The Number of articles:    2612
    [_CJ E&M_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_CJ E&M_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_CJ E&M_from2012.01.01_to2012.12.31]_ from'2000' to '2611' (df2): successfully Saved
 * Unit: '_CJ_from2013.01.01_to2013.12.31' (20/3535)
    The Number of articles:    2619
    [_CJ_from2013.01.01_to2013.12.31]_ from'0' to '999' (df2): successfully Saved
    [_CJ_from2013.01.01_to2013.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_CJ_from2013.01.01_to2013.12.31]_ from'2000' to '2618' (df2): successfully Saved
 * Unit: '_CJ대한통운_from2012.01.01_to2012.12.31' (21/3535)
    The Number of articles:    1605
    [_CJ대한통운_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_CJ대한통운_from2012.01.01_to2012.12.31]_ from'1000' to '1604' (df2): successfully Saved
 * Unit: '_CJ씨푸드_from2013.01.01_to2013.12.31' (22/3535)
    The Number of articles:    233
    [_CJ씨푸드_from2013.01.01_to2013.12.31]_ from'0' to '232' (df2): successfully Saved
 * Unit: '_CJ오쇼핑_from2012.01.01_to2012.12.31' (23/3535)
    The Number of articles:    2779
    [_CJ오쇼핑_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_CJ오쇼핑_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_CJ오쇼핑_from2012.01.01_to2012.12.31]_ from'2000' to '2778' (df2): successfully Saved
 * Unit: '_CJ제일제당_from2012.01.01_to2012.12.31' (24/3535)
    The Number of articles:    2467
    [_CJ제일제당_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_CJ제일제당_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_CJ제일제당_from2012.01.01_to2012.12.31]_ from'2000' to '2466' (df2): successfully Saved
 * Unit: '_CJ프레시웨이_from2012.01.01_to2012.12.31' (25/3535)
    The Number of articles:    547
    [_CJ프레시웨이_from2012.01.01_to2012.12.31]_ from'0' to '546' (df2): successfully Saved
 * Unit: '_CJ헬로비전_from2013.01.01_to2013.12.31' (26/3535)
    The Number of articles:    2659
    [_CJ헬로비전_from2013.01.01_to2013.12.31]_ from'0' to '999' (df2): successfully Saved
    [_CJ헬로비전_from2013.01.01_to2013.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_CJ헬로비전_from2013.01.01_to2013.12.31]_ from'2000' to '2658' (df2): successfully Saved
 * Unit: '_CL_from2012.01.01_to2012.12.31' (27/3535)
    The Number of articles:    749
    [_CL_from2012.01.01_to2012.12.31]_ from'0' to '748' (df2): successfully Saved
 * Unit: '_CMG제약_from2012.01.01_to2012.12.31' (28/3535)
    No articles to scrap for "_CMG제약_from2012.01.01_to2012.12.31"
 * Unit: '_CSA 코스믹_from2012.01.01_to2012.12.31' (29/3535)
    No articles to scrap for "_CSA 코스믹_from2012.01.01_to2012.12.31"
 * Unit: '_CS_from2012.01.01_to2012.12.31' (30/3535)
    The Number of articles:    2386
    [_CS_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_CS_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_CS_from2012.01.01_to2012.12.31]_ from'2000' to '2385' (df2): successfully Saved
 * Unit: '_CT&T_from2012.01.01_to2012.12.31' (31/3535)
    The Number of articles:    150
    [_CT&T_from2012.01.01_to2012.12.31]_ from'0' to '149' (df2): successfully Saved
 * Unit: '_CU전자_from2012.01.01_to2012.12.31' (32/3535)
    The Number of articles:    57
    [_CU전자_from2012.01.01_to2012.12.31]_ from'0' to '56' (df2): successfully Saved
 * Unit: '_DMS_from2012.01.01_to2012.12.31' (33/3535)
    The Number of articles:    269
    [_DMS_from2012.01.01_to2012.12.31]_ from'0' to '268' (df2): successfully Saved
 * Unit: '_DSR_from2013.01.01_to2013.12.31' (34/3535)
    The Number of articles:    598
    [_DSR_from2013.01.01_to2013.12.31]_ from'0' to '597' (df2): successfully Saved
 * Unit: '_E1_from2012.01.01_to2012.12.31' (35/3535)
    The Number of articles:    1962
    [_E1_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_E1_from2012.01.01_to2012.12.31]_ from'1000' to '1961' (df2): successfully Saved

 * Unit: '_EG_from2012.01.01_to2012.12.31' (36/3535)
    The Number of articles:    1799
    [_EG_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_EG_from2012.01.01_to2012.12.31]_ from'1000' to '1798' (df2): successfully Saved
 * Unit: '_EMW_from2012.01.01_to2012.12.31' (37/3535)
    The Number of articles:    53
    [_EMW_from2012.01.01_to2012.12.31]_ from'0' to '52' (df2): successfully Saved
 * Unit: '_F&F_from2013.01.01_to2013.12.31' (38/3535)
    The Number of articles:    280
    [_F&F_from2013.01.01_to2013.12.31]_ from'0' to '279' (df2): successfully Saved
 * Unit: '_GBS_from2012.01.01_to2012.12.31' (39/3535)
    The Number of articles:    44
    [_GBS_from2012.01.01_to2012.12.31]_ from'0' to '43' (df2): successfully Saved
 * Unit: '_GH신소재_from2012.01.01_to2012.12.31' (40/3535)
    No articles to scrap for "_GH신소재_from2012.01.01_to2012.12.31"
 * Unit: '_GKL_from2012.01.01_to2012.12.31' (41/3535)
    The Number of articles:    1412
    [_GKL_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_GKL_from2012.01.01_to2012.12.31]_ from'1000' to '1411' (df2): successfully Saved
 * Unit: '_GK파워_from2012.01.01_to2012.12.31' (42/3535)
    The Number of articles:    1
    [_GK파워_from2012.01.01_to2012.12.31]_ from'0' to '0' (df2): successfully Saved
 * Unit: '_GMR 머티리얼즈_from2012.01.01_to2012.12.31' (43/3535)
    No articles to scrap for "_GMR 머티리얼즈_from2012.01.01_to2012.12.31"
 * Unit: '_GPS_from2012.01.01_to2012.12.31' (44/3535)
    The Number of articles:    2386
    [_GPS_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_GPS_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_GPS_from2012.01.01_to2012.12.31]_ from'2000' to '2385' (df2): successfully Saved
    >>> [_GPS_from2012.01.01_to2012.12.31]_ from'2000' to '2385' (df2): failed to export .csv
 * Unit: '_GST_from2012.01.01_to2012.12.31' (45/3535)
    The Number of articles:    129
    [_GST_from2012.01.01_to2012.12.31]_ from'0' to '128' (df2): successfully Saved
 * Unit: '_GS_from2012.01.01_to2012.12.31' (46/3535)
    The Number of articles:    2636
    [_GS_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_GS_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_GS_from2012.01.01_to2012.12.31]_ from'2000' to '2635' (df2): successfully Saved
 * Unit: '_GS글로벌_from2012.01.01_to2012.12.31' (47/3535)
    The Number of articles:    415
    [_GS글로벌_from2012.01.01_to2012.12.31]_ from'0' to '414' (df2): successfully Saved
 * Unit: '_GS리테일_from2012.01.01_to2012.12.31' (48/3535)
    The Number of articles:    2608
    [_GS리테일_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_GS리테일_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_GS리테일_from2012.01.01_to2012.12.31]_ from'2000' to '2607' (df2): successfully Saved
 * Unit: '_GS홈쇼핑_from2012.01.01_to2012.12.31' (49/3535)
    The Number of articles:    2542
    [_GS홈쇼핑_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_GS홈쇼핑_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_GS홈쇼핑_from2012.01.01_to2012.12.31]_ from'2000' to '2541' (df2): successfully Saved
 * Unit: '_H1바이오_from2012.01.01_to2012.12.31' (50/3535)
    The Number of articles:    2
    [_H1바이오_from2012.01.01_to2012.12.31]_ from'0' to '1' (df2): successfully Saved
 * Unit: '_HB테크놀러지_from2012.01.01_to2012.12.31' (51/3535)
    The Number of articles:    91
    [_HB테크놀러지_from2012.01.01_to2012.12.31]_ from'0' to '90' (df2): successfully Saved
 * Unit: '_HRS_from2012.01.01_to2012.12.31' (52/3535)
    The Number of articles:    62
    [_HRS_from2012.01.01_to2012.12.31]_ from'0' to '61' (df2): successfully Saved
 * Unit: '_i 인프라_from2012.01.01_to2012.12.31' (53/3535)
    No articles to scrap for "_i 인프라_from2012.01.01_to2012.12.31"
 * Unit: '_IC코퍼레이션_from2012.01.01_to2012.12.31' (54/3535)
    The Number of articles:    7
    [_IC코퍼레이션_from2012.01.01_to2012.12.31]_ from'0' to '6' (df2): successfully Saved
 * Unit: '_IDH_from2012.01.01_to2012.12.31' (55/3535)
    The Number of articles:    16
    [_IDH_from2012.01.01_to2012.12.31]_ from'0' to '15' (df2): successfully Saved
 * Unit: '_IHQ_from2013.01.01_to2013.12.31' (56/3535)
    The Number of articles:    527
    [_IHQ_from2013.01.01_to2013.12.31]_ from'0' to '526' (df2): successfully Saved
 * Unit: '_iMBC_from2012.01.01_to2012.12.31' (57/3535)
    The Number of articles:    1028
    [_iMBC_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_iMBC_from2012.01.01_to2012.12.31]_ from'1000' to '1027' (df2): successfully Saved
 * Unit: '_ISC_from2012.01.01_to2012.12.31' (58/3535)
    The Number of articles:    169
    [_ISC_from2012.01.01_to2012.12.31]_ from'0' to '168' (df2): successfully Saved
 * Unit: '_ITX엠투엠_from2012.01.01_to2012.12.31' (59/3535)
    No articles to scrap for "_ITX엠투엠_from2012.01.01_to2012.12.31"
 * Unit: '_JS_from2012.01.01_to2012.12.31' (60/3535)
    The Number of articles:    980
    [_JS_from2012.01.01_to2012.12.31]_ from'0' to '979' (df2): successfully Saved
 * Unit: '_JS전선_from2012.01.01_to2012.12.31' (61/3535)
    The Number of articles:    27
    [_JS전선_from2012.01.01_to2012.12.31]_ from'0' to '26' (df2): successfully Saved
 * Unit: '_JW생명과학_from2013.01.01_to2013.12.31' (62/3535)
    The Number of articles:    15
    [_JW생명과학_from2013.01.01_to2013.12.31]_ from'0' to '14' (df2): successfully Saved
 * Unit: '_JW신약_from2012.01.01_to2012.12.31' (63/3535)
    No articles to scrap for "_JW신약_from2012.01.01_to2012.12.31"
 * Unit: '_JW중외제약_from2013.01.01_to2013.12.31' (64/3535)
    The Number of articles:    931
    [_JW중외제약_from2013.01.01_to2013.12.31]_ from'0' to '930' (df2): successfully Saved
 * Unit: '_JW홀딩스_from2012.01.01_to2012.12.31' (65/3535)
    The Number of articles:    183
    [_JW홀딩스_from2012.01.01_to2012.12.31]_ from'0' to '182' (df2): successfully Saved
 * Unit: '_JYP Ent._from2012.01.01_to2012.12.31' (66/3535)
    The Number of articles:    423
    [_JYP Ent._from2012.01.01_to2012.12.31]_ from'0' to '422' (df2): successfully Saved
 * Unit: '_KB오토시스_from2012.01.01_to2012.12.31' (67/3535)
    The Number of articles:    24
    [_KB오토시스_from2012.01.01_to2012.12.31]_ from'0' to '23' (df2): successfully Saved
 * Unit: '_KCC건설_from2012.01.01_to2012.12.31' (68/3535)
    The Number of articles:    687
    [_KCC건설_from2012.01.01_to2012.12.31]_ from'0' to '686' (df2): successfully Saved
 * Unit: '_KCI_from2012.01.01_to2012.12.31' (69/3535)
    The Number of articles:    52
    [_KCI_from2012.01.01_to2012.12.31]_ from'0' to '51' (df2): successfully Saved
 * Unit: '_KCTC_from2012.01.01_to2012.12.31' (70/3535)
    The Number of articles:    74
    [_KCTC_from2012.01.01_to2012.12.31]_ from'0' to '73' (df2): successfully Saved
 * Unit: '_KC코트렐_from2012.01.01_to2012.12.31' (71/3535)
    The Number of articles:    185
    [_KC코트렐_from2012.01.01_to2012.12.31]_ from'0' to '184' (df2): successfully Saved
 * Unit: '_KD건설_from2012.01.01_to2012.12.31' (72/3535)
    The Number of articles:    1
    [_KD건설_from2012.01.01_to2012.12.31]_ from'0' to '0' (df2): successfully Saved
 * Unit: '_KEC_from2012.01.01_to2012.12.31' (73/3535)
    The Number of articles:    449
    [_KEC_from2012.01.01_to2012.12.31]_ from'0' to '448' (df2): successfully Saved
 * Unit: '_KEPS_from2012.01.01_to2012.12.31' (74/3535)
    The Number of articles:    2
    [_KEPS_from2012.01.01_to2012.12.31]_ from'0' to '1' (df2): successfully Saved
 * Unit: '_KEP전자_from2012.01.01_to2012.12.31' (75/3535)
    No articles to scrap for "_KEP전자_from2012.01.01_to2012.12.31"
 * Unit: '_KG ETS_from2012.01.01_to2012.12.31' (76/3535)
    The Number of articles:    21
    [_KG ETS_from2012.01.01_to2012.12.31]_ from'0' to '20' (df2): successfully Saved
 * Unit: '_KGP_from2012.01.01_to2012.12.31' (77/3535)
    The Number of articles:    52
    [_KGP_from2012.01.01_to2012.12.31]_ from'0' to '51' (df2): successfully Saved

 * Unit: '_KG모빌리언스_from2012.01.01_to2012.12.31' (78/3535)
    The Number of articles:    720
    [_KG모빌리언스_from2012.01.01_to2012.12.31]_ from'0' to '719' (df2): successfully Saved
 * Unit: '_KG이니시스_from2012.01.01_to2012.12.31' (79/3535)
    The Number of articles:    740
    [_KG이니시스_from2012.01.01_to2012.12.31]_ from'0' to '739' (df2): successfully Saved
 * Unit: '_KH바텍_from2012.01.01_to2012.12.31' (80/3535)
    The Number of articles:    190
    [_KH바텍_from2012.01.01_to2012.12.31]_ from'0' to '189' (df2): successfully Saved
 * Unit: '_KJ프리텍_from2012.01.01_to2012.12.31' (81/3535)
    The Number of articles:    97
    [_KJ프리텍_from2012.01.01_to2012.12.31]_ from'0' to '96' (df2): successfully Saved
 * Unit: '_KMH_from2012.01.01_to2012.12.31' (82/3535)
    The Number of articles:    158
    [_KMH_from2012.01.01_to2012.12.31]_ from'0' to '157' (df2): successfully Saved
 * Unit: '_KMH하이텍_from2012.01.01_to2012.12.31' (83/3535)
    No articles to scrap for "_KMH하이텍_from2012.01.01_to2012.12.31"
 * Unit: '_KNC_from2012.01.01_to2012.12.31' (84/3535)
    The Number of articles:    11
    [_KNC_from2012.01.01_to2012.12.31]_ from'0' to '10' (df2): successfully Saved
 * Unit: '_KNN_from2012.01.01_to2012.12.31' (85/3535)
    The Number of articles:    677
    [_KNN_from2012.01.01_to2012.12.31]_ from'0' to '676' (df2): successfully Saved
 * Unit: '_KPX그린케미칼_from2012.01.01_to2012.12.31' (86/3535)
    The Number of articles:    39
    [_KPX그린케미칼_from2012.01.01_to2012.12.31]_ from'0' to '38' (df2): successfully Saved
 * Unit: '_KPX생명과학_from2012.01.01_to2012.12.31' (87/3535)
    The Number of articles:    30
    [_KPX생명과학_from2012.01.01_to2012.12.31]_ from'0' to '29' (df2): successfully Saved
 * Unit: '_KPX홀딩스_from2012.01.01_to2012.12.31' (88/3535)
    The Number of articles:    82
    [_KPX홀딩스_from2012.01.01_to2012.12.31]_ from'0' to '81' (df2): successfully Saved
 * Unit: '_KR모터스_from2013.01.01_to2013.12.31' (89/3535)
    No articles to scrap for "_KR모터스_from2013.01.01_to2013.12.31"
 * Unit: '_KSS해운_from2012.01.01_to2012.12.31' (90/3535)
    The Number of articles:    109
    [_KSS해운_from2012.01.01_to2012.12.31]_ from'0' to '108' (df2): successfully Saved
 * Unit: '_KT&G_from2013.01.01_to2013.12.31' (91/3535)
    The Number of articles:    2441
    [_KT&G_from2013.01.01_to2013.12.31]_ from'0' to '999' (df2): successfully Saved
    [_KT&G_from2013.01.01_to2013.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_KT&G_from2013.01.01_to2013.12.31]_ from'2000' to '2440' (df2): successfully Saved
 * Unit: '_KTcs_from2012.01.01_to2012.12.31' (92/3535)
    The Number of articles:    464
    [_KTcs_from2012.01.01_to2012.12.31]_ from'0' to '463' (df2): successfully Saved
 * Unit: '_KTC텔레콤_from2012.01.01_to2012.12.31' (93/3535)
    No articles to scrap for "_KTC텔레콤_from2012.01.01_to2012.12.31"
 * Unit: '_KTH_from2012.01.01_to2012.12.31' (94/3535)
    The Number of articles:    1210
    [_KTH_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    >>> [_KTH_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): failed to export .csv
    [_KTH_from2012.01.01_to2012.12.31]_ from'1000' to '1209' (df2): successfully Saved
 * Unit: '_KT_from2012.01.01_to2012.12.31' (95/3535)
    The Number of articles:    2505
    [_KT_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_KT_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_KT_from2012.01.01_to2012.12.31]_ from'2000' to '2504' (df2): successfully Saved
 * Unit: '_KT서브마린_from2012.01.01_to2012.12.31' (96/3535)
    The Number of articles:    92
    [_KT서브마린_from2012.01.01_to2012.12.31]_ from'0' to '91' (df2): successfully Saved
 * Unit: '_LF_from2012.01.01_to2012.12.31' (97/3535)
    The Number of articles:    365
    [_LF_from2012.01.01_to2012.12.31]_ from'0' to '364' (df2): successfully Saved
 * Unit: '_LG_from2013.01.01_to2013.12.31' (98/3535)
    The Number of articles:    2652
    [_LG_from2013.01.01_to2013.12.31]_ from'0' to '999' (df2): successfully Saved
    [_LG_from2013.01.01_to2013.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_LG_from2013.01.01_to2013.12.31]_ from'2000' to '2651' (df2): successfully Saved
 * Unit: '_LG상사_from2012.01.01_to2012.12.31' (99/3535)
    The Number of articles:    1985
    [_LG상사_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_LG상사_from2012.01.01_to2012.12.31]_ from'1000' to '1984' (df2): successfully Saved
 * Unit: '_LG생활건강_from2012.01.01_to2012.12.31' (100/3535)
    The Number of articles:    2588
    [_LG생활건강_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_LG생활건강_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_LG생활건강_from2012.01.01_to2012.12.31]_ from'2000' to '2587' (df2): successfully Saved
 * Unit: '_LG유플러스_from2012.01.01_to2012.12.31' (101/3535)
    The Number of articles:    2360
    [_LG유플러스_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_LG유플러스_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_LG유플러스_from2012.01.01_to2012.12.31]_ from'2000' to '2359' (df2): successfully Saved
 * Unit: '_LG전자_from2012.01.01_to2012.12.31' (102/3535)
    The Number of articles:    2342
    [_LG전자_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_LG전자_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_LG전자_from2012.01.01_to2012.12.31]_ from'2000' to '2341' (df2): successfully Saved
 * Unit: '_LG하우시스_from2012.01.01_to2012.12.31' (103/3535)
    The Number of articles:    1127
    [_LG하우시스_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_LG하우시스_from2012.01.01_to2012.12.31]_ from'1000' to '1126' (df2): successfully Saved
 * Unit: '_LG화학_from2012.01.01_to2012.12.31' (104/3535)
    The Number of articles:    2493
    [_LG화학_from2012.01.01_to2012.12.31]_ from'0' to '999' (df2): successfully Saved
    [_LG화학_from2012.01.01_to2012.12.31]_ from'1000' to '1999' (df2): successfully Saved
    [_LG화학_from2012.01.01_to2012.12.31]_ from'2000' to '2492' (df2): successfully Saved
 * Unit: '_LIG넥스원_from2012.01.01_to2012.12.31' (105/3535)
    The Number of articles:    882
    [_LIG넥스원_from2012.01.01_to2012.12.31]_ from'0' to '881' (df2): successfully Saved
 * Unit: '_LS네트웍스_from2012.01.01_to2012.12.31' (106/3535)
    The Number of articles:    782

In [8]:
""" 
동원_ : ' ... 용역동원', '강동원..' 등 같이 수집됨 
미래산업_ : 
서연_ : 
덕성_ : 
"""

"\n동원_ : ' ... 용역동원', '강동원..' 등 같이 수집됨 \n미래산업_ : \n서연_ :  \n덕성_ : \n\n"

In [1]:
import sys
sys.pwd

AttributeError: module 'sys' has no attribute 'pwd'